Repository vuetifyjs/vuetify, pull requests merged in 2019-12, with the labels that each got.

#9804 feat(VThemeProvider): add new component
  packages/api-generator/src/maps/v-theme-provider.js
  packages/docs/src/components/doc/Api.vue
  packages/docs/src/components/doc/ApiItems.vue
  packages/docs/src/data/pages/customization/Theme.json
  packages/docs/src/examples/theme/provider.vue
  packages/docs/src/lang/en/customization/Theme.json
  packages/docs/src/usages/theme.vue
  packages/vuetify/src/components/VDialog/VDialog.ts
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VThemeProvider/VThemeProvider.ts
  packages/vuetify/src/components/VThemeProvider/__tests__/VThemeProvider.spec.ts
  packages/vuetify/src/components/VThemeProvider/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/util/ThemeProvider.ts
Labels: C: New Component, T: feature

#9845 docs: fix broken ie11 polyfill link
  README.md
Labels: T: documentation

#9750 fix(vdatatable): add display style to <tr> when Mobile
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/MobileRow.spec.ts.snap
Labels: C: VDataTable, T: bug

#9862 fix(VCalendar): validation, style, slot, event, and format fixes
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/VCalendarDaily.sass
  packages/vuetify/src/components/VCalendar/VCalendarDaily.ts
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.sass
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.ts
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendar.spec.ts.snap
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendarDaily.spec.ts.snap
  packages/vuetify/src/components/VCalendar/_variables.scss
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-events.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-intervals.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-base.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.sass
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-intervals.ts
  packages/vuetify/src/components/VCalendar/util/props.ts
Labels: C: VCalendar, T: bug

#9464 fix(VWindow): Fix Transition in RTL Mode
  packages/vuetify/src/components/VWindow/VWindow.ts
Labels: C: VWindow, T: bug, rtl

#9598 fix(vselect, vcombobox): update inner input element
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataIterator.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/components/VOverflowBtn/__tests__/__snapshots__/VOverflowBtn.spec.ts.snap
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect3.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect3.spec.ts.snap
Labels: C: VCombobox, C: VSelect, T: bug

#9633 fix(VTreeview): load initial selection when using return-object
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeview.spec.ts.snap
Labels: C: VTreeview

#9636 fix(VDataIterator): emit two item-selected events in single-select mode
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: C: VDataIterator, C: VDataTable, T: bug

#9657 fix(VAutocomplete): deleting chip in single mode doesn't work
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete3.spec.ts
Labels: C: VAutocomplete, T: bug

#9642 feat(VDataTable): expose expand/select functionality
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataTable/VDataTable.ts
Labels: C: VDataTable

#9640 fix(VTreeview): incorrect alignment of nodes
  packages/vuetify/src/components/VTreeview/VTreeview.sass
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/VTreeviewNode.ts
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeview.spec.ts.snap
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeviewNode.spec.ts.snap
  packages/vuetify/src/components/VTreeview/_variables.scss
Labels: C: VTreeview, T: bug

#9341 fix(VTextField): use intersect to recalculate elements width
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/mixins/intersectable/__tests__/intersectable.spec.ts
  packages/vuetify/src/mixins/intersectable/index.ts
Labels: C: VTextField, T: bug

#9645 feat(VDataIterator): items can now be made unselectable
  packages/docs/src/lang/en/components/DataIterators.json
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataIterator, C: VDataTable, T: feature

#9641 feat(VDataIterator): add current items to toggle-select-all event
  packages/api-generator/src/maps/v-data-iterator.js
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataIterator/__tests__/VDataIterator.spec.ts
Labels: C: VDataIterator, C: VDataTable, T: feature

#9476 fix(VSelect): change onMouseUp to handle menu toggle on mouse events
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
Labels: C: VSelect, T: bug

#9892 fix(VCard): loading shouldn't disable the card
  packages/vuetify/src/components/VCard/VCard.ts
  packages/vuetify/src/components/VCard/__tests__/__snapshots__/VCard.spec.ts.snap
Labels: C: VCard, T: bug

#9780 docs(SASS): add variable api
  packages/api-generator/src/index.js
  packages/docs/src/components/doc/ApiItem.vue
  packages/docs/src/components/doc/ApiItems.vue
  packages/docs/src/components/doc/Section.vue
  packages/docs/src/components/doc/VariableApi.vue
  packages/docs/src/data/pages/customization/SassVariables.json
  packages/docs/src/lang/en/customization/SassVariables.json
  packages/docs/src/lang/en/generic/Pages.json
  packages/docs/src/util/helpers.js
  packages/vuetify/src/styles/settings/_variables.scss
Labels: T: documentation

#9643 feat(VExpansionPanels): Implement flat, tile, hover, and color props
  packages/docs/src/examples/expansion-panels/playground.vue
  packages/docs/src/lang/en/components/ExpansionPanels.json
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelContent.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelHeader.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.ts
Labels: C: VExpansionPanel, T: feature

#9721 feat(VDataTable): add isOpen to group.header slot
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataTable/VDataTable.ts
Labels: C: VDataTable, T: feature

#9894 feat(presets): add new service
  packages/docs/src/data/drawerItems.json
  packages/docs/src/data/pages/customization/Presets.json
  packages/docs/src/lang/en/customization/Presets.json
  packages/docs/src/lang/en/meta.json
  packages/docs/src/lang/en/vuetify/AppDrawer.json
  packages/docs/src/public/sitemap.xml
  packages/docs/src/snippets/bash/preset_folder_structure.txt
  packages/docs/src/snippets/js/vuetify_merge_strategy.txt
  packages/docs/src/snippets/js/vuetify_preset.txt
  packages/docs/src/snippets/js/vuetify_use_preset.txt
  packages/docs/src/snippets/ts/default_preset.txt
  packages/vuetify/src/components/VDataIterator/__tests__/VDataFooter.spec.ts
  packages/vuetify/src/components/VDataIterator/__tests__/VDataIterator.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTableHeader.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerDateTable.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerHeader.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerMonthTable.spec.ts
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.ts
  packages/vuetify/src/components/VTimePicker/__tests__/VTimePicker.spec.ts
  packages/vuetify/src/components/VTimePicker/__tests__/VTimePickerTitle.spec.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/presets/default/index.ts
  packages/vuetify/src/services/application/index.ts
  packages/vuetify/src/services/breakpoint/__tests__/breakpoint.spec.ts
  packages/vuetify/src/services/breakpoint/index.ts
  packages/vuetify/src/services/goto/index.ts
  packages/vuetify/src/services/icons/__tests__/icons.spec.ts
  packages/vuetify/src/services/icons/index.ts
  packages/vuetify/src/services/index.ts
  packages/vuetify/src/services/lang/__tests__/lang.spec.ts
  packages/vuetify/src/services/lang/index.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
  packages/vuetify/src/services/presets/__tests__/presets.spec.ts
  packages/vuetify/src/services/presets/index.ts
  packages/vuetify/src/services/theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/services/theme/__tests__/theme.spec.ts
  packages/vuetify/src/services/theme/index.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/types/index.d.ts
  packages/vuetify/types/presets/index.d.ts
  packages/vuetify/types/services/breakpoint.d.ts
  packages/vuetify/types/services/goto.d.ts
  packages/vuetify/types/services/icons.d.ts
  packages/vuetify/types/services/index.d.ts
  packages/vuetify/types/services/lang.d.ts
  packages/vuetify/types/services/presets.d.ts
  packages/vuetify/types/services/theme.d.ts
Labels: Framework, P: high, T: feature

#9761 fix(vdatepicker): emit change for range
  packages/docs/src/lang/en/components/DatePickers.json
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
Labels: C: VDatepicker, T: bug

#9886 fix(VDatePicker): range not working with month picker
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
Labels: C: VDatepicker, T: bug

#9962 improvement(vicon): fix visibility delay
  packages/vuetify/src/components/VIcon/VIcon.sass
Labels: C: VIcon, T: bug

#9552 Fix(VInput): Browser Autocomplete
  packages/docs/src/data/pages/components/Autocompletes.json
  packages/docs/src/data/pages/components/Combobox.json
  packages/docs/src/data/pages/components/Selects.json
  packages/docs/src/lang/en/components/Selects.json
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.ts
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataIterator.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect3.spec.ts.snap
Labels: C: VAutocomplete

#9992 fix(VTextarea): make height of 1 row equal to v-text-field
  packages/vuetify/src/components/VTextarea/VTextarea.sass
Labels: C: VTextarea, T: bug

#9831 fix(VIcon): svg icon style when using the prominent prop
  packages/vuetify/src/components/VIcon/VIcon.ts
  packages/vuetify/src/components/VIcon/__tests__/__snapshots__/VIcon.spec.ts.snap
Labels: C: VIcon, T: bug

#7472 feat(VInput): auto hiding details if no messages/counter
  packages/docs/src/data/pages/components/Inputs.json
  packages/docs/src/data/pages/components/TextFields.json
  packages/docs/src/examples/inputs/intermediate/hide-details.vue
  packages/docs/src/examples/text-fields/simple/hide-details.vue
  packages/docs/src/lang/en/components/Inputs.json
  packages/docs/src/lang/en/components/TextFields.json
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VInput/__tests__/VInput.spec.ts
  packages/vuetify/src/components/VInput/__tests__/__snapshots__/VInput.spec.ts.snap
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
Labels: C: VInput, T: enhancement

#8092 fix(icons): add support for font awesome svg icons
  packages/vuetify/src/services/icons/presets/fa-svg.ts
  packages/vuetify/src/services/icons/presets/index.ts
  packages/vuetify/types/services/icons.d.ts
Labels: P: elite sponsor, Service: Icons, T: feature

#8143 feat(VCard): add hover effect when focusing
  packages/vuetify/src/components/VCard/VCard.sass
Labels: C: VCard, T: feature

#9996 fix(icons): add missing faSvg type to Iconfont
  packages/vuetify/types/services/icons.d.ts
Labels: Service: Icons, T: bug

#10043 docs: Intersection observer: Add example how to use options
  packages/docs/src/data/pages/directives/Intersect.json
  packages/docs/src/examples/intersect/simple/options.vue
  packages/docs/src/lang/en/directives/Intersect.json
Labels: T: documentation

#10052 docs(apiitem.vue): set text text--secondary
  packages/docs/src/components/doc/ApiItem.vue
Labels: T: documentation

#9961 fix(VSelect): fix duplicated ID
  packages/vuetify/src/components/VSelect/VSelectList.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelectList.spec.ts.snap
Labels: C: VSelect, T: bug
