Repository vuetifyjs/vuetify, pull requests merged in 2019-11, with the labels that each got.

#9565 doc(BrowserSupport): fix breakpoints on browsers
  packages/docs/src/components/getting-started/Browsers.vue
Labels: T: documentation

#9616 fix(VColorPicker): allow null as initial value
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/util/index.ts
Labels: C: VColorPicker

#9652 fix(typescript): missing VLazy/VSkeletonLoader declaration
  packages/vuetify/types/lib.d.ts
Labels: T: bug, typescript

#9697 fix(types): missing currentTheme in Theme interface
  packages/vuetify/types/services/theme.d.ts
Labels: typescript

#9718 chore(docs): decrease docker image size
  .dockerignore
  Dockerfile
  package.json
  packages/docs/package.json
  yarn.lock
Labels: T: documentation

#9705 fix(VTreeview): stuttering animation of toggle icon when loading
  packages/vuetify/src/components/VTreeview/VTreeview.sass
Labels: C: VTreeview, T: bug

#9495 fix:fix opacity for secondary text folloing by md2
  packages/vuetify/src/styles/settings/_light.scss
Labels: T: bug, md2

#9615 fix(VDataTable): items-per-page event should not emit immediately
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable, T: bug

#9637 improvement(colorable): add support for CSS custom props in colorable
  packages/vuetify/src/mixins/colorable/__tests__/colorable.spec.ts
  packages/vuetify/src/mixins/colorable/index.ts
Labels: T: enhancement

#9708 fix(VSkeletonLoader): avatar is not rounded
  packages/vuetify/src/components/VSkeletonLoader/VSkeletonLoader.sass
Labels: C: VSkeletonLoader, T: bug

#9634 fix(VDataTable): change page when items length decreases
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VData, C: VDataTable

#9635 fix(VDataTable): divider was not showing up
  packages/vuetify/src/components/VDataTable/Row.ts
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
Labels: C: VDataTable, T: bug

#9639 fix(VDataTable): overlapping text in mobile rows
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/MobileRow.spec.ts.snap
Labels: C: VDataTable

#9696 fix(VExpansionPanels): outer panels styles cascade to inner panels
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
Labels: C: VExpansionPanel, T: bug

#9709 fix(VSlider): label is not disabled in readonly slider
  packages/vuetify/src/components/VSlider/VSlider.sass
Labels: C: VRangeSlider, C: VSlider, T: bug

#8562 fix(VDataTable): display non-string item values
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/Row.ts
  packages/vuetify/src/components/VDataTable/__tests__/MobileRow.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/Row.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/MobileRow.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/Row.spec.ts.snap
Labels: C: VDataTable, T: bug

#9429 fix(VComboBox): disallow items editing when readonly
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.ts
Labels: C: VCombobox, needs unit tests

#9401 fix(breakpoint): Passing 0 value to scrollBarWidth
  packages/vuetify/src/services/breakpoint/index.ts
Labels: Service: Breakpoint, T: bug

#9649 fix: add missing ltr() rules
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VBadge/VBadge.sass
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VChip/VChip.sass
  packages/vuetify/src/components/VDatePicker/VDatePickerTitle.sass
  packages/vuetify/src/components/VDivider/VDivider.sass
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VList/VListGroup.sass
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VMessages/VMessages.sass
  packages/vuetify/src/components/VRating/VRating.sass
  packages/vuetify/src/components/VSlider/VSlider.sass
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
  packages/vuetify/src/components/VStepper/VStepper.sass
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VTabs/VTabs.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextarea/VTextarea.sass
  packages/vuetify/src/components/VTimeline/_mixins.sass
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VTreeview/VTreeview.sass
  packages/vuetify/src/components/VWindow/VWindow.sass
  packages/vuetify/src/styles/components/_selection-controls.sass
Labels: rtl

#9328 feat(VBadge): refactor for v2.2
  packages/docs/src/components/doc/UsageExample.vue
  packages/docs/src/data/pages/components/Badges.json
  packages/docs/src/examples/badges/complex/customization.vue
  packages/docs/src/examples/badges/complex/dynamic.vue
  packages/docs/src/examples/badges/intermediate/hover.vue
  packages/docs/src/examples/badges/playground.vue
  packages/docs/src/examples/badges/simple/bottom.vue
  packages/docs/src/examples/badges/simple/icon.vue
  packages/docs/src/examples/badges/simple/inline.vue
  packages/docs/src/examples/badges/simple/left.vue
  packages/docs/src/examples/badges/simple/overlap.vue
  packages/docs/src/examples/badges/simple/tabs.vue
  packages/docs/src/examples/badges/simple/visibility.vue
  packages/docs/src/examples/badges/usage.vue
  packages/docs/src/lang/en/components/Badges.json
  packages/docs/src/usages/badges.vue
  packages/vuetify/src/components/VBadge/VBadge.sass
  packages/vuetify/src/components/VBadge/VBadge.ts
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.ts
  packages/vuetify/src/components/VBadge/__tests__/__snapshots__/VBadge.spec.ts.snap
  packages/vuetify/src/components/VBadge/_variables.scss
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VTabs/VTabs.sass
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/styles/generic/_transitions.scss
Labels: C: VBadge, T: bug, T: feature

#9805 feat(VImg): add themeable support
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBar.spec.ts.snap
  packages/vuetify/src/components/VImg/VImg.ts
  packages/vuetify/src/components/VImg/__tests__/__snapshots__/VImg.spec.ts.snap
Labels: C: VImg, T: feature

#8802 feat(VTextField): add customizable counter value
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VFileInput/VFileInput.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect2.spec.ts
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
Labels: C: VTextField, T: feature

#9170 feat(vicon): add font awesome duotone support fix #8398
  packages/vuetify/src/components/VIcon/VIcon.ts
Labels: C: VIcon, T: feature

#9297 feat: Add prop for disabling keyboard lookup in VSelect
  packages/docs/src/lang/en/components/Selects.json
  packages/vuetify/src/components/VSelect/VSelect.ts
Labels: C: VSelect, T: feature
