Repository vuetifyjs/vuetify, pull requests merged in 2019-08, with the labels that each got.

#8234 fix(Theme): fix vue-meta theme on page navigation
  packages/vuetify/src/services/theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/services/theme/__tests__/theme.spec.ts
  packages/vuetify/src/services/theme/index.ts
Labels: Service: Theme, T: bug

#8226 fix(locale): complete hebrew translation
  packages/vuetify/src/locale/he.ts
Labels: T: bug

#8225 fix(VSelect): tweak default menu max-height value
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataIterator.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/components/VOverflowBtn/__tests__/__snapshots__/VOverflowBtn.spec.ts.snap
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect3.spec.ts.snap
Labels: T: bug

#8246 [Bug] fix(VDialog): fix dialog error when clicking on overlay
  packages/vuetify/src/mixins/dependent/index.ts
Labels: T: bug

#8200 fix(VDataTable, VSimpleTable): missing rtl styles, other minor tweaks
  packages/vuetify/src/components/VDataIterator/VDataFooter.sass
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
Labels: C: VDataTable, T: bug

#8193 [Bug] fix(VFileInput): fix rogue change events
  packages/vuetify/src/components/VFileInput/VFileInput.ts
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.ts
Labels: C: VFileInput, T: bug

#8189 fix(VCalendar): end date and ripple errors
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.ts
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendar.spec.ts.snap
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/util/props.ts
Labels: C: VCalendar, T: bug

#8188 fix(VSwitch): thumb position in inset v-switch in RTL mode
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VSwitch/_variables.sass
Labels: C: VSwitch, T: bug, rtl

#8123 fix(VTabs): margins in RTL mode
  packages/vuetify/src/components/VTabs/VTabs.sass
Labels: C: VTabs, T: bug, T: regression, rtl

#8122 fix(VCarousel): prev/next buttons were too small
  packages/vuetify/src/components/VWindow/VWindow.sass
  packages/vuetify/src/components/VWindow/VWindow.ts
Labels: C: VCarousel, T: bug

#8024 fix(VBtnToggle ): fix borders between buttons
  packages/vuetify/src/components/VBtnToggle/VBtnToggle.sass
Labels: C: VBtnToggle, T: bug

#7918 fix(VDataTable): allow custom header icons
  packages/vuetify/src/components/VDataTable/VDataTableHeader.sass
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/components/VDataTable/mixins/__tests__/__snapshots__/header.spec.ts.snap
  packages/vuetify/src/components/VDataTable/mixins/header.ts
Labels: C: VDataTable, T: bug

#7861 fix(VList/VListGroup): add missing rtl margins and paddings (v2.0)
  packages/vuetify/src/components/VList/VListGroup.sass
  packages/vuetify/src/components/VList/VListItem.sass
Labels: C: VList, T: bug, VListGroup, rtl

#8087 docs(README.md): update readme package docs
  README.md
  packages/README.md
  packages/docs/README.md
  packages/docs/src/lang/en/getting-started/Contributing.json
Labels: T: documentation

#8305 fix(VInput) append & prepend icon rtl margin
  packages/vuetify/src/components/VInput/VInput.sass
Labels: C: VInput, T: bug, rtl

#8315 Inappropriate use of icon in custom actions - Card Component
  packages/docs/src/examples/cards/complex/custom-actions.vue
Labels: T: documentation

#8438 docs: Update Sass Variables docs to include a-la-carte req
  packages/docs/src/data/pages/customization/SassVariables.json
  packages/docs/src/lang/en/customization/SassVariables.json
Labels: T: documentation

#8449 docs: replace outline/round with outlined/rounded/circle
  packages/docs/src/data/pages/components/Buttons.json
  packages/docs/src/data/pages/components/Paginations.json
  packages/docs/src/examples/buttons/simple/outlined.vue
  packages/docs/src/examples/buttons/simple/rounded.vue
  packages/docs/src/examples/paginations/simple/circle.vue
  packages/docs/src/examples/selects/usage.vue
  packages/docs/src/examples/text-fields/simple/character-counter.vue
  packages/docs/src/examples/text-fields/simple/clearable.vue
  packages/docs/src/examples/text-fields/simple/disabled-and-readonly.vue
  packages/docs/src/examples/text-fields/simple/single-line.vue
  packages/docs/src/examples/text-fields/usage.vue
  packages/docs/src/examples/textarea/usage.vue
  packages/docs/src/lang/en/components/ButtonGroups.json
  packages/docs/src/lang/en/components/Buttons.json
  packages/docs/src/lang/en/components/DatePickers.json
  packages/docs/src/lang/en/components/Paginations.json
  packages/docs/src/lang/en/components/TextFields.json
  packages/docs/src/lang/en/getting-started/Roadmap.json
  packages/kitchen/src/pan/Alerts.vue
Labels: T: documentation, kitchen

#8450 docs(api): remove id from api tab items to avoid clashes with examples
  packages/docs/src/components/doc/Api.vue
Labels: T: documentation

#8121 fix(activatable): add listeners for custom activators
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/mixins/activatable/__tests__/activatable.spec.ts
  packages/vuetify/src/mixins/activatable/index.ts
  packages/vuetify/src/mixins/menuable/index.ts
Labels: T: bug

#8194 fix(VSelect): ignore keypress when readonly
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
Labels: C: VSelect, T: bug

#8258 Fix missing VFileInput type in types/lib.d.ts
  packages/vuetify/types/lib.d.ts
Labels: T: bug, typescript

#8280 [Bug] fix(VDataTable): fix options prop not setting initial values
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: T: bug

#8282 fix(VBadge): enable unused variable (-top, -right)
  packages/vuetify/src/components/VBadge/VBadge.sass
  packages/vuetify/src/components/VBadge/_variables.scss
Labels: C: VBadge, T: bug

#8283 [Bug] fix(VDataTable): add missing index variable in item scoped slot
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: T: bug

#8285 [Bug] fix(VDataTable): replace hardcoded icons for presets in grouped rows
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/services/icons/__tests__/__snapshots__/icons.spec.ts.snap
  packages/vuetify/src/services/icons/presets/fa.ts
  packages/vuetify/src/services/icons/presets/fa4.ts
  packages/vuetify/src/services/icons/presets/md.ts
  packages/vuetify/src/services/icons/presets/mdi-svg.ts
  packages/vuetify/src/services/icons/presets/mdi.ts
Labels: C: VDataTable, T: bug

#8295 [Bug] fix(VRangeSlider): fix focus/blur events not emitting
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VSlider/VSlider.ts
Labels: C: VRangeSlider, T: bug

#8296 [Bug] fix(VDataTable): fix header column widths not being respected
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable, T: bug

#8297 [Bug] fix(VDataTable): workaround for chrome colspan border-collapse bug
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
  packages/vuetify/src/styles/settings/_dark.scss
  packages/vuetify/src/styles/settings/_light.scss
Labels: T: bug

#8286 [Bug] fix(VDataTable): fix passing kebab-cased footer props
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/util/helpers.ts
Labels: C: VDataTable, T: bug

#8375 fix(VFileInput): counter should update for null and value type
  packages/vuetify/src/components/VFileInput/VFileInput.ts
  packages/vuetify/src/components/VFileInput/__tests__/__snapshots__/VFileInput.spec.ts.snap
Labels: C: VFileInput, T: bug

#8380 fix(VCard): fix word wrapping & color
  packages/vuetify/src/components/VCard/VCard.sass
Labels: C: VCard, T: bug

#8406 fix(VDivider): missing rtl styles
  packages/vuetify/src/components/VDivider/VDivider.sass
Labels: C: Divider, T: bug, rtl

#8407 fix(VList): missing rtl styles
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/_mixins.sass
Labels: C: VList, T: bug, rtl

#8409 fix(VTextField): update label width on label change
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: T: bug

#8412 fix(Theme): fix issues for spa with vue-meta
  packages/vuetify/src/services/theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/services/theme/__tests__/theme.spec.ts
  packages/vuetify/src/services/theme/index.ts
Labels: Service: Theme, T: bug

#8423 [Bug Report] Extend v-avatar functionality to work with SVG
  packages/vuetify/src/components/VAvatar/VAvatar.sass
Labels: C: VAvatar, T: bug

#8427 [Bug] fix(VColorPicker): alpha controls showing when they shouldnt
  packages/vuetify/src/components/VColorPicker/VColorPicker.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/util/index.ts
  packages/vuetify/src/util/colorUtils.ts
Labels: C: VColorPicker, T: bug

#8470 fix: ignore click outside if component is being destroyed
  packages/vuetify/src/components/VDialog/VDialog.ts
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
Labels: C: VMenu, T: bug

#8471 fix: ignore click outside if component is being destroyed
  packages/vuetify/src/components/VDialog/VDialog.js
  packages/vuetify/src/components/VMenu/VMenu.js
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VSelect/VSelect.js
Labels: C: VMenu, T: bug

#8466 fix(VEditDialog): fix editability of VEditDialog
  packages/vuetify/src/components/VDataTable/VEditDialog.sass
  packages/vuetify/src/components/VDataTable/VEditDialog.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VEditDialog.spec.ts.snap
Labels: C: VEditDialog, T: bug, T: regression

#8458 fix(VWindow): wrong position of arrows on hover in rtl mode
  packages/vuetify/src/components/VWindow/VWindow.sass
Labels: C: VWindow, T: bug, rtl

#8382 fix(VDialog): fix style of component to follow material spec
  packages/vuetify/src/components/VDialog/VDialog.sass
Labels: C: VDialog, T: bug

#8493 fix(VDataTable): remove pointer-events: none for empty wrapper
  packages/vuetify/src/components/VDataTable/VDataTable.sass
Labels: C: VDataTable, T: bug, T: regression

#8496 docs(VGrid): fix examples for IE11 usage
  packages/docs/src/data/pages/components/Grids.json
  packages/docs/src/data/pages/styles/Flex.json
  packages/docs/src/examples/grids/playground.vue
  packages/docs/src/examples/grids/simple/vertical-alignment.vue
  packages/docs/src/lang/en/components/Grids.json
  packages/docs/src/lang/en/styles/Flex.json
Labels: T: documentation

#8510 docs(VCalendar): switch usage and events examples, change icons to mdi
  packages/docs/src/examples/calendars/complex/events.vue
  packages/docs/src/examples/calendars/playground.vue
  packages/docs/src/examples/calendars/usage.vue
  packages/docs/src/lang/en/components/Calendars.json
Labels: T: documentation

#7396 fix(DataIterable): do not update selection if totalItems is set
  packages/vuetify/src/mixins/data-iterable.js
  packages/vuetify/test/unit/mixins/data-iterable.spec.js
Labels: C: VDataIterator, T: bug

#8549 docs(Breakpoints): updated main description and fixed page structure
  packages/docs/src/data/pages/customization/Breakpoints.json
  packages/docs/src/lang/en/customization/Breakpoints.json
  packages/docs/src/snippets/js/vuetify_thresholds.txt
Labels: T: documentation

#8498 fix(VFileInput): bug in Safari where file is not added
  packages/vuetify/src/components/VFileInput/VFileInput.ts
Labels: C: VFileInput, T: bug

#8509 fix(VDataTable): footer.page-text slot not being used
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: T: bug

#8508 fix(VDataTable): mismatch of nodes when using ssr
  packages/vuetify/src/components/VDataTable/VDataTable.ts
Labels: T: bug

#8490 fix(VOverlay): fix second dialog overlay animation problems
  packages/vuetify/src/components/VOverlay/VOverlay.sass
Labels: C: VOverlay, T: bug

#8599 docs(VDataTable): fixed incorrect props for body slots
  packages/api-generator/src/maps/v-data-table.js
Labels: T: documentation

#8595 change contribution link language
  packages/docs/src/components/doc/Contribution.vue
Labels: T: documentation

#8652 fix(VTextField): remove !important flag
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: T: bug

#8600 fix(VTabs): slider hides behind the colored tab
  packages/vuetify/src/components/VTabs/VTabs.sass
Labels: T: bug

#8592 fix(VDataTable): use convertToUnit in table header width styles
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTableHeader.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
Labels: T: bug

#8590 fix(VDataFooter): disable last page button if there's no items
  packages/vuetify/src/components/VDataIterator/VDataFooter.ts
  packages/vuetify/src/components/VDataIterator/__tests__/VDataFooter.spec.ts
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
Labels: T: bug

#8578 fix(VDataTable): default to first itemsPerPage option
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: T: bug

#8594 fix(VDataTable): page resets when server-items-length is zero
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: T: bug

#8775 docs(VDataTable): fix prop name for hide-default-header
  packages/docs/src/lang/en/components/DataTables.json
Labels: C: VDataTable, T: documentation

#7122 fix(VDialog) checking before if the click is not on the overlay
  packages/vuetify/src/components/VDialog/VDialog.ts
Labels: C: VDialog, T: bug

#8205 fix(#6962): Fix race conditions in VWindowItem.ts during transition.
  packages/vuetify/src/components/VWindow/VWindow.ts
  packages/vuetify/src/components/VWindow/VWindowItem.ts
  packages/vuetify/src/components/VWindow/__tests__/VWindowItem.spec.ts
Labels: C: VWindow, T: bug

#8433 fix(sortItems): continue to next sorter if custom sorter returns 0
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: bug

#8491 fix(VDialog): inherit listeners
  packages/vuetify/src/components/VDialog/VDialog.ts
Labels: T: bug

#8512 fix(VDatePicker): improve scroll position of years selector
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.ts
Labels: T: bug

#8566 fix(Theme): fix issues for spa with vue-meta
  packages/vuetify/src/services/theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/services/theme/__tests__/theme.spec.ts
  packages/vuetify/src/services/theme/index.ts
Labels: Service: Theme, T: bug

#8694 fix(VListItem): add default active color (#8327)
  packages/vuetify/src/components/VList/VListItem.sass
Labels: T: bug

#8719 fix(VDataTable): detect changes in options prop
  packages/vuetify/src/components/VData/VData.ts
Labels: T: bug
