Repository vuetifyjs/vuetify, pull requests merged in 2020-07, with the labels that each got.

#11794 docs(SassVariables): add additionalData for sass-loader v9.0.0 update
  packages/docs/src/lang/en/customization/SassVariables.json
  packages/docs/src/snippets/js/webpack_sass_variables.txt
Labels: T: documentation

#11714 fix(VSkeletonLoader): use rgba transparency for animation on Safari
  packages/vuetify/src/styles/settings/_dark.scss
  packages/vuetify/src/styles/settings/_light.scss
Labels: C: VSkeletonLoader, T: bug

#11304 fix(VDatePicker): allow null value for multiple date picker
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.date.spec.ts.snap
Labels: C: VDatepicker, T: bug

#11732 fix(VDataTable): respect hide-default-header prop on mobile
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/MobileRow.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/MobileRow.spec.ts.snap
Labels: C: VDataTable, T: bug

#11808 fix(VSimpleCheckbox) :class does not applying
  packages/vuetify/src/components/VCheckbox/VSimpleCheckbox.ts
Labels: C: VSimpleCheckbox, T: bug

#11868 fix(VProgressCircular): don't apply rotate animation to svg icon
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.sass
Labels: C: VProgressCircular, T: bug

#11849 fix(VBtnToggle): add missing RTL support in button groups
  packages/vuetify/src/components/VBtnToggle/VBtnToggle.sass
Labels: C: VBtnToggle, T: bug

#9594 refactor: update to typescript 3.9
  .eslintrc.js
  package.json
  packages/docs/package.json
  packages/vuetify/babel.config.js
  packages/vuetify/package.json
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.ts
  packages/vuetify/src/components/VBtn/VBtn.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.ts
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/VVirtualTable.ts
  packages/vuetify/src/components/VDataTable/mixins/header.ts
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
  packages/vuetify/src/components/VImg/VImg.ts
  packages/vuetify/src/components/VMessages/VMessages.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/VSelectList.ts
  packages/vuetify/src/components/VSkeletonLoader/VSkeletonLoader.ts
  packages/vuetify/src/components/VSlider/VSlider.ts
  packages/vuetify/src/components/VSparkline/VSparkline.ts
  packages/vuetify/src/components/VStepper/VStepperStep.ts
  packages/vuetify/src/components/VTabs/VTabsBar.ts
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTimePicker/VTimePickerClock.ts
  packages/vuetify/src/components/VTooltip/VTooltip.ts
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/VTreeviewNode.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeview.spec.ts.snap
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.ts
  packages/vuetify/src/components/transitions/expand-transition.ts
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/mixins/comparable/index.ts
  packages/vuetify/src/mixins/groupable/index.ts
  packages/vuetify/src/mixins/registrable/index.ts
  packages/vuetify/src/mixins/routable/index.ts
  packages/vuetify/src/mixins/validatable/index.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/types/test/alacarte.ts
  tslint.json
  yarn.lock
Labels: task, typescript

#11740 fix(VEditDialog): return returnValue on save
  packages/vuetify/src/components/VDataTable/VEditDialog.ts
  packages/vuetify/src/components/VDataTable/__tests__/VEditDialog.spec.ts
Labels: C: VEditDialog, T: bug
