Repository vuetifyjs/vuetify, pull requests merged in 2020-04, with the labels that each got.

#10446 feat: typescript 3.8, nullish coalescing, optional chaining
  package.json
  packages/docs/babel.config.js
  packages/docs/package.json
  packages/vuetify/babel.config.js
  packages/vuetify/package.json
  yarn.lock
Labels: typescript

#11040 docs(Combobox): update object alert
  packages/docs/src/data/pages/components/Combobox.pug
  packages/docs/src/lang/en/components/Combobox.json
  packages/docs/src/lang/en/components/Selects.json
Labels: T: documentation

#10955 docs(VTextField): remove vue-the-mask
  packages/docs/package.json
  packages/docs/src/data/pages/components/TextFields.pug
  packages/docs/src/examples/text-fields/simple/masks.vue
  packages/docs/src/lang/en/components/TextFields.json
  packages/docs/src/lang/eo-UY/components/TextFields.json
  packages/docs/src/lang/zh-CN/components/TextFields.json
  yarn.lock
Labels: T: documentation

#10940 fix(VSelect): add Y offset to menu to match material guidelines
  packages/vuetify/src/components/VOverflowBtn/__tests__/__snapshots__/VOverflowBtn.spec.ts.snap
  packages/vuetify/src/components/VSelect/VSelect.ts
Labels: C: VSelect, T: bug

#10942 fix(VIcon): add missing width attribute when rendering svg icons
  packages/vuetify/src/components/VIcon/VIcon.ts
  packages/vuetify/src/components/VIcon/__tests__/__snapshots__/VIcon.spec.ts.snap
Labels: C: VIcon, T: bug

#10956 fix(VBtn): make the hover inherit border-radius
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: C: VBtn, T: bug

#10975 fix(overlayable): overlay must be removed if quickly deactivated
  packages/vuetify/src/mixins/overlayable/__tests__/overlayable.spec.ts
  packages/vuetify/src/mixins/overlayable/index.ts
Labels: C: VDialog, T: bug

#11034 feat(VImg): add themeable support
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBar.spec.ts.snap
  packages/vuetify/src/components/VImg/VImg.sass
  packages/vuetify/src/components/VImg/VImg.ts
  packages/vuetify/src/components/VImg/__tests__/__snapshots__/VImg.spec.ts.snap
Labels: C: VImg, T: feature

#11075 fix(calendar-with-events.spec.ts): fixes test issue with 24-hour systems
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-events.spec.ts
Labels: T: enhancement, testing

#10866 feat(directives): add color directive
  packages/vuetify/src/components/VColorPicker/util/__tests__/index.spec.ts
  packages/vuetify/src/directives/color/__tests__/color.spec.ts
  packages/vuetify/src/directives/color/index.ts
  packages/vuetify/src/directives/index.ts
  packages/vuetify/src/mixins/colorable/index.ts
  packages/vuetify/src/util/__tests__/colorUtils.spec.ts
  packages/vuetify/src/util/colorUtils.ts
Labels: T: feature

#11085 docs(VTabs): Alert
  packages/docs/src/data/pages/components/Tabs.pug
  packages/docs/src/lang/en/components/Tabs.json
Labels: C: VTabs, T: documentation

#10304 fix(VRipple): add keyboard trigger support
  packages/vuetify/src/directives/ripple/__tests__/ripple.spec.ts
  packages/vuetify/src/directives/ripple/index.ts
Labels: C: VRipple, T: bug

#10900 docs(i18n): add shorter snippet for custom i18n
  packages/docs/src/lang/en/customization/Internationalization.json
  packages/docs/src/snippets/ts/create_translation.txt
Labels: T: documentation

#11123 docs(AppToolbar): Correctly capitalize GitHub
  packages/docs/src/lang/en/vuetify/AppToolbar.json
Labels: T: documentation

#11143 docs: alert about custom properties polyfills
  packages/docs/src/data/pages/customization/Theme.pug
  packages/docs/src/lang/en/customization/Theme.json
Labels: T: documentation

#11150 chore: vue@3.0.0-beta 2
  package.json
  packages/api-generator/package.json
  packages/vuetify/dev/index.js
  yarn.lock
Labels: Framework

#11129 fix(VCalendar): weekdays and day views conflict (#11025)
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendar.spec.ts.snap
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
Labels: C: VCalendar, T: bug

#11035 feat(framework): create new decoration helper classes
  packages/docs/src/data/pages/styles/Text.pug
  packages/docs/src/examples/text/decoration.vue
  packages/docs/src/lang/en/styles/Text.json
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: Framework, T: feature, needs docs update

#11134 fix(VTextField): Skip value property update if IME composing string
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField, T: bug

#11132 fix(VCalendar): missing day-label slot for daily (#11069)
  packages/api-generator/src/maps/v-calendar.js
  packages/docs/src/lang/en/components/Calendars.json
  packages/docs/src/lang/fr-FR/components/Calendars.json
  packages/docs/src/lang/zh-CN/components/Calendars.json
  packages/vuetify/src/components/VCalendar/VCalendarDaily.ts
Labels: C: VCalendar, T: bug

#11131 fix(VCalendar): no event rendering without default slot (#11090)
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
Labels: C: VCalendar, T: bug

#10926 fix(VDatePicker): weeknumber calculation refactored to fix bug
  packages/docs/src/data/pages/components/DatePickers.pug
  packages/docs/src/lang/en/components/DatePickers.json
  packages/vuetify/src/components/VCalendar/util/timestamp.ts
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerDateTable.ts
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePickerDateTable.spec.ts.snap
  packages/vuetify/src/util/__tests__/dateTimeUtils.spec.ts
  packages/vuetify/src/util/dateTimeUtils.ts
Labels: C: VDatepicker, T: bug

#11120 docs(CssReset): add warning about using native html elements
  packages/docs/src/data/pages/styles/CssReset.pug
  packages/docs/src/lang/en/styles/CssReset.json
Labels: T: documentation

#11142 docs(VDataTable): add missing props to group.summary slot
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataTable/VDataTable.ts
Labels: T: documentation

#10989 feat(VDataTable): add contexmenu:row event for data table
  packages/api-generator/src/maps/v-data-table.js
  packages/docs/src/lang/en/components/DataTables.json
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable, T: feature

#10492 fix(VSelect): scroll to newly selected item in long lists
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
Labels: C: VSelect, T: bug

#10499 test: add wait and waitAnimationFrame utils
  packages/vuetify/src/components/VCarousel/__tests__/VCarousel.spec.ts
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.ts
  packages/vuetify/src/components/VHover/__tests__/VHover.spec.ts
  packages/vuetify/src/components/VMenu/__tests__/VMenu.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect2.spec.ts
  packages/vuetify/src/components/VStepper/__tests__/VStepperContent.spec.ts
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
  packages/vuetify/src/components/VWindow/__tests__/VWindowItem.spec.ts
  packages/vuetify/src/directives/click-outside/__tests__/click-outside.spec.ts
  packages/vuetify/src/mixins/activatable/__tests__/activatable.spec.ts
  packages/vuetify/src/mixins/overlayable/__tests__/overlayable.spec.ts
  packages/vuetify/src/mixins/validatable/__tests__/validatable.spec.ts
  packages/vuetify/test/index.ts
Labels: testing

#11039 feat(VDataTable) add dblclick:row event for data table
  packages/api-generator/src/maps/v-data-table.js
  packages/docs/src/lang/en/components/DataTables.json
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable, T: feature

#11168 fix(VCalendar): event ends midnight (#11159)
  packages/vuetify/src/components/VCalendar/util/__tests__/events.spec.ts
  packages/vuetify/src/components/VCalendar/util/events.ts
  packages/vuetify/src/components/VCalendar/util/timestamp.ts
Labels: C: VCalendar, T: bug

#11124 feat(VAlert): closeIcon prop
  packages/docs/src/examples/alerts/complex/twitter.vue
  packages/docs/src/lang/en/components/Alerts.json
  packages/vuetify/src/components/VAlert/VAlert.ts
  packages/vuetify/src/components/VAlert/__tests__/VAlert.spec.ts
Labels: C: VAlert, T: feature

#11194 fix(VTextField): Update value on compositionend
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField

#11112 fix: don't use nativeOn on native elements
  package.json
  packages/api-generator/package.json
  packages/docs/package.json
  packages/vuetify/src/components/VCalendar/VCalendarDaily.ts
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.ts
  packages/vuetify/src/components/VDataTable/VDataTableHeaderMobile.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerHeader.ts
  packages/vuetify/src/components/VList/VListItem.ts
  yarn.lock
Labels: C: VCalendar, T: bug

#11223 fix(VSelect): disable arrows on readonly select
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
Labels: C: VSelect, T: bug

#11204 fix(VAppBar): ensure bar visibility when hide-on-scroll (#9993)
  packages/vuetify/src/components/VAppBar/VAppBar.ts
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.ts
Labels: C: VAppBar

#11183 fix(VTabs): make buttons inside tab inherit current color of the tab
  packages/vuetify/src/components/VTabs/VTabs.sass
Labels: C: VTabs

#11244 feat(v-scroll): add self modifier to target the bound element
  packages/api-generator/src/maps/v-scroll.js
  packages/docs/src/data/pages/directives/Scrolling.pug
  packages/docs/src/examples/scrolling/simple/self.vue
  packages/docs/src/lang/en/directives/Scrolling.json
  packages/vuetify/src/directives/scroll/__tests__/scroll.spec.ts
  packages/vuetify/src/directives/scroll/index.ts
  packages/vuetify/src/globals.d.ts
Labels: T: feature

#10944 feat(VVirtualScroll ): add new component
  packages/api-generator/src/maps/v-virtual-scroll.js
  packages/docs/src/data/drawerItems.json
  packages/docs/src/data/pages/components/VirtualScrollers.pug
  packages/docs/src/examples/virtual-scrollers/advanced/benching.vue
  packages/docs/src/examples/virtual-scrollers/simple/user-directory.vue
  packages/docs/src/lang/en/components/VirtualScrollers.json
  packages/docs/src/lang/en/meta.json
  packages/docs/src/lang/en/vuetify/AppDrawer.json
  packages/docs/src/usages/virtual-scrollers.vue
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.sass
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.ts
  packages/vuetify/src/components/VVirtualScroll/__tests__/VVirtualScroll.spec.ts
  packages/vuetify/src/components/VVirtualScroll/__tests__/__snapshots__/VVirtualScroll.spec.ts.snap
  packages/vuetify/src/components/VVirtualScroll/index.ts
  packages/vuetify/src/components/index.ts
Labels: T: feature

#11262 fix(VSparkline): fix duplicate id on VSparkline path
  packages/vuetify/src/components/VSparkline/VSparkline.ts
  packages/vuetify/src/components/VSparkline/__tests__/__snapshots__/VSparkline.spec.ts.snap
Labels: C: VSparkline, T: bug
