Repository vuetifyjs/vuetify, pull requests merged in 2020-12, with the labels that each got.

#12554 fix(VTextField): hide-details auto animation
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VInput/__tests__/VInput.spec.ts
  packages/vuetify/src/components/VInput/__tests__/__snapshots__/VInput.spec.ts.snap
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
Labels: C: VTextField, T: bug

#12678 fix(VCarousel): stop event propagation for prev/next buttons
  packages/vuetify/src/components/VWindow/VWindow.ts
Labels: C: VCarousel, T: bug

#12685 fix(VWindow): fix wrong reverse animation logic for only 2 items
  packages/vuetify/src/components/VWindow/VWindow.ts
Labels: C: VTabs, T: bug

#12687 fix(VCalendar): resolve wrong relative day span for 4day
  packages/vuetify/src/components/VCalendar/VCalendar.ts
Labels: C: VCalendar, T: bug

#12735 fix(VDivider): Vertical v-divider not displayed when inside div and…
  packages/vuetify/src/components/VDivider/VDivider.sass
Labels: C: Divider, T: bug

#12661 fix(VTextField): add padding-top custom variable to details
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/_variables.scss
Labels: C: VTextField, T: bug

#12757 revert(VTextField): partial revert of #12554
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VInput/__tests__/VInput.spec.ts
  packages/vuetify/src/components/VInput/__tests__/__snapshots__/VInput.spec.ts.snap
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
Labels: C: VTextField, T: bug, T: regression

#12758 revert(VDivider): vertical v-divider not displayed when inside div
  packages/vuetify/src/components/VDivider/VDivider.sass
Labels: C: Divider, T: bug, T: regression

#12734 fix(VCard): Incorrect positioning for v-card-actions in v-dialog
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VDialog/_variables.scss
Labels: C: VCard, C: VDialog, T: bug, md2

#12777 fix(VRangeSlider): Displaying trackFillColor passed via prop
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VRangeSlider/__tests__/VRangeSlider.spec.ts
Labels: C: VRangeSlider, T: bug

#11970 fix(helpers): coerce name value to string in groupItems
  packages/vuetify/src/components/VData/__tests__/VData.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: C: VDataTable, T: bug, pending team review

#12786 fix(VSnackbar): set position of opposite direction values
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
Labels: C: VSnackbar, T: bug

#12542 feat: initial theme implementation
  packages/vuetify/dev/App.vue
  packages/vuetify/package.json
  packages/vuetify/src/components/VApp/VApp.sass
  packages/vuetify/src/components/VApp/VApp.ts
  packages/vuetify/src/components/VApp/__tests__/VApp.spec.ts
  packages/vuetify/src/components/VApp/__tests__/__snapshots__/VApp.spec.ts.snap
  packages/vuetify/src/components/VThemeProvider/VThemeProvider.ts
  packages/vuetify/src/components/VThemeProvider/__tests__/VThemeProvider.spec.ts
  packages/vuetify/src/components/VThemeProvider/__tests__/__snapshots__/VThemeProvider.spec.ts.snap
  packages/vuetify/src/components/VThemeProvider/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/entry-bundler.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/services/theme/__tests__/__snapshots__/theme-utils.spec.ts.snap
  packages/vuetify/src/services/theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/services/theme/__tests__/theme-utils.spec.ts
  packages/vuetify/src/services/theme/__tests__/theme.spec.ts
  packages/vuetify/src/services/theme/index.ts
  packages/vuetify/src/services/theme/utils.ts
  packages/vuetify/src/styles/tools/_functions.sass
  packages/vuetify/src/util/__tests__/colorUtils.spec.ts
  packages/vuetify/src/util/colorUtils.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/src/util/index.ts
  packages/vuetify/src/util/makeProps.ts
  yarn.lock
Labels: Service: Theme, T: feature, V3: Phase 1, pending team review

#12784 fix(VImg): default ratio to 1:1 for SVG images
  packages/vuetify/src/components/VImg/VImg.ts
Labels: C: VImg, T: bug

#12814 feat(VBtn): add new styling property plain
  packages/api-generator/src/locale/en/v-btn.json
  packages/docs/src/examples/v-btn/prop-plain.vue
  packages/docs/src/examples/v-btn/usage.vue
  packages/docs/src/pages/en/components/buttons.md
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.ts.snap
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.ts
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.ts
  packages/vuetify/src/components/VBtn/__tests__/__snapshots__/VBtn.spec.ts.snap
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendar.spec.ts.snap
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendarDaily.spec.ts.snap
Labels: C: VBtn, T: feature

#12825 fix(VImg): SVG size wrong after uncached load
  packages/vuetify/src/components/VImg/VImg.ts
Labels: C: VImg, T: bug

#12634 feat(VTextField): add `counter` scoped slot
  packages/api-generator/src/helpers/variables.js
  packages/docs/src/examples/v-text-field/prop-counter.vue
  packages/docs/src/pages/en/components/text-fields.md
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField, T: feature

#12751 feat(transitions): add dialog-top-transition
  packages/docs/src/examples/v-dialog/prop-transitions.vue
  packages/docs/src/pages/en/components/dialogs.md
  packages/vuetify/src/components/transitions/index.ts
  packages/vuetify/src/styles/generic/_transitions.scss
  packages/vuetify/types/lib.d.ts
Labels: C: Transitions, T: feature

#12771 feat(VItemGroup): add tag prop to component
  packages/vuetify/src/components/VItemGroup/VItemGroup.ts
  packages/vuetify/src/components/VItemGroup/__tests__/VItemGroup.spec.ts
Labels: C: VItemGroup, T: feature

#12318 fix(VSlideGroup): fix scrollIntoView & arrows visibility
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.ts
  packages/vuetify/src/components/VSlideGroup/__tests__/VSlideGroup.spec.ts
Labels: C: VSlideGroup, T: bug, needs unit tests

#12640 fix(VSlider): make slider drag respond to mousedown
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VRangeSlider/__tests__/VRangeSlider.spec.ts
  packages/vuetify/src/components/VSlider/VSlider.ts
Labels: C: VSlider, T: bug

#12806 fix(VCombobox): fixed incorrect combobox behaviour
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox-multiple.spec.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
Labels: C: VCombobox, T: bug
