Repository vuetifyjs/vuetify, pull requests merged in 2020-11, with the labels that each got.

#12373 fix(inputs): reset value to null instead of undefined
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete2.spec.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete3.spec.ts
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VFileInput/VFileInput.ts
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect2.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
  packages/vuetify/src/mixins/validatable/__tests__/validatable.spec.ts
  packages/vuetify/src/mixins/validatable/index.ts
Labels: C: VAutocomplete, C: VCombobox, C: VForm, C: VSelect, C: VTextField, T: enhancement

#12516 feat(VAppBar): don't truncate title with shrink-on-scroll
  packages/api-generator/src/maps/v-app-bar-title.js
  packages/docs/src/examples/v-app-bar/prop-img-fade.vue
  packages/docs/src/examples/v-app-bar/prop-img.vue
  packages/docs/src/examples/v-app-bar/prop-prominent.vue
  packages/docs/src/examples/v-app-bar/prop-scroll-threshold.vue
  packages/docs/src/pages/en/components/app-bars.md
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VAppBar/VAppBar.ts
  packages/vuetify/src/components/VAppBar/VAppBarTitle.ts
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.ts
  packages/vuetify/src/components/VAppBar/index.ts
Labels: C: VAppBar, T: feature

#12382 fix(VRadioGroup): label styles
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.sass
Labels: C: VRadioGroup, T: bug

#12384 fix(VChip): add aria-label to chip close button
  packages/api-generator/.gitignore
  packages/api-generator/src/locale/en/v-chip.json
  packages/vuetify/src/components/VChip/VChip.ts
  packages/vuetify/src/components/VChip/__tests__/VChip.spec.ts
  packages/vuetify/src/components/VChip/__tests__/__snapshots__/VChip.spec.ts.snap
Labels: C: VChip

#12058 fix(VRadio): do not use cursor pointer if disabled
  packages/vuetify/src/components/VRadioGroup/VRadio.sass
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.sass
Labels: C: VRadio, T: bug

#12305 fix(VColorPicker): extractColor util
  packages/vuetify/src/components/VColorPicker/util/__tests__/index.spec.ts
  packages/vuetify/src/components/VColorPicker/util/index.ts
Labels: C: VColorPicker, T: bug

#12397 Fix/#11989 autocomplete focus
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.ts
Labels: C: VAutocomplete, T: bug

#12553 fix(VSimpleTable): add border radius to first and last row
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
  packages/vuetify/src/components/VDataTable/VSimpleTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VSimpleTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VSimpleTable.spec.ts.snap
Labels: C: VSimpleTable, T: bug

#12556 fix(VTextField): add background for line
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: C: VTextField, T: bug

#12570 fix(VFileInput): file-input-slot dense min-height
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/_variables.scss
Labels: C: VFileInput, T: bug

#12566 fix(VMenu): open-on-hover does not close-on-content-click
  packages/vuetify/src/components/VMenu/VMenu.ts
Labels: C: VMenu, T: bug

#12518 feat(VCalendar): add support for object categories
  packages/api-generator/src/locale/en/v-calendar.json
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/VCalendarCategory.ts
  packages/vuetify/src/components/VCalendar/__tests__/VCalendarCategory.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-events.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-intervals.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/util/parser.ts
  packages/vuetify/src/components/VCalendar/util/props.ts
  packages/vuetify/types/index.d.ts
Labels: C: VCalendar, T: feature

#12604 feat(VDataTable): isMobile prop in scoped slots
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/Row.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable, T: feature

#12592 docs(VClickOutside): Add include example
  packages/api-generator/src/maps/v-click-outside.js
  packages/docs/src/examples/v-click-outside/option-include.vue
  packages/docs/src/pages/en/directives/click-outside.md
Labels: D: click-outside, T: documentation

#12599 feat(VSnackbar): keep snackbar open while mouseover
  packages/docs/src/pages/en/components/snackbars.md
  packages/vuetify/src/components/VSnackbar/VSnackbar.ts
Labels: C: VSnackbar, T: feature

#12619 docs(readme): update ecosystem links
  README.md
Labels: T: documentation

#12602 feat(VWindow,VCarousel): **prev** and **next** slots
  packages/api-generator/src/locale/en/v-window.json
  packages/api-generator/src/maps/v-carousel.js
  packages/api-generator/src/maps/v-window.js
  packages/docs/src/examples/v-carousel/slots-next-prev.vue
  packages/docs/src/examples/v-window/slots-next-prev.vue
  packages/docs/src/pages/en/components/carousels.md
  packages/docs/src/pages/en/components/windows.md
  packages/vuetify/src/components/VWindow/VWindow.ts
Labels: C: VCarousel, C: VWindow, T: feature

#12603 feat(VDatePicker): `show-adjacent-months` prop
  packages/api-generator/src/locale/en/v-date-picker.json
  packages/docs/src/examples/v-date-picker/prop-show-adjacent-months.vue
  packages/docs/src/pages/en/components/date-pickers.md
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerDateTable.ts
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.date.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePickerDateTable.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
Labels: C: VDatepicker, T: feature

#12618 feat(vcolorpicker): add hideSliders prop
  packages/api-generator/src/locale/en/v-color-picker.json
  packages/docs/src/examples/v-color-picker/usage.vue
  packages/docs/src/pages/en/components/color-pickers.md
  packages/vuetify/src/components/VColorPicker/VColorPicker.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
Labels: C: VColorPicker, T: feature

#12605 feat(VDataTable): index prop in item* slots
  packages/api-generator/src/maps/v-data-iterator.js
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/Row.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/types/index.d.ts
Labels: C: VDataTable, S: has merge conflicts, T: feature

#12630 fix(VSlider): disable input tag
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VRangeSlider/__tests__/__snapshots__/VRangeSlider.spec.ts.snap
  packages/vuetify/src/components/VSlider/VSlider.ts
  packages/vuetify/src/components/VSlider/__tests__/__snapshots__/VSlider.spec.ts.snap
Labels: C: VSlider, T: bug

#12456 fix(VPagination): Add support for 0 totalVisible items
  packages/vuetify/src/components/VPagination/VPagination.ts
Labels: C: VPagination, T: feature

#12415 fix(VCombobox): don't reset value to null if search is empty
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VCombobox/VCombobox.ts
Labels: C: VCombobox, T: bug

#12635 feat(VTextField): only show placeholder on focus if label is set
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField, T: enhancement

#12533 feat: add group composable
  packages/vuetify/src/composables/__tests__/__snapshots__/group.spec.ts.snap
  packages/vuetify/src/composables/__tests__/group.spec.ts
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/proxiedModel.ts
  packages/vuetify/src/mixins/groupable/index.ts
  packages/vuetify/src/mixins/registrable/index.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature

#12667 docs(vfooter): remove example: absolute
  packages/docs/src/examples/v-footer/prop-absolute.vue
  packages/docs/src/pages/en/components/footer.md
Labels: C: VFooter, T: documentation

#12357 fix(VCarousel): incorrect transition direction when using touch
  packages/vuetify/src/components/VCarousel/VCarousel.ts
  packages/vuetify/src/components/VWindow/VWindow.ts
  packages/vuetify/src/components/VWindow/__tests__/VWindow.spec.ts
  packages/vuetify/src/components/VWindow/__tests__/VWindowItem.spec.ts
Labels: C: VCarousel, T: bug

#12345 fix(VRating): add icon aria-label
  packages/api-generator/src/locale/en/v-rating.json
  packages/docs/src/examples/v-rating/prop-icon-label.vue
  packages/docs/src/pages/en/components/ratings.md
  packages/vuetify/src/components/VRating/VRating.ts
  packages/vuetify/src/components/VRating/__tests__/VRating.spec.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
Labels: C: VRating, T: enhancement, a11y

#11983 fix(VTabsItems): keep rounded corners during animations
  packages/vuetify/src/components/VWindow/VWindow.sass
Labels: C: VWindow, T: bug

#12428 fix(VTooltip): don't add role:button to activator
  packages/vuetify/src/components/VTooltip/VTooltip.ts
Labels: C: VTooltip, T: bug, a11y

#12651 fix(VDataFooter): Show set footer.page-text on empty data table
  packages/vuetify/src/components/VDataIterator/VDataFooter.ts
Labels: C: VDataFooter, T: bug
