Repository vuetifyjs/vuetify, pull requests merged in 2020-02, with the labels that each got.

#10399 fix(VTimePicker): AM/PM farsi translation and margins in RTL mode
  packages/vuetify/src/components/VTimePicker/VTimePickerClock.ts
  packages/vuetify/src/components/VTimePicker/VTimePickerTitle.sass
  packages/vuetify/src/components/VTimePicker/_variables.scss
  packages/vuetify/src/locale/fa.ts
Labels: C: VTimePicker, T: bug, rtl

#10407 fix(vcheckbox): spacing issue with VCheckbox
  packages/vuetify/src/styles/components/_selection-controls.sass
Labels: C: VCheckbox, C: VRadio

#10415 fix(VTimePicker): missing end circle in clock hand
  packages/vuetify/src/components/VTimePicker/VTimePickerClock.sass
  packages/vuetify/src/components/VTimePicker/_variables.scss
Labels: C: VTimePicker, T: bug

#10381 feat(locale): add Finnish translation
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/index.ts
Labels: T: feature

#10328 feat(locale): add slovak locale
  packages/vuetify/src/locale/index.ts
  packages/vuetify/src/locale/sk.ts
Labels: Service: Lang, T: feature

#10448 Fixed typo in Autocompletes.json
  packages/docs/src/lang/en/components/Autocompletes.json
Labels: T: documentation

#10385 docs(v-simple-checkbox): Document component
  packages/api-generator/src/maps/v-simple-checkbox.js
  packages/docs/src/data/pages/components/DataTables.json
  packages/docs/src/data/pages/components/SelectionControls.json
  packages/docs/src/examples/data-tables/intermediate/simple-checkbox.vue
  packages/docs/src/lang/en/components/DataTables.json
  packages/docs/src/lang/en/components/SelectionControls.json
Labels: T: documentation

#10439 fix: use a button element for clickable icons
  packages/vuetify/src/components/VChip/__tests__/__snapshots__/VChip.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VFileInput/__tests__/__snapshots__/VFileInput.spec.ts.snap
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/VIcon.ts
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VIcon/_variables.scss
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VRating/VRating.sass
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect3.spec.ts.snap
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeview.spec.ts.snap
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeviewNode.spec.ts.snap
  packages/vuetify/src/styles/settings/_dark.scss
  packages/vuetify/src/styles/settings/_light.scss
Labels: C: VIcon, T: bug

#10400 fix(VTimePicker): increase clock click accuracy
  packages/vuetify/src/components/VTimePicker/VTimePickerClock.ts
  packages/vuetify/src/components/VTimePicker/__tests__/VTimePickerClock.spec.ts
Labels: C: VTimePicker, T: bug

#10461 fix(VTextField/VSelect): don't focus clear icon if dirty
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete2.spec.ts
  packages/vuetify/src/components/VFileInput/__tests__/__snapshots__/VFileInput.spec.ts.snap
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VSelect, C: VTextField, T: bug

#10489 fix(VSelect): expose clickable icons to screen readers
  packages/vuetify/src/components/VFileInput/__tests__/__snapshots__/VFileInput.spec.ts.snap
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/util/mergeData.ts
Labels: C: VSelect, T: bug

#10226 fix(VSelect/VMenu): remove duplicate IDs, add aria-activedescendant
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataIterator.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/components/VList/VListItem.ts
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VOverflowBtn/__tests__/__snapshots__/VOverflowBtn.spec.ts.snap
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/VSelectList.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect3.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelectList.spec.ts.snap
Labels: C: VList, C: VMenu, C: VSelect, T: bug, a11y

#10512 docs(form): update vee-validate example to 3.x
  packages/docs/package.json
  packages/docs/src/examples/forms/intermediate/vee-validate.vue
  packages/docs/src/lang/en/components/Forms.json
  yarn.lock
Labels: T: documentation

#10345 fix(VDataIterator): add isMobile property to custom item slot scope
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataIterator/__tests__/VDataIterator.spec.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataIterator, C: VDataTable, T: bug

#10525 fix(VMenu): allow more than 1 content node
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete2.spec.ts
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataIterator.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VMenu/__tests__/VMenu.spec.ts
  packages/vuetify/src/components/VMenu/__tests__/__snapshots__/VMenu.spec.ts.snap
  packages/vuetify/src/components/VOverflowBtn/__tests__/__snapshots__/VOverflowBtn.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect3.spec.ts.snap
Labels: C: VMenu, T: bug

#10600 fix(VDataTable): remove hover on empty (no data) wrapper
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
Labels: C: VDataTable

#10594 fix(VSimpleTable): missing bottom border of tbody th
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
Labels: C: VDataTable, T: bug

#10592 fix(VDataTable): group-by should use correct slot
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable, T: bug

#10591 fix(VDataTable): group-by column should be included in search
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataTable

#10169 fix(VDataTable): Loading Progress bar pushes content down
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
Labels: C: VDataTable, T: bug

#10567 fix(VSlideGroup): add display none to immediate child
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.sass
Labels: C: VSlideGroup, T: bug

#10158 fix(vautocomplete): change onClick to not reopen menu
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete3.spec.ts
Labels: C: VAutocomplete, T: bug

#10364 fix(VTimePicker): show 12 hr time in title in ampm mode
  packages/vuetify/src/components/VTimePicker/VTimePicker.ts
  packages/vuetify/src/components/VTimePicker/VTimePickerTitle.sass
  packages/vuetify/src/components/VTimePicker/VTimePickerTitle.ts
  packages/vuetify/src/components/VTimePicker/__tests__/__snapshots__/VTimePicker.spec.ts.snap
Labels: C: VTimePicker

#10608 docs(Forms): update vee-validate example
  packages/docs/src/examples/forms/intermediate/vee-validate.vue
Labels: T: documentation

#10616 docs(stepper): fixed the usage example code
  packages/docs/src/examples/steppers/usage.vue
Labels: T: documentation

#10638 docs: data-tables simple search append-icon wrong props
  packages/docs/src/examples/data-tables/simple/search.vue
Labels: T: documentation

#10620 fix(vselect): resolve bug in browsers with event order disparity
  packages/vuetify/src/components/VSelect/VSelect.js
  packages/vuetify/src/components/VTextField/VTextField.js
  packages/vuetify/test/unit/components/VTextField/VTextField.spec.js
Labels: C: VSelect, C: VTextField, T: bug, lts

#10652 fix(VDataIterator): emit page-count event
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataIterator/__tests__/VDataIterator.spec.ts
Labels: C: VDataIterator

#10651 fix(VDataTable): emit pagination event when filtering
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: C: VDataTable

#10642 fix(VAutocomplete): check for inital search input prop
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.ts
Labels: C: VAutocomplete, T: bug

#10516 fix(VDataTable): handle passing zero to itemsPerPage
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VData/__tests__/VData.spec.ts
  packages/vuetify/src/components/VDataIterator/VDataFooter.ts
Labels: C: VDataTable
