Repository vuetifyjs/vuetify, pull requests merged in 2020-05, with the labels that each got.

#11275 example: Using nextTick instead of setTimeout
  packages/docs/src/examples/data-tables/complex/crud.vue
Labels: T: documentation

#11306 fix(VSlider): fix thumb shifting position when toggling disabled state
  packages/vuetify/src/components/VSlider/VSlider.ts
Labels: C: VSlider

#11307 fix(VRangeSlider): incorrect slider width when disabled
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VRangeSlider/__tests__/VRangeSlider.spec.ts
  packages/vuetify/src/components/VRangeSlider/__tests__/__snapshots__/VRangeSlider.spec.ts.snap
Labels: C: VRangeSlider, T: bug

#11315 fix(VSparkline): handle a divide by zero bug when all values are zero
  packages/vuetify/src/components/VSparkline/__tests__/VSparkline.spec.ts
  packages/vuetify/src/components/VSparkline/__tests__/__snapshots__/VSparkline.spec.ts.snap
  packages/vuetify/src/components/VSparkline/helpers/core.ts
Labels: C: VSparkline

#11181 fix(VDataTable): include rows that exclusively match custom filters
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: C: VDataTable, T: bug

#11317 fix(VSlider): wrong tick labels positions in RTL mode
  packages/vuetify/src/components/VSlider/VSlider.sass
  packages/vuetify/src/components/VSlider/VSlider.ts
Labels: C: VSlider, T: bug, rtl

#11316 fix(VTextField): remove gap when outlined label changes to empty
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField, T: bug

#11033 feat(typography): add break-point functionality to new type classes
  packages/docs/src/components/style/Font.vue
  packages/docs/src/components/style/Typefaces.vue
  packages/docs/src/data/drawerItems.json
  packages/docs/src/data/pages/styles/TextAndTypography.pug
  packages/docs/src/data/pages/styles/Typography.pug
  packages/docs/src/examples/text-and-typography/align-all.vue
  packages/docs/src/examples/text-and-typography/align-justify.vue
  packages/docs/src/examples/text-and-typography/break.vue
  packages/docs/src/examples/text-and-typography/no-wrap.vue
  packages/docs/src/examples/text-and-typography/opacity.vue
  packages/docs/src/examples/text-and-typography/rtl.vue
  packages/docs/src/examples/text-and-typography/transform.vue
  packages/docs/src/examples/text-and-typography/truncate.vue
  packages/docs/src/examples/text-and-typography/typography-breakpoints.vue
  packages/docs/src/examples/text-and-typography/typography.vue
  packages/docs/src/examples/text-and-typography/weights.vue
  packages/docs/src/lang/en/meta.json
  packages/docs/src/lang/en/styles/TextAndTypography.json
  packages/docs/src/lang/en/vuetify/AppDrawer.json
  packages/docs/src/router/301.json
  packages/vuetify/src/styles/settings/_utilities.scss
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/styles/tools/_utilities.sass
Labels: T: feature

#11259 feat(VProgressLinear): `reverse` prop
  packages/docs/src/data/pages/components/ProgressLinear.pug
  packages/docs/src/examples/progress-linear/simple/reverse.vue
  packages/docs/src/lang/en/components/ProgressLinear.json
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.ts
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.ts
  packages/vuetify/src/components/VProgressLinear/__tests__/__snapshots__/VProgressLinear.spec.ts.snap
Labels: C: VProgressLinear, T: bug, T: feature, rtl

#11341 docs(alerts): fix typo
  packages/docs/src/lang/en/components/Alerts.json
Labels: T: documentation

#10362 feat(VPicker): `flat` and `elevation` props for pickers
  packages/docs/src/data/pages/components/ColorPickers.pug
  packages/docs/src/data/pages/components/DatePickers.pug
  packages/docs/src/data/pages/components/TimePickers.pug
  packages/docs/src/examples/color-pickers/simple/elevation.vue
  packages/docs/src/examples/date-pickers/playground.vue
  packages/docs/src/examples/date-pickers/simple/elevation.vue
  packages/docs/src/examples/time-pickers/playground.vue
  packages/docs/src/examples/time-pickers/simple/elevation.vue
  packages/docs/src/lang/en/components/ColorPickers.json
  packages/docs/src/lang/en/components/DatePickers.json
  packages/docs/src/lang/en/components/TimePickers.json
  packages/vuetify/src/components/VColorPicker/VColorPicker.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.date.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.month.spec.ts.snap
  packages/vuetify/src/components/VPicker/VPicker.sass
  packages/vuetify/src/components/VPicker/VPicker.ts
  packages/vuetify/src/components/VPicker/__tests__/VPicker.spec.ts
  packages/vuetify/src/components/VPicker/__tests__/__snapshots__/VPicker.spec.ts.snap
  packages/vuetify/src/components/VTimePicker/__tests__/VTimePicker.spec.ts
  packages/vuetify/src/components/VTimePicker/__tests__/__snapshots__/VTimePicker.spec.ts.snap
  packages/vuetify/src/mixins/picker/index.ts
Labels: C: VColorPicker, C: VDatepicker, C: VTimePicker, T: feature

#11126 feat(VDatePicker): native events on day/month/year
  packages/api-generator/src/maps/v-date-picker.js
  packages/docs/src/data/pages/components/DatePickers.pug
  packages/docs/src/examples/date-pickers/simple/date-button-events.vue
  packages/docs/src/lang/en/components/DatePickers.json
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
  packages/vuetify/src/components/VDatePicker/util/eventHelpers.ts
  packages/vuetify/src/components/VDatePicker/util/index.ts
Labels: C: VDatepicker, T: feature

#11258 feat(accessibility): add visually hidden css utility classes
  packages/docs/src/data/pages/styles/Display.pug
  packages/docs/src/lang/en/styles/Display.json
  packages/vuetify/src/styles/utilities/_index.sass
  packages/vuetify/src/styles/utilities/_screenreaders.sass
Labels: T: feature

#11305 fix(VDatePicker): set proper tableDate if showCurrent is set
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
Labels: C: VDatepicker, T: bug

#11325 fix(VDatePicker, VDataTable): incorrect date picker styling when in data table
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
  packages/vuetify/src/components/VPicker/VPicker.sass
  packages/vuetify/src/components/VPicker/_variables.scss
Labels: C: VDataTable, C: VDatepicker, T: bug

#11333 docs(VDataTable): progress slot is not scoped
  packages/api-generator/src/maps/v-data-table.js
Labels: C: VDataTable

#11254 feat(v-data-table): add item-class property
  packages/docs/src/lang/en/components/DataTables.json
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/types/index.d.ts
Labels: C: VDataTable, T: feature

#11299 fix(VCheckbox,VRadio): ripple color for colored selection control
  packages/vuetify/src/components/VCheckbox/__tests__/VCheckbox.spec.ts
  packages/vuetify/src/components/VCheckbox/__tests__/__snapshots__/VCheckbox.spec.ts.snap
  packages/vuetify/src/components/VRadioGroup/__tests__/VRadio.spec.ts
  packages/vuetify/src/components/VRadioGroup/__tests__/__snapshots__/VRadio.spec.ts.snap
  packages/vuetify/src/components/VRadioGroup/__tests__/__snapshots__/VRadioGroup.spec.ts.snap
  packages/vuetify/src/mixins/selectable/index.ts
Labels: C: VCheckbox, C: VRadio, T: bug

#11232 fix(VTreeview): disabled items should be ignored when selecting parent
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/VTreeviewNode.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
Labels: C: VTreeview, T: bug

#11233 fix(VTreeview): independent children should be selectable when parent is disabled
  packages/vuetify/src/components/VTreeview/VTreeview.sass
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/VTreeviewNode.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
Labels: C: VTreeview

#11332 fix(VDataTable): close multi-sort select when clicking on mobile
  packages/vuetify/src/components/VDataTable/VDataTableHeaderMobile.ts
Labels: C: VDataTable, T: bug

#11334 fix(VDataTable): respect mustSort property in options prop
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VData, C: VDataTable, T: bug

#11339 fix(VTreeview): emit opened nodes when using load-children
  packages/vuetify/src/components/VTreeview/VTreeviewNode.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
  packages/vuetify/src/components/VTreeview/__tests__/__snapshots__/VTreeview.spec.ts.snap
Labels: C: VTreeview, T: bug

#11359 fix(VGrid): offset in RTL mode
  packages/vuetify/src/components/VGrid/_grid.sass
  packages/vuetify/src/components/VGrid/_mixins.sass
Labels: C: VGrid, T: bug, rtl

#11327 fix(vvirtualscroll): the key of the children is not right
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.ts
Labels: C: VVirtualScroll

#11358 fix(VSimpleCheckbox): pass listeners to component
  packages/vuetify/src/components/VCheckbox/VSimpleCheckbox.ts
  packages/vuetify/src/components/VCheckbox/__tests__/VSimpleCheckbox.spec.ts
Labels: C: VSimpleCheckbox, T: bug

#11335 feat(VSheet): move outlined functionality to v-sheet
  packages/docs/src/lang/en/components/Cards.json
  packages/docs/src/lang/en/components/Sheets.json
  packages/docs/src/lang/en/generic/Props.json
  packages/docs/src/lang/en/mixins/Roundable.json
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/_variables.scss
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBar.spec.ts.snap
  packages/vuetify/src/components/VAppBar/_variables.scss
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBanner/VBanner.ts
  packages/vuetify/src/components/VBanner/__tests__/__snapshots__/VBanner.spec.ts.snap
  packages/vuetify/src/components/VBanner/_variables.scss
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.ts
  packages/vuetify/src/components/VBtn/__tests__/__snapshots__/VBtn.spec.ts.snap
  packages/vuetify/src/components/VCard/VCard.sass
  packages/vuetify/src/components/VCard/VCard.ts
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VFooter/VFooter.sass
  packages/vuetify/src/components/VFooter/VFooter.ts
  packages/vuetify/src/components/VFooter/_variables.scss
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VList/VList.ts
  packages/vuetify/src/components/VList/__tests__/__snapshots__/VList.spec.ts.snap
  packages/vuetify/src/components/VList/_variables.scss
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelectList.spec.ts.snap
  packages/vuetify/src/components/VSheet/VSheet.sass
  packages/vuetify/src/components/VSheet/VSheet.ts
  packages/vuetify/src/components/VSheet/__tests__/__snapshots__/VSheet.spec.ts.snap
  packages/vuetify/src/components/VSheet/_variables.scss
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VToolbar/VToolbar.ts
  packages/vuetify/src/components/VToolbar/__tests__/__snapshots__/VToolbar.spec.ts.snap
  packages/vuetify/src/components/VToolbar/_variables.scss
  packages/vuetify/src/mixins/roundable/__tests__/roundable.spec.ts
  packages/vuetify/src/mixins/roundable/index.ts
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/styles/tools/_index.sass
  packages/vuetify/src/styles/tools/_radius.sass
  packages/vuetify/src/styles/tools/_sheet.sass
Labels: C: VSheet, T: feature

#10325 feat(VForm): add form level disabled prop
  packages/docs/src/lang/en/components/Forms.json
  packages/vuetify/src/components/VCheckbox/VCheckbox.ts
  packages/vuetify/src/components/VForm/VForm.ts
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.ts
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VRadioGroup/VRadio.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSlider/VSlider.ts
  packages/vuetify/src/components/VSwitch/VSwitch.ts
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/mixins/validatable/index.ts
Labels: C: VForm, T: feature

#10366 feat(VDatePicker): prev/next month/year icon aria label
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerHeader.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.date.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.month.spec.ts.snap
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
Labels: C: VDatepicker, T: feature, a11y

#10909 feat: allow all console messages to be disabled
  packages/docs/src/data/drawerItems.json
  packages/docs/src/data/pages/customization/GlobalConfig.pug
  packages/docs/src/lang/en/customization/GlobalConfig.json
  packages/docs/src/lang/en/meta.json
  packages/docs/src/lang/en/vuetify/AppDrawer.json
  packages/docs/src/snippets/js/global_config_silent.txt
  packages/vuetify/src/framework.ts
  packages/vuetify/src/util/console.ts
  packages/vuetify/types/index.d.ts
  packages/vuetify/types/test/global.ts
Labels: Framework, T: feature

#11031 feat(VFileInput): add prop 'hide-input'
  packages/vuetify/src/components/VFileInput/VFileInput.ts
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.ts
  packages/vuetify/src/components/VFileInput/__tests__/__snapshots__/VFileInput.spec.ts.snap
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VFileInput, T: feature

#11314 refactor(types-import): change import path for "from 'types'"
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/VCalendarDaily.ts
  packages/vuetify/src/components/VCalendar/VCalendarMonthly.ts
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-intervals.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/times.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-base.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-intervals.ts
  packages/vuetify/src/components/VCalendar/mixins/times.ts
  packages/vuetify/src/components/VCalendar/modes/column.ts
  packages/vuetify/src/components/VCalendar/modes/common.ts
  packages/vuetify/src/components/VCalendar/modes/index.ts
  packages/vuetify/src/components/VCalendar/modes/stack.ts
  packages/vuetify/src/components/VCalendar/util/events.ts
  packages/vuetify/src/components/VCalendar/util/props.ts
  packages/vuetify/src/components/VCalendar/util/timestamp.ts
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataIterator/VDataFooter.ts
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/MobileRow.ts
  packages/vuetify/src/components/VDataTable/Row.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/VDataTableHeaderMobile.ts
  packages/vuetify/src/components/VDataTable/mixins/header.ts
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerDateTable.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerHeader.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerMonthTable.ts
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.ts
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
  packages/vuetify/src/components/VDatePicker/util/createNativeLocaleFormatter.ts
  packages/vuetify/src/components/VDatePicker/util/isDateAllowed.ts
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/VSelectList.ts
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/util/filterTreeItems.ts
  packages/vuetify/src/components/VWindow/VWindow.ts
  packages/vuetify/src/directives/touch/index.ts
  packages/vuetify/src/install.ts
  packages/vuetify/src/mixins/validatable/index.ts
  packages/vuetify/src/util/helpers.ts
Labels: Framework, typescript

#11363 fix(VTextField): remove hover effect when disabled
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: C: VTextField, T: bug

#11374 docs(VDataTable): add v-data-table-header api docs
  packages/docs/src/data/pages/components/DataTables.pug
  packages/docs/src/lang/en/components/DataTables.json
  packages/vuetify/src/components/VDataTable/VDataTableHeader.ts
Labels: C: VDataTable, T: documentation

#11385 docs(VMenu): enhance docs for closeDelay & openDelay
  packages/docs/src/lang/en/components/Menus.json
Labels: T: documentation

#11198 feat(VCalendar): general improvements & category view
  packages/api-generator/src/helpers/variables.js
  packages/api-generator/src/maps/v-calendar.js
  packages/docs/src/data/pages/components/Calendars.pug
  packages/docs/src/examples/calendars/complex/category.vue
  packages/docs/src/examples/calendars/complex/dragndrop.vue
  packages/docs/src/examples/calendars/complex/events.vue
  packages/docs/src/examples/calendars/intermediate/nowline.vue
  packages/docs/src/examples/calendars/playground.vue
  packages/docs/src/examples/calendars/usage.vue
  packages/docs/src/lang/en/components/Calendars.json
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/VCalendarCategory.sass
  packages/vuetify/src/components/VCalendar/VCalendarCategory.ts
  packages/vuetify/src/components/VCalendar/VCalendarDaily.ts
  packages/vuetify/src/components/VCalendar/index.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/__snapshots__/calendar-with-intervals.spec.ts.snap
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-events.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/__tests__/calendar-with-intervals.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-intervals.ts
  packages/vuetify/src/components/VCalendar/modes/__tests__/__snapshots__/common.spec.ts.snap
  packages/vuetify/src/components/VCalendar/modes/column.ts
  packages/vuetify/src/components/VCalendar/modes/common.ts
  packages/vuetify/src/components/VCalendar/modes/stack.ts
  packages/vuetify/src/components/VCalendar/util/__tests__/__snapshots__/events.spec.ts.snap
  packages/vuetify/src/components/VCalendar/util/__tests__/events.spec.ts
  packages/vuetify/src/components/VCalendar/util/__tests__/timestamp.spec.ts
  packages/vuetify/src/components/VCalendar/util/events.ts
  packages/vuetify/src/components/VCalendar/util/props.ts
  packages/vuetify/src/components/VCalendar/util/timestamp.ts
  packages/vuetify/types/index.d.ts
  packages/vuetify/types/lib.d.ts
Labels: C: VCalendar

#11448 feat(VSnackbar): snackbar should account for app level padding
  packages/docs/src/lang/en/components/Snackbars.json
  packages/vuetify/src/components/VSnackbar/VSnackbar.ts
  packages/vuetify/src/components/VSnackbar/__tests__/VSnackbar.spec.ts
  packages/vuetify/src/components/VSnackbar/__tests__/__snapshots__/VSnackbar.spec.ts.snap
Labels: C: VSnackbar

#11467 fix: change curser:default selector to [aria-disabled="true"]
  packages/vuetify/src/styles/generic/_reset.scss
Labels: Framework, T: bug

#11342 fix(VDataTable): set initial values for sort-desc and group-desc
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/util/helpers.ts
Labels: C: VDataTable, T: bug

#11416 fix(VDataTable): header with divider rendered incorrectly in mobile sort select
  packages/vuetify/src/components/VDataTable/VDataTableHeaderMobile.ts
Labels: C: VDataTable

#10928 improvement(VCalendar): show week numbers in month-view
  packages/docs/src/lang/en/components/Calendars.json
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.sass
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.ts
  packages/vuetify/src/components/VCalendar/_variables.scss
  packages/vuetify/src/components/VCalendar/util/props.ts
  packages/vuetify/src/styles/settings/_dark.scss
  packages/vuetify/src/styles/settings/_light.scss
Labels: C: VCalendar, T: feature

#11435 feat(VAvatar): integrate roundable mixin
  packages/vuetify/src/components/VAvatar/VAvatar.sass
  packages/vuetify/src/components/VAvatar/VAvatar.ts
  packages/vuetify/src/components/VAvatar/__tests__/VAvatar.spec.ts
Labels: C: VAvatar, T: feature

#11361 feat(VDataTable): add groupable property to header items
  packages/api-generator/src/maps/v-data-table.js
  packages/docs/src/examples/data-tables/simple/group.vue
  packages/docs/src/lang/en/components/DataTables.json
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/types/index.d.ts
Labels: C: VDataTable, T: feature

#10905 feat(directives): expose all options to templates
  packages/api-generator/src/index.js
  packages/api-generator/src/maps/v-click-outside.js
  packages/api-generator/src/maps/v-intersect.js
  packages/docs/src/data/drawerItems.json
  packages/docs/src/data/pages/directives/ClickOutside.pug
  packages/docs/src/examples/click-outside/close-conditional.vue
  packages/docs/src/examples/click-outside/usage.vue
  packages/docs/src/lang/en/directives/ClickOutside.json
  packages/docs/src/lang/en/meta.json
  packages/docs/src/lang/en/vuetify/AppDrawer.json
  packages/docs/src/snippets/ts/directive_click_outside_value.txt
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDialog/VDialog.ts
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/directives/click-outside/__tests__/click-outside.spec.ts
  packages/vuetify/src/directives/click-outside/index.ts
  packages/vuetify/src/directives/mutate/index.ts
  packages/vuetify/src/directives/scroll/__tests__/scroll.spec.ts
  packages/vuetify/src/directives/scroll/index.ts
  packages/vuetify/src/mixins/intersectable/index.ts
Labels: T: feature

#11480 feat(breakpoint): add global variables/mixin
  packages/docs/src/data/pages/customization/Breakpoints.pug
  packages/docs/src/lang/en/components/SlideGroups.json
  packages/docs/src/lang/en/customization/Breakpoints.json
  packages/docs/src/snippets/html/breakpoint_example1.txt
  packages/docs/src/snippets/ts/breakpoint_service_structure.txt
  packages/vuetify/src/components/VBanner/VBanner.ts
  packages/vuetify/src/components/VBanner/__tests__/VBanner.spec.ts
  packages/vuetify/src/components/VBanner/__tests__/__snapshots__/VBanner.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.ts
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.ts
  packages/vuetify/src/components/VSlideGroup/__tests__/VSlideGroup.spec.ts
  packages/vuetify/src/components/VTabs/VTabs.sass
  packages/vuetify/src/components/VTabs/VTabs.ts
  packages/vuetify/src/components/VTabs/__tests__/VTabs.spec.ts
  packages/vuetify/src/mixins/mobile/__tests__/mobile.spec.ts
  packages/vuetify/src/mixins/mobile/index.ts
  packages/vuetify/src/presets/default/index.ts
  packages/vuetify/src/services/breakpoint/index.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
  packages/vuetify/types/services/breakpoint.d.ts
  packages/vuetify/types/services/presets.d.ts
  packages/vuetify/types/test/presets.ts
Labels: Service: Breakpoint, T: feature
