Repository vuetifyjs/vuetify, pull requests merged in 2020-09, with the labels that each got.

#12188 docs(pwa): convert pwa install/update to a snackbar
  packages/docs/src/components/app/Btn.vue
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/layouts/default/Default.vue
  packages/docs/src/layouts/default/PwaSnackbar.vue
  packages/docs/src/layouts/default/Snackbar.vue
  packages/docs/src/layouts/default/SystemBar.vue
  packages/docs/src/layouts/default/settings/Pwa.vue
  packages/docs/src/layouts/default/settings/Settings.vue
  packages/docs/src/layouts/home/AppBar.vue
  packages/docs/src/plugins/pwa-events.js
  packages/docs/src/registerServiceWorker.js
  packages/docs/src/service-worker.js
  packages/docs/src/store/index.js
  packages/docs/src/store/modules/app.js
  packages/docs/src/store/modules/pwa.js
  packages/docs/src/store/modules/user.js
  packages/docs/vue.config.js
Labels: T: documentation

#12252 chore: remove fibers recommendation and upgrade sass
  package.json
  packages/docs/src/pages/en/features/treeshaking.md
  packages/docs/src/pages/en/getting-started/frequently-asked-questions.md
  packages/docs/src/pages/en/getting-started/installation.md
  packages/vuetify/build/webpack.base.config.js
  packages/vuetify/package.json
  yarn.lock
Labels: T: documentation

#11711 fix(VCard): hover works only for outlined cards
  packages/vuetify/src/components/VCard/VCard.sass
Labels: C: VCard, T: bug

#11748 fix(VTextField): remove erroneous white space #11747
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: T: bug

#11772 feat(Typography): add text-pre-wrap utility class (#11772)
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: Framework, T: feature

#11816 fix(VTextField): use resize directive to recalculate elements width
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField, T: bug

#11897 fix(VFileInput): avoid input field event capturing in safari
  packages/vuetify/src/components/VFileInput/VFileInput.sass
Labels: C: VFileInput, T: bug, platform specific

#12289 fix(VColorPicker): use theme color for color-picker inputs
  packages/vuetify/src/components/VColorPicker/VColorPicker.sass
Labels: C: VColorPicker, T: bug

#12148 fix(VIcon): render a button element around clickable component icons
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/VIcon.ts
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VIcon/__tests__/__snapshots__/VIcon.spec.ts.snap
Labels: C: VIcon, T: bug
