Repository vuetifyjs/vuetify, pull requests merged in 2020-03, with the labels that each got.

#10411 fix(VColorPicker): hide alpha input correctly
  packages/vuetify/src/components/VColorPicker/VColorPicker.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/util/index.ts
Labels: C: VColorPicker

#10687 docs(VButton): remove text prop when using icon
  packages/docs/src/examples/buttons/simple/icon.vue
Labels: T: documentation

#10690 docs(VSimpleCheckbox): Change click event input
  packages/api-generator/src/maps/v-simple-checkbox.js
Labels: T: documentation

#10766 docs(Team): Add Johanna
  packages/docs/src/components/getting-started/Team.vue
Labels: T: documentation

#10784 docs(VSlider): added custom thumb label slot example
  packages/docs/src/examples/sliders/simple/thumb.vue
Labels: C: VSlider, T: documentation

#10676 docs: Add FAQ entry on importing components in codepen
  packages/docs/src/lang/en/introduction/FrequentlyAskedQuestions.json
  packages/docs/src/snippets/js/extend_component.txt
Labels: T: documentation

#10762 docs(VForm): remove snackbar from the validate button example
  packages/docs/src/examples/forms/playground.vue
  packages/docs/src/examples/forms/simple/validation-with-submit-and-clear.vue
Labels: C: VForm, T: documentation

#10728 ci: add gitpod config
  .gitpod.yml
Labels: T: documentation

#10777 docs(VDataIterator): fix usage container cropping
  packages/docs/src/usages/data-iterators.vue
Labels: T: documentation

#10717 fix(vlist.sass): fix menu list items on IE11
  packages/vuetify/src/components/VList/VListItem.sass
Labels: C: VList, platform specific

#10650 fix(VColorPicker): center swatch grid
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.sass
Labels: C: VColorPicker, T: bug

#10706 fix(VColorPicker): incorrect layout in RTL mode
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.ts
  packages/vuetify/src/components/VColorPicker/_variables.scss
Labels: C: VColorPicker, T: bug, rtl

#10792 docs: fix language redirect
  packages/docs/src/components/base/EnterpriseLink.vue
  packages/docs/src/components/base/Item.vue
  packages/docs/src/components/base/Markdown.vue
  packages/docs/src/components/getting-started/WhyVuetify.vue
  packages/docs/src/components/supporters/SponsorBtn.vue
  packages/docs/src/layouts/frontend/AppBar.vue
  packages/docs/src/mixins/meta.js
  packages/docs/src/router/util.js
  packages/docs/src/util/helpers.js
  packages/docs/src/views/home/components/Feature.vue
  packages/docs/src/views/home/components/Hero.vue
  packages/docs/src/views/home/components/PremiumThemes.vue
  packages/docs/src/views/home/components/Sponsors.vue
Labels: S: work in progress, T: bug, T: documentation

#10810 docs(icons): fix broken link
  packages/docs/src/lang/en/framework/Icons.json
Labels: T: documentation, lts

#10807 docs(VDataTable): rename action header in crud example
  packages/docs/src/examples/data-tables/complex/crud.vue
Labels: T: documentation

#10580 docs: correct `BootstrapVue` name and stats
  packages/docs/src/components/base/Comparison.vue
Labels: T: documentation

#10757 docs(demos): use mdi icons on google-youtube
  packages/docs/src/layouts/layouts/demos/google-youtube.vue
Labels: T: documentation, missing information

#10731 docs: fix focusing search input by pressing '/'
  packages/docs/src/layouts/documentation/Search.vue
Labels: T: documentation

#10850 docs(VDataTable): fix "toggleOrder" method in sort example
  packages/docs/src/examples/data-tables/intermediate/sort.vue
Labels: C: VDataTable, T: documentation

#10824 fix(VNavigationDrawer): change closed navigation drawer visibility
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
Labels: C: VNavigationDrawer, T: bug, a11y

#10867 docs: add localhost port for dev environment setup
  packages/docs/src/snippets/bash/yarn_startup_vuetify.txt
Labels: T: documentation

#10853 fix(VSelect): emit click event
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect4.spec.ts
Labels: C: VSelect, T: bug

#10816 fix(VTreeview.sass): center vertically treeview items on IE11
  packages/vuetify/src/components/VTreeview/VTreeview.sass
Labels: C: VTreeview, T: bug

#10789 fix(locale): Fix german translation `carousel.ariaLabel`
  packages/vuetify/src/locale/de.ts
Labels: C: VCarousel, Service: Lang, T: bug

#10781 fix(VAutocomplete): prefix overlap with placeholder
  packages/vuetify/src/components/VSelect/VSelect.sass
Labels: C: VAutocomplete, C: VCombobox, C: VSelect, T: bug

#10769 fix(VDataTable): pagination event fires twice in a row
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: C: VDataTable

#10768 fix(VSlider): readonly should apply only to slider control
  packages/vuetify/src/components/VSlider/VSlider.sass
Labels: C: VSlider, T: bug

#10759 fix(VNavigationDrawer): scrolling in temporary hide-overlay
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
Labels: C: VNavigationDrawer, T: bug

#10705 fix(VTextField): incorrectly displayed counter with hide-details=auto
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
Labels: C: VTextField, T: bug

#10694 fix(VSelect): incorrect dense height
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: C: VSelect, T: bug

#10653 fix(VTreeview): respect selection-type when rebuilding tree
  packages/vuetify/src/components/VTreeview/VTreeview.ts
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.ts
Labels: C: VTreeview, T: bug

#9926 feat(VPagination): add a11y support
  packages/vuetify/src/components/VPagination/VPagination.ts
  packages/vuetify/src/components/VPagination/__tests__/VPagination.spec.ts
  packages/vuetify/src/components/VPagination/__tests__/__snapshots__/VPagination.spec.ts.snap
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
Labels: C: VPagination, T: enhancement

#10656 fix(VAppBar): inverted scroll not hiding the app bar in an edge case
  packages/vuetify/src/components/VAppBar/VAppBar.ts
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.ts
Labels: C: VAppBar, T: bug

#10707 fix(VSimpleTable): set max width to 100%
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
Labels: C: VDataTable, T: bug

#10771 fix(VDataTable): groups should be sorted according to groupDesc
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VData/__tests__/VData.spec.ts
  packages/vuetify/src/components/VData/__tests__/__snapshots__/VData.spec.ts.snap
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/types/index.d.ts
Labels: C: VDataTable, T: bug

#10876 fix(VProgressLinear): use both horizontal and vertical repeat
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
Labels: C: VProgressLinear, T: bug

#9638 fix(VDataTable): show correct aria-labels for sorting
  packages/vuetify/src/components/VDataTable/VDataTableHeaderDesktop.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTableHeader.spec.ts.snap
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
Labels: C: VDataTable, T: bug

#10855 fix(VImg): correctly pass options to intersect directive
  packages/vuetify/src/components/VImg/VImg.ts
  packages/vuetify/src/directives/intersect/index.ts
Labels: C: VImg, T: bug

#10903 10862 fix application width in VNavigationDrawer
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.ts
Labels: C: VNavigationDrawer, T: bug

#10241 fix(VGrid): correct row width in fill-height container
  packages/vuetify/src/components/VGrid/_grid.sass
Labels: C: VGrid

#10806 fix(VSkeletonLoader): remove unnecessary border-radius on skeleton-loader card style
  packages/vuetify/src/components/VSkeletonLoader/VSkeletonLoader.sass
Labels: C: VSkeletonLoader, T: bug
