Repository vuetifyjs/vuetify, pull requests merged in 2021-06, with the labels that each got.

#13670 fix(Menuable): correctly calculate position in embedded v-app
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VTooltip/VTooltip.ts
  packages/vuetify/src/mixins/menuable/__tests__/menuable.spec.ts
  packages/vuetify/src/mixins/menuable/index.ts
Labels: C: VMenu, T: bug

#13669 fix(VCarousel): prevent TypeError in v-if
  packages/vuetify/src/components/VCarousel/VCarousel.ts
  packages/vuetify/src/components/VCarousel/VCarouselItem.ts
  packages/vuetify/src/components/VCarousel/__tests__/VCarousel.spec.ts
Labels: C: VCarousel, T: bug

#13456 fix(VDatePicker): prevent scroll beyond max date with touchpad
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerDateTable.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerMonthTable.spec.ts
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
Labels: C: VDatepicker, T: bug

#13667 fix(VCalendar): display events ending at midnight
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/util/__tests__/events.spec.ts
  packages/vuetify/src/components/VCalendar/util/events.ts
Labels: C: VCalendar, T: bug

#13270 fix(VCalendar): add support for string[] of categories
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/VCalendarCategory.ts
  packages/vuetify/src/components/VCalendar/__tests__/VCalendarCategory.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/util/parser.ts
Labels: C: VCalendar, T: bug

#13412 fix(VChip): icon size based on chip size prop
  packages/vuetify/src/components/VChip/VChip.sass
Labels: C: VChip, T: bug

#13718 feat(theme): theme prop is now available on each component
  packages/api-generator/src/locale/en/theme.json
  packages/api-generator/src/locale/en/themeable.json
  packages/api-generator/src/locale/en/v-app.json
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-theme-provider/prop-with-background.vue
  packages/docs/src/pages/en/components/theme-providers.md
  packages/docs/src/pages/en/features/theme.md
  packages/vuetify/src/components/VApp/VApp.tsx
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VDivider/VDivider.tsx
  packages/vuetify/src/components/VFooter/VFooter.tsx
  packages/vuetify/src/components/VItemGroup/VItemGroup.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VSheet/VSheet.tsx
  packages/vuetify/src/components/VSystemBar/VSystemBar.tsx
  packages/vuetify/src/components/VThemeProvider/VThemeProvider.tsx
  packages/vuetify/src/components/VThemeProvider/__tests__/VThemeProvider.cy.spec.tsx
  packages/vuetify/src/components/VThemeProvider/__tests__/VThemeProvider.spec.ts
  packages/vuetify/src/components/VThemeProvider/__tests__/__snapshots__/VThemeProvider.spec.ts.snap
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/theme.ts
Labels: Service: Theme

#13743 feat: add VDefaultsProvider component
  packages/api-generator/src/locale/en/v-defaults-provider.json
  packages/api-generator/src/maps/components/v-defaults-provider.js
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-defaults-provider/prop-defaults.vue
  packages/docs/src/pages/en/components/defaults-providers.md
  packages/docs/src/pages/en/components/theme-providers.md
  packages/vuetify/src/components/VDefaultsProvider/VDefaultsProvider.tsx
  packages/vuetify/src/components/VDefaultsProvider/__tests__/VDefaultsProvider.cy.spec.tsx
  packages/vuetify/src/components/VDefaultsProvider/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/defaults.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/util/makeProps.ts
Labels: C: New Component, T: feature

#13758 docs: fix selection color in prism for dark theme
  packages/docs/src/components/app/Code.vue
Labels: T: documentation

#13392 docs(upgrade-guide.md): add prepend/append-icon-cb removal
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#13733 feat(locale): add danish locale
  packages/docs/src/pages/en/features/internationalization.md
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/index.ts
Labels: Service: Lang, T: feature

#13395 fix(types): add declaration for vuetify/lib/components
  packages/vuetify/types/lib.d.ts
Labels: typescript

#13774 fix(VMenu): activator should not return non Element nodes
  packages/vuetify/src/mixins/activatable/index.ts
Labels: C: VMenu, T: bug

#13366 fix(VCombobox): correctly handle duplicate items
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox-multiple.spec.ts
Labels: C: VCombobox, S: has merge conflicts, T: bug

#13682 feat(VInput): add hide-spin-buttons prop
  packages/api-generator/src/locale/en/v-input.json
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.ts
Labels: C: VInput, T: feature

#13760 feat(VCalendar): pass native event to v-calendar click:* events
  packages/api-generator/src/helpers/variables.js
  packages/api-generator/src/locale/en/v-calendar.json
  packages/api-generator/src/maps/v-calendar.js
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
  packages/vuetify/src/components/VCalendar/mixins/mouse.ts
Labels: C: VCalendar, T: enhancement

#13763 fix(VCalendar): missing events under certain circumstances
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
Labels: C: VCalendar, T: bug

#13789 fix(VCard): set correct radius for direct VAvatar children
  packages/vuetify/src/components/VCard/VCard.sass
Labels: C: VCard, T: bug

#12855 feat(VDatePicker): add date range first & last classes
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
Labels: C: VDatepicker, T: feature

#13796 test: fix broken test cases
  packages/vuetify/src/components/VBanner/__tests__/VBanner.spec.ts
  packages/vuetify/src/components/VBtn/VBtn.cy.spec.tsx
  packages/vuetify/src/components/VDefaultsProvider/VDefaultsProvider.cy.spec.tsx
  packages/vuetify/src/components/VDivider/__tests__/VDivider.spec.ts
  packages/vuetify/src/components/VFooter/__tests__/VFooter.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/VCol.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/VContainer.spec.ts
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VImg/__tests__/VImg.spec.ts
  packages/vuetify/src/components/VLazy/__tests__/VLazy.spec.ts
  packages/vuetify/src/components/VList/__tests__/VList.spec.ts
  packages/vuetify/src/components/VList/__tests__/VListItem.spec.ts
  packages/vuetify/src/components/VList/__tests__/VListItemAvatar.spec.ts
  packages/vuetify/src/components/VList/__tests__/VListItemMedia.spec.ts
  packages/vuetify/src/components/VResponsive/__tests__/VResponsive.spec.ts
  packages/vuetify/src/components/VSheet/__tests__/VSheet.spec.ts
  packages/vuetify/src/components/VSystemBar/__tests__/VSystemBar.spec.ts
  packages/vuetify/src/components/VThemeProvider/VThemeProvider.cy.spec.tsx
  packages/vuetify/src/util/__tests__/__snapshots__/makeProps.spec.ts.snap
  packages/vuetify/src/util/__tests__/makeProps.spec.ts
Labels: testing

#13804 feat(framework): expose this.$vuetify
  packages/vuetify/dev/Playground.template.vue
  packages/vuetify/src/components/VGrid/__tests__/VCol.spec.ts
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VImg/__tests__/VImg.spec.ts
  packages/vuetify/src/composables/defaults.ts
  packages/vuetify/src/composables/display.ts
  packages/vuetify/src/composables/icons.tsx
  packages/vuetify/src/composables/locale.ts
  packages/vuetify/src/composables/rtl.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/globals.d.ts
Labels: T: feature

#13814 docs(VDataTable): add item-key prop info to expandable section
  packages/docs/src/pages/en/components/data-tables.md
Labels: T: documentation

#13807 feat(types): generate definitions for components
  package.json
  packages/vuetify/.gitignore
  packages/vuetify/build/rollup.config.js
  packages/vuetify/package.json
  packages/vuetify/src/components/VDatePicker/util/eventHelpers.ts
  packages/vuetify/src/composables/defaults.ts
  packages/vuetify/src/composables/resizeObserver.ts
  packages/vuetify/src/directives/intersect/index.ts
  packages/vuetify/src/directives/touch/index.ts
  packages/vuetify/src/entry-bundler.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/mixins/proxyable/index.ts
  packages/vuetify/src/mixins/toggleable/index.ts
  packages/vuetify/src/util/colorUtils.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/tsconfig.dist.json
  packages/vuetify/tsconfig.json
  packages/vuetify/types/.npmignore
  packages/vuetify/types/alacarte.d.ts
  packages/vuetify/types/colors.d.ts
  packages/vuetify/types/cypress.d.ts
  packages/vuetify/types/index.d.ts
  packages/vuetify/types/lib.d.ts
  packages/vuetify/types/services/application.d.ts
  packages/vuetify/types/services/breakpoint.d.ts
  packages/vuetify/types/services/goto.d.ts
  packages/vuetify/types/services/icons.d.ts
  packages/vuetify/types/services/index.d.ts
  packages/vuetify/types/services/lang.d.ts
  packages/vuetify/types/services/theme.d.ts
  packages/vuetify/types/test/alacarte.ts
  packages/vuetify/types/test/global.ts
  packages/vuetify/types/test/lib.ts
  packages/vuetify/types/test/presets.ts
  packages/vuetify/types/test/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: T: enhancement, typescript

#13812 fix(types): add missing `goTo` types
  packages/api-generator/src/maps/$vuetify.js
  packages/api-generator/src/maps/vuetify.js
  packages/docs/src/components/api/ApiTable.vue
  packages/vuetify/src/services/goto/index.ts
  packages/vuetify/types/index.d.ts
  packages/vuetify/types/services/goto.d.ts
Labels: Service: Goto, typescript

#13810 docs(flex): add iteration num to example template
  packages/docs/src/examples/flex/flex-wrap-reverse.vue
  packages/docs/src/examples/flex/flex-wrap.vue
Labels: T: documentation

#13818 docs(v-combobox): fix close icon - misc advanced custom options
  packages/docs/src/examples/v-combobox/misc-advanced.vue
Labels: T: documentation

#13808 refactor: replace 'var' with 'let' and 'const'
  packages/docs/.eslintrc.js
  packages/docs/src/crowdin.template.html
  packages/docs/src/registerServiceWorker.js
  packages/vuetify/.eslintrc.js
  packages/vuetify/src/components/VTimePicker/__tests__/VTimePicker.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: Framework, T: enhancement

#13835 docs(text-fields): remove conflict msg about cant use append/prepend icon
  packages/docs/src/pages/en/components/overflow-btns.md
  packages/docs/src/pages/en/components/text-fields.md
Labels: C: VOverflowBtn, C: VTextField, T: documentation

#13838 fix(types): declare vuetify/lib/services/goto module
  packages/vuetify/types/lib.d.ts
Labels: Service: Goto, typescript

#13756 feat: add router integration
  package.json
  packages/vuetify/build/webpack.dev.config.js
  packages/vuetify/dev/index.js
  packages/vuetify/package.json
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VCard/VCard.sass
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/composables/router.tsx
  packages/vuetify/src/styles/tools/_states.sass
  packages/vuetify/tsconfig.json
  yarn.lock
Labels: C: VBtn, C: VCard, C: VList, E: New Composable, T: feature

#13811 feat: create variant composable
  packages/api-generator/src/locale/en/border.json
  packages/api-generator/src/locale/en/variant.json
  packages/docs/src/examples/v-btn/prop-outlined.vue
  packages/docs/src/examples/v-card/prop-outlined.vue
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBarNavIcon.spec.tsx.snap
  packages/vuetify/src/components/VAppBar/_variables.scss
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBanner/_variables.scss
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VCard/VCard.sass
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VCard/__tests__/__snapshots__/VCard.spec.ts.snap
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VDivider/VDivider.sass
  packages/vuetify/src/components/VDivider/_variables.scss
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VList/__tests__/__snapshots__/VListItem.spec.ts.snap
  packages/vuetify/src/components/VList/_variables.scss
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
  packages/vuetify/src/components/VSheet/VSheet.sass
  packages/vuetify/src/components/VSheet/_variables.scss
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/__tests__/border.spec.ts
  packages/vuetify/src/composables/__tests__/variant.spec.ts
  packages/vuetify/src/composables/border.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/composables/variant.ts
  packages/vuetify/src/styles/tools/_border.sass
  packages/vuetify/src/styles/tools/_index.sass
  packages/vuetify/src/styles/tools/_variant.sass
Labels: C: VBtn, C: VCard, C: VList, E: New Composable, Framework, T: feature

#13689 fix: apply default color and background for sheet elements
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VAppBar/_variables.scss
  packages/vuetify/src/components/VBadge/VBadge.sass
  packages/vuetify/src/components/VBadge/_variables.scss
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBanner/_variables.scss
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
  packages/vuetify/src/components/VFooter/VFooter.sass
  packages/vuetify/src/components/VFooter/_variables.scss
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
  packages/vuetify/src/components/VSheet/VSheet.sass
  packages/vuetify/src/components/VSheet/_variables.scss
  packages/vuetify/src/styles/tools/_theme.sass
Labels: T: feature

#13566 feat(VTimeline): update to v3
  packages/api-generator/src/locale/en/v-timeline-item.json
  packages/api-generator/src/locale/en/v-timeline.json
  packages/api-generator/src/maps/components/v-timeline-item.js
  packages/docs/src/examples/v-timeline/prop-color.vue
  packages/docs/src/examples/v-timeline/prop-dense.vue
  packages/docs/src/examples/v-timeline/prop-mirror.vue
  packages/docs/src/examples/v-timeline/prop-single-side.vue
  packages/docs/src/examples/v-timeline/prop-size.vue
  packages/docs/src/examples/v-timeline/prop-small.vue
  packages/docs/src/examples/v-timeline/slot-icon.vue
  packages/docs/src/examples/v-timeline/slot-opposite.vue
  packages/docs/src/examples/v-timeline/slot-timeline-item-default.vue
  packages/docs/src/pages/en/components/timelines.md
  packages/vuetify/src/components/VLocaleProvider/VLocaleProvider.sass
  packages/vuetify/src/components/VLocaleProvider/VLocaleProvider.tsx
  packages/vuetify/src/components/VTimeline/VTimeline.sass
  packages/vuetify/src/components/VTimeline/VTimeline.ts
  packages/vuetify/src/components/VTimeline/VTimeline.tsx
  packages/vuetify/src/components/VTimeline/VTimelineDivider.tsx
  packages/vuetify/src/components/VTimeline/VTimelineItem.ts
  packages/vuetify/src/components/VTimeline/VTimelineItem.tsx
  packages/vuetify/src/components/VTimeline/__tests__/VTimeline.spec.ts
  packages/vuetify/src/components/VTimeline/__tests__/VTimelineItem.spec.ts
  packages/vuetify/src/components/VTimeline/__tests__/__snapshots__/VTimeline.spec.ts.snap
  packages/vuetify/src/components/VTimeline/__tests__/__snapshots__/VTimelineItem.spec.ts.snap
  packages/vuetify/src/components/VTimeline/_index.scss
  packages/vuetify/src/components/VTimeline/_mixins.sass
  packages/vuetify/src/components/VTimeline/_variables.scss
  packages/vuetify/src/components/VTimeline/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/density.ts
Labels: C: VTimeline, T: feature

#13825 fix(VCombobox): re-compute menu items before setting index
  packages/vuetify/src/components/VSelect/VSelect.ts
Labels: C: VCombobox, C: VSelect, T: bug

#13848 fix(VDialog): resolve style inconsistencies and structure
  packages/vuetify/src/components/VCard/VCard.sass
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VDialog/_variables.scss
  packages/vuetify/src/components/VSheet/VSheet.sass
  packages/vuetify/src/components/VSheet/_variables.scss
Labels: C: VDialog, T: bug, md2

#13597 feat(VProgressCircular): port to v3
  packages/api-generator/src/locale/en/v-progress-circular.json
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.sass
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.ts
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.tsx
  packages/vuetify/src/components/VProgressCircular/_index.scss
  packages/vuetify/src/components/VProgressCircular/_variables.scss
  packages/vuetify/src/components/VProgressCircular/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/intersectionObserver.ts
  packages/vuetify/src/mixins/intersectable/__tests__/intersectable.spec.ts
  packages/vuetify/src/mixins/intersectable/index.ts
  packages/vuetify/src/styles/settings/_variables.scss
Labels: C: VProgressCircular
