Repository vuetifyjs/vuetify, pull requests merged in 2021-12, with the labels that each got.

#14450 fix(application): allow use of multiple drawers
  packages/vuetify/src/services/application/index.ts
Labels: T: bug, Service: Application

#14453 docs(v-badge): remove unused show
  packages/docs/src/examples/v-badge/misc-dynamic.vue
Labels: T: documentation, C: VBadge

#14036 fix(VStepperStep): editable step tab navigation
  packages/vuetify/src/components/VStepper/VStepperStep.ts
  packages/vuetify/src/components/VStepper/__tests__/__snapshots__/VStepperStep.spec.ts.snap
Labels: T: bug, a11y, C: VStepper

#14123 feat(VSlider): update to v3
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.sass
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VRangeSlider/index.ts
  packages/vuetify/src/components/VSlider/VSlider.sass
  packages/vuetify/src/components/VSlider/VSlider.ts
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSlider/VSliderThumb.sass
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
  packages/vuetify/src/components/VSlider/VSliderTrack.sass
  packages/vuetify/src/components/VSlider/VSliderTrack.tsx
  packages/vuetify/src/components/VSlider/_variables.scss
  packages/vuetify/src/components/VSlider/index.ts
  packages/vuetify/src/components/VSlider/slider.ts
  packages/vuetify/src/components/VTooltip/_variables.scss
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/elevation.ts
  packages/vuetify/src/composables/focus.ts
  packages/vuetify/src/composables/rounded.ts
  packages/vuetify/src/composables/theme.ts
Labels: C: VSlider, C: VRangeSlider

#14486 fix(VField): don't show gap when missing label
  packages/vuetify/src/components/VField/VField.tsx
Labels: T: bug, C: VField

#14510 refactor(composables): infer composable name
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VAvatar/VAvatar.tsx
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtnGroup/VBtnGroup.tsx
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.tsx
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFooter/VFooter.tsx
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.tsx
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
  packages/vuetify/src/components/VSheet/VSheet.tsx
  packages/vuetify/src/components/VSlider/VSliderTrack.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/components/VSystemBar/VSystemBar.tsx
  packages/vuetify/src/components/VTable/VTable.tsx
  packages/vuetify/src/components/VTimeline/VTimeline.tsx
  packages/vuetify/src/composables/border.ts
  packages/vuetify/src/composables/density.ts
  packages/vuetify/src/composables/loader.tsx
  packages/vuetify/src/composables/position.ts
  packages/vuetify/src/composables/rounded.ts
  packages/vuetify/src/composables/size.ts
  packages/vuetify/src/composables/validation.ts
  packages/vuetify/src/composables/variant.tsx
  packages/vuetify/src/util/getCurrentInstance.ts
  packages/vuetify/src/util/helpers.ts
Labels: Framework

#14533 feat(defaults): add support to scope defaults
  packages/vuetify/src/components/VDefaultsProvider/VDefaultsProvider.tsx
  packages/vuetify/src/composables/defaults.ts
Labels: T: feature, Framework, E: defaults

#14523 fix(VNavigationDrawer): always bind mouseover events
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
Labels: T: bug, C: VNavigationDrawer

#14534 feat(theme): support ssr with @vueuse/head
  packages/vuetify/dev/index.js
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/framework.ts
Labels: T: feature, SSR, E: theme

#14537 refactor(defaults): simplify provideDefaults interface
  packages/vuetify/src/components/VBtnGroup/VBtnGroup.tsx
  packages/vuetify/src/components/VDefaultsProvider/VDefaultsProvider.tsx
  packages/vuetify/src/composables/defaults.ts
Labels: Framework, E: defaults

#14460 fix(VOtpInput): update the `otp` when `value` changes
  packages/vuetify/src/components/VOtpInput/VOtpInput.ts
Labels: T: bug, C: VOtpInput

#14509 refactor(VField): separate from VInput
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/composables/forwardRef.ts
  packages/vuetify/src/util/helpers.ts
Labels: C: VInput, C: VField
