Repository vuetifyjs/vuetify, pull requests merged in 2021-08, with the labels that each got.

#14027 feat(VOverlay): implement activator prop
  package.json
  packages/api-generator/package.json
  packages/vuetify/package.json
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/useActivator.tsx
  packages/vuetify/src/composables/transition.ts
  yarn.lock
Labels: C: VOverlay

#14030 feat(VMenu): port to v3
  packages/vuetify/src/components/VCard/VCard.sass
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VDialog/_variables.scss
  packages/vuetify/src/components/VLayout/VLayout.sass
  packages/vuetify/src/components/VMenu/VMenu.sass
  packages/vuetify/src/components/VMenu/VMenu.ts
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VMenu/_index.scss
  packages/vuetify/src/components/VMenu/_variables.scss
  packages/vuetify/src/components/VMenu/index.ts
  packages/vuetify/src/components/VOverlay/VOverlay.sass
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/_variables.scss
  packages/vuetify/src/components/VOverlay/positionStrategies.ts
  packages/vuetify/src/components/VOverlay/scrollStrategies.ts
  packages/vuetify/src/components/VOverlay/util/anchor.ts
  packages/vuetify/src/components/VOverlay/util/point.ts
  packages/vuetify/src/components/VSheet/VSheet.sass
  packages/vuetify/src/components/VSheet/_variables.scss
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/components/transitions/dialog-transition.tsx
  packages/vuetify/src/mixins/menuable/__tests__/menuable.spec.ts
  packages/vuetify/src/mixins/menuable/index.ts
  packages/vuetify/src/styles/elements/_global.sass
  packages/vuetify/src/styles/tools/_variant.sass
  packages/vuetify/src/util/animation.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/src/util/index.ts
  packages/vuetify/src/util/isFixedPosition.ts
Labels: C: VMenu, Vuetify 3 - Phase 3

#13659 feat(VProgressLinear): update to v3
  packages/api-generator/src/locale/en/v-progress-linear.json
  packages/api-generator/src/maps/components/v-progress-linear.js
  packages/docs/src/examples/v-progress-linear/prop-query.vue
  packages/docs/src/pages/en/components/progress-linear.md
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.ts
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.cy.tsx
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.ts
  packages/vuetify/src/components/VProgressLinear/__tests__/__snapshots__/VProgressLinear.spec.ts.snap
  packages/vuetify/src/components/VProgressLinear/_index.scss
  packages/vuetify/src/components/VProgressLinear/_variables.scss
  packages/vuetify/src/components/VProgressLinear/index.ts
  packages/vuetify/src/components/index.ts
Labels: T: feature, C: VProgressLinear, Vuetify 3 - Phase 3

#14052 feat(VTooltip): update for v3
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.sass
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/positionStrategies.ts
  packages/vuetify/src/components/VOverlay/requestNewFrame.ts
  packages/vuetify/src/components/VOverlay/scrollStrategies.ts
  packages/vuetify/src/components/VOverlay/useActivator.tsx
  packages/vuetify/src/components/VTooltip/VTooltip.sass
  packages/vuetify/src/components/VTooltip/VTooltip.ts
  packages/vuetify/src/components/VTooltip/VTooltip.tsx
  packages/vuetify/src/components/VTooltip/_variables.scss
  packages/vuetify/src/components/VTooltip/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/components/transitions/dialog-transition.tsx
  packages/vuetify/src/composables/teleport.ts
  packages/vuetify/src/styles/generic/_transitions.scss
Labels: T: enhancement, T: feature, C: VDialog, C: VMenu, C: VTooltip, C: VOverlay

#14059 fix(VBtn): only show focus if activated by keyboard
  package.json
  packages/vuetify/package.json
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/styles/tools/_states.sass
  yarn.lock
Labels: T: enhancement, C: VBtn

#14029 feat(VFileInput): update to v3
  package.json
  packages/vuetify/build/webpack.dev.config.js
  packages/vuetify/cypress/fixtures/text.txt
  packages/vuetify/cypress/support/index.ts
  packages/vuetify/dev/index.vite.html
  packages/vuetify/dev/index.webpack.html
  packages/vuetify/package.json
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/VFileInput.ts
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.cy.tsx
  packages/vuetify/src/components/VFileInput/_variables.scss
  packages/vuetify/src/components/VFileInput/index.scss
  packages/vuetify/src/components/VFileInput/index.ts
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VInput/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/iconsets/fa4.ts
  packages/vuetify/src/iconsets/md.ts
  packages/vuetify/src/iconsets/mdi-svg.ts
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/types/cypress.d.ts
  packages/vuetify/vite.config.js
  yarn.lock
Labels: T: feature, C: VFileInput, Vuetify 3 - Phase 3

#14064 feat(VField): create new component
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VField/VFieldLabel.tsx
  packages/vuetify/src/components/VField/_index.scss
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VField/index.ts
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VInput/_variables.scss
  packages/vuetify/src/components/VInput/index.ts
  packages/vuetify/src/components/index.ts
Labels: T: feature, C: New Component, Vuetify 3 - Phase 3

#14061 docs: make sure sitemap includes all paths
  packages/docs/build/generate-routes.js
  packages/docs/build/prerender.js
  packages/docs/build/sitemap.js
Labels: T: documentation

#14066 docs(prerender): do not prerender wireframes
  packages/docs/build/generate-routes.js
  packages/docs/build/prerender.js
Labels: T: documentation

#13937 test: add ability to create percy snapshots
  package.json
  packages/vuetify/.env.example
  packages/vuetify/.gitignore
  packages/vuetify/cypress/support/index.ts
  packages/vuetify/cypress/templates/CenteredGrid.tsx
  packages/vuetify/package.json
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.cy.tsx
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.cy.tsx
  packages/vuetify/src/components/VPagination/__tests__/VPagination.spec.cy.tsx
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.cy.tsx
  packages/vuetify/types/cypress.d.ts
  yarn.lock
Labels: testing

#13692 test: add additional v-btn tests
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/cypress/templates/generateStories.tsx
  packages/vuetify/cypress/templates/index.ts
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.cy.tsx
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.ts
  packages/vuetify/src/components/VBtn/__tests__/__snapshots__/VBtn.spec.ts.snap
  packages/vuetify/types/cypress.d.ts
Labels: testing

#14038 fix(VIcon): allow colons to be used in icon names
  packages/vuetify/src/composables/__tests__/icons.spec.ts
  packages/vuetify/src/composables/icons.tsx
Labels: T: bug, E: icons

#14014 feat(VExpansionPanels): port to v3
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelContent.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelHeader.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelText.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelTitle.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.ts
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.tsx
  packages/vuetify/src/components/VExpansionPanel/__tests__/VExpansionPanel.spec.ts
  packages/vuetify/src/components/VExpansionPanel/__tests__/VExpansionPanelHeader.spec.ts
  packages/vuetify/src/components/VExpansionPanel/__tests__/VExpansionPanels.spec.cy.tsx
  packages/vuetify/src/components/VExpansionPanel/__tests__/VExpansionPanels.spec.ts
  packages/vuetify/src/components/VExpansionPanel/__tests__/__snapshots__/VExpansionPanel.spec.ts.snap
  packages/vuetify/src/components/VExpansionPanel/_variables.scss
  packages/vuetify/src/components/VExpansionPanel/index.ts
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/group.spec.ts
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/composables/lazy.ts
  packages/vuetify/src/iconsets/fa.ts
  packages/vuetify/src/iconsets/fa4.ts
  packages/vuetify/src/iconsets/md.ts
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/mixins/bootable/__tests__/bootable.spec.ts
  packages/vuetify/src/mixins/bootable/index.ts
Labels: C: VExpansionPanel, Vuetify 3 - Phase 3

#14099 feat: define package exports
  packages/docs/src/pages/en/features/display-and-platform.md
  packages/docs/src/pages/en/features/icon-fonts.md
  packages/docs/src/pages/en/features/internationalization.md
  packages/docs/src/pages/en/getting-started/installation.md
  packages/vuetify/build/rollup.config.js
  packages/vuetify/build/rollup.types.config.js
  packages/vuetify/package.json
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/entry-bundler.ts
  packages/vuetify/src/entry.ts
Labels: T: feature

#14102 docs(forms): update Vee-Validate link
  packages/docs/src/pages/en/components/forms.md
Labels: T: documentation
