Repository vuetifyjs/vuetify, pull requests merged in 2021-01, with the labels that each got.

#12759 fix(VTextField): align dense mode text field prefix and content
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: C: VTextField, T: bug

#12892 fix(VBtn): disabled state background-color
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.ts.snap
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.ts
  packages/vuetify/src/components/VBtn/__tests__/__snapshots__/VBtn.spec.ts.snap
Labels: C: VBtn, T: bug

#12857 fix(vcalendar): object inheritance
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/__tests__/VCalendarCategory.spec.ts
Labels: C: VCalendar, T: bug

#12887 feat(tag): create new composable
  packages/vuetify/src/composables/__tests__/tag.spec.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/tag.ts
Labels: Framework, T: feature, V3: Phase 1

#12908 fix(VBtn): show background on non-elevated buttons, fix color states
  packages/docs/src/examples/v-btn-fab/usage.vue
  packages/docs/src/examples/v-btn/usage.vue
  packages/vuetify/src/components/VAlert/__tests__/__snapshots__/VAlert.spec.ts.snap
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBarNavIcon.spec.ts.snap
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.ts.snap
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.ts
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.ts
  packages/vuetify/src/components/VBtn/__tests__/__snapshots__/VBtn.spec.ts.snap
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendar.spec.ts.snap
  packages/vuetify/src/components/VCalendar/__tests__/__snapshots__/VCalendarDaily.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPickerEdit.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataFooter.spec.ts.snap
  packages/vuetify/src/components/VDataIterator/__tests__/__snapshots__/VDataIterator.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VEditDialog.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.date.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePicker.month.spec.ts.snap
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePickerHeader.spec.ts.snap
Labels: C: VBtn, P: critical, T: bug, T: regression

#12925 docs(api): update v-navigation-drawer clipped description
  packages/api-generator/src/locale/en/v-navigation-drawer.json
Labels: T: documentation

#12923 docs(sass-variables): update api link
  packages/docs/src/pages/en/features/sass-variables.md
Labels: T: documentation

#12886 feat(border-radius): add new composable
  packages/vuetify/src/composables/__tests__/border-radius.spec.ts
  packages/vuetify/src/composables/border-radius.ts
  packages/vuetify/src/composables/index.ts
Labels: Framework, T: feature, V3: Phase 1

#12889 refactor(dimensions): update code to unify process
  packages/vuetify/src/composables/__tests__/dimensions.spec.ts
  packages/vuetify/src/composables/dimensions.ts
  packages/vuetify/src/composables/index.ts
Labels: Framework

#12822 feat: update grid system to Vue 3
  packages/vuetify/src/components/VApp/index.ts
  packages/vuetify/src/components/VGrid/VCol.ts
  packages/vuetify/src/components/VGrid/VContainer.ts
  packages/vuetify/src/components/VGrid/VFlex.ts
  packages/vuetify/src/components/VGrid/VGrid.sass
  packages/vuetify/src/components/VGrid/VLayout.ts
  packages/vuetify/src/components/VGrid/VRow.ts
  packages/vuetify/src/components/VGrid/VSpacer.ts
  packages/vuetify/src/components/VGrid/__tests__/VCol.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/VContainer.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/VFlex.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/VGrid.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/VLayout.spec.ts
  packages/vuetify/src/components/VGrid/__tests__/__snapshots__/VContainer.spec.ts.snap
  packages/vuetify/src/components/VGrid/__tests__/__snapshots__/VFlex.spec.ts.snap
  packages/vuetify/src/components/VGrid/__tests__/__snapshots__/VLayout.spec.ts.snap
  packages/vuetify/src/components/VGrid/_grid.sass
  packages/vuetify/src/components/VGrid/_mixins.sass
  packages/vuetify/src/components/VGrid/grid.ts
  packages/vuetify/src/components/VGrid/index.ts
  packages/vuetify/src/components/VThemeProvider/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/proxiedModel.ts
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: C: VGrid, T: feature

#12916 fix(grid): don't halve gutters between v-rows
  packages/vuetify/src/components/VGrid/VGrid.sass
Labels: C: VGrid, T: bug

#12976 feat(position.ts): add new composable
  packages/vuetify/src/composables/__tests__/position.spec.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/position.ts
  packages/vuetify/src/mixins/positionable/index.ts
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: T: feature

#12975 feat(border.ts): add new composable
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/__tests__/border.spec.ts
  packages/vuetify/src/composables/border.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/styles/settings/_utilities.scss
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/styles/tools/_border.sass
  packages/vuetify/src/styles/tools/_index.sass
Labels: C: New Composable, Framework

#12993 feat(VDivider): port to v3
  packages/vuetify/src/components/VDivider/VDivider.sass
  packages/vuetify/src/components/VDivider/VDivider.ts
  packages/vuetify/src/components/VDivider/__tests__/VDivider.spec.ts
  packages/vuetify/src/components/VDivider/__tests__/__snapshots__/VDivider.spec.ts.snap
  packages/vuetify/src/components/VDivider/_variables.scss
  packages/vuetify/src/components/index.ts
Labels: C: VDivider, T: feature, V3: Phase 1

#12943 feat: update VResponsive and VImg to Vue 3
  .eslintrc.js
  packages/vuetify/.eslintrc.js
  packages/vuetify/src/components/VImg/VImg.sass
  packages/vuetify/src/components/VImg/VImg.ts
  packages/vuetify/src/components/VImg/__tests__/VImg.spec.ts
  packages/vuetify/src/components/VImg/__tests__/__snapshots__/VImg.spec.ts.snap
  packages/vuetify/src/components/VImg/_variables.scss
  packages/vuetify/src/components/VImg/index.ts
  packages/vuetify/src/components/VResponsive/VResponsive.ts
  packages/vuetify/src/components/VResponsive/__tests__/VResponsive.spec.ts
  packages/vuetify/src/components/VResponsive/__tests__/__snapshots__/VResponsive.spec.ts.snap
  packages/vuetify/src/components/VResponsive/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/directives/intersect/index.ts
  packages/vuetify/src/directives/ripple/index.ts
  packages/vuetify/src/styles/generic/_transitions.scss
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/src/util/makeProps.ts
  packages/vuetify/src/util/useDirective.ts
Labels: C: VImg, C: VResponsive, V3: Phase 1
