Repository vuetifyjs/vuetify, pull requests merged in 2021-05, with the labels that each got.

#13590 docs(ads): add vuetify ads.
  packages/docs/src/pages/en/features/icon-fonts.md
  packages/docs/src/pages/en/features/presets.md
  packages/docs/src/pages/en/getting-started/frequently-asked-questions.md
  packages/docs/src/pages/en/getting-started/unit-testing.md
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#13427 test: use cypress component testing
  packages/vuetify/.eslintrc.js
  packages/vuetify/cypress.json
  packages/vuetify/cypress/fixtures/example.json
  packages/vuetify/cypress/plugins/index.js
  packages/vuetify/cypress/support/commands.js
  packages/vuetify/cypress/support/index.js
  packages/vuetify/package.json
  packages/vuetify/src/components/VBtn/VBtn.cy.spec.ts
  packages/vuetify/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: T: feature, testing

#13609 feat(styles): remove v-application prefix on styles
  packages/docs/src/pages/en/features/presets.md
  packages/docs/src/pages/en/features/sass-variables.md
  packages/vuetify/src/components/VBanner/_variables.scss
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VCode/VCode.sass
  packages/vuetify/src/components/VCode/_index.scss
  packages/vuetify/src/components/VCode/_variables.scss
  packages/vuetify/src/components/VCode/index.ts
  packages/vuetify/src/components/VDataIterator/_variables.scss
  packages/vuetify/src/components/VDataTable/_variables.scss
  packages/vuetify/src/components/VDialog/_variables.scss
  packages/vuetify/src/components/VKbd/VKbd.sass
  packages/vuetify/src/components/VKbd/_index.scss
  packages/vuetify/src/components/VKbd/_variables.scss
  packages/vuetify/src/components/VKbd/index.ts
  packages/vuetify/src/components/VList/_variables.scss
  packages/vuetify/src/components/VPagination/_variables.scss
  packages/vuetify/src/components/VSlider/_variables.scss
  packages/vuetify/src/components/VSnackbar/_variables.scss
  packages/vuetify/src/components/VStepper/_variables.scss
  packages/vuetify/src/components/VSubheader/VSubheader.sass
  packages/vuetify/src/components/VSystemBar/_variables.scss
  packages/vuetify/src/components/VTabs/_variables.scss
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/styles/elements/_blockquote.sass
  packages/vuetify/src/styles/elements/_code.sass
  packages/vuetify/src/styles/elements/_headings.sass
  packages/vuetify/src/styles/elements/_index.sass
  packages/vuetify/src/styles/elements/_lists.sass
  packages/vuetify/src/styles/elements/_typography.sass
  packages/vuetify/src/styles/generic/_elevation.scss
  packages/vuetify/src/styles/settings/_dark.scss
  packages/vuetify/src/styles/settings/_light.scss
  packages/vuetify/src/styles/settings/_utilities.scss
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/styles/tools/_utilities.sass
  packages/vuetify/src/styles/utilities/_display.sass
  packages/vuetify/src/styles/utilities/_text.sass
  packages/vuetify/types/lib.d.ts
Labels: Framework, T: feature, sass

#13575 feat(VAppBar): convert to v3
  packages/api-generator/src/locale/en/v-app-bar.json
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-app-bar/prop-density.vue
  packages/docs/src/pages/en/components/app-bars.md
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VAppBar/VAppBar.ts
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VAppBar/VAppBarNavIcon.ts
  packages/vuetify/src/components/VAppBar/VAppBarNavIcon.tsx
  packages/vuetify/src/components/VAppBar/VAppBarTitle.sass
  packages/vuetify/src/components/VAppBar/VAppBarTitle.ts
  packages/vuetify/src/components/VAppBar/VAppBarTitle.tsx
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.ts
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.tsx
  packages/vuetify/src/components/VAppBar/__tests__/VAppBarNavIcon.spec.ts
  packages/vuetify/src/components/VAppBar/__tests__/VAppBarNavIcon.spec.tsx
  packages/vuetify/src/components/VAppBar/__tests__/VAppBarTitle.spec.tsx
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBar.spec.ts.snap
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBar.spec.tsx.snap
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBarNavIcon.spec.ts.snap
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBarNavIcon.spec.tsx.snap
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBarTitle.spec.tsx.snap
  packages/vuetify/src/components/VAppBar/_index.scss
  packages/vuetify/src/components/VAppBar/_variables.scss
  packages/vuetify/src/components/VAppBar/index.ts
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VImg/VImg.sass
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/border.ts
Labels: C: VAppBar, T: feature, V3: Phase 1

#13643 feat(VBtn): add stacked and prepend/append icon props
  packages/api-generator/src/locale/en/v-btn.json
  packages/vuetify/src/components/VAppBar/__tests__/__snapshots__/VAppBarNavIcon.spec.tsx.snap
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/_mixins.scss
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VIcon/VIcon.sass
Labels: C: VBtn, T: feature

#13647 feat(VBottomNavigation): port to v3
  packages/api-generator/src/locale/en/v-bottom-navigation.json
  packages/docs/src/pages/en/components/bottom-navigation.md
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.ts
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/VBottomNavigation.spec.ts
  packages/vuetify/src/components/VBottomNavigation/__tests__/VBottomNavigation.spec.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.ts.snap
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.tsx.snap
  packages/vuetify/src/components/VBottomNavigation/_index.scss
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
  packages/vuetify/src/components/VBottomNavigation/index.ts
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/_variables.scss
  packages/vuetify/src/components/index.ts
Labels: C: VBottomNavigation, T: feature, V3: Phase 1

#13654 test(VBtn): add cypress wrapper and better assertions.
  packages/vuetify/.eslintignore
  packages/vuetify/.eslintrc.js
  packages/vuetify/cypress.json
  packages/vuetify/cypress/plugins/index.js
  packages/vuetify/cypress/support/commands.js
  packages/vuetify/cypress/support/index.js
  packages/vuetify/cypress/support/index.ts
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/cypress/templates/CenteredGrid.tsx
  packages/vuetify/cypress/templates/index.ts
  packages/vuetify/package.json
  packages/vuetify/src/components/VBtn/VBtn.cy.spec.ts
  packages/vuetify/src/components/VBtn/VBtn.cy.spec.tsx
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.ts
  packages/vuetify/tsconfig.checks.json
  packages/vuetify/tsconfig.json
  packages/vuetify/types/cypress.d.ts
  yarn.lock
Labels: C: VBtn, testing

#13651 feat: add support for active/inactive layout items
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VAppBar/_variables.scss
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VLayout/VLayout.sass
  packages/vuetify/src/components/VLayout/VLayoutItem.sass
  packages/vuetify/src/components/VLayout/VLayoutItem.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/__snapshots__/VNavigationDrawer.spec.tsx.snap
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
  packages/vuetify/src/composables/layout.ts
  packages/vuetify/src/composables/proxiedModel.ts
Labels: C: VAppBar, C: VNavigationDrawer

#13319 feat(VItemGroup): port to v3
  packages/api-generator/src/index.js
  packages/api-generator/src/locale/en/group-item.json
  packages/api-generator/src/locale/en/group.json
  packages/api-generator/src/locale/en/v-item-group.json
  packages/api-generator/src/locale/en/v-item.json
  packages/api-generator/src/maps/components/v-item-group.js
  packages/api-generator/src/maps/components/v-item.js
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-item-group/misc-chips.vue
  packages/docs/src/examples/v-item-group/misc-selection.vue
  packages/docs/src/examples/v-item-group/prop-mandatory.vue
  packages/docs/src/examples/v-item-group/prop-multiple.vue
  packages/docs/src/examples/v-item-group/prop-selected-class.vue
  packages/docs/src/examples/v-item-group/usage.vue
  packages/docs/src/pages/en/components/item-groups.md
  packages/vuetify/src/components/VItemGroup/VItem.ts
  packages/vuetify/src/components/VItemGroup/VItem.tsx
  packages/vuetify/src/components/VItemGroup/VItemGroup.sass
  packages/vuetify/src/components/VItemGroup/VItemGroup.ts
  packages/vuetify/src/components/VItemGroup/VItemGroup.tsx
  packages/vuetify/src/components/VItemGroup/__tests__/VItem.spec.ts
  packages/vuetify/src/components/VItemGroup/__tests__/VItemGroup.spec.ts
  packages/vuetify/src/components/VItemGroup/__tests__/__snapshots__/VItem.spec.ts.snap
  packages/vuetify/src/components/VItemGroup/__tests__/__snapshots__/VItemGroup.spec.ts.snap
  packages/vuetify/src/components/VItemGroup/_index.scss
  packages/vuetify/src/components/VItemGroup/_variables.scss
  packages/vuetify/src/components/VItemGroup/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/__snapshots__/group.spec.ts.snap
  packages/vuetify/src/composables/__tests__/group.spec.ts
  packages/vuetify/src/composables/group.ts
Labels: C: VItemGroup, T: feature, V3: Phase 2

#13683 docs(v-card): Change outdated v-flex to v-col
  packages/docs/src/pages/en/components/cards.md
Labels: T: documentation

#13027 fix(VData): allow group-by to be used with disable-sort
  packages/vuetify/src/components/VData/VData.ts
  packages/vuetify/src/components/VData/__tests__/VData.spec.ts
Labels: C: VData, S: on hold, T: bug

#13673 feat(VLazy): port to v3
  packages/vuetify/src/components/VLazy/VLazy.ts
  packages/vuetify/src/components/VLazy/VLazy.tsx
  packages/vuetify/src/components/VLazy/__tests__/VLazy.spec.ts
  packages/vuetify/src/components/VLazy/__tests__/__snapshots__/VLazy.spec.ts.snap
  packages/vuetify/src/components/VLazy/index.ts
  packages/vuetify/src/components/index.ts
Labels: C: VLazy, T: feature

#13664 fix(VSelect): compare object values before emitting change
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect2.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
Labels: C: VSelect, T: bug

#13648 fix(VTimePickerClock): race condition between event and $refs
  packages/vuetify/src/components/VTimePicker/VTimePickerClock.ts
Labels: C: VTimePicker, T: bug

#13642 fix(typescript): added missing VThemeProvider export in lib.d.ts
  packages/vuetify/types/lib.d.ts
Labels: T: bug, typescript

#13593 fix(intersect): don't unbind until the element is intersecting
  packages/vuetify/src/directives/intersect/__tests__/intersect.spec.ts
  packages/vuetify/src/directives/intersect/index.ts
Labels: T: bug

#13611 fix(VWindow): transition snap with different content height
  packages/vuetify/src/components/VWindow/VWindow.sass
Labels: C: VWindow, T: bug

#13012 fix(VTabs): right aligned tabs in vertical mode
  packages/vuetify/src/components/VTabs/VTabs.sass
Labels: C: VTabs, T: bug

#13681 feat: create v-dialog and v-overlay components
  .eslintrc.js
  package.json
  packages/vuetify/babel.config.js
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VDialog/VDialog.ts
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VDialog/__tests__/VDialog.spec.ts
  packages/vuetify/src/components/VDialog/__tests__/__snapshots__/VDialog.spec.ts.snap
  packages/vuetify/src/components/VDialog/_index.scss
  packages/vuetify/src/components/VDialog/_variables.scss
  packages/vuetify/src/components/VDialog/index.ts
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VImg/VImg.tsx
  packages/vuetify/src/components/VLazy/VLazy.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.sass
  packages/vuetify/src/components/VOverlay/VOverlay.ts
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/__tests__/VOverlay.spec.ts
  packages/vuetify/src/components/VOverlay/_index.scss
  packages/vuetify/src/components/VOverlay/_variables.scss
  packages/vuetify/src/components/VOverlay/index.ts
  packages/vuetify/src/components/VSheet/VSheet.tsx
  packages/vuetify/src/components/VSheet/__tests__/__snapshots__/VSheet.spec.ts.snap
  packages/vuetify/src/components/VThemeProvider/VThemeProvider.tsx
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/components/transitions/dialog-transition.tsx
  packages/vuetify/src/components/transitions/index.ts
  packages/vuetify/src/composables/color.ts
  packages/vuetify/src/composables/teleport.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/composables/transition.ts
  packages/vuetify/src/directives/click-outside/index.ts
  packages/vuetify/src/mixins/detachable/__tests__/detachable.spec.ts
  packages/vuetify/src/mixins/detachable/index.ts
  packages/vuetify/src/styles/elements/_global.sass
  packages/vuetify/src/styles/generic/_transitions.scss
  packages/vuetify/src/util/easing.ts
  packages/vuetify/src/util/getScrollParent.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/src/util/index.ts
  yarn.lock
Labels: C: VDialog, C: VOverlay, T: feature

#13723 fix: apply offset padding to appbars when an overlay is open
  packages/vuetify/src/components/VApp/VApp.tsx
  packages/vuetify/src/components/VApp/__tests__/__snapshots__/VApp.spec.ts.snap
  packages/vuetify/src/components/VAppBar/VAppBar.sass
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VLayout/VLayout.sass
  packages/vuetify/src/components/VLayout/VLayout.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/composables/layout.ts
  packages/vuetify/src/styles/elements/_global.sass
Labels: C: VAppBar, C: VOverlay, T: bug

#13679 fix(VDataIterator): use itemKey instead of name for select
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
Labels: C: VDataTable, T: bug

#13717 docs: fix GitHub format
  BACKERS.md
  packages/docs/src/components/team/TeamMember.vue
  packages/docs/src/examples/v-autocomplete/misc-api-search.vue
  packages/docs/src/pages/en/features/sass-variables.md
  packages/docs/src/pages/en/getting-started/frequently-asked-questions.md
  packages/docs/src/pages/en/getting-started/release-notes.md
  packages/docs/src/pages/en/getting-started/unit-testing.md
Labels: T: documentation

#13384 fix(VCalendar): fix interval-style day when categoryDays > 1
  packages/vuetify/src/components/VCalendar/VCalendarCategory.ts
Labels: C: VCalendar, T: bug
