Repository vuetifyjs/vuetify, pull requests merged in 2021-03, with the labels that each got.

#13175 docs: v3 install notes
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#13184 docs(installation.md) added v3 Alpha installation
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#13157 refactor(grid): update components to use tag composable
  packages/vuetify/src/components/VGrid/VCol.ts
  packages/vuetify/src/components/VGrid/VContainer.tsx
  packages/vuetify/src/components/VGrid/VRow.ts
Labels: C: VGrid

#13158 refactor(VIcon): update with tag composable
  packages/vuetify/src/components/VIcon/VIcon.tsx
Labels: C: VIcon

#13183 refactor(scss): refactor scss mixins and imports
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VDivider/VDivider.sass
  packages/vuetify/src/components/VFooter/VFooter.sass
  packages/vuetify/src/components/VFooter/VFooter.scss
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/_index.scss
  packages/vuetify/src/components/VIcon/_variables.scss
  packages/vuetify/src/components/VImg/VImg.sass
  packages/vuetify/src/components/VImg/_index.scss
  packages/vuetify/src/components/VImg/_variables.scss
  packages/vuetify/src/components/VSheet/VSheet.sass
  packages/vuetify/src/components/VSheet/_index.scss
  packages/vuetify/src/components/VSheet/_variables.scss
  packages/vuetify/src/components/VSystemBar/VSystemBar.sass
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VToolbar/_index.scss
  packages/vuetify/src/components/VToolbar/_variables.scss
  packages/vuetify/src/styles/tools/_border.sass
  packages/vuetify/src/styles/tools/_rounded.sass
Labels: V3: Phase 1, sass

#10412 feat(delay): create composition functions
  packages/vuetify/src/composables/__tests__/delay.spec.ts
  packages/vuetify/src/composables/delay.ts
  packages/vuetify/src/mixins/delayable/index.ts
Labels: T: feature

#13208 fix(VColorPicker): Allow swatches to be disabled
  packages/vuetify/src/components/VColorPicker/VColorPicker.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.ts
Labels: C: VColorPicker, T: bug

#12921 fix(VAutocomplete): close mobile keyboard on blur
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
Labels: C: VAutocomplete, T: bug, platform specific

#12776 fix(inputs): display title attribute on root element
  packages/vuetify/src/components/VCheckbox/VCheckbox.ts
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VRadioGroup/VRadio.ts
  packages/vuetify/src/components/VSwitch/VSwitch.ts
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: Selection controls, C: VInput, C: VSelect, C: VTextField, T: bug

#13222 fix(VSlider): only emit a single change event
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VSlider/VSlider.ts
Labels: C: VSlider, T: bug, T: regression

#13136 feat(VProgress): only play animations when visible
  packages/vuetify/src/components/VCard/__tests__/__snapshots__/VCard.spec.ts.snap
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.sass
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.ts
  packages/vuetify/src/components/VProgressCircular/__tests__/VProgressCircular.spec.ts
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.ts
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.ts
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
Labels: C: VProgressCircular, C: VProgressLinear, T: enhancement, pending review

#13215 docs(theme): update page for v3
  packages/docs/src/pages/en/features/theme.md
Labels: T: documentation

#13249 docs: update btn examples
  packages/docs/src/examples/v-btn/prop-block.vue
  packages/docs/src/examples/v-btn/prop-flat.vue
  packages/docs/src/examples/v-btn/prop-icon.vue
  packages/docs/src/examples/v-btn/prop-outlined.vue
  packages/docs/src/examples/v-btn/prop-plain.vue
  packages/docs/src/examples/v-btn/prop-rounded.vue
  packages/docs/src/examples/v-btn/prop-sizing.vue
  packages/docs/src/examples/v-btn/prop-text.vue
  packages/docs/src/pages/en/components/buttons.md
Labels: C: VBtn, T: documentation

#13115 feat(VNavigationDrawer): port to v3
  jest.config.js
  packages/api-generator/src/locale/en/v-navigation-drawer.json
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.ts
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.ts
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/__snapshots__/VNavigationDrawer.spec.tsx.snap
  packages/vuetify/src/components/VNavigationDrawer/_index.scss
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
  packages/vuetify/src/components/VNavigationDrawer/index.ts
  packages/vuetify/src/components/index.ts
Labels: C: VNavigationDrawer, V3: Phase 1

#13251 feat(VIcon): add color prop
  packages/vuetify/src/components/VIcon/VIcon.tsx
Labels: C: VIcon, V3: Phase 1

#13225 fix(VDatePicker): correctly show weeks and dates
  packages/vuetify/src/components/VDatePicker/VDatePickerDateTable.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/__snapshots__/VDatePickerDateTable.spec.ts.snap
Labels: C: VDatepicker, T: bug

#13280 fix(VSlideGroup): handle rounding issue if using browser zoom
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.ts
Labels: C: VSlideGroup, T: bug

#13244 fix(click-outside): don't trigger if mousedown inside target
  packages/vuetify/src/directives/click-outside/__tests__/click-outside.spec.ts
  packages/vuetify/src/directives/click-outside/index.ts
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/styles/elements/_global.sass
Labels: D: click-outside, T: enhancement

#12753 feat: `float-<bp>-start` and `float-<bp>-end` utility classes
  packages/docs/src/pages/en/styles/float.md
  packages/vuetify/src/styles/settings/_utilities.scss
  packages/vuetify/src/styles/tools/_utilities.sass
  packages/vuetify/src/styles/utilities/_index.sass
Labels: Framework, T: feature

#12754 feat(VDatePicker): activePicker prop
  packages/api-generator/src/locale/en/v-date-picker.json
  packages/api-generator/src/maps/v-date-picker.js
  packages/docs/src/examples/v-date-picker/misc-birthday.vue
  packages/docs/src/pages/en/components/date-pickers.md
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.month.spec.ts
Labels: C: VDatepicker, T: feature

#13254 feat: change generic color class names
  packages/docs/src/components/doc/ColorPalette.vue
  packages/docs/src/examples/color/classes.vue
  packages/docs/src/examples/color/text-classes.vue
  packages/docs/src/pages/en/styles/colors.md
  packages/vuetify/src/styles/generic/_colors.scss
Labels: V3: Phase 1, semver: major

#13300 docs(bottom-navigation): update usage description
  packages/docs/src/pages/en/components/bottom-navigation.md
Labels: C: VBottomNavigation, T: documentation

#13295 docs(internationalization): update Traditional Chinese text
  packages/docs/src/pages/en/features/internationalization.md
Labels: T: documentation

#13306 docs(buttons): update class name from bold to code
  packages/docs/src/pages/en/components/buttons.md
Labels: T: documentation

#13296 fix(VBadge): add missing !default on border radius
  packages/vuetify/src/components/VBadge/_variables.scss
Labels: C: VBadge, T: bug

#13263 fix(VSlider): support touch and drag
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.ts
  packages/vuetify/src/components/VSlider/VSlider.ts
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.ts
Labels: C: VSlider, T: bug, T: regression

#13150 fix(VSelect): make CSS order-independent
  packages/vuetify/src/components/VSelect/VSelect.sass
Labels: C: VSelect, T: bug

#13298 fix(VCombobox): don't add empty values
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox-multiple.spec.ts
Labels: C: VCombobox, T: bug

#13277 feat(VBadge): port to v3
  .eslintrc.js
  packages/api-generator/src/locale/en/v-badge.json
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-badge/misc-customization.vue
  packages/docs/src/examples/v-badge/misc-dynamic.vue
  packages/docs/src/examples/v-badge/misc-hover.vue
  packages/docs/src/examples/v-badge/misc-tabs.vue
  packages/docs/src/pages/en/components/badges.md
  packages/vuetify/package.json
  packages/vuetify/src/components/VBadge/VBadge.sass
  packages/vuetify/src/components/VBadge/VBadge.ts
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.ts
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.tsx
  packages/vuetify/src/components/VBadge/__tests__/__snapshots__/VBadge.spec.ts.snap
  packages/vuetify/src/components/VBadge/__tests__/__snapshots__/VBadge.spec.tsx.snap
  packages/vuetify/src/components/VBadge/_index.scss
  packages/vuetify/src/components/VBadge/_variables.scss
  packages/vuetify/src/components/VBadge/index.ts
  packages/vuetify/src/components/VImg/VImg.tsx
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/transition.ts
  packages/vuetify/src/util/globals.ts
  packages/vuetify/src/util/helpers.ts
  yarn.lock
Labels: V3: Phase 2, semver: major

#13355 fix(VExpansionPanelHeader): add missing aria-expanded attribute
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelHeader.ts
Labels: C: VExpansionPanel, T: bug, a11y

#13316 fix(VAutocomplete): compare current lazyValue before emiting update
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete3.spec.ts
Labels: C: VAutocomplete, T: bug

#13101 fix(VSelect): specify min-height 10px
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VSelect/_variables.scss
Labels: C: VSelect, T: bug
