Repository vuetifyjs/vuetify, pull requests merged in 2021-09, with the labels that each got.

#14117 docs: fix component's name
  packages/docs/src/pages/en/components/lists.md
Labels: T: documentation

#14116 fix(VSlider): prevent NaN for inputWidth when same min & max
  packages/vuetify/src/components/VSlider/VSlider.ts
Labels: C: VSlider

#14140 chore: add getCurrentInstance utility function
  packages/vuetify/src/components/VOverlay/useActivator.tsx
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/composables/proxiedModel.ts
  packages/vuetify/src/composables/router.tsx
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/util/__tests__/getCurrentInstance.spec.tsx
  packages/vuetify/src/util/getCurrentInstance.ts
  packages/vuetify/src/util/index.ts
  packages/vuetify/src/util/useRender.ts
Labels: Framework

#14103 feat(hydration): create new composable
  packages/vuetify/src/components/VNoSsr/VNoSsr.tsx
  packages/vuetify/src/composables/hydration.ts
Labels: E: New Composable, Vuetify 3 - Phase 3

#14157 docs(VWindow): update onboarding example
  packages/docs/src/examples/v-window/misc-onboarding.vue
Labels: T: documentation

#14026 feat: create validation composable
  packages/vuetify/src/components/VCounter/VCounter.sass
  packages/vuetify/src/components/VCounter/VCounter.tsx
  packages/vuetify/src/components/VCounter/_variables.scss
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VForm/VForm.ts
  packages/vuetify/src/components/VForm/VForm.tsx
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.ts
  packages/vuetify/src/components/VForm/index.ts
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VInput/_variables.scss
  packages/vuetify/src/components/VMessages/VMessages.sass
  packages/vuetify/src/components/VMessages/VMessages.ts
  packages/vuetify/src/components/VMessages/VMessages.tsx
  packages/vuetify/src/components/VMessages/_variables.scss
  packages/vuetify/src/components/VMessages/index.ts
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextField/_variables.scss
  packages/vuetify/src/components/VValidation/VValidation.tsx
  packages/vuetify/src/components/VValidation/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/validation.spec.ts
  packages/vuetify/src/composables/form.ts
  packages/vuetify/src/composables/validation.ts
Labels: T: feature, E: Validation, Vuetify 3 - Phase 3, C: VValidate

#14167 fix(VResponsive): set max-height to 100% to match max-width
  packages/vuetify/src/components/VResponsive/VResponsive.sass
Labels: T: bug, C: VResponsive

#14183 feat(loader): port to v3
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/composables/__tests__/loader.spec.ts
  packages/vuetify/src/composables/loader.tsx
Labels: T: feature, E: New Composable
