Repository vuetifyjs/vuetify, pull requests merged in 2021-11, with the labels that each got.

#14297 feat(VTreeview): add disablePerNode prop
  packages/api-generator/src/locale/en/v-treeview.json
  packages/vuetify/src/components/VTreeview/VTreeviewNode.ts
Labels: T: feature, C: VTreeview

#14126 fix: prevent inputs from emitting native events twice
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.tsx
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.cy.tsx
  packages/vuetify/src/components/VForm/VForm.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/composables/form.ts
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/composables/nested/nested.ts
  packages/vuetify/src/composables/proxiedModel.ts
  packages/vuetify/src/util/helpers.ts
Labels: Vuetify 3 - Phase 3

#14416 fix(sass): ordering of container-max-widths media queries
  packages/vuetify/src/styles/settings/_variables.scss
Labels: T: bug, sass

#14436 fix(VItemGroup): allow null values
  packages/vuetify/src/components/VItemGroup/VItemGroup.ts
  packages/vuetify/src/components/VItemGroup/__tests__/VItemGroup.spec.ts
  packages/vuetify/src/components/VTabs/VTab.ts
Labels: T: bug, C: VItemGroup

#14307 fix(VCalendar): add nativeEvent to all re-emitted events
  packages/vuetify/src/components/VCalendar/VCalendar.ts
  packages/vuetify/src/components/VCalendar/VCalendarDaily.ts
  packages/vuetify/src/components/VCalendar/VCalendarWeekly.ts
  packages/vuetify/src/components/VCalendar/mixins/calendar-with-events.ts
Labels: T: bug, C: VCalendar
