Repository vuetifyjs/vuetify, pull requests merged in 2021-07, with the labels that each got.

#13856 feat(VBreadcrumbs): port to v3
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.sass
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.ts
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsDivider.ts
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsDivider.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsItem.ts
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsItem.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.ts
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbsItem.spec.ts
  packages/vuetify/src/components/VBreadcrumbs/__tests__/__snapshots__/VBreadcrumbs.spec.ts.snap
  packages/vuetify/src/components/VBreadcrumbs/__tests__/__snapshots__/VBreadcrumbsItem.spec.ts.snap
  packages/vuetify/src/components/VBreadcrumbs/_index.scss
  packages/vuetify/src/components/VBreadcrumbs/_variables.scss
  packages/vuetify/src/components/VBreadcrumbs/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/router.tsx
  packages/vuetify/src/globals.d.ts
Labels: C: VBreadcrumb, T: feature, Vuetify 3 - Phase 2

#13855 feat(VAlert): port to v3
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/VAlert.ts
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAlert/__tests__/VAlert.spec.ts
  packages/vuetify/src/components/VAlert/__tests__/__snapshots__/VAlert.spec.ts.snap
  packages/vuetify/src/components/VAlert/_index.scss
  packages/vuetify/src/components/VAlert/_variables.scss
  packages/vuetify/src/components/VAlert/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/styles/tools/_variant.sass
Labels: C: VAlert, T: feature, Vuetify 3 - Phase 2

#13192 feat(VChip): port to v3
  packages/vuetify/src/components/VAvatar/VAvatar.sass
  packages/vuetify/src/components/VBtn/_mixins.scss
  packages/vuetify/src/components/VChip/VChip.sass
  packages/vuetify/src/components/VChip/VChip.ts
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VChip/__tests__/VChip.spec.ts
  packages/vuetify/src/components/VChip/__tests__/__snapshots__/VChip.spec.ts.snap
  packages/vuetify/src/components/VChip/_index.scss
  packages/vuetify/src/components/VChip/_mixins.scss
  packages/vuetify/src/components/VChip/_variables.scss
  packages/vuetify/src/components/VChip/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/variant.tsx
  packages/vuetify/src/styles/tools/_functions.sass
Labels: C: VChip, Vuetify 3 - Phase 2

#13905 feat: use APCA to determine theme text colors
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/util/__tests__/colorUtils.spec.ts
  packages/vuetify/src/util/color/APCA.ts
Labels: T: enhancement

#13899 docs(text-fields): fix typo
  packages/docs/src/pages/en/components/text-fields.md
Labels: T: documentation

#13548 fix(VDialog): allow nested elements to overflow scroll
  packages/vuetify/src/mixins/overlayable/index.ts
Labels: C: VOverlay, T: bug

#13719 fix(VListItem): allow default color to change when inactive
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/VListItem.ts
Labels: C: VList, T: bug

#13794 fix(VCombobox): handle duplicates on chip edit
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox-multiple.spec.ts
Labels: C: VCombobox, T: bug

#13686 fix(VDataTable): no multiple select if last entry not selected
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
Labels: C: VDataIterator, T: bug

#13946 docs:(api): update v-tabs change event type and description
  packages/api-generator/src/locale/en/v-tabs.json
  packages/api-generator/src/maps/v-tabs.js
Labels: T: documentation

#13978 fix(VIcon): size with ems instead of px
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/_variables.scss
  packages/vuetify/src/components/VBadge/VBadge.sass
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/_variables.scss
Labels: C: VIcon, T: enhancement

#13998 feat(group): remove need for index prop
  packages/vuetify/src/composables/__tests__/group.spec.ts
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/util/helpers.ts
Labels: C: VItemGroup, T: feature

#13890 docs(icons.md): update nonsensical language
  packages/docs/src/pages/en/components/icons.md
Labels: T: documentation

#13979 feat(VHover): port to v3
  packages/api-generator/src/maps/components/v-hover.js
  packages/docs/src/examples/v-hover/misc-hover-list.vue
  packages/docs/src/examples/v-hover/misc-transition.vue
  packages/docs/src/examples/v-hover/prop-disabled.vue
  packages/docs/src/examples/v-hover/prop-open-and-close-delay.vue
  packages/docs/src/examples/v-hover/usage.vue
  packages/docs/src/pages/en/components/hover.md
  packages/vuetify/src/components/VHover/VHover.ts
  packages/vuetify/src/components/VHover/VHover.tsx
  packages/vuetify/src/components/VHover/__tests__/VHover.spec.cy.tsx
  packages/vuetify/src/components/VHover/__tests__/VHover.spec.ts
  packages/vuetify/src/components/VHover/index.ts
  packages/vuetify/src/components/index.ts
Labels: C: VHover, T: feature, Vuetify 3 - Phase 3

#14008 fix(VDataTable): selection bug when using numbers as item-key
  packages/vuetify/src/components/VDataIterator/VDataIterator.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
Labels: C: VDataTable, T: bug

#13913 fix(VTreeView): Null check when building tree from children
  packages/vuetify/src/components/VTreeview/VTreeview.ts
Labels: C: VTreeview, T: bug

#13920 feat(v-mutate): port to v3
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/pages/en/directives/mutate.md
  packages/vuetify/src/composables/__tests__/mutationObserver.spec.ts
  packages/vuetify/src/composables/mutationObserver.ts
  packages/vuetify/src/directives/index.ts
  packages/vuetify/src/directives/mutate/__tests__/mutate.spec.ts
  packages/vuetify/src/directives/mutate/index.ts
  packages/vuetify/src/util/helpers.ts
Labels: D: mutate, T: feature, Vuetify 3 - Phase 3
