Repository vuetifyjs/vuetify, pull requests merged in 2021-02, with the labels that each got.

#13039 docs(theme): fix OS-based dark mode
  packages/docs/src/layouts/default/settings/Theme.vue
Labels: T: documentation

#13035 feat(VBanner): port to v3
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBanner/VBanner.scss
  packages/vuetify/src/components/VBanner/VBanner.ts
  packages/vuetify/src/components/VBanner/__tests__/VBanner.spec.ts
  packages/vuetify/src/components/VBanner/__tests__/__snapshots__/VBanner.spec.ts.snap
  packages/vuetify/src/components/VBanner/_index.scss
  packages/vuetify/src/components/VBanner/_variables.scss
  packages/vuetify/src/components/VBanner/index.ts
  packages/vuetify/src/components/index.ts
Labels: C: VBanner, V3: Phase 1

#12990 fix(VPagination): add disabled attr to buttons (#12953)
  packages/vuetify/src/components/VPagination/VPagination.ts
  packages/vuetify/src/components/VPagination/__tests__/__snapshots__/VPagination.spec.ts.snap
Labels: C: VPagination, T: bug

#13016 feat(locale): add Serbian Latin translation and fix Cyrilic #13015
  packages/docs/src/pages/en/features/internationalization.md
  packages/vuetify/src/locale/index.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
Labels: Framework, Service: Lang

#12904 fix(VDatePicker): scroll not honoring min and max tableDate
  packages/vuetify/src/components/VDatePicker/VDatePicker.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerDateTable.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePickerMonthTable.spec.ts
  packages/vuetify/src/components/VDatePicker/mixins/date-picker-table.ts
  packages/vuetify/src/components/VDatePicker/util/__tests__/sanitizeDateString.spec.ts
  packages/vuetify/src/components/VDatePicker/util/index.ts
  packages/vuetify/src/components/VDatePicker/util/sanitizeDateString.ts
Labels: C: VDatepicker, T: bug

#13063 docs(examples): fix v-date-picker date-fns in formatting-external-libraries
  packages/docs/src/examples/v-date-picker/misc-formatting-external-libraries.vue
Labels: C: VDatepicker, T: documentation

#13080 docs(examples): use correct persistent prop
  packages/docs/src/examples/v-dialog/prop-persistent.vue
  packages/docs/src/pages/en/components/dialogs.md
Labels: T: documentation

#13087 fix(VDataTable): clamp current page when filtering
  packages/vuetify/src/components/VData/VData.ts
Labels: C: VDataTable, T: bug

#10337 feat(color): create composition functions
  packages/vuetify/src/composables/__tests__/color.spec.ts
  packages/vuetify/src/composables/color.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/util/colorUtils.ts
Labels: T: feature

#12868 fix(VDataTableHeader): decrease sort icon line height
  packages/vuetify/src/components/VDataTable/VDataTableHeader.sass
Labels: C: VDataTable, T: bug

#13117 docs: use vue-instantsearch instead of docsearch
  packages/docs/package.json
  packages/docs/src/layouts/default/Search.vue
  packages/docs/src/layouts/default/SearchResults.vue
  packages/docs/src/main.js
  yarn.lock
Labels: T: documentation

#12741 feat: update VIcon to Vue 3
  packages/vuetify/dev/index.js
  packages/vuetify/dev/vuetify.js
  packages/vuetify/package.json
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/VIcon.ts
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VIcon/__tests__/__snapshots__/VIcon.spec.ts.snap
  packages/vuetify/src/components/VIcon/_variables.scss
  packages/vuetify/src/components/VIcon/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/size.spec.ts
  packages/vuetify/src/composables/icons.tsx
  packages/vuetify/src/composables/size.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/iconsets/fa-svg.ts
  packages/vuetify/src/iconsets/fa.ts
  packages/vuetify/src/iconsets/fa4.ts
  packages/vuetify/src/iconsets/md.ts
  packages/vuetify/src/iconsets/mdi-svg.ts
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/services/icons/__tests__/__snapshots__/icons.spec.ts.snap
  packages/vuetify/src/services/icons/__tests__/icons.spec.ts
  packages/vuetify/src/services/icons/index.ts
  packages/vuetify/src/services/icons/presets/fa-svg.ts
  packages/vuetify/src/services/icons/presets/fa4.ts
  packages/vuetify/src/services/icons/presets/index.ts
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/types/index.d.ts
  yarn.lock
Labels: C: VIcon

#13098 fix(VRating): make icons tab-accessible
  packages/vuetify/src/components/VRating/VRating.ts
Labels: C: VRating, T: bug

#13097 feat: update VBtn to Vue 3
  packages/vuetify/.eslintrc.js
  packages/vuetify/src/components/VApp/VApp.sass
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.ts
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/_index.scss
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VBtn/index.ts
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VIcon/__tests__/__snapshots__/VIcon.spec.ts.snap
  packages/vuetify/src/components/VImg/VImg.sass
  packages/vuetify/src/components/VSheet/VSheet.tsx
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/__tests__/border.spec.ts
  packages/vuetify/src/composables/__tests__/color.spec.ts
  packages/vuetify/src/composables/__tests__/size.spec.ts
  packages/vuetify/src/composables/border.ts
  packages/vuetify/src/composables/color.ts
  packages/vuetify/src/composables/density.ts
  packages/vuetify/src/composables/size.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/directives/ripple/index.ts
  packages/vuetify/src/styles/settings/_dark.scss
  packages/vuetify/src/styles/settings/_light.scss
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/styles/tools/_border.sass
  packages/vuetify/src/styles/tools/_density.sass
  packages/vuetify/src/styles/tools/_index.sass
  packages/vuetify/src/styles/tools/_position.sass
  packages/vuetify/src/styles/tools/_rounded.sass
  packages/vuetify/src/styles/tools/_sizes.scss
  packages/vuetify/src/styles/tools/_states.sass
  packages/vuetify/src/styles/tools/_theme.sass
  packages/vuetify/src/util/useDirective.ts
Labels: C: VBtn, T: feature, V3: Phase 1

#13113 docs: make docs deployable in next
  .github/workflows/ci.yml
  .github/workflows/crowdin-uploads.yml
  crowdin.yml
  package.json
  packages/api-generator/src/helpers/locales.js
  packages/api-generator/src/helpers/parsing.js
  packages/api-generator/src/index.js
  packages/api-generator/src/locale-alpha/en/generic.json
  packages/api-generator/src/locale-alpha/en/v-banner.json
  packages/api-generator/src/locale-alpha/en/v-col.json
  packages/api-generator/src/locale-alpha/en/v-container.json
  packages/api-generator/src/locale-alpha/en/v-divider.json
  packages/api-generator/src/locale-alpha/en/v-footer.json
  packages/api-generator/src/locale-alpha/en/v-icon.json
  packages/api-generator/src/locale-alpha/en/v-img.json
  packages/api-generator/src/locale-alpha/en/v-intersect.json
  packages/api-generator/src/locale-alpha/en/v-resize.json
  packages/api-generator/src/locale-alpha/en/v-responsive.json
  packages/api-generator/src/locale-alpha/en/v-ripple.json
  packages/api-generator/src/locale-alpha/en/v-row.json
  packages/api-generator/src/locale-alpha/en/v-scroll.json
  packages/api-generator/src/locale-alpha/en/v-sheet.json
  packages/api-generator/src/locale-alpha/en/v-touch.json
  packages/api-generator/src/maps-alpha/components/v-app.js
  packages/api-generator/src/maps-alpha/components/v-banner.js
  packages/api-generator/src/maps-alpha/components/v-col.js
  packages/api-generator/src/maps-alpha/components/v-container.js
  packages/api-generator/src/maps-alpha/components/v-divider.js
  packages/api-generator/src/maps-alpha/components/v-footer.js
  packages/api-generator/src/maps-alpha/components/v-icon.js
  packages/api-generator/src/maps-alpha/components/v-img.js
  packages/api-generator/src/maps-alpha/components/v-main.js
  packages/api-generator/src/maps-alpha/components/v-responsive.js
  packages/api-generator/src/maps-alpha/components/v-row.js
  packages/api-generator/src/maps-alpha/components/v-sheet.js
  packages/api-generator/src/maps-alpha/directives/v-intersect.js
  packages/api-generator/src/maps-alpha/directives/v-resize.js
  packages/api-generator/src/maps-alpha/directives/v-ripple.js
  packages/api-generator/src/maps-alpha/directives/v-scroll.js
  packages/api-generator/src/maps-alpha/directives/v-touch.js
  packages/api-generator/src/maps/v-app.js
  packages/api-generator/src/maps/v-banner.js
  packages/api-generator/src/maps/v-col.js
  packages/api-generator/src/maps/v-container.js
  packages/api-generator/src/maps/v-divider.js
  packages/api-generator/src/maps/v-footer.js
  packages/api-generator/src/maps/v-icon.js
  packages/api-generator/src/maps/v-img.js
  packages/api-generator/src/maps/v-intersect.js
  packages/api-generator/src/maps/v-resize.js
  packages/api-generator/src/maps/v-responsive.js
  packages/api-generator/src/maps/v-ripple.js
  packages/api-generator/src/maps/v-row.js
  packages/api-generator/src/maps/v-scroll.js
  packages/api-generator/src/maps/v-sheet.js
  packages/docs/package.json
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/layouts/default/index.vue
  packages/vuetify/package.json
  yarn.lock
Labels: T: documentation

#13046 fix(VSelect) add missing counter-value function support
  packages/vuetify/src/components/VSelect/VSelect.ts
  packages/vuetify/src/components/VSelect/__tests__/VSelect2.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
Labels: C: VSelect, T: bug

#13096 feat(transition): update to vue 3, use material easings
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VResponsive/VResponsive.sass
  packages/vuetify/src/components/VResponsive/_variables.scss
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/components/transitions/createTransition.ts
  packages/vuetify/src/components/transitions/expand-transition.ts
  packages/vuetify/src/components/transitions/index.ts
  packages/vuetify/src/styles/generic/_transitions.scss
  packages/vuetify/src/styles/settings/_variables.scss
  packages/vuetify/src/styles/utilities/_index.sass
  packages/vuetify/src/styles/utilities/_transition.sass
Labels: C: Transitions, Framework, T: feature, V3: Phase 1

#13053 fix(VTextField): detect activeElement from shadowRoot
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete2.spec.ts
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete3.spec.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.ts
  packages/vuetify/src/components/VTextField/VTextField.ts
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
  packages/vuetify/src/util/__tests__/dom.spec.ts
  packages/vuetify/src/util/dom.ts
Labels: Framework, T: bug

#13001 feat(VTextField): add persistentPlaceholder prop
  packages/api-generator/src/locale/en/v-text-field.json
  packages/vuetify/src/components/VTextField/VTextField.ts
Labels: C: VTextField, T: feature

#12891 fix(VFileInput): prevent label and placeholder overlap
  packages/vuetify/src/components/VFileInput/VFileInput.ts
Labels: C: VFileInput, T: bug

#12896 fix(VCombobox): clear search if matching item is selected
  packages/vuetify/src/components/VCombobox/VCombobox.ts
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox-multiple.spec.ts
Labels: C: VCombobox, T: bug

#13081 feat(VDataTable): add `foot` and `footer.prepend` slots
  packages/api-generator/src/locale/en/v-data-footer.json
  packages/api-generator/src/locale/en/v-data-table.json
  packages/api-generator/src/maps/v-data-footer.js
  packages/api-generator/src/maps/v-data-table.js
  packages/api-generator/src/maps/v-data.js
  packages/vuetify/src/components/VDataIterator/VDataFooter.sass
  packages/vuetify/src/components/VDataIterator/VDataFooter.ts
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/VSimpleTable.sass
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
Labels: C: VDataFooter, C: VDataTable, T: feature

#13050 fix(VCalendarCategory): category schedule for more than 1 day
  packages/vuetify/src/components/VCalendar/VCalendarCategory.ts
Labels: C: VCalendar, T: bug
