Repository vuetifyjs/vuetify, pull requests merged in 2022-08, with the labels that each got.

#15549 fix(rtl): remove defaultRtl option, update docs
  packages/docs/src/pages/en/features/internationalization.md
  packages/vuetify/src/composables/rtl.ts
Labels: T: bug, rtl, E: rtl

#15575 fix(VBtn): use correct base opacity for disabled buttons
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: T: bug, C: VBtn, C: VPagination

#15574 fix(VTimeline): line-inset issues
  packages/docs/src/pages/en/components/timelines.md
  packages/vuetify/src/components/VTimeline/VTimeline.sass
  packages/vuetify/src/components/VTimeline/VTimeline.tsx
  packages/vuetify/src/components/VTimeline/VTimelineDivider.tsx
  packages/vuetify/src/components/VTimeline/VTimelineItem.tsx
Labels: T: bug, C: VTimeline

#15599 fix(defaults): merge scoped defaults with global config
  packages/vuetify/src/composables/defaults.ts
  packages/vuetify/src/util/defineComponent.tsx
  packages/vuetify/src/util/injectSelf.ts
Labels: E: defaults

#15598 fix(VToolbar): remove content padding
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VToolbar/_variables.scss
Labels: T: bug, C: VToolbar

#15592 fix(VCalendar): forward all bound events to internal elements
  packages/vuetify/src/components/VCalendar/mixins/__tests__/mouse.spec.ts
  packages/vuetify/src/components/VCalendar/mixins/mouse.ts
Labels: T: bug, C: VCalendar

#15495 fix(VSelect/VCombobox/VAutocomplete): add top margin for chip containers
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/_variables.scss
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/_variables.scss
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VSelect/_variables.scss
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#14683 fix(inputs): textarea auto-grow, consistent padding
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.sass
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.cy.tsx
  packages/vuetify/src/components/VTextarea/_variables.scss
Labels: T: bug, C: VTextField, C: VTextarea

#15536 fix(VSelect): truncate when single-line
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VSelect/VSelect.sass
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#15580 feat(VBtn): add global config for colored disabled buttons
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
Labels: T: feature, C: VBtn

#15605 fix(VSelectionControl): set internal model from input.checked
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
Labels: T: bug, C: VSelectionControl

#15603 fix(VSelect): toggle menu when clicking control
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect

#15639 feat(VLayout): add scrollable main, support sticky elements
  packages/vuetify/dev/App.vue
  packages/vuetify/src/components/VLayout/VLayout.sass
  packages/vuetify/src/components/VLayout/__tests__/VLayout.spec.cy.tsx
  packages/vuetify/src/components/VMain/VMain.sass
  packages/vuetify/src/components/VMain/VMain.tsx
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/composables/layout.ts
Labels: T: bug, E: layout

#15638 fix(VNavigationDrawer): add RTL support
  packages/docs/src/pages/en/components/navigation-drawers.md
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.cy.tsx
  packages/vuetify/src/util/anchor.ts
Labels: T: bug, C: VNavigationDrawer, rtl

#15390 feat: make active and link props default value undefined
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
Labels: T: bug, C: VListItem

#15630 fix(VAlert): adjust default prepended icon size
  packages/vuetify/src/components/VAlert/VAlert.tsx
Labels: T: bug, C: VAlert

#15602 fix(VAlert): use v-btn for closable functionality
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/VAlert.tsx
Labels: T: bug, C: VAlert

#15629 fix(VNavigationDrawer): rail variant and examples
  packages/docs/src/examples/v-navigation-drawer/misc-combined.vue
  packages/docs/src/examples/v-navigation-drawer/prop-images.vue
  packages/docs/src/examples/v-navigation-drawer/prop-mini-variant.vue
  packages/vuetify/src/components/VAvatar/VAvatar.sass
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.cy.tsx
Labels: T: bug, C: VNavigationDrawer

#15646 feat: add blueprints to package exports
  packages/vuetify/package.json
Labels: Framework

#15188 fix(form): errorMessages should be reactive
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.cy.tsx
  packages/vuetify/src/composables/form.ts
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, C: VForm

#15586 feat(VRow): add space-evenly
  packages/vuetify/src/components/VGrid/VCol.ts
  packages/vuetify/src/components/VGrid/VRow.ts
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: T: bug, C: VGrid

#15530 fix(VAutocomplete): remove emit click:clear event
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#15661 feat(VNavigationDrawer): add sticky prop
  packages/docs/src/components/app/Toc.vue
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/sticky.ts
  packages/vuetify/src/composables/layout.ts
Labels: T: feature, C: VNavigationDrawer

#15583 fix(VOverlay): add missing !default to $overlay-opacity
  packages/vuetify/src/components/VOverlay/_variables.scss
Labels: T: bug, C: VOverlay, sass

#15667 fix(VColorPicker): use hexa value for transparent color
  packages/vuetify/src/util/colorUtils.ts
  packages/vuetify/src/util/colors.ts
Labels: T: bug, Framework

#15664 docs: remove locale from route name
  packages/docs/package.json
  packages/docs/src/components/app/bar/LearnMenu.vue
  packages/docs/src/components/app/bar/Logo.vue
  packages/docs/src/components/getting-started/WireframeExamples.vue
  packages/docs/src/components/home/ActionBtns.vue
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/layouts/wireframe.vue
  packages/docs/src/pages/en/getting-started/wireframes.md
  packages/docs/src/wireframes/en/base.vue
  packages/docs/src/wireframes/en/constrained.vue
  packages/docs/src/wireframes/en/discord.vue
  packages/docs/src/wireframes/en/extended-toolbar.vue
  packages/docs/src/wireframes/en/inbox.vue
  packages/docs/src/wireframes/en/side-navigation.vue
  packages/docs/src/wireframes/en/steam.vue
  packages/docs/src/wireframes/en/system-bar.vue
  packages/docs/src/wireframes/en/three-column.vue
  packages/docs/vite.config.ts
  yarn.lock
Labels: T: documentation

#15641 feat(inputs): add aria roles to clickable icons
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.tsx
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VInput/InputIcon.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.tsx
  packages/vuetify/src/composables/validation.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: enhancement, a11y, C: VField

#15584 feat(VNavigationDrawer): add scrim opacity variable
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
Labels: C: VNavigationDrawer, sass

#15582 fix(VCard): remove opacity transition from underlay
  packages/vuetify/src/styles/tools/_variant.sass
Labels: T: bug, Framework, sass

#15663 fix(VToolbar): don't allow toolbar to grow in flex column
  packages/vuetify/src/components/VToolbar/_variables.scss
Labels: T: bug, C: VToolbar

#15707 fix(VPagination): handle total-visible larger than length
  packages/vuetify/src/components/VPagination/VPagination.tsx
  packages/vuetify/src/components/VPagination/__tests__/VPagination.spec.cy.tsx
Labels: C: VPagination

#15672 fix(VSlider): properly trigger touchend event
  packages/vuetify/src/components/VSlider/VSliderThumb.sass
  packages/vuetify/src/components/VSlider/slider.ts
  packages/vuetify/src/components/VWindow/VWindow.tsx
Labels: C: VSlider

#15567 feat(elevation): allow CSS variables for shadow opacities
  packages/vuetify/src/styles/settings/_elevations.scss
Labels: T: feature, Framework
