Repository vuetifyjs/vuetify, pull requests merged in 2022-06, with the labels that each got.

#15175 feat(theme): redesign public interface
  packages/docs/src/App.vue
  packages/docs/src/components/app/Markup.vue
  packages/docs/src/components/app/Toc.vue
  packages/docs/src/components/app/settings/Group.vue
  packages/docs/src/components/examples/Example.vue
  packages/docs/src/components/promoted/Base.vue
  packages/docs/src/components/sponsor/Card.vue
  packages/docs/src/pages/en/features/theme.md
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/theme.ts
Labels: E: theme

#15201 docs(releases): convert component to composition api
  package.json
  packages/docs/src/components/app/Markdown.vue
  packages/docs/src/components/doc/Releases.vue
  packages/docs/src/plugins/global-components.ts
  packages/docs/src/plugins/octokit.js
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  yarn.lock
Labels: T: documentation, C: VSelect, C: VCombobox, C: VAutocomplete, C: VMenu

#15304 fix: validate selected items instead of search
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#15081 feat(VCheckboxBtn): create new component
  packages/docs/src/examples/v-checkbox/misc-inline-textfield.vue
  packages/docs/src/pages/en/components/checkboxes.md
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
  packages/vuetify/src/components/VCheckbox/VCheckboxBtn.tsx
  packages/vuetify/src/components/VCheckbox/__tests__/VCheckboxBtn.spec.cy.tsx
  packages/vuetify/src/components/VCheckbox/index.ts
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.sass
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
Labels: T: feature, C: VSimpleCheckbox

#15311 feat: rename variants
  packages/api-generator/src/locale/en/variant.json
  packages/docs/src/components/Alert.vue
  packages/docs/src/components/app/PwaSnackbar.vue
  packages/docs/src/components/app/Toc.vue
  packages/docs/src/examples/v-alert/prop-closable.vue
  packages/docs/src/examples/v-alert/prop-density.vue
  packages/docs/src/examples/v-alert/prop-variant.vue
  packages/docs/src/examples/v-alert/usage.vue
  packages/docs/src/examples/v-badge/prop-dot.vue
  packages/docs/src/examples/v-btn/prop-variant.vue
  packages/docs/src/examples/v-card/usage.vue
  packages/docs/src/examples/v-carousel/slots-next-prev.vue
  packages/docs/src/examples/v-list/prop-variant.vue
  packages/docs/src/examples/v-select/usage.vue
  packages/docs/src/examples/v-snackbar/prop-variants.vue
  packages/docs/src/examples/v-text-field/prop-clearable.vue
  packages/docs/src/examples/v-text-field/prop-contained.vue
  packages/docs/src/examples/v-text-field/prop-custom-colors.vue
  packages/docs/src/examples/v-text-field/prop-dense.vue
  packages/docs/src/examples/v-text-field/prop-disabled-and-readonly.vue
  packages/docs/src/examples/v-text-field/prop-hint.vue
  packages/docs/src/examples/v-text-field/prop-icon.vue
  packages/docs/src/examples/v-text-field/prop-single-line.vue
  packages/docs/src/examples/v-text-field/prop-variant.vue
  packages/docs/src/examples/v-text-field/usage.vue
  packages/docs/src/pages/en/components/alerts.md
  packages/docs/src/pages/en/components/buttons.md
  packages/docs/src/pages/en/components/text-fields.md
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.cy.tsx
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.cy.tsx
  packages/vuetify/src/components/VBtnGroup/__tests__/VBtnGroup.spec.cy.tsx
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VCard/__tests__/__snapshots__/VCard.spec.ts.snap
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VChipGroup/VChipGroup.tsx
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.cy.tsx
  packages/vuetify/src/components/VToolbar/VToolbarItems.tsx
  packages/vuetify/src/composables/__tests__/variant.spec.ts
  packages/vuetify/src/composables/variant.tsx
  packages/vuetify/src/styles/tools/_variant.sass
Labels: T: enhancement

#15255 refactor(VLocaleProvider): tuning pass
  packages/vuetify/src/components/VLocaleProvider/VLocaleProvider.tsx
  packages/vuetify/src/components/VLocaleProvider/__tests__/VLocaleProvider.spec.cy.tsx
Labels: C: VLocaleProvider

#15254 refactor(VMain): tuning pass
  packages/vuetify/src/components/VMain/VMain.tsx
  packages/vuetify/src/components/VMain/__tests__/VMain.spec.cy.tsx
  packages/vuetify/src/components/VMain/__tests__/VMain.spec.ts
  packages/vuetify/src/components/VMain/__tests__/__snapshots__/VMain.spec.ts.snap
  packages/vuetify/src/components/VMain/_variables.scss
Labels: C: VMain

#15256 refactor(VLabel): tuning pass
  packages/vuetify/src/components/VLabel/VLabel.tsx
  packages/vuetify/src/components/VLabel/__tests__/VLabel.spec.cy.tsx
  packages/vuetify/src/components/VLabel/__tests__/VLabel.spec.ts
  packages/vuetify/src/components/VLabel/_variables.scss
Labels: C: VLabel

#15184 refactor(VLazy): tuning pass
  packages/docs/src/pages/en/components/lazy.md
  packages/vuetify/src/components/VLazy/VLazy.tsx
  packages/vuetify/src/components/VLazy/__tests__/VLazy.spec.cy.tsx
  packages/vuetify/src/components/VLazy/__tests__/VLazy.spec.ts
  packages/vuetify/src/components/VLazy/__tests__/__snapshots__/VLazy.spec.ts.snap
Labels: C: VLazy

#15185 refactor(VNoSsr): tuning pass
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/pages/en/components/no-ssr.md
  packages/vuetify/src/components/VNoSsr/VNoSsr.tsx
Labels: C: VNoSsr

#15200 refactor(VMessages): tuning pass
  packages/vuetify/src/components/VMessages/VMessages.tsx
  packages/vuetify/src/components/VMessages/__tests__/VMessages.spec.cy.tsx
  packages/vuetify/src/components/VMessages/__tests__/VMessages.spec.ts
  packages/vuetify/src/components/VMessages/__tests__/__snapshots__/VMessages.spec.ts.snap
  packages/vuetify/src/components/VMessages/_variables.scss
Labels: C: VMessages

#15258 refactor(VRadio): tuning pass
  packages/vuetify/src/components/VRadio/__tests__/VRadio.spec.cy.tsx
Labels: C: VRadio

#15192 refactor(VAppBar): tuning pass
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VAppBar/VAppBarNavIcon.tsx
  packages/vuetify/src/components/VAppBar/VAppBarTitle.tsx
  packages/vuetify/src/components/VAppBar/_variables.scss
Labels: C: VAppBar

#15179 refactor(VApp): tuning pass
  packages/vuetify/src/components/VApp/VApp.sass
  packages/vuetify/src/components/VApp/VApp.tsx
  packages/vuetify/src/components/VApp/__tests__/VApp.spec.ts
  packages/vuetify/src/components/VApp/__tests__/__snapshots__/VApp.spec.ts.snap
  packages/vuetify/src/components/VApp/variables.scss
Labels: C: VApp

#15112 refactor(VAvatar): tuning pass
  packages/vuetify/src/components/VAvatar/VAvatar.tsx
  packages/vuetify/src/components/VAvatar/__tests__/VAvatar.spec.cy.tsx
  packages/vuetify/src/components/VAvatar/__tests__/VAvatar.spec.ts
  packages/vuetify/src/components/VAvatar/__tests__/__snapshots__/VAvatar.spec.ts.snap
Labels: C: VAvatar

#15195 refactor(VBtnGroup): tuning pass
  packages/docs/src/pages/en/components/button-groups.md
  packages/vuetify/src/components/VBtnGroup/_variables.scss
Labels: C: VBtnGroup

#15196 refactor(VBtnToggle): tuning pass
  packages/vuetify/src/components/VBtnToggle/_variables.scss
Labels: C: VBtnToggle

#15109 refactor(VBanner): tuning pass
  packages/vuetify/src/components/VBanner/VBanner.sass
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VBanner/VBannerAvatar.tsx
  packages/vuetify/src/components/VBanner/VBannerIcon.tsx
  packages/vuetify/src/components/VBanner/index.ts
Labels: C: VBanner

#15198 refactor(VChipGroup): tuning pass
  packages/docs/src/pages/en/components/chip-groups.md
  packages/vuetify/src/components/VChipGroup/VChipGroup.tsx
  packages/vuetify/src/components/VChipGroup/__tests__/VChipGroup.spec.ts
  packages/vuetify/src/components/VChipGroup/__tests__/__snapshots__/VChipGroup.spec.ts.snap
  packages/vuetify/src/components/VChipGroup/_variables.scss
Labels: C: VChipGroup

#15226 refactor(VParallax): tuning pass
  packages/vuetify/src/components/VParallax/VParallax.tsx
  packages/vuetify/src/components/VParallax/__tests__/VParallax.spec.cy.tsx
Labels: C: VParallax

#15266 refactor(VProgressCircular): tuning pass
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.tsx
  packages/vuetify/src/components/VProgressCircular/__tests__/VProgressCircular.spec.cy.tsx
  packages/vuetify/src/components/VProgressCircular/__tests__/VProgressCircular.spec.ts
  packages/vuetify/src/components/VProgressCircular/__tests__/__snapshots__/VProgressCircular.spec.ts.snap
  packages/vuetify/src/components/VProgressCircular/_variables.scss
Labels: C: VProgressCircular

#15193 refactor(VBadge): tuning pass
  packages/docs/src/pages/en/components/badges.md
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBadge/_variables.scss
Labels: C: VBadge

#15250 refactor(VSelectionControlGroup): tuning pass
  packages/vuetify/src/components/VSelectionControlGroup/VSelectionControlGroup.sass
  packages/vuetify/src/components/VSelectionControlGroup/VSelectionControlGroup.tsx
  packages/vuetify/src/components/VSelectionControlGroup/__tests__/VSelectionControlGroup.spec.cy.tsx
  packages/vuetify/src/components/VSelectionControlGroup/_variables.scss
Labels: C: VSelectionControlGroup

#15197 refactor(VCarousel): tuning pass
  packages/docs/src/pages/en/components/carousels.md
  packages/vuetify/src/components/VCarousel/VCarousel.tsx
  packages/vuetify/src/components/VCarousel/VCarouselItem.tsx
  packages/vuetify/src/components/VCarousel/__tests__/VCarousel.spec.cy.tsx
  packages/vuetify/src/components/VCarousel/__tests__/VCarousel.spec.ts
  packages/vuetify/src/components/VCarousel/__tests__/VCarouselItem.spec.cy.tsx
  packages/vuetify/src/components/VCarousel/__tests__/VCarouselItem.spec.ts
  packages/vuetify/src/components/VCarousel/__tests__/__snapshots__/VCarousel.spec.ts.snap
  packages/vuetify/src/components/VCarousel/_variables.scss
Labels: C: VCarousel

#15194 refactor(VBottomNavigation): tuning pass
  packages/docs/src/pages/en/components/bottom-navigation.md
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/VBottomNavigation.spec.cy.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/VBottomNavigation.spec.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.tsx.snap
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
Labels: C: VBottomNavigation

#15285 refactor(VRating): tuning pass
  packages/vuetify/src/components/VRating/VRating.sass
  packages/vuetify/src/components/VRating/VRating.tsx
Labels: C: VRating

#15284 refactor(VOverlay): tuning pass
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/useActivator.tsx
Labels: C: VOverlay

#15259 refactor(VRadioGroup): tuning pass
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.sass
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/components/VRadioGroup/__tests__/VRadio.spec.ts
  packages/vuetify/src/components/VRadioGroup/__tests__/VRadioGroup.spec.cy.tsx
  packages/vuetify/src/components/VRadioGroup/__tests__/VRadioGroup.spec.ts
  packages/vuetify/src/components/VRadioGroup/__tests__/__snapshots__/VRadio.spec.ts.snap
  packages/vuetify/src/components/VRadioGroup/__tests__/__snapshots__/VRadioGroup.spec.ts.snap
  packages/vuetify/src/components/VRadioGroup/_variables.scss
Labels: C: VRadioGroup

#15245 refactor(VTooltip): tuning pass
  packages/vuetify/src/components/VTooltip/VTooltip.tsx
  packages/vuetify/src/components/VTooltip/__tests__/VTooltip.spec.cy.tsx
  packages/vuetify/src/components/VTooltip/__tests__/VTooltip.spec.ts
  packages/vuetify/src/components/VTooltip/__tests__/__snapshots__/VTooltip.spec.ts.snap
  packages/vuetify/src/components/VTooltip/_variables.scss
Labels: C: VTooltip

#15181 refactor(VBreadcrumbs): tuning pass
  packages/docs/src/pages/en/components/breadcrumbs.md
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsItem.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.cy.tsx
  packages/vuetify/src/components/VBreadcrumbs/shared.ts
Labels: C: VBreadcrumb

#15289 refactor(VDialog): tuning pass
  packages/docs/src/pages/en/components/dialogs.md
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VDialog/__tests__/VDialog.spec.cy.tsx
  packages/vuetify/src/components/VDialog/_variables.scss
Labels: C: VDialog

#15253 refactor(VForm): tuning pass
  packages/vuetify/src/components/VForm/VForm.tsx
Labels: C: VForm

#15251 refactor(VField): tuning pass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VField/VFieldLabel.tsx
  packages/vuetify/src/components/VField/__tests__/VField.spec.cy.tsx
Labels: C: VField

#15114 refactor(VFooter): tuning pass
  packages/vuetify/src/components/VFooter/VFooter.tsx
  packages/vuetify/src/components/VFooter/__tests__/VFooter.spec.cy.tsx
  packages/vuetify/src/components/VFooter/_variables.scss
Labels: C: VFooter

#15248 refactor(VSlideGroup): tuning pass
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
  packages/vuetify/src/components/VSlideGroup/VSlideGroupItem.tsx
  packages/vuetify/src/components/VSlideGroup/_variables.scss
  packages/vuetify/src/components/VSlideGroup/index.ts
Labels: C: VSlideGroup

#15244 refactor(VWindow): tuning pass
  packages/vuetify/src/components/VWindow/VWindow.tsx
  packages/vuetify/src/components/VWindow/VWindowItem.tsx
  packages/vuetify/src/components/VWindow/__tests__/VWindow.spec.ts
  packages/vuetify/src/components/VWindow/__tests__/VWindowItem.spec.ts
  packages/vuetify/src/components/VWindow/_variables.scss
Labels: C: VWindow

#15243 refactor(VSystemBar): tuning pass
  packages/vuetify/src/components/VSystemBar/VSystemBar.tsx
  packages/vuetify/src/components/VSystemBar/__tests__/VSystemBar.spec.cy.tsx
  packages/vuetify/src/components/VSystemBar/_variables.scss
Labels: C: VSystemBar

#15262 refactor(VTabs): tuning pass
  packages/vuetify/src/components/VTabs/VTab.tsx
  packages/vuetify/src/components/VTabs/VTabs.tsx
  packages/vuetify/src/components/VTabs/_variables.scss
Labels: C: VTabs

#15263 refactor(VNavigationDrawer): tuning pass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/_variables.scss
  packages/vuetify/src/components/VNavigationDrawer/touch.ts
Labels: C: VNavigationDrawer

#15228 refactor(VRangeSlider): tuning pass
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VRangeSlider/__tests__/VRangeSlider.spec.cy.tsx
  packages/vuetify/src/components/VRangeSlider/__tests__/VRangeSlider.spec.ts
  packages/vuetify/src/components/VRangeSlider/__tests__/__snapshots__/VRangeSlider.spec.ts.snap
Labels: C: VRangeSlider

#15292 refactor(VColorPicker): tuning pass
  packages/vuetify/src/components/VColorPicker/VColorPicker.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerCanvas.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.tsx
  packages/vuetify/src/components/VColorPicker/_variables.scss
Labels: C: VColorPicker

#15252 refactor(VTextField): tuning pass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
  packages/vuetify/src/components/VTextField/__tests__/__snapshots__/VTextField.spec.ts.snap
  packages/vuetify/src/components/VTextField/_variables.scss
Labels: C: VTextField

#15227 refactor(VSlider): tuning pass
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
  packages/vuetify/src/components/VSlider/VSliderTrack.tsx
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.ts
  packages/vuetify/src/components/VSlider/__tests__/__snapshots__/VSlider.spec.ts.snap
  packages/vuetify/src/components/VSlider/slider.ts
Labels: C: VSlider

#15247 refactor(VSwitch): tuning pass
  packages/vuetify/src/components/VSwitch/__tests__/VSwitch.spec.cy.tsx
  packages/vuetify/src/components/VSwitch/__tests__/VSwitch.spec.ts
  packages/vuetify/src/components/VSwitch/__tests__/__snapshots__/VSwitch.spec.ts.snap
  packages/vuetify/src/components/VSwitch/_variables.scss
Labels: C: VSwitch

#15212 refactor(VIcon): tuning pass
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.cy.tsx
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.ts
  packages/vuetify/src/components/VIcon/__tests__/__snapshots__/VIcon.spec.ts.snap
  packages/vuetify/src/components/VIcon/_variables.scss
  packages/vuetify/src/components/VIcon/index.ts
Labels: C: VIcon

#15186 refactor(VTable): tuning pass
  packages/docs/src/pages/en/components/tables.md
  packages/vuetify/src/components/VTable/VTable.tsx
  packages/vuetify/src/components/VTable/__tests__/VTable.spec.cy.tsx
  packages/vuetify/src/components/VTable/_variables.scss
Labels: C: VTable

#14584 fix(VDialog): focus on internal content when shown
  packages/vuetify/src/components/VDialog/VDialog.sass
  packages/vuetify/src/components/VDialog/VDialog.ts
  packages/vuetify/src/components/VDialog/__tests__/VDialog.spec.ts
  packages/vuetify/src/components/VDialog/__tests__/__snapshots__/VDialog.spec.ts.snap
  packages/vuetify/src/mixins/dependent/index.ts
  packages/vuetify/src/mixins/detachable/index.ts
Labels: T: bug, C: VDialog

#15355 refactor(VAutocomplete): tuning pass
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: C: VAutocomplete

#15249 refactor(VResponsive): tuning pass
  packages/vuetify/src/components/VResponsive/VResponsive.tsx
Labels: C: VResponsive

#15296 refactor(VGrid): tuning pass
  packages/vuetify/src/components/VGrid/VCol.ts
  packages/vuetify/src/components/VGrid/VContainer.tsx
  packages/vuetify/src/components/VGrid/VRow.ts
Labels: C: VGrid

#15230 refactor(VTimeline): tuning pass
  packages/vuetify/src/components/VTimeline/VTimeline.sass
  packages/vuetify/src/components/VTimeline/VTimeline.tsx
  packages/vuetify/src/components/VTimeline/VTimelineDivider.tsx
  packages/vuetify/src/components/VTimeline/VTimelineItem.tsx
  packages/vuetify/src/components/VTimeline/_variables.scss
  packages/vuetify/src/components/VTimeline/shared.ts
Labels: C: VTimeline

#15283 refactor(VCard): tuning pass
  packages/docs/src/examples/v-card/basics-content.vue
  packages/docs/src/examples/v-card/misc-weather-card.vue
  packages/docs/src/examples/v-card/prop-loading.vue
  packages/docs/src/examples/v-card/prop-outlined.vue
  packages/docs/src/examples/v-card/usage.vue
  packages/vuetify/src/components/VCard/VCard.sass
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VCard/VCardAvatar.ts
  packages/vuetify/src/components/VCard/VCardContent.ts
  packages/vuetify/src/components/VCard/VCardHeader.ts
  packages/vuetify/src/components/VCard/VCardHeaderText.ts
  packages/vuetify/src/components/VCard/VCardImg.ts
  packages/vuetify/src/components/VCard/VCardItem.tsx
  packages/vuetify/src/components/VCard/__tests__/VCard.spec.cy.tsx
  packages/vuetify/src/components/VCard/__tests__/VCard.spec.ts
  packages/vuetify/src/components/VCard/__tests__/__snapshots__/VCard.spec.ts.snap
  packages/vuetify/src/components/VCard/_variables.scss
  packages/vuetify/src/components/VCard/index.ts
  packages/vuetify/src/components/VDialog/VDialog.sass
Labels: C: VCard

#15213 refactor(VBtn): tuning pass
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/_variables.scss
  packages/vuetify/src/components/VPagination/__tests__/VPagination.spec.cy.tsx
Labels: C: VBtn

#15360 refactor(VList): tuning pass
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListChildren.tsx
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VList/VListItemAction.tsx
  packages/vuetify/src/components/VList/VListItemAvatar.tsx
  packages/vuetify/src/components/VList/VListItemIcon.tsx
  packages/vuetify/src/components/VList/VListItemMedia.tsx
  packages/vuetify/src/components/VList/VListSubheader.tsx
  packages/vuetify/src/components/VList/index.ts
Labels: C: VList

#14973 refactor(VChip): tuning pass
  packages/docs/src/pages/en/components/chips.md
  packages/vuetify/src/components/VChip/VChip.sass
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VChip/_mixins.scss
  packages/vuetify/src/components/VChip/_variables.scss
Labels: C: VChip

#15350 fix(VToolbar): v-btn location in and outside of prepend/append elements
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VToolbar/VToolbar.tsx
  packages/vuetify/src/components/VToolbar/_variables.scss
Labels: T: bug, C: VToolbar

#15177 feat(framework): add new blueprint global options
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/pages/en/features/blueprints.md
  packages/vuetify/dev/vuetify.js
  packages/vuetify/src/blueprints/index.ts
  packages/vuetify/src/blueprints/md1.ts
  packages/vuetify/src/blueprints/md2.ts
  packages/vuetify/src/blueprints/md3.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/presets/default/index.ts
Labels: Service: Blueprints

#15269 fix(validation): set input to invalid using error/errorMessages
  packages/vuetify/src/composables/__tests__/validation.spec.ts
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, E: Validation
