Repository vuetifyjs/vuetify, pull requests merged in 2022-12, with the labels that each got.

#16194 fix(VSelectionControl/VCheckbox/VSwitch): long label wrapping
  packages/vuetify/src/components/VCheckbox/VCheckbox.sass
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.sass
  packages/vuetify/src/components/VSwitch/VSwitch.sass
Labels: T: bug, C: VSwitch, C: VCheckbox, C: VSelectionControl

#16199 docs: clarified using vuetify sass variables in templates
  packages/docs/src/pages/en/features/sass-variables.md
Labels: T: documentation, sass

#16218 docs(Banner): implement new banner styling
  packages/docs/src/App.vue
  packages/docs/src/components/app/Banner.vue
  packages/docs/src/components/app/SystemBar.vue
  packages/docs/src/components/app/settings/Dev.vue
  packages/docs/src/components/app/settings/Drawer.vue
  packages/docs/src/components/app/settings/Group.vue
  packages/docs/src/composables/ad.ts
  packages/docs/src/layouts/default.vue
  packages/docs/src/plugins/pinia.ts
  packages/docs/src/store/banners.ts
  packages/docs/src/store/user.ts
  packages/vuetify/src/components/VSystemBar/__tests__/VSystemBar.spec.cy.tsx
  packages/vuetify/src/components/VSystemBar/_variables.scss
Labels: T: documentation

#16212 fix(VRow): correct gutter between rows
  packages/vuetify/src/components/VGrid/VGrid.sass
Labels: T: bug, C: VGrid

#16193 fix(types): unwrap refs in `this.$vuetify`
  packages/vuetify/src/shims.d.ts
Labels: typescript

#16217 fix(VRadioGroup): remove clickable from label
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
Labels: T: bug, C: VRadioGroup

#16052 fix: parse all colors to rgba objects instead of numbers
  packages/vuetify/src/components/VColorPicker/VColorPicker.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerCanvas.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.tsx
  packages/vuetify/src/components/VColorPicker/util/index.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/util/__tests__/colorUtils.spec.ts
  packages/vuetify/src/util/color/APCA.ts
  packages/vuetify/src/util/color/transformSRGB.ts
  packages/vuetify/src/util/colorUtils.ts
Labels: T: enhancement, E: theme

#16256 fix(VChip): component always shows cursor pointer
  packages/vuetify/src/components/VChip/VChip.tsx
Labels: T: bug, C: VChip

#16231 fix: change _isVue references to vue3's __isVue
  packages/vuetify/src/services/goto/util.ts
  packages/vuetify/src/util/__tests__/console.spec.ts
  packages/vuetify/src/util/console.ts
Labels: T: bug

#15934 fix(VTooltip): tooltip overlay interfering with VMenu
  packages/api-generator/src/types.ts
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VTooltip/VTooltip.tsx
  packages/vuetify/src/composables/stack.ts
Labels: T: bug, C: VTooltip

#16246 fix(validation): don't truncate error message passed as string
  packages/vuetify/src/composables/__tests__/validation.spec.ts
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, E: Validation

#16171 docs(icon-fonts): improve accuracy of mdi-svg usage
  packages/docs/src/pages/en/features/icon-fonts.md
Labels: T: documentation, E: icons

#16200 docs(VBottomSheet): remove unused property from example
  packages/docs/src/examples/v-bottom-sheet/prop-model.vue
Labels: T: documentation

#15864 fix(VDataTable): native event as argument to click:row
  packages/api-generator/src/locale/en/v-data-table.json
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataTable/VDataTable.ts
Labels: T: bug, C: VDataTable

#14573 fix(ripple): check parent before calling removeChild
  packages/vuetify/src/directives/ripple/index.ts
Labels: T: bug, C: VRipple

#16114 fix(VAutocomplete/VCombobox/VSelect): return-object comparison
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#16044 fix(VBottomNavigation): use active prop for visibility
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
Labels: T: bug, C: VBottomNavigation

#16209 fix(VRadioGroup): correct margin definitions
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.sass
  packages/vuetify/src/components/VRadioGroup/_variables.scss
Labels: T: bug, C: VRadioGroup

#16311 docs(AppBar): update style and content
  .github/workflows/ci.yml
  packages/docs/.env.example
  packages/docs/src/components/Backmatter.vue
  packages/docs/src/components/app/Btn.vue
  packages/docs/src/components/app/bar/Bar.vue
  packages/docs/src/components/app/bar/EcosystemMenu.vue
  packages/docs/src/components/app/bar/EnterpriseLink.vue
  packages/docs/src/components/app/bar/LearnMenu.vue
  packages/docs/src/components/app/bar/SettingsToggle.vue
  packages/docs/src/components/app/bar/ThemeToggle.vue
  packages/docs/src/components/app/search/Search.vue
  packages/docs/src/components/promoted/Bsa.vue
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/plugins/global-components.ts
  packages/docs/src/util/analytics.ts
Labels: T: documentation

#16327 (docs) fix typo
  packages/docs/src/pages/en/introduction/why-vuetify.md
Labels: T: documentation

#16341 feat(labs): add labs export
  packages/api-generator/src/index.ts
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/pages/en/labs/introduction.md
  packages/docs/src/plugins/vuetify.ts
  packages/vuetify/_settings.scss
  packages/vuetify/build/rollup.config.js
  packages/vuetify/build/rollup.types.config.js
  packages/vuetify/package.json
  packages/vuetify/src/labs/components.ts
  packages/vuetify/src/labs/index.ts
Labels: T: feature

#16355 docs(VNavigationDrawer): increase height of bottom example
  packages/docs/src/examples/v-navigation-drawer/prop-bottom-drawer.vue
Labels: T: documentation
