Repository vuetifyjs/vuetify, pull requests merged in 2022-04, with the labels that each got.

#13911 feat(css): add new height / width utility classes
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/sizing/height.vue
  packages/docs/src/examples/sizing/width.vue
  packages/docs/src/pages/en/styles/sizing.md
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: T: feature, Framework

#14917 docs: add vue school links
  packages/docs/src/components/ad/Ad.vue
  packages/docs/src/mixins/ad.js
  packages/docs/src/pages/en/components/alerts.md
  packages/docs/src/pages/en/components/cards.md
  packages/docs/src/pages/en/components/data-tables.md
  packages/docs/src/pages/en/features/internationalization.md
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#14920 feat(VSnackbar): re-implement using VOverlay
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
  packages/vuetify/src/components/VSnackbar/VSnackbar.tsx
  packages/vuetify/src/components/VSnackbar/_variables.scss
Labels: C: VSnackbar

#14945 fix(VForm): should update valid state reactively
  packages/vuetify/src/components/VForm/VForm.tsx
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.cy.tsx
  packages/vuetify/src/composables/form.ts
  packages/vuetify/src/composables/validation.ts
Labels: C: VForm

#14943 fix(validation): respect number 0 when calculating isDirty
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, E: Validation

#14979 feat(VForm): emit custom SubmitEventPromise event on submit
  packages/api-generator/src/maps/components/v-form.js
  packages/vuetify/src/components/VForm/VForm.tsx
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.cy.tsx
  packages/vuetify/src/composables/form.ts
  packages/vuetify/src/composables/index.ts
Labels: T: feature, C: VForm

#14997 refactor(colors): remove border-color declaration
  packages/vuetify/src/styles/generic/_colors.scss
Labels: T: enhancement, Framework, sass

#14888 refactor(VTimeline): updated css, added align prop
  packages/docs/src/examples/v-timeline/misc-advanced.vue
  packages/docs/src/examples/v-timeline/prop-align.vue
  packages/docs/src/examples/v-timeline/prop-color.vue
  packages/docs/src/examples/v-timeline/prop-direction.vue
  packages/docs/src/examples/v-timeline/prop-icon-dots.vue
  packages/docs/src/examples/v-timeline/prop-line-inset.vue
  packages/docs/src/examples/v-timeline/prop-single-side.vue
  packages/docs/src/examples/v-timeline/prop-size.vue
  packages/docs/src/examples/v-timeline/prop-truncate-line.vue
  packages/docs/src/examples/v-timeline/slot-icon.vue
  packages/docs/src/examples/v-timeline/slot-opposite.vue
  packages/docs/src/examples/v-timeline/usage.vue
  packages/docs/src/pages/en/components/timelines.md
  packages/vuetify/src/components/VTimeline/VTimeline.sass
  packages/vuetify/src/components/VTimeline/VTimeline.tsx
  packages/vuetify/src/components/VTimeline/__tests__/VTimeline.spec.cy.tsx
  packages/vuetify/src/components/VTimeline/__tests__/VTimeline.spec.ts
  packages/vuetify/src/components/VTimeline/__tests__/__snapshots__/VTimeline.spec.ts.snap
  packages/vuetify/src/components/VTimeline/_variables.scss
Labels: T: documentation, C: VTimeline
