Repository vuetifyjs/vuetify, pull requests merged in 2022-05, with the labels that each got.

#15031 feat(VTabs): right prop renamed to end
  packages/docs/src/examples/v-tabs/prop-end.vue
  packages/docs/src/pages/en/components/tabs.md
  packages/vuetify/src/components/VTabs/VTabs.sass
  packages/vuetify/src/components/VTabs/VTabs.tsx
Labels: T: enhancement, C: VTabs

#15018 feat(VMenu): support nested submenus
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VMenu/shared.ts
  packages/vuetify/src/components/VOverlay/VOverlay.sass
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/__tests__/VOverlay.spec.cy.tsx
  packages/vuetify/src/components/VOverlay/_variables.scss
  packages/vuetify/src/components/VOverlay/useActivator.tsx
  packages/vuetify/src/styles/tools/_states.sass
Labels: T: enhancement, C: VMenu

#14996 fix(VToolbar): add missing border functionality
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VToolbar/_variables.scss
Labels: T: bug, C: VToolbar, C: VAppBar

#14995 fix(VFooter): add application layout support
  packages/vuetify/src/components/VFooter/VFooter.tsx
  packages/vuetify/src/composables/layout.ts
Labels: T: bug, C: VFooter

#14994 fix(VIcon): use pointer cursor on clickable icons
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
Labels: T: feature, C: VIcon

#15092 docs(VSheets): normalize grammar and clarify markup
  packages/docs/src/pages/en/components/sheets.md
Labels: T: documentation, C: VSheet

#14971 refactor(VAlert): tuning pass
  packages/docs/src/pages/en/components/alerts.md
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAlert/VAlertIcon.tsx
  packages/vuetify/src/components/VAlert/VAlertText.ts
  packages/vuetify/src/components/VAlert/VAlertTitle.ts
  packages/vuetify/src/components/VAlert/__tests__/VAlert.spec.cy.tsx
  packages/vuetify/src/components/VAlert/__tests__/VAlert.spec.ts
  packages/vuetify/src/components/VAlert/_variables.scss
  packages/vuetify/src/components/VAlert/index.ts
Labels: C: VAlert

#15107 feat(VSlider): add $slider-track-active-size-offset variable
  packages/vuetify/src/components/VSlider/VSlider.sass
  packages/vuetify/src/components/VSlider/VSliderTrack.sass
  packages/vuetify/src/components/VSlider/VSliderTrack.tsx
  packages/vuetify/src/components/VSlider/_variables.scss
Labels: T: feature, C: VSlider

#15116 docs(pwa): serve SPA index, don't cache static pages
  packages/docs/src/service-worker.js
Labels: T: documentation

#15152 feat: consolidate all position and location props
  packages/docs/src/components/about/TeamMember.vue
  packages/docs/src/components/app/Markup.vue
  packages/docs/src/components/app/Toc.vue
  packages/docs/src/components/app/TooltipBtn.vue
  packages/docs/src/components/app/menu/Menu.vue
  packages/docs/src/components/app/settings/Drawer.vue
  packages/docs/src/components/examples/Example.vue
  packages/docs/src/components/examples/UsageExample.vue
  packages/docs/src/examples/application-layout/discord.vue
  packages/docs/src/examples/application-layout/position.vue
  packages/docs/src/examples/v-menu/misc-popover.vue
  packages/docs/src/examples/v-menu/prop-location.vue
  packages/docs/src/examples/v-menu/slot-activator-and-tooltip.vue
  packages/docs/src/examples/v-navigation-drawer/prop-right.vue
  packages/docs/src/examples/v-overlay/connected-playground.vue
  packages/docs/src/examples/v-tooltip/prop-location.vue
  packages/docs/src/pages/en/components/menus.md
  packages/docs/src/pages/en/components/navigation-drawers.md
  packages/docs/src/pages/en/components/overlays.md
  packages/docs/src/pages/en/components/tooltips.md
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VList/_variables.scss
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.cy.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
  packages/vuetify/src/components/VOverlay/scrollStrategies.ts
  packages/vuetify/src/components/VSheet/VSheet.tsx
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
  packages/vuetify/src/components/VSnackbar/VSnackbar.tsx
  packages/vuetify/src/components/VTooltip/VTooltip.tsx
  packages/vuetify/src/composables/__tests__/location.spec.ts
  packages/vuetify/src/composables/__tests__/position.spec.ts
  packages/vuetify/src/composables/location.ts
  packages/vuetify/src/composables/position.ts
Labels: T: enhancement, C: VNavigationDrawer, C: VCard, C: VBtn, C: VMenu, C: VTooltip, C: VSnackbar, C: VAlert, C: VBadge, C: VFooter, C: VBanner, C: VOverlay, C: VAppBar, C: VSheet

#15153 feat(layout): rename priority to order
  packages/docs/src/examples/application-layout/dynamic.vue
  packages/docs/src/pages/en/components/application.md
  packages/docs/src/pages/en/features/application-layout.md
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VFooter/VFooter.tsx
  packages/vuetify/src/components/VLayout/VLayoutItem.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VSystemBar/VSystemBar.tsx
  packages/vuetify/src/composables/layout.ts
Labels: T: enhancement, E: layout

#15139 refactor(framework): tuning pass
  packages/vuetify/src/composables/icons.tsx
  packages/vuetify/src/composables/locale.ts
  packages/vuetify/src/framework.ts
Labels: Framework
