Repository vuetifyjs/vuetify, pull requests merged in 2022-09, with the labels that each got.

#15715 feat(VTimeline): add justify prop
  packages/vuetify/src/components/VTimeline/VTimeline.sass
  packages/vuetify/src/components/VTimeline/VTimeline.tsx
  packages/vuetify/src/components/VTimeline/_variables.scss
Labels: C: VTimeline

#15750 fix(VField): center input when singleLine or no label
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextarea/VTextarea.sass
Labels: T: bug, C: VField

#15717 feat(VAvatar): add variant support
  packages/vuetify/src/components/VAvatar/VAvatar.sass
  packages/vuetify/src/components/VAvatar/VAvatar.tsx
  packages/vuetify/src/components/VAvatar/_variables.scss
Labels: T: bug, C: VAvatar
