Repository vuetifyjs/vuetify, pull requests merged in 2022-07, with the labels that each got.

#15359 fix(theme): allow a csp nonce to be specified
  packages/docs/src/pages/en/features/theme.md
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/theme.ts
Labels: E: theme

#15422 docs(VRadio): fix color prop example casing
  packages/docs/src/examples/v-radio-group/prop-colors.vue
Labels: T: documentation, C: VRadio

#15385 fix(transitions): apply default transition to component transitions
  packages/vuetify/src/components/transitions/index.ts
  packages/vuetify/src/styles/generic/_transitions.scss
Labels: T: bug, E: transition

#15447 fix(VBreadcrumbs): only render one icon
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.sass
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.cy.tsx
  packages/vuetify/src/components/VBreadcrumbs/_variables.scss
Labels: T: bug, C: VBreadcrumb

#15449 fix(VPagination): remove VBtn defaults, add activeColor prop
  packages/vuetify/src/components/VPagination/VPagination.tsx
  packages/vuetify/src/components/VPagination/__tests__/VPagination.spec.cy.tsx
Labels: T: bug, C: VPagination

#15271 fix(VCombobox): make search work when multiple prop missing
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
Labels: T: bug, C: VCombobox

#15502 fix(VTable): position fixed header above tbody content
  packages/vuetify/src/components/VTable/VTable.sass
Labels: T: bug, C: VTable

#15494 fix(VField): remove explicit v-field__input align-self
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VField

#15452 refactor(VListItem): implement grid, normalize usage w/ v-card-item
  packages/docs/src/examples/v-list/misc-action-and-item-groups.vue
  packages/docs/src/examples/v-list/prop-density.vue
  packages/docs/src/examples/v-list/prop-disabled.vue
  packages/docs/src/examples/v-list/prop-nav.vue
  packages/docs/src/examples/v-list/prop-rounded.vue
  packages/docs/src/examples/v-list/prop-shaped.vue
  packages/docs/src/examples/v-list/prop-sub-group.vue
  packages/docs/src/examples/v-list/prop-three-line.vue
  packages/docs/src/examples/v-list/prop-two-line-and-subheader.vue
  packages/docs/src/examples/v-list/prop-variant.vue
  packages/docs/src/examples/v-list/usage.vue
  packages/docs/src/pages/en/components/lists.md
  packages/vuetify/src/components/VList/VList.sass
  packages/vuetify/src/components/VList/VListChildren.tsx
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VList/VListItemAvatar.tsx
  packages/vuetify/src/components/VList/VListItemHeader.ts
  packages/vuetify/src/components/VList/VListItemIcon.tsx
  packages/vuetify/src/components/VList/__tests__/VListItemAvatar.spec.ts
  packages/vuetify/src/components/VList/__tests__/__snapshots__/VListItem.spec.ts.snap
  packages/vuetify/src/components/VList/__tests__/__snapshots__/VListItemAvatar.spec.ts.snap
  packages/vuetify/src/components/VList/_variables.scss
  packages/vuetify/src/components/VList/index.ts
Labels: T: enhancement, C: VList

#15208 fix(VFileInput): allow native drag and drop
  packages/vuetify/src/components/VFileInput/VFileInput.sass
Labels: T: bug, S: triage, C: VFileInput
