Repository vuetifyjs/vuetify, pull requests merged in 2022-10, with the labels that each got.

#15791 fix(VSlider): add label
  packages/docs/src/pages/en/components/sliders.md
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VLabel/VLabel.sass
  packages/vuetify/src/components/VLabel/VLabel.tsx
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
  packages/vuetify/src/components/VSlider/VSlider.sass
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSlider/_variables.scss
Labels: T: bug, C: VSlider

#15793 feat: allow vuetify services to be accessed outside of app
  packages/docs/src/pages/en/getting-started/installation.md
  packages/vuetify/dev/vuetify.js
  packages/vuetify/package.json
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/display.ts
  packages/vuetify/src/composables/locale.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/vite.config.mjs
Labels: T: feature, Framework

#15815 fix(VSlider): fix incorrect tick positions
  packages/vuetify/src/components/VSlider/VSliderTrack.sass
  packages/vuetify/src/components/VSlider/VSliderTrack.tsx
Labels: T: bug, C: VSlider

#15856 docs: fix example dense to density
  packages/docs/src/examples/v-toolbar/prop-dense.vue
Labels: T: documentation

#15716 docs(UsageExample): add configuration, bar, and code fn
  packages/docs/src/components/app/Table.vue
  packages/docs/src/components/examples/UsageExample.vue
  packages/docs/src/examples/v-alert/usage.vue
  packages/docs/src/examples/v-app-bar/usage.vue
  packages/docs/src/examples/v-autocomplete/usage.vue
  packages/docs/src/examples/v-avatar/usage.vue
  packages/docs/src/examples/v-badge/usage.vue
  packages/docs/src/examples/v-banner/usage.vue
  packages/docs/src/examples/v-bottom-navigation/usage.vue
  packages/docs/src/examples/v-breadcrumbs/usage.vue
  packages/docs/src/examples/v-btn/usage.vue
  packages/docs/src/examples/v-card/usage.vue
  packages/docs/src/examples/v-carousel/usage.vue
  packages/docs/src/examples/v-checkbox/usage.vue
  packages/docs/src/examples/v-chip/usage.vue
  packages/docs/src/examples/v-color-picker/usage.vue
  packages/docs/src/examples/v-combobox/usage.vue
  packages/docs/src/examples/v-divider/usage.vue
  packages/docs/src/examples/v-expansion-panels/usage.vue
  packages/docs/src/examples/v-file-input/usage.vue
  packages/docs/src/examples/v-footer/usage.vue
  packages/docs/src/examples/v-list/usage.vue
  packages/docs/src/examples/v-progress-circular/usage.vue
  packages/docs/src/examples/v-progress-linear/usage.vue
  packages/docs/src/examples/v-radio-group/usage.vue
  packages/docs/src/examples/v-range-slider/usage.vue
  packages/docs/src/examples/v-responsive/usage.vue
  packages/docs/src/examples/v-select/usage.vue
  packages/docs/src/examples/v-slider/usage.vue
  packages/docs/src/examples/v-switch/usage.vue
  packages/docs/src/examples/v-system-bar/usage.vue
  packages/docs/src/examples/v-text-field/usage.vue
  packages/docs/src/examples/v-textarea/usage.vue
  packages/docs/src/examples/v-toolbar/usage.vue
  packages/docs/src/examples/v-tooltip/usage.vue
  packages/docs/src/pages/en/components/aspect-ratios.md
  packages/docs/src/pages/en/components/autocompletes.md
  packages/docs/src/pages/en/components/bottom-navigation.md
  packages/docs/src/pages/en/components/breadcrumbs.md
  packages/docs/src/pages/en/components/carousels.md
  packages/docs/src/pages/en/components/checkboxes.md
  packages/docs/src/pages/en/components/combobox.md
  packages/docs/src/pages/en/components/dividers.md
  packages/docs/src/pages/en/components/expansion-panels.md
  packages/docs/src/pages/en/components/footers.md
  packages/docs/src/pages/en/components/progress-circular.md
  packages/docs/src/pages/en/components/progress-linear.md
  packages/docs/src/pages/en/components/radio-buttons.md
  packages/docs/src/pages/en/components/selects.md
  packages/docs/src/pages/en/components/sliders.md
  packages/docs/src/pages/en/components/switches.md
  packages/docs/src/pages/en/components/textareas.md
  packages/docs/src/pages/en/components/tooltips.md
  packages/docs/src/util/helpers.ts
Labels: T: documentation

#15872 fix(theme): custom color key variants and default merge
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/theme.ts
Labels: T: bug, E: theme

#15840 fix(VField): label opacity flicker
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VField

#15770 fix(VSelect): correct chips spacing for compact and comfortable
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/_variables.scss
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/_variables.scss
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/_variables.scss
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VSelect/_variables.scss
Labels: T: bug, C: VSelect

#15768 fix(VAutocomplete): show selections slot and the input side-by-side like v2 does
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#15767 refactor(locale): simplify adapter
  packages/docs/src/pages/en/features/internationalization.md
  packages/vuetify/package.json
  packages/vuetify/src/components/VApp/VApp.tsx
  packages/vuetify/src/components/VLocaleProvider/VLocaleProvider.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VPagination/VPagination.tsx
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
  packages/vuetify/src/components/VSlider/slider.ts
  packages/vuetify/src/components/VWindow/VWindow.tsx
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/locale.ts
  packages/vuetify/src/composables/location.ts
  packages/vuetify/src/composables/rtl.ts
  packages/vuetify/src/framework.ts
  packages/vuetify/src/locale/__tests__/index.spec.ts
  packages/vuetify/src/locale/adapters/vue-i18n.ts
  packages/vuetify/src/locale/adapters/vue-intl.ts
  packages/vuetify/src/locale/adapters/vuetify.ts
  packages/vuetify/src/locale/index.ts
  packages/vuetify/src/shims.d.ts
Labels: T: enhancement, E: locale

#15910 fix(VRadioGroup): remove `multiple` prop
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/util/__tests__/propsFactory.spec.ts
  packages/vuetify/src/util/propsFactory.ts
Labels: C: VRadioGroup

#15898 fix(VRadioGroup): wrap inline radio group
  packages/vuetify/src/components/VSelectionControlGroup/VSelectionControlGroup.sass
Labels: T: bug, C: VRadioGroup

#15894 fix(locale): polish translation fixes
  packages/vuetify/src/locale/pl.ts
Labels: E: locale

#15917 fix(VImg): missing emit typings
  packages/vuetify/src/components/VImg/VImg.tsx
Labels: C: VImg

#15889 docs(blueprints): update page content
  packages/docs/src/examples/blueprints/md1.vue
  packages/docs/src/examples/blueprints/md2.vue
  packages/docs/src/examples/blueprints/md3.vue
  packages/docs/src/pages/en/features/blueprints.md
Labels: T: documentation, E: blueprints

#15818 docs: add sass installation information
  packages/docs/src/pages/en/features/sass-variables.md
Labels: T: documentation

#15909 fix(VChip): highlight overlay on hover
  packages/vuetify/src/components/VChip/VChip.sass
Labels: T: bug, C: VChip

#15893 docs: fix URL to wireframes source
  packages/docs/src/layouts/wireframe.vue
Labels: T: documentation

#15961 docs: fixes prop name
  packages/api-generator/src/locale/en/v-text-field.json
  packages/docs/src/examples/v-text-field/event-icons.vue
  packages/docs/src/examples/v-text-field/prop-icon.vue
  packages/docs/src/examples/v-textarea/prop-icons.vue
Labels: T: documentation

#15979 fix(validation): add validate-on prop
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/composables/__tests__/proxiedModel.spec.ts
  packages/vuetify/src/composables/form.ts
  packages/vuetify/src/composables/proxiedModel.ts
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, C: VForm, E: Validation

#15971 fix(VDialog): explicit prop definitions
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/components/VSnackbar/VSnackbar.tsx
  packages/vuetify/src/components/VTooltip/VTooltip.tsx
  packages/vuetify/src/util/__tests__/propsFactory.spec.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/src/util/propsFactory.ts
Labels: C: VDialog

#15963 fix(VIcon): add collapse alias for mdi-svg
  packages/vuetify/src/iconsets/mdi-svg.ts
Labels: T: bug, E: icons

#15899 docs: minor fixes
  packages/docs/src/examples/border-radius/usage.vue
  packages/docs/src/examples/display/display-block.vue
  packages/docs/src/examples/display/display-inline.vue
  packages/docs/src/examples/spacing/usage.vue
  packages/docs/src/examples/transitions/misc-todo.vue
  packages/docs/src/examples/v-autocomplete/misc-cryptocurrency-selector.vue
  packages/docs/src/examples/v-autocomplete/misc-state-selector.vue
  packages/docs/src/examples/v-avatar/misc-avatar-menu.vue
  packages/docs/src/examples/v-btn/prop-icon.vue
  packages/docs/src/examples/v-card/misc-grids.vue
  packages/docs/src/examples/v-checkbox/prop-states.vue
  packages/docs/src/examples/v-checkbox/slot-label.vue
  packages/docs/src/examples/v-chip-group/misc-product-card.vue
  packages/docs/src/examples/v-chip-group/misc-toothbrush-card.vue
  packages/docs/src/examples/v-chip-group/prop-column.vue
  packages/docs/src/examples/v-chip-group/prop-mandatory.vue
  packages/docs/src/examples/v-chip-group/prop-multiple.vue
  packages/docs/src/examples/v-chip/slot-icon.vue
  packages/docs/src/examples/v-combobox/prop-multiple.vue
  packages/docs/src/examples/v-dialog/prop-transitions.vue
  packages/docs/src/examples/v-divider/misc-portrait-view.vue
  packages/docs/src/examples/v-divider/misc-subheaders.vue
  packages/docs/src/examples/v-form/misc-validation-with-submit-and-clear.vue
  packages/docs/src/examples/v-list-item-group/misc-selection-controls.vue
  packages/docs/src/examples/v-menu/misc-use-in-components.vue
  packages/docs/src/examples/v-menu/prop-rounded.vue
  packages/docs/src/examples/v-overlay/misc-advanced.vue
  packages/docs/src/examples/v-radio-group/slot-label.vue
  packages/docs/src/examples/v-ripple/misc-custom-color.vue
  packages/docs/src/examples/v-ripple/misc-ripple-in-components.vue
  packages/docs/src/examples/v-slider/prop-ticks.vue
  packages/docs/src/examples/v-textarea/misc-signup-form.vue
  packages/docs/src/examples/v-timeline/misc-advanced.vue
  packages/docs/src/examples/v-timeline/prop-single-side.vue
  packages/docs/src/examples/v-toolbar/misc-flexible-and-card.vue
  packages/docs/src/examples/v-window/misc-account-creation.vue
  packages/docs/src/pages/en/components/menus.md
  packages/docs/src/pages/en/directives/mutate.md
  packages/docs/src/pages/en/features/display-and-platform.md
  packages/docs/src/pages/en/features/icon-fonts.md
  packages/docs/src/pages/en/features/internationalization.md
  packages/docs/src/pages/en/styles/flex.md
Labels: T: documentation
