Repository vuetifyjs/vuetify, pull requests merged in 2022-03, with the labels that each got.

#14746 feat(VTabs): port to v3
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.sass
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.ts
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
  packages/vuetify/src/components/VSlideGroup/VSlideGroupItem.tsx
  packages/vuetify/src/components/VSlideGroup/VSlideItem.ts
  packages/vuetify/src/components/VSlideGroup/_variables.scss
  packages/vuetify/src/components/VSlideGroup/helpers.ts
  packages/vuetify/src/components/VSlideGroup/index.ts
  packages/vuetify/src/components/VTabs/VTab.sass
  packages/vuetify/src/components/VTabs/VTab.ts
  packages/vuetify/src/components/VTabs/VTab.tsx
  packages/vuetify/src/components/VTabs/VTabItem.ts
  packages/vuetify/src/components/VTabs/VTabs.sass
  packages/vuetify/src/components/VTabs/VTabs.ts
  packages/vuetify/src/components/VTabs/VTabs.tsx
  packages/vuetify/src/components/VTabs/VTabsBar.ts
  packages/vuetify/src/components/VTabs/VTabsItems.ts
  packages/vuetify/src/components/VTabs/VTabsSlider.ts
  packages/vuetify/src/components/VTabs/__tests__/VTabsSlider.spec.ts
  packages/vuetify/src/components/VTabs/_variables.scss
  packages/vuetify/src/components/VTabs/index.ts
  packages/vuetify/src/components/VWindow/VWindow.tsx
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/group.ts
Labels: C: VTabs

#14541 feat(VColorPicker): update for v3
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-color-picker/prop-canvas.vue
  packages/docs/src/examples/v-color-picker/prop-elevation.vue
  packages/docs/src/examples/v-color-picker/prop-mode.vue
  packages/docs/src/examples/v-color-picker/prop-model.vue
  packages/docs/src/examples/v-color-picker/prop-swatches.vue
  packages/docs/src/pages/en/components/color-pickers.md
  packages/vuetify/cypress/templates/Application.tsx
  packages/vuetify/cypress/templates/index.ts
  packages/vuetify/src/components/VColorPicker/VColorPicker.sass
  packages/vuetify/src/components/VColorPicker/VColorPicker.ts
  packages/vuetify/src/components/VColorPicker/VColorPicker.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerCanvas.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerCanvas.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerCanvas.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.ts
  packages/vuetify/src/components/VColorPicker/VColorPickerSwatches.tsx
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.cy.tsx
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPickerCanvas.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPickerEdit.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPickerPreview.spec.ts
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPicker.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPickerCanvas.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/__tests__/__snapshots__/VColorPickerEdit.spec.ts.snap
  packages/vuetify/src/components/VColorPicker/_variables.scss
  packages/vuetify/src/components/VColorPicker/index.ts
  packages/vuetify/src/components/VColorPicker/util/__tests__/index.spec.ts
  packages/vuetify/src/components/VColorPicker/util/index.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/util/colorUtils.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VColorPicker

#14711 feat: remove active from nested composable
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListChildren.tsx
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VList/__tests__/VList.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/composables/nested/activeStrategies.ts
  packages/vuetify/src/composables/nested/nested.ts
  packages/vuetify/src/composables/nested/selectStrategies.ts
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, E: nested

#14814 feat(VBadge): add number type to content props (#14809)
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.tsx
  packages/vuetify/src/components/VBadge/__tests__/__snapshots__/VBadge.spec.tsx.snap
Labels: T: feature, C: VBadge

#14813 feat(VCarousel): port to v3
  packages/docs/src/data/nav-alpha.json
  packages/docs/src/examples/v-carousel/prop-custom-icons.vue
  packages/docs/src/examples/v-carousel/prop-custom-transition.vue
  packages/docs/src/examples/v-carousel/prop-cycle.vue
  packages/docs/src/examples/v-carousel/prop-hide-controls.vue
  packages/docs/src/examples/v-carousel/prop-hide-delimiters.vue
  packages/docs/src/examples/v-carousel/prop-model.vue
  packages/docs/src/examples/v-carousel/slots-next-prev.vue
  packages/docs/src/examples/v-carousel/usage.vue
  packages/docs/src/pages/en/components/carousels.md
  packages/vuetify/src/components/VCarousel/VCarousel.sass
  packages/vuetify/src/components/VCarousel/VCarousel.ts
  packages/vuetify/src/components/VCarousel/VCarousel.tsx
  packages/vuetify/src/components/VCarousel/VCarouselItem.ts
  packages/vuetify/src/components/VCarousel/VCarouselItem.tsx
  packages/vuetify/src/components/VCarousel/_variables.scss
  packages/vuetify/src/components/VCarousel/index.ts
  packages/vuetify/src/components/VImg/VImg.tsx
  packages/vuetify/src/components/VWindow/VWindow.tsx
  packages/vuetify/src/components/VWindow/VWindowItem.tsx
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: T: feature, C: VCarousel

#14815 feat(group): use index as implicit value instead of id
  packages/vuetify/src/components/VOverlay/__tests__/VOverlay.spec.cy.tsx
  packages/vuetify/src/components/VPagination/__tests__/VPagination.spec.cy.tsx
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, E: group

#14449 fix(VOverlay): account for max-width from props
  packages/vuetify/src/components/VOverlay/positionStrategies.ts
Labels: T: bug, C: VOverlay

#14870 feat(VSystemBar): add layout support
  packages/docs/src/examples/v-system-bar/prop-color.vue
  packages/docs/src/examples/v-system-bar/prop-window.vue
  packages/docs/src/examples/v-system-bar/usage.vue
  packages/vuetify/src/components/VSystemBar/VSystemBar.sass
  packages/vuetify/src/components/VSystemBar/VSystemBar.tsx
  packages/vuetify/src/components/VSystemBar/_variables.scss
Labels: T: feature, C: VSystemBar

#14852 fix(validation): validate when model changes
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.cy.tsx
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, E: Validation
