Repository vuetifyjs/vuetify, pull requests merged in 2022-02, with the labels that each got.

#14664 fix(VInput/VField): input and label location with density
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.sass
Labels: T: bug, C: VTextField, C: VInput, C: VField

#14687 fix(VField/VInput): append/prepend click not being emitted
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
Labels: T: bug, C: VTextField, C: VInput, C: VField

#14480 feat(VBottomNavigation): implement defaults provide
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.sass
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/__snapshots__/VBottomNavigation.spec.tsx.snap
  packages/vuetify/src/components/VBottomNavigation/_variables.scss
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VIcon/VIcon.sass
  packages/vuetify/src/components/VIcon/_variables.scss
Labels: T: feature, C: VBottomNavigation

#14642 feat(VToolbar): port to v3
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VToolbar/VToolbar.ts
  packages/vuetify/src/components/VToolbar/VToolbar.tsx
  packages/vuetify/src/components/VToolbar/VToolbarItems.tsx
  packages/vuetify/src/components/VToolbar/VToolbarTitle.tsx
  packages/vuetify/src/components/VToolbar/__tests__/VToolbar.spec.cy.tsx
  packages/vuetify/src/components/VToolbar/__tests__/VToolbar.spec.ts
  packages/vuetify/src/components/VToolbar/__tests__/__snapshots__/VToolbar.spec.ts.snap
  packages/vuetify/src/components/VToolbar/_index.scss
  packages/vuetify/src/components/VToolbar/_variables.scss
  packages/vuetify/src/components/VToolbar/index.ts
  packages/vuetify/src/components/index.ts
Labels: T: feature, C: VToolbar, Vuetify 3 - Phase 3

#14344 feat(VBreadcrumbs): rename item slot to text, update passed variables
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsItem.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.ts
Labels: T: feature, C: VBreadcrumb

#14413 feat(VChipGroup): port to v3
  packages/vuetify/src/components/VChip/VChip.sass
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VChip/_mixins.scss
  packages/vuetify/src/components/VChipGroup/VChipGroup.sass
  packages/vuetify/src/components/VChipGroup/VChipGroup.ts
  packages/vuetify/src/components/VChipGroup/VChipGroup.tsx
  packages/vuetify/src/components/VChipGroup/_variables.scss
  packages/vuetify/src/components/VChipGroup/index.ts
  packages/vuetify/src/components/index.ts
Labels: C: VChipGroup, Vuetify 3 - Phase 3

#14703 refactor(VAlert): apply updated coding standards
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAlert/__tests__/VAlert.spec.ts
  packages/vuetify/src/components/VAlert/_variables.scss
  packages/vuetify/src/composables/variant.tsx
  packages/vuetify/src/styles/tools/_variant.sass
Labels: T: enhancement, C: VAlert

#14089 test(VBadge): cypress spec
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.cy.tsx
  packages/vuetify/src/components/VBadge/__tests__/VBadge.spec.tsx
  packages/vuetify/src/components/VBadge/__tests__/__snapshots__/VBadge.spec.tsx.snap
Labels: testing, C: VBadge
