Repository vuetifyjs/vuetify, pull requests merged in 2023-09, with the labels that each got.

#17562 feat: add slim prop to multiple components
  packages/vuetify/src/components/VBanner/VBannerActions.tsx
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/_variables.scss
  packages/vuetify/src/components/VCard/VCardActions.tsx
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VList/_variables.scss
  packages/vuetify/src/components/VSnackbar/VSnackbar.tsx
  packages/vuetify/src/labs/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/labs/VPicker/VPicker.sass
  packages/vuetify/src/labs/VPicker/VPicker.tsx
Labels: T: feature, C: VBtn

#18014 feat(VExpansionPanels): add static prop
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanelTitle.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.tsx
Labels: T: feature, C: VExpansionPanels

#18115 fix(VDatePicker): enforce min/max on keyboard input
  packages/vuetify/src/labs/VDatePicker/VDatePicker.tsx
Labels: T: feature, C: VDatePicker, labs

#18230 fix(Select): always use valueComparator to compare values
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/composables/__tests__/filter.spec.ts
  packages/vuetify/src/composables/__tests__/items.spec.ts
  packages/vuetify/src/composables/list-items.ts
Labels: T: bug

#18200 docs: fix broken useDisplay link
  packages/docs/src/pages/en/features/display-and-platform.md
Labels: T: documentation

#18195 docs(VMenu): improve transition example
  packages/docs/src/examples/v-menu/misc-transition.vue
  packages/docs/src/pages/en/components/menus.md
Labels: T: documentation, C: VMenu

#18207 docs: update v-navigation-drawer scrim definition
  packages/api-generator/src/locale/en/VNavigationDrawer.json
Labels: T: documentation

#18117 docs: update valueComparator description
  packages/api-generator/src/locale/en/generic.json
Labels: T: documentation

#18234 fix(VSelectionControl): set width to max-content
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.sass
Labels: T: bug, C: VSwitch

#18118 docs: add bun
  packages/docs/src/pages/en/features/sass-variables.md
  packages/docs/src/pages/en/getting-started/installation.md
  packages/docs/src/pages/en/getting-started/unit-testing.md
Labels: T: documentation

#18253 docs(VChip): added missing descriptions
  packages/api-generator/src/locale/en/VChip.json
Labels: T: documentation

#18256 docs(VBtn): update examples
  packages/docs/src/examples/v-btn/defaults-banner-actions.vue
  packages/docs/src/examples/v-btn/misc-discord-event.vue
  packages/docs/src/pages/en/components/buttons.md
Labels: T: documentation, C: VBtn

#18266 docs: missing desciptions for VTable, VTimeline*, VTooltip, VWindow*
  packages/api-generator/src/locale/en/VTable.json
  packages/api-generator/src/locale/en/VTimeline.json
  packages/api-generator/src/locale/en/VTimelineItem.json
  packages/api-generator/src/locale/en/VTooltip.json
  packages/api-generator/src/locale/en/VWindow.json
  packages/api-generator/src/locale/en/VWindowItem.json
Labels: T: documentation, T: api-generator

#18272 docs(getting-started): 'global' to 'globals' in the vitest config
  packages/docs/src/pages/en/getting-started/unit-testing.md
Labels: T: documentation

#18271 fix(VDataTable): don't check select-all when table has no rows
  packages/vuetify/src/labs/VDataTable/composables/select.ts
Labels: T: bug, C: VDataTable, labs

#18099 fix(VApp): remove layout styles
  packages/vuetify/src/components/VApp/VApp.tsx
  packages/vuetify/src/composables/layout.ts
Labels: T: bug, C: VApp

#18141 fix(VDatePicker): set correct max year
  packages/vuetify/src/labs/VDatePicker/VDatePickerYears.tsx
Labels: T: bug, C: VDatePicker

#18094 feat(VBanner): add `bg-color` prop
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
  packages/vuetify/src/components/VBanner/VBanner.tsx
Labels: T: feature, C: VBanner

#18296 docs(VCard): add examples
  packages/docs/src/examples/v-card/prop-color.vue
  packages/docs/src/examples/v-card/prop-elevated.vue
  packages/docs/src/examples/v-card/prop-variant.vue
  packages/docs/src/pages/en/components/cards.md
Labels: T: documentation, C: VCard

#18306 docs(VVirtualScroll): remove outdated api link
  packages/docs/src/pages/en/components/virtual-scroller.md
Labels: T: documentation, C: VVirtualScroll

#18307 docs(VDialog): add missing slot props
  packages/api-generator/src/maps/v-dialog.js
Labels: T: documentation, C: VDialog

#18299 fix: ignore disable props in v-select/v-autocomplete/v-combobox
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect

#18329 fix(VOtpInput): cast length prop to number
  packages/vuetify/src/labs/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput, labs

#18300 fix(VCombobox): prevent removing disabled items with backspace
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#18245 fix(VDatePicker): grid is occasionally shifting with some locales
  packages/vuetify/src/labs/date/adapters/vuetify.ts
Labels: T: bug, C: VDatePicker, labs

#18297 fix(VDataTable): Add transition properties
  packages/vuetify/src/components/VTable/VTable.sass
  packages/vuetify/src/components/VTable/_variables.scss
Labels: T: bug, C: VDataTable, labs

#18319 fix(VSelect/VAutocomplete/VCombobox): use selected items as counter value
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
Labels: T: bug, C: VSelect

#18321 fix(VBottomSheet): merge the bottom sheet classes with dialog classes
  packages/vuetify/src/labs/VBottomSheet/VBottomSheet.tsx
Labels: T: bug, C: VBottomSheet, labs

#18324 fix(VTimeline): fix style for centered horizontal timeline
  packages/vuetify/src/components/VTimeline/VTimeline.sass
Labels: T: bug, C: VTimeline

#18325 fix(VList): respect return-object in list items
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListChildren.tsx
Labels: T: bug, C: VList

#18160 fix(VTimeline): prevent divider gap with truncate-line
  packages/vuetify/src/components/VTimeline/VTimeline.sass
Labels: T: bug, C: VTimeline

#18353 docs: Add Nuxt3 install instructions
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation
