Repository vuetifyjs/vuetify, pull requests merged in 2023-06, with the labels that each got.

#15711 feat(VDataTable): expose row default props to item slots
  packages/api-generator/src/maps/v-data-table.js
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/types/index.d.ts
Labels: T: enhancement, C: VDataTable

#17178 docs: add composition api to examples
  package.json
  packages/api-generator/package.json
  packages/docs/package.json
  packages/docs/src/components/app/settings/Code.vue
  packages/docs/src/components/app/settings/Drawer.vue
  packages/docs/src/components/app/settings/Group.vue
  packages/docs/src/components/examples/Example.vue
  packages/docs/src/composables/codepen.ts
  packages/docs/src/composables/playground.ts
  packages/docs/src/examples/scroll/usage.vue
  packages/docs/src/examples/v-alert/prop-closable.vue
  packages/docs/src/examples/v-date-picker/misc-formatting-external-libraries.vue
  packages/docs/src/examples/v-form/misc-vee-validate.vue
  packages/docs/src/examples/v-form/misc-vuelidate.vue
  packages/docs/src/examples/v-icon/misc-font-awesome.vue
  packages/docs/src/examples/v-menu/slot-activator-and-tooltip.vue
  packages/docs/src/examples/v-scroll/usage.vue
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/pages/en/getting-started/contributing.md
  packages/docs/src/plugins/icons.ts
  packages/docs/src/store/user.ts
  packages/docs/vite.config.mts
  yarn.lock
Labels: T: documentation

#17534 fix(VCombobox): prevent menu opening when readonly
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#17203 fix(VMenu): correct keyboard navigation
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/useActivator.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/util/bindProps.ts
  packages/vuetify/src/util/helpers.ts
  packages/vuetify/src/util/index.ts
Labels: T: bug, a11y, C: VMenu

#14546 feat(styles): add xxl border-radius option
  packages/docs/src/examples/border-radius/usage.vue
  packages/docs/src/pages/en/styles/border-radius.md
  packages/vuetify/src/styles/settings/_variables.scss
Labels: T: feature, sass

#15865 feat(VMenu): add contentProps prop
  packages/api-generator/src/locale/en/v-menu.json
  packages/vuetify/src/components/VMenu/VMenu.ts
Labels: T: feature, C: VMenu

#15332 feat(VDataTable): add item-style prop
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/types/index.d.ts
Labels: T: feature, C: VDataTable

#15607 fix(icons): FA5 warning icon alias more consistent with MDI
  packages/vuetify/src/services/icons/presets/fa.ts
Labels: T: bug, E: icons

#16547 fix(VSelect, VAutocomplete): modelValue respects [null]
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
  packages/vuetify/src/composables/list-items.ts
  packages/vuetify/src/composables/nested/nested.ts
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#17412 fix(VInput): Include chips margin top/bottom as part of the calculation for the min-height
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VChip/_variables.scss
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/_variables.scss
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_mixins.sass
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VFileInput/_variables.scss
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/_variables.scss
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VSelect/_variables.scss
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.cy.tsx
Labels: T: bug, C: VInput

#17572 fix(VDataTableVirtual): move slot inside VVirtualScrollItem
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
Labels: T: bug, C: VDataTableVirtual

#15743 feat(VBreadcrumbs): add item slot
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.cy.tsx
Labels: T: feature, C: VBreadcrumb

#17636 docs: Add '0' max-width option to VMenu from #17634 response
  packages/api-generator/src/locale/en/VMenu.json
Labels: T: documentation

#17618 docs: add v-img error slot
  packages/docs/src/examples/v-img/slot-error.vue
  packages/docs/src/pages/en/components/images.md
Labels: T: documentation, C: VImg

#17690 docs(VForm): fix typo in the example code
  packages/docs/src/examples/v-form/usage.vue
Labels: T: documentation, C: VForm

#16572 docs(VDatePicker): use `substring` instead of `substr`in misc-birthday.vue
  packages/docs/src/examples/v-date-picker/misc-birthday.vue
Labels: T: documentation, C: VDatepicker

#17658 fix(validation): allow validation to return false
  packages/vuetify/src/composables/__tests__/validation.spec.ts
  packages/vuetify/src/composables/validation.ts
Labels: T: bug, T: regression, E: validation

#17607 fix(VSelect): Always align the input with chips
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
Labels: T: bug, C: VTextField, C: VSelect, C: VCombobox, C: VAutocomplete

#17584 fix(VDataTable): fix sort table with nullable column
  packages/vuetify/src/labs/VDataTable/__tests__/sort.spec.ts
  packages/vuetify/src/labs/VDataTable/composables/sort.ts
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VDataTable

#17598 refactor: update fontawesome sort icons to match mdi icons defaults
  packages/vuetify/src/iconsets/fa.ts
  packages/vuetify/src/iconsets/fa4.ts
Labels: T: enhancement, E: icons

#17466 fix(VBtnToggle): del margin for BtnToggle in card
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: T: bug, C: VBtnToggle

#17518 fix(VSliderThumb): add rtl class
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
Labels: T: bug, C: VSlider

#17688 fix(VSelect, VCombobox, VAutocomplete): truncate selection text regardless of singline-line
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/_variables.scss
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/_variables.scss
  packages/vuetify/src/components/VSelect/VSelect.sass
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#17475 fix(VInfiniteScroll): keep triggering loading logic until isInterseting becomes false
  packages/vuetify/src/labs/VInfiniteScroll/VInfiniteScroll.tsx
  packages/vuetify/src/labs/VInfiniteScroll/__tests__/VInfiniteScroll.spec.cy.tsx
Labels: T: bug, C: VInfiniteScroll

#17384 chore(injectSelf): return from all paths
  packages/vuetify/src/util/injectSelf.ts
Labels: T: enhancement, typescript

#17371 fix(VFooter): pass missing height style
  packages/vuetify/src/components/VFooter/VFooter.tsx
Labels: T: bug, C: VFooter

#17581 fix(VTextField): inherit outlined border radius
  packages/vuetify/src/components/VField/VField.sass
Labels: T: enhancement, C: VField
