Repository vuetifyjs/vuetify, pull requests merged in 2023-04, with the labels that each got.

#17068 fix(VDataTable): use DataTableItem interface for item slots
  packages/vuetify/src/labs/VDataTable/VDataTableRows.tsx
Labels: T: bug, C: VDataTable, typescript

#17024 fix(defaults): explicitly define inherited props
  packages/vuetify/src/components/VCarousel/VCarousel.tsx
  packages/vuetify/src/components/VColorPicker/VColorPicker.tsx
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
  packages/vuetify/src/components/VTabs/VTabs.tsx
  packages/vuetify/src/components/VWindow/VWindow.tsx
Labels: C: VTabs, C: VCarousel, C: VWindow, C: VSlideGroup, C: VColorPicker

#16935 fix(VDataTable): add row hover styles
  packages/api-generator/src/locale/en/v-data-table.json
  packages/vuetify/src/components/VTable/VTable.sass
  packages/vuetify/src/labs/VDataTable/VDataTable.tsx
Labels: T: bug, C: VDataTable

#17112 fix(VSelect): replicate html select hotkeys
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: feature, C: VSelect

#17123 fix(VCombobox): allow falsy values in model
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
Labels: T: bug, C: VCombobox

#17122 fix(VCombobox): hide placeholder when dirty
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#16867 docs(VSelectControlGroup): add api descriptions
  packages/api-generator/src/locale/en/v-selection-control-group.json
Labels: T: documentation, C: VSelectionControlGroup

#16794 feat(VField): add solo-inverted variant
  packages/docs/src/examples/v-autocomplete/usage.vue
  packages/docs/src/examples/v-combobox/usage.vue
  packages/docs/src/examples/v-file-input/usage.vue
  packages/docs/src/examples/v-select/usage.vue
  packages/docs/src/examples/v-text-field/usage.vue
  packages/docs/src/examples/v-textarea/usage.vue
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VField/_variables.scss
Labels: T: feature, C: VField

#17152 fix(VSelects): keep field focused when menu open
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: enhancement, C: VSelect, C: VCombobox, C: VAutocomplete

#17099 fix(VOverlay): position on RTL
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
Labels: T: bug, C: VOverlay

#16629 fix(VAutocomplete): restore arrow keys select and delete
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: bug, C: VAutocomplete

#17036 fix(VSelect/VAutocomplete): transform raw object if item-title is a function
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
  packages/vuetify/src/composables/items.ts
Labels: T: bug, C: VSelect, C: VAutocomplete

#16871 fix(mdi-svg): update contextual icons
  packages/vuetify/src/iconsets/mdi-svg.ts
Labels: T: bug, E: icons

#17144 fix(VAutocomplete): search text when select item in multiple
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#17096 fix(VCheckbox): missing hint and persistent-hint props
  packages/api-generator/src/locale/en/v-file-input.json
  packages/api-generator/src/locale/en/v-input.json
  packages/api-generator/src/locale/en/v-text-field.json
  packages/api-generator/src/locale/en/v-textarea.json
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VSwitch, C: VCheckbox

#16079 fix(VSlider): add missing prepend and append icon click events
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.cy.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VSlider

#17108 fix(VSkeletonLoader): add missing divider type
  packages/docs/src/pages/en/components/skeleton-loaders.md
  packages/vuetify/src/labs/VSkeletonLoader/VSkeletonLoader.tsx
Labels: T: bug, C: VSkeletonLoader

#16852 fix(inputs): add missing update:focused events
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/composables/focus.ts
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete, C: VFileInput, E: focus

#16267 feat(VAppBar): implement scrolling techniques
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.cy.tsx
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/composables/scroll.ts
Labels: T: feature, C: VAppBar

#17097 feat(VBtn): resize height of button when override $spacer
  packages/vuetify/src/components/VBtn/_mixins.scss
Labels: T: feature, C: VBtn

#16514 feat(VSlider): add start and end events
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.cy.tsx
  packages/vuetify/src/components/VSlider/slider.ts
Labels: T: feature, C: VSlider

#17160 docs(upgrade-guide): add info about missing components
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#17179 docs(VFooter): update app prop description
  packages/api-generator/src/locale/en/v-footer.json
Labels: T: documentation

#16782 docs(VNavigationDrawer): add api descriptions
  packages/api-generator/src/locale/en/v-navigation-drawer.json
Labels: T: documentation, C: VNavigationDrawer

#16840 fix(VBreadcrumbs): use title as key
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.cy.tsx
Labels: T: bug, C: VBreadcrumb

#17098 feat(VIcon): support SVGs with multiple paths
  packages/docs/src/components/examples/Example.vue
  packages/docs/src/plugins/vuetify.ts
  packages/vuetify/src/composables/icons.tsx
Labels: T: feature, C: VIcon

#16461 feat: expose useDefaults()
  packages/vuetify/src/composables/defaults.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/util/defineComponent.tsx
  packages/vuetify/src/util/index.ts
Labels: T: feature, upstream, E: New Composable

#17231 fix(types): volar compatible generic types
  packages/docs/src/examples/accessibility/select-list-item.vue
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VBadge/VBadge.tsx
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VCard/VCardItem.tsx
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListChildren.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VList/__tests__/VList.spec.cy.tsx
  packages/vuetify/src/components/VNoSsr/VNoSsr.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VToolbar/VToolbar.tsx
  packages/vuetify/src/components/VToolbar/VToolbarTitle.tsx
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.tsx
  packages/vuetify/src/composables/loader.tsx
  packages/vuetify/src/util/defineComponent.tsx
  tsconfig.json
Labels: T: bug, typescript

#17237 fix(types): change update:focused event type to boolean
  packages/vuetify/src/composables/focus.ts
Labels: T: bug, typescript
