Repository vuetifyjs/vuetify, pull requests merged in 2023-01, with the labels that each got.

#16229 feat(VBreadcrumbs): improve DX when using explicit components
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbsDivider.tsx
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.cy.tsx
Labels: T: feature, C: VBreadcrumb

#16352 feat(VNavigationDrawer): add rail prop v-model support
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.cy.tsx
Labels: T: feature, C: VNavigationDrawer

#16168 feat(VIcon): allow components in default slot
  packages/vuetify/src/components/VIcon/VIcon.tsx
  packages/vuetify/src/components/VIcon/__tests__/VIcon.spec.cy.tsx
  packages/vuetify/src/composables/icons.tsx
Labels: T: feature, C: VIcon

#16285 fix(VAutocomplete/VCombox/VSelect): hide selected items with prop
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#16340 docs(internationalization): correct locale for options api use
  packages/docs/src/pages/en/features/internationalization.md
Labels: T: documentation, E: locale

#16255 fix(VAutocomplete/VCombox/VSelect): add check for readonly form
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#16243 fix: improve accessibility of inputs' messages
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VMessages/VMessages.tsx
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
Labels: T: enhancement, a11y, C: VInput

#16401 test(VAppBar): tests for hide scrolling behavior
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.cy.tsx
Labels: testing, C: VAppBar

#15859 fix(VContainer): fill-height prop
  packages/vuetify/src/components/VGrid/VGrid.sass
Labels: T: bug, C: VGrid, S: triage

#16334 docs(VSnackbar): update api description for location
  packages/api-generator/src/locale/en/v-overlay-location-strategies.json
Labels: T: documentation, C: VSnackbar

#16409 fix(teleport): use querySelector instead of cache
  packages/vuetify/src/composables/teleport.ts
Labels: E: teleport

#16435 fix: expose missing ripple prop in components
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
Labels: T: bug, C: VCard, C: VSlider, C: VRangeSlider, C: VListItem

#16417 fix(VSelect): add default menu max height
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: enhancement, C: VSelect, C: VCombobox, C: VAutocomplete

#15897 fix(VBtn): isActive calc priorities
  packages/vuetify/src/components/VBtn/VBtn.tsx
Labels: T: bug, C: VBtn

#16452 docs(v-text-field): api information for update modelValue
  packages/api-generator/src/locale/en/v-text-field.json
Labels: T: documentation

#16058 fix(VFileInput): drag and drop
  packages/vuetify/src/components/VFileInput/VFileInput.sass
Labels: T: bug, C: VFileInput

#16463 fix(VCombobox): filter transformed items
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
  packages/vuetify/src/composables/__tests__/filter.spec.ts
  packages/vuetify/src/composables/filter.ts
  packages/vuetify/src/labs/VDataTable/VDataTable.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#16487 chore(api-generator): update v-label.json text property
  packages/api-generator/src/locale/en/v-label.json
Labels: T: api-generator

#16498 docs(VCard): update outdated link
  packages/docs/src/pages/en/components/cards.md
Labels: T: documentation, C: VCard

#16465 fix(VBtn): accept value prop for underlying DOM element
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.cy.tsx
Labels: T: bug, C: VBtn

#16528 docs: fix API links and typos
  packages/docs/src/pages/en/components/alerts.md
  packages/docs/src/pages/en/components/application.md
  packages/docs/src/pages/en/components/badges.md
  packages/docs/src/pages/en/components/defaults-providers.md
  packages/docs/src/pages/en/components/locale-providers.md
  packages/docs/src/pages/en/components/progress-linear.md
  packages/docs/src/pages/en/components/theme-providers.md
  packages/docs/src/pages/en/introduction/enterprise-support.md
  packages/docs/src/pages/en/introduction/long-term-support.md
Labels: T: documentation

#16534 docs(app-bars): density prop
  packages/docs/src/pages/en/components/app-bars.md
Labels: T: documentation, C: VAppBar

#16485 fix(VDataTableServer): add groupBy functionality
  packages/docs/src/examples/v-data-table/misc-server-side-paginate-and-sort.vue
  packages/vuetify/src/labs/VDataTable/VDataTable.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableRows.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/labs/VDataTable/__tests__/VDataTableServer.spec.cy.tsx
  packages/vuetify/src/labs/VDataTable/composables/options.ts
Labels: T: bug, C: VDataTable

#16539 fix(VFileInput): reset internal input when model is cleared
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VFileInput/__tests__/VFileInput.spec.cy.tsx
Labels: T: bug, C: VFileInput

#16522 docs(flex): add .justify-space-evenly to example
  packages/docs/src/examples/flex/flex-justify.vue
Labels: T: documentation
