Repository vuetifyjs/vuetify, pull requests merged in 2023-11, with the labels that each got.

#18551 fix(locale): update Italian translations
  packages/vuetify/src/locale/it.ts
Labels: T: bug, E: locale

#18560 fix(VOtpInput): Display numeric keyboard when type is number
  packages/vuetify/src/labs/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput, labs

#18544 fix(VDataTable): use theme surface color for group header rows
  packages/vuetify/src/labs/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable, labs

#18392 fix(VVirtualScroll): use a dynamic window size, cache offsets
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.tsx
  packages/vuetify/src/components/VVirtualScroll/__tests__/VVirtualScroll.spec.cy.tsx
  packages/vuetify/src/composables/virtual.ts
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/labs/VDataTable/VDataTableRows.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VVirtualScroll

#18575 feat(VDatePicker): extract ok/cancel into separate component
  packages/api-generator/src/locale/en/VDatePicker.json
  packages/vuetify/src/labs/VConfirmEdit/VConfirmEdit.tsx
  packages/vuetify/src/labs/VConfirmEdit/__test__/VConfirmEdit.spec.cy.tsx
  packages/vuetify/src/labs/VConfirmEdit/index.ts
  packages/vuetify/src/labs/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/labs/VDatePicker/__tests__/VDatePicker.spec.cy.tsx
  packages/vuetify/src/labs/components.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  templates/component.tsx
Labels: T: feature, C: VDatePicker, labs

#18375 feat(date): add ability to pass custom formats
  packages/docs/src/pages/en/components/date-pickers.md
  packages/vuetify/dev/vuetify/date.js
  packages/vuetify/src/composables/date/adapters/vuetify.ts
  packages/vuetify/src/composables/date/date.ts
Labels: T: feature, C: VDatePicker, labs

#17936 feat(VInput): add hideSpinButtons prop
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.tsx
Labels: T: feature, C: VInput

#18585 fix(VOtpInput): limit length when type=number
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput, labs

#18472 feat(VDataTable): add 'body.prepend', 'body.append' slots
  packages/vuetify/src/labs/VDataTable/VDataTable.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
Labels: T: enhancement, C: VDataTable, labs

#18586 docs(VTextarea): update missing counterValue description
  packages/api-generator/src/locale/en/VTextarea.json
Labels: T: documentation

#18589 feat(VDataTable): add headerProps/rowProps/cellProps
  packages/vuetify/src/labs/VDataTable/VDataTableColumn.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableHeaders.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableRow.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableRows.tsx
  packages/vuetify/src/labs/VDataTable/composables/items.ts
  packages/vuetify/src/labs/VDataTable/types.ts
Labels: T: feature, C: VDataTable

#18590 feat(VDataTable): add sort and filter functions to headers
  packages/vuetify/src/composables/filter.ts
  packages/vuetify/src/labs/VDataTable/VDataTable.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/labs/VDataTable/composables/headers.ts
  packages/vuetify/src/labs/VDataTable/composables/sort.ts
  packages/vuetify/src/labs/VDataTable/types.ts
Labels: T: feature, C: VDataTable

#18595 docs: update links to Vue docs
  packages/api-generator/src/locale/en/generic.json
Labels: T: documentation

#18365 docs(VCard): examples
  packages/docs/src/examples/v-card/misc-card-reveal.vue
  packages/docs/src/examples/v-card/prop-disabled.vue
  packages/docs/src/examples/v-card/prop-elevation.vue
  packages/docs/src/examples/v-card/prop-hover.vue
  packages/docs/src/examples/v-card/prop-href.vue
  packages/docs/src/examples/v-card/prop-image.vue
  packages/docs/src/examples/v-card/prop-link.vue
  packages/docs/src/examples/v-card/slot-prepend-append.vue
  packages/docs/src/pages/en/components/cards.md
Labels: T: documentation, C: VCard, S: stale

#18614 fix(VSpacer): import VGrid styles
  packages/vuetify/src/components/VGrid/VSpacer.ts
Labels: T: bug, C: VSpacer

#18619 feat(VDataTable): rename `column.` slots to `header.`
  packages/docs/src/examples/v-data-table/prop-filterable.vue
  packages/docs/src/examples/v-data-table/slot-header.vue
  packages/docs/src/examples/v-data-table/slot-main.vue
  packages/docs/src/pages/en/components/data-tables/basics.md
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.cy.tsx
Labels: T: enhancement, C: VDataTable

#18618 feat(VDataTable): rename `items` to `internalItems` in slots
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
Labels: T: feature, C: VDataTable

#18644 docs(VInfiniteScroll): Fix Usage Example
  packages/docs/src/examples/v-infinite-scroll/usage.vue
Labels: T: bug

#18676 docs: fix data-table guide links
  packages/docs/src/pages/en/components/data-tables/introduction.md
Labels: T: documentation, C: VDataTable

#18692 docs: fix typo in v-list-item active prop description
  packages/api-generator/src/locale/en/VListItem.json
Labels: T: documentation

#18697 fix(VOtpInput): disable input when prop.disabled is true
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput

#18513 fix(VSelectionControlGroup): fix readonly radio group in vform
  packages/vuetify/src/components/VSelectionControlGroup/VSelectionControlGroup.tsx
Labels: T: bug, C: VSelectionControlGroup

#18629 fix(VSelect): add option role to VListItem elements
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, a11y, C: VSelect

#18594 fix(locale): Fix a typo in fr locale, for dataFooter.itemsPerPageText
  packages/vuetify/src/locale/fr.ts
Labels: T: bug, E: locale

#18718 docs(VStepper): correctly use disabled prop in example
  packages/docs/src/examples/v-stepper/misc-dynamic.vue
Labels: T: documentation, C: VStepper

#18722 docs(forms.md): add text to help find 3rd party integration examples
  packages/docs/src/pages/en/components/forms.md
Labels: T: documentation, C: VForm

#18768 docs(VDataTable): fix 'density' wrong prop name
  packages/docs/src/pages/en/components/data-tables/basics.md
Labels: T: documentation, C: VDataTable

#18767 docs:(introduction.md): update reference component
  packages/docs/src/pages/en/labs/introduction.md
Labels: T: documentation, labs

#18752 docs: replace deprecated config for vitest@0.34.0
  packages/docs/src/pages/en/getting-started/unit-testing.md
Labels: testing, T: documentation

#18755 fix(VDatePicker): issue on emited update:month and update:year fixed
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
Labels: T: bug, C: VDataTable

#18749 docs(theme): fixes wrong type import statements in code examples
  packages/docs/src/pages/en/features/theme.md
Labels: T: documentation, E: theme

#18696 fix(VTextField): hide v-input__details for underlined variant
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: T: bug, C: VTextField

#18734 fix(VSelect/VAutocomplete/VCombobox): respect function counter-value
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete
