Repository vuetifyjs/vuetify, pull requests merged in 2023-02, with the labels that each got.

#16582 docs(VTextField): update api descriptions
  packages/api-generator/src/locale/en/v-text-field.json
Labels: T: documentation, C: VTextField

#16591 fix: getUid must be called from inside a setup function
  packages/vuetify/src/composables/nested/nested.ts
Labels: T: bug, E: nested

#16495 fix(VVirtualScroll): dynamic container height
  packages/docs/src/examples/v-virtual-scroll/prop-height-parent.vue
  packages/docs/src/examples/v-virtual-scroll/prop-height.vue
  packages/docs/src/examples/v-virtual-scroll/prop-item-key.vue
  packages/docs/src/pages/en/labs/virtual-scroller.md
  packages/vuetify/src/labs/VVirtualScroll/VVirtualScroll.sass
  packages/vuetify/src/labs/VVirtualScroll/VVirtualScroll.tsx
  packages/vuetify/src/labs/VVirtualScroll/VVirtualScrollItem.tsx
Labels: T: bug, C: VVirtualScroll

#16546 fix(VSelect): return-object with plain items
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
  packages/vuetify/src/composables/items.ts
Labels: T: bug, C: VSelect

#16612 fix(proxiedModel): don't pass reactive objects to transformIn()
  packages/vuetify/src/composables/proxiedModel.ts
Labels: T: bug, E: proxiedModel

#16568 fix(inputs): focus on mousedown instead of click
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VInput

#16655 docs(VDefaultsProvider): fix broken link to the api
  packages/docs/src/pages/en/features/global-configuration.md
Labels: T: documentation

#16647 fix(VAppBar/VSystemBar/VBottomNavigation): add ssr boot styling
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VSystemBar/VSystemBar.tsx
Labels: T: bug, C: VBottomNavigation, C: VAppBar, C: VSystemBar

#16674 fix(VColorPicker): consistent output values
  packages/vuetify/src/components/VColorPicker/VColorPickerCanvas.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.tsx
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.tsx
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.cy.tsx
  packages/vuetify/src/components/VColorPicker/util/__tests__/index.spec.ts
  packages/vuetify/src/components/VColorPicker/util/index.ts
  packages/vuetify/src/util/colorUtils.ts
Labels: T: bug, C: VColorPicker

#16721 fix(theme): support vueuse/head v1.0
  package.json
  packages/docs/package.json
  packages/vuetify/package.json
  packages/vuetify/src/composables/theme.ts
  yarn.lock
Labels: T: bug, E: theme

#16734 fix(VSystemBar): reserve space for hidden scrollbar from VOverlay
  packages/docs/src/components/app/V2Banner.vue
  packages/vuetify/src/components/VSystemBar/VSystemBar.sass
  packages/vuetify/src/components/VSystemBar/_variables.scss
Labels: T: bug, C: VSystemBar

#16707 fix(VDataTableServer): Support column slots
  packages/vuetify/src/labs/VDataTable/VDataTableServer.tsx
Labels: T: bug, VDataTableServer

#16781 docs(VField): add id api description
  packages/api-generator/src/locale/en/v-field.json
Labels: T: documentation

#16736 fix(VVirtualScroll): reset cached sizes on items length change
  packages/vuetify/src/labs/VVirtualScroll/VVirtualScroll.tsx
Labels: T: bug, P: elite sponsor, C: VVirtualScroll, labs

#16800 docs(upgrade-guide): add additional upgrade notes
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#16752 feat(VTooltip): add eager prop support
  packages/vuetify/src/components/VTooltip/VTooltip.tsx
Labels: T: feature, C: VTooltip
