Repository vuetifyjs/vuetify, pull requests merged in 2023-07, with the labels that each got.

#17265 feat(VSelect): implement virtual scrolling
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/useScrolling.ts
  packages/vuetify/src/components/VVirtualScroll/VVirtualScroll.tsx
  packages/vuetify/src/components/VVirtualScroll/VVirtualScrollItem.tsx
  packages/vuetify/src/composables/filter.ts
  packages/vuetify/src/composables/resizeObserver.ts
  packages/vuetify/src/composables/virtual.ts
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/labs/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/util/getScrollParent.ts
Labels: T: enhancement, C: VSelect, C: VCombobox, C: VAutocomplete, C: VVirtualScroll

#17073 fix(VSkeletonLoader): apply aria-label for screenreaders
  packages/vuetify/src/components/VSkeletonLoader/VSkeletonLoader.ts
  packages/vuetify/src/components/VSkeletonLoader/__tests__/VSkeletonLoader.spec.ts
  packages/vuetify/src/components/VSkeletonLoader/__tests__/__snapshots__/VSkeletonLoader.spec.ts.snap
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
Labels: T: bug, C: VSkeletonLoader

#15691 feat(VPagination): add props for coloring navigation buttons
  packages/vuetify/src/components/VPagination/VPagination.ts
Labels: T: feature, C: VPagination

#15918 fix(VIcon): center button icon in system bar
  packages/vuetify/src/components/VSystemBar/VSystemBar.sass
Labels: T: bug, C: VSystemBar

#17747 feat(VDataTable): backport filterMode prop from v3
  packages/api-generator/src/locale/en/v-data-table.json
  packages/vuetify/src/components/VDataTable/VDataTable.ts
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.ts
  packages/vuetify/src/components/VDataTable/__tests__/__snapshots__/VDataTable.spec.ts.snap
  packages/vuetify/types/index.d.ts
Labels: T: feature, C: VDataTable

#17742 fix(VIcon): enforce to display icon both vertically and horizontally in container
  packages/vuetify/src/components/VIcon/VIcon.sass
Labels: T: bug, C: VIcon

#17727 fix(VTextField): align prefix/suffix with input and chips
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextField/_variables.scss
Labels: T: bug, C: VTextField

#17716 fix(headers): enforce nullish column key to empty string
  packages/vuetify/src/labs/VDataTable/composables/headers.ts
Labels: T: bug, C: VDataTable

#14941 fix(VItem): support disabled effect
  packages/vuetify/src/components/VItemGroup/VItem.sass
  packages/vuetify/src/components/VItemGroup/VItem.ts
  packages/vuetify/src/mixins/groupable/index.ts
Labels: T: bug, C: VItem

#17368 fix(VBtn): don't toggle group if button should open new tab/window
  packages/vuetify/src/components/VBtn/VBtn.tsx
Labels: T: bug, C: VBtn

#16952 docs(VBottomNavigation): update example text
  packages/docs/src/pages/en/components/bottom-navigation.md
Labels: T: documentation, C: VBottomNavigation

#17587 fix(VCarousel): fix carousel direction props
  packages/vuetify/src/components/VCarousel/VCarousel.tsx
Labels: T: bug, C: VCarousel

#17753 fix(VField): prevent input dom overflow v-field__input
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VField

#16970 docs(VNavigationDrawer): update rail prop description
  packages/api-generator/src/locale/en/VNavigationDrawer.json
Labels: T: documentation, C: VNavigationDrawer

#16978 docs(events): add description for click:clear event
  packages/api-generator/src/locale/en/VFileInput.json
Labels: T: api-generator

#17195 test(VCombobox): check .v-list-item length in filter items test
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
Labels: testing, C: VCombobox

#17338 fix(VOverlay): position on LTR/RTL after locale switch
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
Labels: T: bug, C: VOverlay

#16835 fix(VListGroup): missing hover overlay
  packages/vuetify/src/components/VList/VListItem.sass
Labels: T: bug, C: VListGroup

#17826 fix(VColorPicker): remove extra margin with hide-input
  packages/vuetify/src/components/VColorPicker/VColorPickerEdit.sass
  packages/vuetify/src/components/VColorPicker/_variables.scss
Labels: T: bug, C: VColorPicker

#17721 fix(date): reconstruct date value to local tz
  packages/vuetify/src/labs/date/adapters/vuetify.ts
Labels: T: bug, E: date

#17800 docs(cosmic): update to v2
  .github/workflows/ci.yml
  packages/docs/.env.example
  packages/docs/package.json
  packages/docs/src/components/app/bar/NotificationsMenu.vue
  packages/docs/src/composables/cosmic.ts
  packages/docs/src/shims.d.ts
  packages/docs/src/store/ads.ts
  packages/docs/src/store/banners.ts
  packages/docs/src/store/shopify.ts
  packages/docs/src/store/sponsors.ts
  yarn.lock
Labels: T: documentation

#17771 fix(VTabs): remove quotes from text-transform
  packages/vuetify/src/components/VTabs/_variables.scss
Labels: T: bug, T: regression, C: VTabs

#17857 docs: fix typo and sentence phrase
  packages/docs/src/pages/en/introduction/why-vuetify.md
Labels: T: documentation

#17853 fix(VFileInput): readonly prop not working
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
Labels: T: bug, C: VFileInput

#17821 fix(VTable): fixed-header with multiple tr headers
  packages/vuetify/src/components/VTable/VTable.sass
Labels: T: bug, C: VTable
