Repository vuetifyjs/vuetify, pull requests merged in 2023-10, with the labels that each got.

#18386 docs: Fix yarn install command for the nuxt 3 installation guide
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#18477 fix(VAutocomplete): increase selection width by using 100% calc
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/_variables.scss
Labels: T: bug, C: VAutocomplete

#17805 fix(VDataTable): bg color change via class
  packages/vuetify/src/labs/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable

#18357 chore: add cy test to check return-object in VList
  packages/vuetify/src/components/VList/__tests__/VList.spec.cy.tsx
Labels: testing, C: VList

#18479 fix(locale): update Dutch translations
  packages/vuetify/src/locale/nl.ts
Labels: T: bug, E: locale

#18423 fix(VCombobox): don't trigger keydown listener during composition session
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VCombobox

#18381 fix(VCard): apply elevation on hover
  packages/vuetify/src/components/VCard/VCard.sass
Labels: T: bug, C: VCard

#18502 docs(VSkeletonLoader): make loader appear by default
  packages/docs/src/examples/v-skeleton-loader/usage.vue
Labels: T: documentation, C: VSkeletonLoader

#18025 fix(VField): correct height for compact/comfortable densities
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/_variables.scss
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/_variables.scss
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/_variables.scss
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.cy.tsx
Labels: T: bug, C: VField

#18503 docs(VAvatar): fix cropped icons
  packages/docs/src/examples/v-avatar/slot-default.vue
Labels: T: documentation, C: VAvatar

#18504 docs(VProgressCircular): add example for default slot
  packages/docs/src/examples/v-progress-circular/prop-slot-default.vue
  packages/docs/src/pages/en/components/progress-circular.md
Labels: T: documentation, C: VProgressCircular

#18516 docs(VChip): fix action event examples.
  packages/docs/src/examples/v-chip/event-action-chips.vue
Labels: T: documentation, C: VChip

#18539 docs(VStepper): add v-stepper-actions to api
  packages/docs/src/pages/en/components/steppers.md
Labels: T: documentation, C: VStepper

#18563 docs: fix typos
  packages/docs/src/pages/en/components/alerts.md
  packages/docs/src/pages/en/components/buttons.md
  packages/docs/src/pages/en/directives/mutate.md
  packages/docs/src/pages/en/features/global-configuration.md
Labels: T: documentation
