Repository vuetifyjs/vuetify, pull requests merged in 2023-03, with the labels that each got.

#16844 fix(locale): set "fa" as an rtl language
  packages/vuetify/src/locale/index.ts
Labels: E: locale

#16808 refactor(VSnackbar): remove redundant wrapper element
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
  packages/vuetify/src/components/VSnackbar/VSnackbar.tsx
Labels: T: enhancement, C: VSnackbar

#16827 fix(inputs): apply disabled prop to internal VField
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VTextarea, C: VFileInput

#16805 fix(transitions): add !important, explicit transition-property
  packages/docs/src/examples/v-card/misc-card-reveal.vue
  packages/vuetify/src/components/transitions/createTransition.ts
  packages/vuetify/src/styles/generic/_transitions.scss
Labels: T: bug, C: Transitions, CSS specificity

#16851 fix(VAlert): reduce default close button margin
  packages/vuetify/src/components/VAlert/_variables.scss
Labels: T: bug, C: VAlert

#16828 fix(display): add hydrate checks for getPlatform
  packages/vuetify/src/composables/display.ts
Labels: T: bug, E: display

#16841 fix(VImg): pass alt prop to img element
  packages/vuetify/src/components/VImg/VImg.tsx
Labels: T: enhancement, C: VImg

#16836 docs(Upgrade guide): Add info about v-expansion-panel
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#16775 refactor(defaults): improve component performance
  packages/api-generator/src/locale/en/v-defaults-provider.json
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VCard/VCard.tsx
  packages/vuetify/src/components/VCard/VCardItem.tsx
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VDefaultsProvider/VDefaultsProvider.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VTabs/VTabs.tsx
  packages/vuetify/src/components/VTimeline/VTimelineDivider.tsx
  packages/vuetify/src/components/VToolbar/VToolbar.tsx
  packages/vuetify/src/composables/defaults.ts
Labels: T: enhancement, Framework

#16889 fix(VDataTable): add css to align headers center
  packages/vuetify/src/labs/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable

#16890 fix(VDataTable): missing index item[col] slots
  packages/vuetify/src/labs/VDataTable/VDataTableRow.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableRows.tsx
Labels: T: bug, C: VDataTable

#16923 chore: clean up e2e tests and improve types
  packages/vuetify/cypress/support/mount.ts
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.cy.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/VBottomNavigation.spec.cy.tsx
  packages/vuetify/src/components/VChip/__tests__/VChip.spec.cy.tsx
  packages/vuetify/src/components/VColorPicker/__tests__/VColorPicker.spec.cy.tsx
  packages/vuetify/src/components/VForm/__tests__/VForm.spec.cy.tsx
  packages/vuetify/src/components/VList/__tests__/VListItem.spec.cy.tsx
  packages/vuetify/src/components/VNavigationDrawer/__tests__/VNavigationDrawer.spec.cy.tsx
  packages/vuetify/src/components/VRating/__tests__/VRating.spec.cy.tsx
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.cy.tsx
  packages/vuetify/src/components/VSystemBar/__tests__/VSystemBar.spec.cy.tsx
  packages/vuetify/src/components/VTabs/__tests__/VTabs.spec.cy.tsx
  packages/vuetify/src/components/VWindow/__tests__/VWindow.spec.cy.tsx
  packages/vuetify/src/labs/VDataTable/__tests__/VDataTable.spec.cy.tsx
  packages/vuetify/src/labs/VDataTable/__tests__/VDataTableServer.spec.cy.tsx
  packages/vuetify/src/labs/VVirtualScroll/__tests__/VVirtualScroll.spec.cy.tsx
  packages/vuetify/types/cypress.d.ts
Labels: testing

#16894 refactor(form): export interfaces used in createForm()
  packages/vuetify/src/composables/form.ts
Labels: C: VForm, typescript

#16667 fix(VSlider): respect decimals from min
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.cy.tsx
  packages/vuetify/src/components/VSlider/slider.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VSlider

#16759 fix(VTextField): reset caret position after input
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VTextField

#16962 docs(VDataTable): fix typo
  packages/docs/src/pages/en/components/data-tables/basics.md
Labels: T: documentation

#16823 docs(VTable): Add description to hover prop
  packages/api-generator/src/locale/en/v-table.json
Labels: T: documentation

#16779 docs(VOverlay): add missing api descriptions
  packages/api-generator/src/locale/en/v-overlay.json
Labels: T: documentation

#16843 chore(dev): check component types in playground.vue
  packages/vuetify/.eslintignore
  packages/vuetify/.gitignore
  packages/vuetify/package.json
  packages/vuetify/tsconfig.dev.json
  packages/vuetify/vite.config.mjs
Labels: Task

#16708 fix(VGrid): fix breakpoints types
  packages/vuetify/src/components/VGrid/VCol.ts
  packages/vuetify/src/components/VGrid/VRow.ts
  packages/vuetify/src/composables/display.ts
Labels: T: bug, C: VGrid

#16977 fix(VDialog): replace `aria-role` with `role`
  packages/vuetify/src/components/VDialog/VDialog.tsx
Labels: T: bug, C: VDialog

#16974 docs(aliasing): update import code
  packages/docs/src/pages/en/features/aliasing.md
Labels: T: documentation

#16822 docs(buttons): add guide and update page content / examples
  packages/docs/src/examples/v-btn/defaults-bottom-navigation.vue
  packages/docs/src/examples/v-btn/defaults-btn-group.vue
  packages/docs/src/examples/v-btn/defaults-card-actions.vue
  packages/docs/src/examples/v-btn/defaults-snackbar.vue
  packages/docs/src/examples/v-btn/defaults-toolbar.vue
  packages/docs/src/examples/v-btn/misc-cookie-settings.vue
  packages/docs/src/examples/v-btn/misc-dialog-action.vue
  packages/docs/src/examples/v-btn/misc-discord-event.vue
  packages/docs/src/examples/v-btn/misc-group-survey.vue
  packages/docs/src/examples/v-btn/misc-tax-form.vue
  packages/docs/src/examples/v-btn/misc-toolbar.vue
  packages/docs/src/examples/v-btn/prop-block.vue
  packages/docs/src/examples/v-btn/prop-density.vue
  packages/docs/src/examples/v-btn/prop-elevation.vue
  packages/docs/src/examples/v-btn/prop-icon.vue
  packages/docs/src/examples/v-btn/prop-loaders.vue
  packages/docs/src/examples/v-btn/prop-ripple.vue
  packages/docs/src/examples/v-btn/prop-rounded.vue
  packages/docs/src/examples/v-btn/prop-size.vue
  packages/docs/src/examples/v-btn/prop-sizing.vue
  packages/docs/src/examples/v-btn/slot-loader.vue
  packages/docs/src/examples/v-btn/slot-prepend-append.vue
  packages/docs/src/examples/v-btn/usage.vue
  packages/docs/src/pages/en/components/buttons.md
Labels: T: documentation, C: VBtn

#14632 feat(VTimePicker): add activePicker prop
  packages/api-generator/src/locale/en/v-time-picker.json
  packages/api-generator/src/maps/v-time-picker.js
  packages/vuetify/src/components/VTimePicker/VTimePicker.ts
  packages/vuetify/src/components/VTimePicker/__tests__/VTimePicker.spec.ts
Labels: T: feature, C: VTimePicker

#15612 feat(VInput): add locale keys for append/prepend buttons
  packages/vuetify/src/components/VFileInput/__tests__/__snapshots__/VFileInput.spec.ts.snap
  packages/vuetify/src/components/VInput/VInput.ts
  packages/vuetify/src/components/VInput/__tests__/VInput.spec.ts
  packages/vuetify/src/components/VSelect/__tests__/__snapshots__/VSelect2.spec.ts.snap
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/services/presets/__tests__/__snapshots__/presets.spec.ts.snap
Labels: T: enhancement, a11y, C: VInput

#14545 feat(VTabs): add tab-text-transform SASS variable
  packages/vuetify/src/components/VTabs/VTabs.sass
  packages/vuetify/src/components/VTabs/_variables.scss
Labels: T: enhancement, C: VTabs

#16984 fix: check if CSS.supports exists
  packages/vuetify/src/util/globals.ts
Labels: T: bug, Framework

#16457 fix(VDataTable): add missing colgroup slot
  packages/vuetify/src/labs/VDataTable/VDataTable.tsx
  packages/vuetify/src/labs/VDataTable/VDataTableServer.tsx
Labels: T: bug, C: VDataTable

#16982 docs(images): add complex-grid example
  packages/docs/src/examples/v-img/complex-grid.vue
  packages/docs/src/pages/en/components/images.md
Labels: T: documentation, C: VImg

#17001 docs(v-tab): fix missing descriptions
  packages/api-generator/src/locale/en/v-tab.json
Labels: T: documentation

#16966 docs(images.md): added lazy-src clarification
  packages/api-generator/src/locale/en/v-img.json
  packages/docs/src/pages/en/components/images.md
Labels: T: documentation, C: VImg

#17000 docs(team.json): add lannister
  packages/docs/src/data/team.json
Labels: T: documentation

#16945 fix(VField): stopPropagation mousedown event on clearable icon
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VField/VField.tsx
Labels: T: bug, C: VField

#16565 fix(VTextField): remain placeholder after values selected
  packages/vuetify/src/components/VTextField/VTextField.tsx
Labels: T: bug, C: VSelect

#17014 docs(team): add core team members
  packages/docs/src/components/about/TeamMember.vue
  packages/docs/src/data/team.json
Labels: T: documentation

#17015 fix(forwardRefs): ref chain recursive search
  packages/vuetify/src/composables/forwardRefs.ts
Labels: T: bug, Framework

#16814 fix(VAutocomplete,VCombobox): unselected items checked
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#16998 docs(rating): add example card
  packages/docs/src/examples/v-rating/misc-card-overview.vue
  packages/docs/src/examples/v-rating/misc-card.vue
  packages/docs/src/pages/en/components/ratings.md
Labels: T: documentation, C: VRating
