Repository vuetifyjs/vuetify, pull requests merged in 2023-08, with the labels that each got.

#17674 fix(VMenu): don't close on tab if content is tabbable
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VMenu

#17701 docs(icons): update fa-svg instructions
  packages/docs/src/pages/en/features/icon-fonts.md
Labels: T: documentation, E: icons

#17792 fix(VSelect/VAutocomplete/VCombobox): add missing item-color prop
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#17870 fix(VInfiniteScroll): always use viewpoint as IntersectionObserver root
  packages/vuetify/src/labs/VInfiniteScroll/VInfiniteScroll.tsx
Labels: T: bug, C: VInfiniteScroll

#17904 fix(VRatingItem): add missing aria label
  packages/vuetify/src/components/VRating/VRating.tsx
Labels: T: bug, C: VRating

#17906 fix: add locale/ro missing translations
  packages/vuetify/src/locale/ro.ts
Labels: T: bug, E: locale

#17919 fix(VAutocomplete): stop forcing to be pristine when pressing enter, escpe and tab
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
Labels: T: bug, C: VAutocomplete

#17926 fix(VTable) set z-index to fixed header and footer elements
  packages/vuetify/src/components/VTable/VTable.sass
Labels: T: bug, C: VTable

#17931 docs: Clarified the `contained` prop of v-overlay
  packages/api-generator/src/locale/en/VOverlay.json
Labels: T: documentation, C: VOverlay

#17934 fix(theme): only apply head watchers on client
  packages/vuetify/src/composables/theme.ts
Labels: T: bug, E: theme

#17923 fix(VTimeline): updated sass for horizontal v-timeline-divider.
  packages/vuetify/src/components/VTimeline/VTimeline.sass
Labels: T: bug, C: VTimeline

#17880 feat(VOtpInput): port to v3
  packages/docs/src/data/301.json
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-otp-input/misc-loading.vue
  packages/docs/src/examples/v-otp-input/prop-dark.vue
  packages/docs/src/examples/v-otp-input/prop-type.vue
  packages/docs/src/examples/v-otp-input/usage.vue
  packages/docs/src/pages/en/components/otp-input.md
  packages/vuetify/src/labs/VOtpInput/VOtpInput.sass
  packages/vuetify/src/labs/VOtpInput/VOtpInput.tsx
  packages/vuetify/src/labs/VOtpInput/_variables.scss
  packages/vuetify/src/labs/VOtpInput/index.ts
  packages/vuetify/src/labs/components.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VOtpInput

#17839 docs(VCard): workaround to allow content to overflow, fixes #17593, #17628
  packages/docs/src/pages/en/components/cards.md
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#17957 docs(VSkeletonLoaders) In docs we use not existing type card-header
  packages/docs/src/pages/en/components/skeleton-loaders.md
Labels: T: documentation, C: VSkeletonLoader

#17956 docs(VCombobox): fix multiple in return statement
  packages/docs/src/examples/v-combobox/usage.vue
Labels: T: documentation, C: VCombobox

#17895 fix(VField): Applied text-align to input element
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VTextField

#17927 feat(VImg): Add prop to set crossorigin attr on v-img
  packages/api-generator/src/locale/en/VImg.json
  packages/vuetify/src/components/VImg/VImg.tsx
Labels: T: feature, C: VImg

#17976 feat(VImg): support draggable attribute
  packages/api-generator/src/locale/en/VImg.json
  packages/vuetify/src/components/VImg/VImg.tsx
Labels: T: feature, C: VImg

#17955 fix(VOtpInput): form data support
  packages/vuetify/src/labs/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput

#17912 fix(VBtn): Override hover effect for disable state
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: T: bug, C: VBtn

#17940 fix(VListItem): add anchor title
  packages/vuetify/src/components/VList/VListItem.tsx
Labels: T: bug, C: VListItem

#17914 fix(VDatePicker): recursive update when using hide-actions
  packages/vuetify/src/labs/VDateInput/composables.ts
  packages/vuetify/src/labs/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/labs/VDatePicker/__tests__/VDatePicker.spec.cy.tsx
  packages/vuetify/src/labs/VDatePicker/composables.ts
Labels: T: bug, C: VDatePicker

#17947 fix(VChip): add stopPropagation on close event.
  packages/vuetify/src/components/VChip/VChip.tsx
Labels: T: bug, C: VChip

#17952 feat(VColorPicker): add eyedropper button when supported
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.sass
  packages/vuetify/src/components/VColorPicker/VColorPickerPreview.tsx
  packages/vuetify/src/components/VColorPicker/_variables.scss
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/iconsets/fa.ts
  packages/vuetify/src/iconsets/fa4.ts
  packages/vuetify/src/iconsets/md.ts
  packages/vuetify/src/iconsets/mdi-svg.ts
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/util/globals.ts
Labels: T: feature, C: VColorPicker

#18022 fix(VTimeline): Move padding from grid to _body & _opposite for horizontal timeline.
  packages/vuetify/src/components/VTimeline/VTimeline.sass
Labels: T: bug, C: VTimeline

#17786 fix(VSelects): add missing open / close labels and update roles
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
Labels: T: bug, a11y, C: VTextField, C: VTextarea, C: VSelect, C: VCombobox, C: VAutocomplete, P: elite sponsor

#18041 docs(themes): update page content
  packages/docs/src/components/doc/PremiumThemes.vue
  packages/docs/src/components/doc/ThemeCard.vue
  packages/docs/src/components/doc/ThemeVendor.vue
  packages/docs/src/layouts/home.vue
  packages/docs/src/pages/en/resources/themes.md
  packages/docs/src/store/shopify.ts
Labels: T: documentation

#18012 docs: load optimize ad tag as carbon fallback
  packages/docs/src/components/promoted/Carbon.vue
Labels: T: documentation

#17892 fix(VField): input autofill style occupies whole container
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VTextField/VTextField.sass
  packages/vuetify/src/components/VTextField/VTextField.tsx
Labels: T: bug, C: VField

#16425 feat(VOverlay): add target prop
  packages/api-generator/src/locale/en/VOverlay-activator.json
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
  packages/vuetify/src/components/VOverlay/scrollStrategies.ts
  packages/vuetify/src/components/VOverlay/useActivator.tsx
  packages/vuetify/src/components/transitions/dialog-transition.tsx
  packages/vuetify/src/util/box.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VOverlay

#18058 fix(VSlider): correct thumb-label and tick label slot types
  packages/vuetify/src/components/VSlider/VSlider.tsx
Labels: T: bug, C: VSlider, typescript

#17446 fix(defaults): react to sub-component updates
  packages/vuetify/src/composables/defaults.ts
  packages/vuetify/src/util/injectSelf.ts
Labels: T: bug, E: defaults

#18010 feat(display): add local mobile-breakpoint support
  packages/docs/src/pages/en/features/display-and-platform.md
  packages/vuetify/src/components/VBanner/VBanner.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
  packages/vuetify/src/composables/__tests__/display.spec.cy.tsx
  packages/vuetify/src/composables/display.ts
Labels: T: feature, E: display

#15904 fix: properly passthrough non-bubbling events to input elements
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
  packages/vuetify/src/components/VCheckbox/VCheckboxBtn.tsx
  packages/vuetify/src/components/VRadioGroup/VRadioGroup.tsx
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VInput

#17999 feat(theme): change default theme colors
  packages/docs/src/examples/v-app-bar/prop-density.vue
  packages/docs/src/examples/v-app-bar/prop-scroll-behavior.vue
  packages/docs/src/plugins/vuetify.ts
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/theme.ts
Labels: T: feature, E: theme

#18017 fix(locale): update Norwegian dateRangeInput.divider placeholder translation
  packages/vuetify/src/locale/no.ts
Labels: T: bug, E: locale

#18037 fix(VTimeline): vertical divider overlapping
  packages/vuetify/src/components/VTimeline/VTimeline.sass
Labels: T: bug, C: VTimeline

#18053 fix(VAutocomplete): make hide-selected work with auto-select-first
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#18073 docs(Selects): update menu-props api description
  packages/api-generator/src/locale/en/Select.json
  packages/api-generator/src/locale/en/VSelect.json
Labels: T: documentation, C: VSelect, C: VCombobox, C: VAutocomplete

#18078 docs: fix various typos
  packages/api-generator/src/locale/en/VDefaultsProvider.json
  packages/api-generator/src/locale/en/VField.json
  packages/api-generator/src/locale/en/group.json
Labels: T: documentation

#17995 fix(VField): correctly calculate outline__start width
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
Labels: T: bug, C: VField

#18018 fix(VSelect): auto scroll to selected value
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect

#18077 docs(VNavigationDrawer): update prop description
  packages/api-generator/src/locale/en/VNavigationDrawer.json
Labels: T: documentation, C: VNavigationDrawer

#18085 docs(VAvatar): update page content
  packages/docs/src/pages/en/components/avatars.md
Labels: T: documentation, C: VAvatar

#18104 docs(text-and-typography): add reference to default font
  packages/docs/src/pages/en/styles/text-and-typography.md
Labels: T: documentation

#18108 docs(VAutocomplete): prop for filtering is "custom-filter"
  packages/docs/src/pages/en/components/autocompletes.md
Labels: T: documentation, C: VAutocomplete

#18110 docs: use `cmd+k` as hotkey for docs search on mac systems
  packages/docs/src/components/app/search/Search.vue
  packages/docs/src/i18n/messages/en.json
Labels: T: documentation

#18013 feat(VSnackbar): add timer prop
  packages/api-generator/src/locale/en/VSnackbar.json
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
  packages/vuetify/src/components/VSnackbar/VSnackbar.tsx
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VSnackbar

#18165 docs: add special edition theme "blackguard"
  packages/docs/src/components/api/ApiTable.vue
  packages/docs/src/components/app/Markup.vue
  packages/docs/src/components/app/bar/Bar.vue
  packages/docs/src/components/app/bar/ThemeToggle.vue
  packages/docs/src/components/app/drawer/Drawer.vue
  packages/docs/src/components/app/settings/options/ThemeOption.vue
  packages/docs/src/components/examples/Example.vue
  packages/docs/src/components/examples/UsageExample.vue
  packages/docs/src/components/home/Entry.vue
  packages/docs/src/components/home/Footer.vue
  packages/docs/src/components/promoted/Base.vue
  packages/docs/src/examples/v-sheet/usage.vue
  packages/docs/src/plugins/auth.ts
  packages/docs/src/plugins/vuetify.ts
Labels: T: feature, T: documentation

#18164 docs: fix vuetify-loader npm link
  README.md
Labels: T: documentation

#17739 fix(fa.ts): update `fa` translation
  packages/vuetify/src/locale/fa.ts
Labels: E: locale

#18143 docs(VDataTable): fix broken import link
  packages/docs/src/pages/en/components/data-tables/basics.md
  packages/docs/src/pages/en/components/data-tables/server-side-tables.md
Labels: T: documentation, C: VDataTable

#18148 docs(VOtp): fix broken link to api
  packages/docs/src/pages/en/labs/introduction.md
Labels: T: documentation, C: VOtpInput

#18103 fix(VSwitch): improve dark theme visibility
  packages/vuetify/dev/vuetify.js
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/components/VSwitch/_variables.scss
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/theme.ts
Labels: T: bug, C: VSwitch

#18157 refactor(locale): translate to bulgarian
  packages/vuetify/src/locale/bg.ts
Labels: E: locale

#18169 fix(VField): make loader visible
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VField

#18183 fix(VField): align label with input when rounded not applied
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
Labels: T: bug, C: VField

#17832 fix(filter): always pass InternalItem to custom filter function
  packages/vuetify/src/composables/filter.ts
  packages/vuetify/src/composables/list-items.ts
  packages/vuetify/src/labs/VDataTable/types.ts
Labels: T: bug, E: filter
