Repository vuetifyjs/vuetify, pull requests merged in 2023-12, with the labels that each got.

#18812 docs: fix date pickers example description
  packages/docs/src/pages/en/components/date-pickers.md
Labels: T: documentation

#18807 docs(VTextField): Hint possible for solo variant
  packages/docs/src/pages/en/components/text-fields.md
Labels: T: documentation, C: VTextField

#18805 docs: missing closing bracket in Nuxt installation guide
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#18810 fix(VDataTable): only show loading slot if no items or slot provided
  packages/docs/src/examples/v-data-table/slot-loading.vue
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
  packages/vuetify/src/components/VDataTable/VDataTableRows.tsx
  packages/vuetify/src/composables/loader.tsx
Labels: T: bug, C: VDataTable

#18823 fix(translation): ru translation
  packages/vuetify/src/locale/ru.ts
Labels: E: locale

#18488 fix(VField): display clearable icon with touch device
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VField

#18362 fix(VExpansionPanel): fix v-expansion-panel readonly prop
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.tsx
Labels: T: bug, C: VExpansionPanels

#18815 fix(VFileInput): fix hint not aligned with underlined variant
  packages/vuetify/src/components/VFileInput/VFileInput.sass
Labels: T: bug, C: VFileInput

#18766 fix(VAutocomplete): Allow an empty string to function as a legitimate v-model when it is not part of the list items
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#18695 feat(locale): add khmer translations
  packages/docs/src/pages/en/features/internationalization.md
  packages/vuetify/src/locale/index.ts
  packages/vuetify/src/locale/km.ts
Labels: T: feature, E: locale

#18771 docs: update nuxt 3 installation
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#18255 chore: add .json linting in api-generator
  .eslintrc.js
  packages/api-generator/package.json
  packages/api-generator/src/locale/en/virtual.json
  packages/api-generator/tsconfig.json
  tsconfig.eslint.json
Labels: T: api-generator

#18302 docs: missing descriptions
  packages/api-generator/src/locale/en/Slider.json
  packages/api-generator/src/locale/en/VFileInput.json
  packages/api-generator/src/locale/en/VInput.json
  packages/api-generator/src/locale/en/VLabel.json
  packages/api-generator/src/locale/en/VRangeSlider.json
  packages/api-generator/src/locale/en/VRow.json
  packages/api-generator/src/locale/en/VSlider.json
  packages/api-generator/src/locale/en/VTextField.json
  packages/api-generator/src/locale/en/VTextarea.json
Labels: T: api-generator

#18497 docs: transform query to camelCase before search for api
  packages/docs/src/components/api/ApiTable.vue
Labels: T: documentation

#18518 docs(buttons.md): changed role to type on button a11y description.
  packages/docs/src/pages/en/components/buttons.md
Labels: T: documentation, C: VBtn

#18577 fix(VAutocomplete): Use v-model to modify search.value instead of using onInput
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#18817 fix(VCombobox/VAutocomplete): Only allow input to completely overlap selection when focused
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#18828 fix(VSelect): fix accessibility
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect

#18850 fix(Autocomplete): Avoid select when item is disabled
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#18799 feat(calendar): add new composable
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/__tests__/calendar.spec.cy.tsx
  packages/vuetify/src/composables/calendar.ts
Labels: E: New Composable

#18867 docs(VList): add description for `slim` prop
  packages/api-generator/src/locale/en/VList.json
Labels: T: documentation, C: VList

#18865 docs(VBtn): add description for `slim` prop
  packages/api-generator/src/locale/en/VBtn.json
Labels: T: documentation, C: VBtn

#18881 fix(VOtpInput): exclude loader slot in VField slots
  packages/vuetify/src/components/VOtpInput/VOtpInput.sass
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput

#18889 docs: max-rows description
  packages/api-generator/src/locale/en/VTextarea.json
Labels: T: documentation, C: VGrid

#18866 fix(VDataTableServer): correct mismatched prop name for the previous ARIA label
  packages/vuetify/src/components/VDataTable/VDataTableFooter.tsx
Labels: T: bug, C: VDataTableServer

#18899 fix(VOverlay): memory leak involving bound listeners
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
Labels: T: bug, C: VOverlay

#18904 fix: Added the missing `update: indeterminate` translation string to `VSwitch.json`
  packages/api-generator/src/locale/en/VSwitch.json
Labels: T: documentation, C: VSwitch

#18902 fix: Translations for czech language
  packages/vuetify/src/locale/cs.ts
Labels: T: bug, E: locale

#18882 docs: add stripe subscriptions
  packages/docs/package.json
  packages/docs/src/components/user/OneSubCard.vue
  packages/docs/src/components/user/UserProfile.vue
  packages/docs/src/components/user/UserTabs.vue
  packages/docs/src/components/user/account/ConnectedAccounts.vue
  packages/docs/src/components/user/account/OneSubscription.vue
  packages/docs/src/pages/en/user/options.md
  packages/docs/src/pages/en/user/subscriptions.md
  yarn.lock
Labels: T: documentation
