Repository vuetifyjs/vuetify, pull requests merged in 2024-03, with the labels that each got.

#19294 fix(VAutocomplete/VCombobox): avoid input absolute position when having selection slot
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#19324 fix(VSwitch): remove elevation with flat props
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
  packages/vuetify/src/components/VSwitch/_variables.scss
Labels: T: bug, C: VSwitch

#19312 docs(VSparkline): fix radius usage in example
  packages/docs/src/examples/v-sparkline/prop-fill.vue
Labels: T: documentation, C: VSparkline

#19331 fix(VCombobox): don't update v-model when it already contains the search text in single selection mode
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.cy.tsx
Labels: T: bug, C: VCombobox

#19308 feat(VSpeedDial): port to v3
  packages/api-generator/src/locale/en/VMenu.json
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-speed-dial/usage.vue
  packages/docs/src/pages/en/components/all.md
  packages/docs/src/pages/en/components/speed-dials.md
  packages/docs/src/pages/en/labs/introduction.md
  packages/vuetify/src/composables/transition.ts
  packages/vuetify/src/labs/VFab/VFab.sass
  packages/vuetify/src/labs/VSpeedDial/VSpeedDial.sass
  packages/vuetify/src/labs/VSpeedDial/VSpeedDial.tsx
  packages/vuetify/src/labs/VSpeedDial/index.ts
  packages/vuetify/src/labs/components.ts
Labels: C: VSpeedDial, labs

#19336 fix(VDatePicker): fix crash when select date range with external adapter
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, C: VDatePicker

#19141 feat(VDatePicker): add isBeforeYear check
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/adapters/__tests__/vuetify.spec.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: feature, C: VDatePicker

#19340 fix(VCalendar): Stop day row content overflowing its parent
  packages/vuetify/src/labs/VCalendar/VCalendarInterval.sass
  packages/vuetify/src/labs/VCalendar/VCalendarIntervalEvent.sass
  packages/vuetify/src/labs/VCalendar/VCalendarIntervalEvent.tsx
Labels: T: bug, C: VCalendar

#17864 feat(VTreeview): port to v3
  packages/api-generator/src/locale/en/VList.json
  packages/api-generator/src/locale/en/VListGroup.json
  packages/api-generator/src/locale/en/VTreeview.json
  packages/api-generator/src/locale/en/generic.json
  packages/api-generator/src/locale/en/nested.json
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/v-treeview/misc-search-and-filter.vue
  packages/docs/src/examples/v-treeview/misc-selectable-icons.vue
  packages/docs/src/examples/v-treeview/prop-activatable.vue
  packages/docs/src/examples/v-treeview/prop-color.vue
  packages/docs/src/examples/v-treeview/prop-dense.vue
  packages/docs/src/examples/v-treeview/prop-item-disabled.vue
  packages/docs/src/examples/v-treeview/prop-load-children.vue
  packages/docs/src/examples/v-treeview/prop-open-all.vue
  packages/docs/src/examples/v-treeview/prop-rounded.vue
  packages/docs/src/examples/v-treeview/prop-selectable.vue
  packages/docs/src/examples/v-treeview/prop-selected-color.vue
  packages/docs/src/examples/v-treeview/prop-selection-type.vue
  packages/docs/src/examples/v-treeview/prop-shaped.vue
  packages/docs/src/examples/v-treeview/slot-append-and-label.vue
  packages/docs/src/examples/v-treeview/usage.vue
  packages/docs/src/pages/en/components/treeview.md
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
  packages/docs/src/pages/en/labs/introduction.md
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/composables/nested/activeStrategies.ts
  packages/vuetify/src/composables/nested/nested.ts
  packages/vuetify/src/composables/nested/selectStrategies.ts
  packages/vuetify/src/iconsets/fa.ts
  packages/vuetify/src/iconsets/fa4.ts
  packages/vuetify/src/iconsets/md.ts
  packages/vuetify/src/iconsets/mdi-svg.ts
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/labs/VTreeview/VTreeview.tsx
  packages/vuetify/src/labs/VTreeview/VTreeviewChildren.tsx
  packages/vuetify/src/labs/VTreeview/VTreeviewGroup.tsx
  packages/vuetify/src/labs/VTreeview/VTreeviewItem.sass
  packages/vuetify/src/labs/VTreeview/VTreeviewItem.tsx
  packages/vuetify/src/labs/VTreeview/index.ts
  packages/vuetify/src/labs/VTreeview/shared.ts
  packages/vuetify/src/labs/VTreeview/variables.scss
  packages/vuetify/src/labs/components.ts
Labels: T: feature, C: VTreeview, labs

#19387 fix(VAutocomplete/VCombobox): allow delete in single selection mode
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#19408 fix(theme): add null check for current dark check
  packages/vuetify/src/composables/theme.ts
Labels: T: bug, E: theme

#19341 fix(VBreadcrumbs): fix types for slots
  packages/vuetify/src/components/VBreadcrumbs/VBreadcrumbs.tsx
Labels: T: bug, C: VBreadcrumbs

#19345 fix(VOtpInput): fix paste string to input number
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput

#19368 fix(VMenu): don't close when press enter
  packages/vuetify/src/components/VMenu/VMenu.tsx
Labels: T: bug, C: VMenu

#19372 fix(VDatePickerMonth): set rangeStart/rangeStop from model
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.spec.cy.tsx
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, C: VDatePicker, E: date

#19380 fix(locale): translate `open` for no.ts
  packages/vuetify/src/locale/no.ts
Labels: T: bug, E: locale

#18162 feat(VNumberInput): add new component
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-number-input/prop-control-variant.vue
  packages/docs/src/examples/v-number-input/prop-hide-input.vue
  packages/docs/src/examples/v-number-input/prop-inset.vue
  packages/docs/src/examples/v-number-input/prop-min-max.vue
  packages/docs/src/examples/v-number-input/prop-reverse.vue
  packages/docs/src/examples/v-number-input/prop-step.vue
  packages/docs/src/examples/v-number-input/usage.vue
  packages/docs/src/pages/en/components/all.md
  packages/docs/src/pages/en/components/number-inputs.md
  packages/docs/src/pages/en/labs/introduction.md
  packages/vuetify/src/labs/VNumberInput/VNumberInput.sass
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/labs/VNumberInput/_variables.scss
  packages/vuetify/src/labs/VNumberInput/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, C: New Component, labs, C: VNumberInput

#19435 fix(VProgressLinear): Remove will-change to prevent weird visual behaviour
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
Labels: T: bug, C: VProgressLinear

#19432 docs: fix UsageExample with extra script
  packages/docs/src/components/examples/UsageExample.vue
  packages/docs/src/examples/v-data-iterator/usage.vue
  packages/docs/src/examples/v-data-table/usage.vue
  packages/docs/src/examples/v-infinite-scroll/usage.vue
Labels: T: documentation

#19386 fix: make router useLink link reactive
  packages/vuetify/src/components/VBreadcrumbs/__tests__/VBreadcrumbs.spec.cy.tsx
  packages/vuetify/src/composables/router.tsx
Labels: T: bug, C: VBreadcrumbs

#19406 fix(VDataTable): checkboxes do not have labels
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
Labels: T: bug, C: VDataTable, C: Selection controls

#19433 fix(VExpansionPanel): fix accordion variant border radius
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
Labels: T: bug, C: VExpansionPanels

#19449 fix(VAvatar): add style for start, end props same as VIcon
  packages/vuetify/src/components/VAvatar/VAvatar.sass
  packages/vuetify/src/components/VAvatar/_variables.scss
Labels: T: bug, C: VAvatar

#19457 fix(VField): use xl border-radius for rounded prop
  packages/vuetify/src/components/VField/_variables.scss
Labels: T: bug, C: VField

#19465 fix(VSelectionContolGroup): add correct ripple prop type
  packages/vuetify/src/components/VSelectionControlGroup/VSelectionControlGroup.tsx
Labels: T: bug, D: ripple

#19492 fix: check `RouterLink.useLink` exists before using it
  packages/vuetify/src/composables/router.tsx
Labels: T: bug, E: router

#19509 docs: change `vue-i18n` url to point to v9 docs
  packages/docs/src/pages/en/features/internationalization.md
Labels: T: documentation

#19497 docs: fix incorrect search result url
  packages/docs/src/components/app/search/SearchResults.vue
Labels: T: bug, T: documentation

#19498 docs(frequently-asked-questions): fix typo
  packages/docs/src/pages/en/getting-started/frequently-asked-questions.md
Labels: T: documentation

#19488 fix(VDataTableServer): was missing VDivider above the footer
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
Labels: T: bug, C: VDataTableServer

#19506 fix(VListItem): Removed hover effect if list item is not clickable
  packages/vuetify/src/components/VList/VListItem.sass
Labels: T: bug, C: VListItem

#18636 docs(VNavigationDrawer): update location description
  packages/api-generator/src/locale/en/VNavigationDrawer.json
Labels: T: documentation, T: api-generator

#18639 fix(VBtn): prevent keyboard tab from triggering the loading button
  packages/vuetify/src/components/VBtn/VBtn.tsx
Labels: T: bug, C: VBtn

#18838 fix(VSelect/Auto/Combo): focus and activation of chips and clearable using keyboard
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VIcon

#19504 fix(VSwitch): label when using direction vertical
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VSwitch/_variables.scss
Labels: T: bug, C: VSwitch

#18980 fix(VDataTableFooter): dont apply i18n to numbers
  packages/vuetify/src/components/VDataTable/VDataTableFooter.tsx
Labels: T: bug, C: VDataTable

#19482 docs: fix description of `color` properties
  packages/api-generator/src/locale/en/VCarousel.json
  packages/api-generator/src/locale/en/VListItem.json
  packages/api-generator/src/locale/en/VPagination.json
  packages/api-generator/src/locale/en/VTab.json
  packages/api-generator/src/locale/en/VTabs.json
  packages/api-generator/src/locale/en/VTimelineItem.json
  packages/api-generator/src/locale/en/VTreeview.json
  packages/api-generator/src/locale/en/generic.json
Labels: T: documentation
