Repository vuetifyjs/vuetify, pull requests merged in 2024-06, with the labels that each got.

#19959 fix(VNumberInput): attributes fall through to root
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: bug, C: VNumberInput

#19968 fix(VTreeview): prevent redundant treeview re-render during open
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/labs/VTreeview/VTreeview.tsx
Labels: T: bug, C: VTreeview

#19964 fix(VTimePicker): fix disabled props
  packages/vuetify/src/labs/VTimePicker/VTimePickerClock.tsx
  packages/vuetify/src/labs/VTimePicker/VTimePickerControls.tsx
Labels: T: bug, C: VTimePicker

#19958 docs(VTimePicker): fix example using display information
  packages/docs/src/examples/v-time-picker/prop-ampm-in-title.vue
  packages/docs/src/examples/v-time-picker/prop-disabled.vue
Labels: T: documentation, C: VTimePicker

#19949 fix(VFab): change type for location prop
  packages/vuetify/src/components/VFab/VFab.tsx
Labels: T: bug, C: VFab

#19947 fix(VOverlay): App mounted in shadow dom
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
Labels: T: bug, C: VOverlay

#19946 fix(Docs): Quick remedy to contrast issues for dark themes
  packages/docs/src/components/api/ApiTable.vue
Labels: T: documentation

#19922 fix(VMenu): allow enter keypress to work in input element
  packages/vuetify/src/components/VMenu/VMenu.tsx
Labels: T: bug, C: VMenu

#19921 fix(VAppBar): fix inability to scroll to the bottom
  packages/vuetify/src/components/VAppBar/__tests__/VAppBar.spec.cy.tsx
  packages/vuetify/src/composables/scroll.ts
Labels: T: bug, C: VAppBar
