Repository vuetifyjs/vuetify, pull requests merged in 2024-01, with the labels that each got.

#18912 fix(locale): typo in CZ translations
  packages/vuetify/src/locale/cs.ts
Labels: T: bug, E: locale

#18960 docs: fix typo in styles and utility classes description
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
Labels: T: documentation

#18944 fix(locale): update Dutch locale
  packages/vuetify/src/locale/nl.ts
Labels: T: bug, E: locale

#18993 fix(VDataTable): sticky header problem with bgColor
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
Labels: T: bug, C: VDataTable

#18971 fix(VTab): VBtn height inside VTab with non-default density #18970
  packages/vuetify/src/components/VTabs/VTab.sass
Labels: T: bug, C: VTabs

#18962 fix(VAutocomplete/VCombobox): add buffer space after selection to hold input
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VAutocomplete/_variables.scss
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VCombobox/_variables.scss
Labels: T: bug, C: VCombobox, C: VAutocomplete

#18948 fix(VCalendar): weekdays prop to affect week view mode
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/composables/date/date.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarDay.sass
Labels: T: bug, C: VCalendar

#18940 fix(VList): unexpected page scrolling when focusing
  packages/vuetify/src/components/VList/VList.tsx
Labels: T: bug, C: VList

#18936 fix(VAutocomplete): fix usage with prependAvatar in VListItem
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect, C: VCombobox, C: VAutocomplete

#18909 fix(VDataTable): fix send props to VPagination
  packages/vuetify/src/components/VDataTable/VDataTableFooter.tsx
Labels: T: bug, C: VDataTable

#18898 fix(VList): fix accessibility (add live region)
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, a11y, C: VList

#18998 fix(elevation): use own CSS variable key for ambient opacity value
  packages/vuetify/src/styles/settings/_elevations.scss
Labels: T: bug, sass

#19009 fix(i18n): Updating Portuguese i18n locale for some components
  packages/vuetify/src/locale/pt.ts
Labels: T: bug, E: locale

#17911 fix(VChipGroup): use VSlideGroup as baseline component.
  packages/vuetify/src/components/VChipGroup/VChipGroup.sass
  packages/vuetify/src/components/VChipGroup/VChipGroup.tsx
Labels: T: bug, C: VChipGroup

#19017 fix(date): return unmodified DateTimeFormat
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: E: date

#19024 fix(VSliderThumb): patch memory leak in `VSliderThumb`
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
Labels: T: bug, C: VSlider

#18886 fix(VPagination): Update ARIA keys for child VBtn attributes
  packages/vuetify/src/components/VPagination/VPagination.tsx
  packages/vuetify/src/components/VWindow/VWindow.tsx
Labels: T: bug, a11y, C: VPagination

#19047 feat(theme): add surface-light color
  packages/docs/src/pages/en/features/theme.md
  packages/vuetify/src/components/VAlert/_variables.scss
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VSlider/VSliderTrack.sass
  packages/vuetify/src/components/VSlider/_variables.scss
  packages/vuetify/src/components/VSystemBar/_variables.scss
  packages/vuetify/src/components/VTimeline/_variables.scss
  packages/vuetify/src/components/VToolbar/_variables.scss
  packages/vuetify/src/composables/__tests__/__snapshots__/theme.spec.ts.snap
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.sass
  packages/vuetify/src/labs/VCalendar/_variables.scss
Labels: T: feature, E: theme

#19011 fix(locale): update Slovak locale
  packages/vuetify/src/locale/sk.ts
Labels: T: bug, E: locale

#19039 docs(VAlert): fix renamed property
  packages/docs/src/examples/v-alert/prop-border-color.vue
  packages/docs/src/pages/en/components/alerts.md
Labels: T: documentation, C: VAlert

#18991 docs(VOtpInput): add v-model to divider example
  packages/docs/src/examples/v-otp-input/misc-divider.vue
Labels: T: documentation, C: VOtpInput

#19052 fix(VDataTableVirtual): add missing colgroup slot
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
Labels: T: bug, C: VDataTableVirtual

#19025 fix(VDataTable): add new headerProps prop
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
Labels: T: bug, C: VDataTable

#17033 feat(style): add cursor class utilities
  packages/docs/src/data/nav.json
  packages/docs/src/examples/cursor/usage.vue
  packages/docs/src/pages/en/styles/cursor.md
  packages/vuetify/src/styles/settings/_utilities.scss
Labels: T: enhancement, T: feature

#19048 feat(VDataTable/Virtual): add support for sorting raw objects
  packages/docs/src/examples/v-data-table/prop-headers-sort-raw.vue
  packages/docs/src/pages/en/components/data-tables/data-and-display.md
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/components/VDataTable/composables/headers.ts
  packages/vuetify/src/components/VDataTable/composables/sort.ts
  packages/vuetify/src/components/VDataTable/types.ts
Labels: T: feature, C: VDataTable, C: VDataTableVirtual

#18092 feat(VSwitch): add thumb slot
  packages/api-generator/src/locale/en/VSelectionControl.json
  packages/api-generator/src/locale/en/VSwitch.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
Labels: T: feature, C: VSwitch

#19046 feat(goTo): port to v3
  packages/api-generator/src/locale/en/useGoTo.json
  packages/docs/src/components/app/BackToTop.vue
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/scroll/usage.vue
  packages/docs/src/examples/v-lazy/usage.vue
  packages/docs/src/pages/en/features/scrolling.md
  packages/docs/src/plugins/icons.ts
  packages/vuetify/src/composables/__tests__/goto.spec.cy.tsx
  packages/vuetify/src/composables/goto.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/framework.ts
Labels: T: feature, E: goTo

#19075 docs(text-decoration): fix example format issue
  packages/docs/src/examples/text-and-typography/text-decoration.vue
Labels: T: documentation

#19082 docs(components/all): remove duplicated Bottom Sheet Component
  packages/docs/src/pages/en/components/all.md
Labels: T: documentation

#19119 fix(group): use index as value if not provided
  packages/vuetify/src/composables/group.ts
Labels: T: bug, E: group
