Repository vuetifyjs/vuetify, pull requests merged in 2024-07, with the labels that each got.

#20033 fix(VStepperVertical): provide defaults props eager for VStepperVerticalItem
  packages/vuetify/src/labs/VStepperVertical/VStepperVertical.tsx
Labels: T: bug, C: VStepperVertical

#20072 fix(VNumberInput): fix inc/dec slots with split control variant
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: bug, C: VNumberInput

#19708 docs(VImg): example for gradient props
  packages/api-generator/src/locale/en/VImg.json
  packages/docs/src/pages/en/components/images.md
Labels: T: documentation, C: VImg

#20126 fix(VTimePicker): fix types for emit events
  packages/vuetify/src/labs/VTimePicker/VTimePicker.tsx
  packages/vuetify/src/labs/VTimePicker/VTimePickerClock.tsx
  packages/vuetify/src/labs/VTimePicker/VTimePickerControls.tsx
Labels: T: bug, C: VTimePicker

#20125 fix(VNumberInput): allow press delete key
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: bug, C: VNumberInput

#20121 fix(VDatePickerControls): Wrong icon types
  packages/vuetify/src/components/VDatePicker/VDatePickerControls.tsx
Labels: T: bug, C: VDatePicker

#20099 docs(VListItem): Add descriptions for lines, nav, and slim properties
  packages/api-generator/src/locale/en/VListItem.json
Labels: T: documentation, C: VListItem

#20115 docs(v-checkbox-btn): fix example simple checkbox
  packages/docs/src/examples/v-data-table/slot-simple-checkbox.vue
Labels: T: documentation, C: VDataTable

#20096 fix(calendar): add missing first-day-of-week property support
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
Labels: T: bug, C: VCalendar

#20113 docs(installation): Fix minor spelling mistake
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#20112 fix(VProgressLinear): render in forced-colors mode
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
Labels: T: bug, C: VProgressLinear

#20064 fix(VField/VInput): centerAffix doesn't work for underlined/plain
  packages/api-generator/src/locale/en/VField.json
  packages/api-generator/src/locale/en/VInput.json
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VInput/VInput.sass
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VInput, C: VField

#20044 docs(installation.md): Add Vitepress configuration
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#20047 fix(VDataTable): support groupBy when sorting is disabled
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.cy.tsx
  packages/vuetify/src/components/VDataTable/composables/group.ts
  packages/vuetify/src/components/VDataTable/composables/sort.ts
Labels: T: bug, C: VDataTable, C: VDataTableServer, C: VDataTableVirtual

#20178 fix(VTimePicker): don't show buttons if ampmInTitle is not true
  packages/vuetify/src/labs/VTimePicker/VTimePickerControls.tsx
Labels: T: bug, C: VTimePicker

#20162 fix(VBtn): stacked button couldn't be of type block
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: T: bug, C: VBtn

#20144 fix: augment GlobalComponents in multiple vue modules
  packages/vuetify/src/shims.d.ts
Labels: T: enhancement, typescript

#20169 fix(VDatePickerMonth): range bug with programmatic startdate
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
Labels: T: bug, C: VDatePicker

#20163 fix(VDateInput): apply readonly
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: bug, C: VDateInput

#20002 fix(VDateInput): inherit class
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: bug, C: VDateInput

#20077 fix(VDataTable): use item.raw and columns in sorting transform
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/components/VDataTable/composables/sort.ts
Labels: T: bug, C: VDataTable

#20164 fix(VOtpInput): slice value on paste
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput

#20156 docs(VList): add description for expanded-icon and collapse-icon APIs
  packages/api-generator/src/locale/en/VList.json
Labels: T: documentation, T: api-generator

#20092 feat(VMenu): add submenu prop
  packages/api-generator/src/locale/en/VMenu.json
  packages/docs/src/examples/v-menu/misc-use-in-components.vue
  packages/docs/src/examples/v-menu/prop-submenu.vue
  packages/docs/src/pages/en/components/menus.md
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VMenu/VMenu.tsx
  packages/vuetify/src/components/VOverlay/VOverlay.tsx
  packages/vuetify/src/components/VOverlay/useActivator.tsx
Labels: T: feature, C: VMenu
