Repository vuetifyjs/vuetify, pull requests merged in 2024-05, with the labels that each got.

#19727 fix(VDataTable): select all checkbox showing when not enabled on mobile
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
Labels: T: bug, C: VDataTable

#19725 chore(tests): fix flaky cypress tests
  packages/vuetify/src/components/VSlideGroup/__tests__/VSlideGroup.spec.cy.tsx
  packages/vuetify/src/composables/__tests__/goto.spec.cy.tsx
Labels: testing

#19750 docs(team.json): add new team member
  packages/docs/src/data/team.json
Labels: T: documentation

#19714 fix(VNumberInput): use VTextField as the base component
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: bug, C: VNumberInput

#19668 fix(VTreeview): lines prop supports boolean type
  packages/vuetify/src/components/VList/VListItem.tsx
Labels: T: bug, C: VTreeview

#19701 fix(VAutocomplete): only clear search on blur in multiple mode or using chips/selection shots
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#19758 fix(nested): correct prop types
  packages/api-generator/src/types.ts
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/composables/nested/activeStrategies.ts
  packages/vuetify/src/composables/nested/nested.ts
  packages/vuetify/src/labs/VTreeview/VTreeview.tsx
Labels: T: bug, E: nested

#19706 fix(VSlider): render in forced-colors mode
  packages/vuetify/src/components/VSlider/VSliderThumb.sass
  packages/vuetify/src/components/VSlider/VSliderTrack.sass
Labels: T: bug, C: VSlider

#19745 fix(VCalendar): remove background for week view mode
  packages/vuetify/src/labs/VCalendar/VCalendar.sass
  packages/vuetify/src/labs/VCalendar/_variables.scss
Labels: T: bug, C: VCalendar

#19764 fix(VInfiniteScroll): load event gets emitted endlessly even if status is empty
  packages/vuetify/src/components/VInfiniteScroll/VInfiniteScroll.tsx
Labels: T: bug, C: VInfiniteScroll

#19774 fix(VDataTable): readd missing hide-default-header / hide-default-footer props
  packages/api-generator/src/locale/en/VDataTable.json
  packages/docs/src/pages/en/components/data-tables/basics.md
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
Labels: T: bug, C: VDataTable

#19524 feat(VStepperVertical): create new component
  packages/api-generator/src/locale/en/Stepper.json
  packages/api-generator/src/locale/en/StepperItem.json
  packages/api-generator/src/locale/en/VExpansionPanelTitle.json
  packages/api-generator/src/locale/en/VStepper.json
  packages/api-generator/src/locale/en/VStepperItem.json
  packages/api-generator/src/locale/en/VStepperVerticalActions.json
  packages/api-generator/src/locale/en/VStepperVerticalItem.json
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-stepper-vertical/slot-actions.vue
  packages/docs/src/examples/v-stepper-vertical/usage.vue
  packages/docs/src/pages/en/components/vertical-steppers.md
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.tsx
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanels.tsx
  packages/vuetify/src/components/VStepper/VStepper.tsx
  packages/vuetify/src/components/VStepper/VStepperItem.tsx
  packages/vuetify/src/composables/group.ts
  packages/vuetify/src/labs/VStepperVertical/VStepperVertical.tsx
  packages/vuetify/src/labs/VStepperVertical/VStepperVerticalActions.tsx
  packages/vuetify/src/labs/VStepperVertical/VStepperVerticalItem.sass
  packages/vuetify/src/labs/VStepperVertical/VStepperVerticalItem.tsx
  packages/vuetify/src/labs/VStepperVertical/_variables.scss
  packages/vuetify/src/labs/VStepperVertical/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, labs, C: VStepperVertical

#19703 fix(VSwitch): render in forced-colors mode
  packages/vuetify/src/components/VSwitch/VSwitch.sass
  packages/vuetify/src/components/VSwitch/VSwitch.tsx
Labels: T: bug, C: VSwitch

#19738 fix(locale): update hu translation
  packages/vuetify/src/locale/hu.ts
Labels: T: bug, E: locale

#19773 fix(VTreeview): Allow child load on many items and scoped loading state
  packages/vuetify/src/labs/VTreeview/VTreeviewChildren.tsx
Labels: T: bug, C: VTreeview

#19782 fix(V-Menu): only closing menu in closeParents if persistent is not set
  packages/vuetify/src/components/VMenu/VMenu.tsx
Labels: T: bug, C: VOverlay

#19789 docs: fix v-icon component link
  packages/docs/src/pages/en/components/avatars.md
Labels: T: documentation

#19646 docs(checkboxes.md): update v-simple-checkbox description.
  packages/docs/src/pages/en/components/checkboxes.md
Labels: T: documentation

#19824 docs: update tables reference to labs
  packages/docs/src/pages/en/components/tables.md
Labels: T: documentation

#19828 fix(VDivider): visiblity in container with dynamic height
  packages/vuetify/src/components/VDivider/VDivider.sass
Labels: T: bug, C: VDivider

#19823 fix(VCalendar): use date adapter to create new date
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
Labels: T: bug, C: VCalendar, labs

#19842 fix(defaults): allow null component and global values
  packages/vuetify/src/composables/defaults.ts
Labels: T: bug, E: defaults

#19812 fix(locale): update missing persian translations
  packages/vuetify/src/locale/fa.ts
Labels: T: bug, E: locale

#19846 fix(VAutocomplete/VCombobox): remove tab key listener
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: bug, C: VCombobox, C: VAutocomplete

#19822 fix(VDatePicker): disable months outside min/max value
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerMonths.tsx
Labels: T: bug, C: VDatePicker

#19843 fix(VDataTable): fit mobile row height to content
  packages/vuetify/src/components/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable

#19844 fix(VDataTable): hide default body
  packages/api-generator/src/locale/en/VDataTable.json
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
Labels: T: bug, C: VDataTable

#19771 fix(VMenu): min width property
  packages/vuetify/src/composables/dimensions.ts
Labels: T: bug, C: VMenu

#19887 fix(VSlider): add aria-label to v-slider-thumb
  packages/vuetify/src/components/VSlider/VSlider.tsx
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
Labels: T: bug, a11y, C: VSlider

#19902 docs(VColorPicker): fix display eye dropper icon
  packages/docs/src/plugins/icons.ts
Labels: T: documentation, C: VColorPicker

#19906 fix(VNumberInput): disable keyboard up/down for readonly state
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/labs/VNumberInput/__tests__/VNumberInput.spec.cy.tsx
Labels: T: bug, C: VNumberInput

#19916 docs(VDataTable): fix wrong v-data-table-headers links
  packages/api-generator/src/locale/en/VDataTable.json
  packages/docs/src/pages/en/components/data-tables/basics.md
Labels: T: documentation, C: VDataTable

#19861 fix(VCheckboxBtn): reset checked state when readonly is true
  packages/vuetify/src/components/VCheckbox/__tests__/VCheckboxBtn.spec.cy.tsx
  packages/vuetify/src/components/VSelectionControl/VSelectionControl.tsx
Labels: T: bug, C: VCheckboxBtn

#19868 fix(VTabs): render tabs correctly using items
  packages/api-generator/src/locale/en/VTabs.json
  packages/vuetify/src/components/VTabs/VTabs.tsx
  packages/vuetify/src/components/VTabs/__tests__/VTabs.spec.cy.tsx
Labels: T: bug, C: VTabs

#19795 fix(VTreeview): select & activate issues
  packages/vuetify/src/components/VList/VList.tsx
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/labs/VTreeview/VTreeview.tsx
  packages/vuetify/src/labs/VTreeview/VTreeviewChildren.tsx
  packages/vuetify/src/labs/VTreeview/VTreeviewItem.tsx
Labels: T: bug, C: VTreeview, labs

#19869 fix(VDatePicker): using the start range that has been cleared
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
Labels: T: bug, C: VDatePicker

#19881 fix(VDataTable): fix filter not work
  packages/vuetify/src/composables/__tests__/filter.spec.ts
  packages/vuetify/src/composables/filter.ts
Labels: T: bug, C: VDataTable
