Repository vuetifyjs/vuetify, pull requests merged in 2024-04, with the labels that each got.

#19516 fix(VDatePicker): fixed missing adapter abstractions
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, C: VDatePicker

#19455 docs(VChip): Fixed a mistake in the features section
  packages/docs/src/pages/en/components/chips.md
Labels: T: documentation, C: VChip

#19527 docs(Overlay): add information about contained that the desirable container should be relative to be taken as container
  packages/docs/src/pages/en/components/overlays.md
Labels: T: documentation, C: VOverlay

#19120 feat(transitions): add root variable
  packages/vuetify/src/styles/generic/_transitions.scss
  packages/vuetify/src/styles/settings/_variables.scss
Labels: T: feature, C: Transitions, sass

#19088 feat(VBtnGroup/VBottomNavigation): Add baseColor prop
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtnGroup/VBtnGroup.tsx
Labels: T: feature, C: VBottomNavigation, C: VBtnGroup

#19490 docs(VExpansionPanel): Fixed broken code example
  packages/docs/src/examples/v-expansion-panels/misc-advanced.vue
Labels: T: documentation, C: VExpansionPanels

#18908 fix(VDataTable): selection duplication
  packages/vuetify/src/components/VDataTable/composables/select.ts
Labels: T: bug, C: VDataTable

#18961 fix(VDataTable): max-width doesn work properly, new prop to wrap text when use maxWidth
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VDataTableColumn.tsx
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
  packages/vuetify/src/components/VDataTable/VDataTableRow.tsx
  packages/vuetify/src/components/VDataTable/types.ts
Labels: T: bug, C: VDataTable

#19519 fix(VMenu): Vmenu does not restore focus on enter
  packages/vuetify/src/components/VMenu/VMenu.tsx
Labels: T: bug, C: VMenu

#19542 fix(VDataTable): avoid changing page if oldOptions is not defined
  packages/vuetify/src/components/VDataTable/composables/options.ts
Labels: T: bug, C: VDataTableServer

#19523 fix(VTimePicker): use window events instead of element
  packages/vuetify/src/labs/VTimePicker/VTimePickerClock.tsx
Labels: T: feature, C: VTimePicker

#19537 docs: fix typo error
  packages/docs/src/pages/en/components/data-tables/basics.md
  packages/docs/src/pages/en/features/sass-variables.md
Labels: T: documentation

#19520 fix(locale): update Slovene locale
  packages/vuetify/src/locale/sl.ts
Labels: T: bug, E: locale

#19575 fix(VTimePicker): Fix emits on change
  packages/vuetify/src/labs/VTimePicker/VTimePicker.tsx
Labels: C: VTimePicker, labs

#19557 feat(VAppBar): add support for fully-hide scroll-behavior
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/composables/layout.ts
Labels: T: feature, C: VAppBar

#19577 fix(VBtn): apply center ripple when using the icon prop
  packages/vuetify/src/components/VBtn/VBtn.tsx
Labels: T: bug, C: VBtn, D: ripple

#19248 feat(VTabs): add support for v-tabs-window
  packages/docs/components.d.ts
  packages/docs/src/examples/v-tabs/misc-content.vue
  packages/docs/src/examples/v-tabs/misc-dynamic-height.vue
  packages/docs/src/examples/v-tabs/misc-dynamic.vue
  packages/docs/src/examples/v-tabs/misc-mobile.vue
  packages/docs/src/examples/v-tabs/misc-overflow-to-menu.vue
  packages/docs/src/examples/v-tabs/misc-pagination.vue
  packages/docs/src/examples/v-tabs/misc-tab-items.vue
  packages/docs/src/examples/v-tabs/prop-align-tabs-center.vue
  packages/docs/src/examples/v-tabs/prop-align-tabs-end.vue
  packages/docs/src/examples/v-tabs/prop-align-tabs-title.vue
  packages/docs/src/examples/v-tabs/prop-direction.vue
  packages/docs/src/examples/v-tabs/prop-fixed-tabs.vue
  packages/docs/src/examples/v-tabs/prop-grow.vue
  packages/docs/src/examples/v-tabs/prop-icons.vue
  packages/docs/src/examples/v-tabs/prop-stacked.vue
  packages/docs/src/examples/v-tabs/slot-tabs.vue
  packages/docs/src/examples/v-tabs/usage.vue
  packages/docs/src/pages/en/components/tabs.md
  packages/docs/src/plugins/icons.ts
  packages/vuetify/src/components/VTabs/VTabs.tsx
  packages/vuetify/src/components/VTabs/VTabsWindow.tsx
  packages/vuetify/src/components/VTabs/VTabsWindowItem.tsx
  packages/vuetify/src/components/VTabs/index.ts
Labels: T: feature, C: VTabs

#19586 fix(VCalendar): not usable without v-model
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
Labels: T: enhancement, C: VCalendar

#19585 fix(VCalendar): hide adjacent events when not using show-adjacent-months
  packages/vuetify/src/labs/VCalendar/VCalendarMonthDay.tsx
Labels: T: bug, C: VCalendar

#19584 feat(calendar): prop to switch between dynamic/static number of weeks
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/calendar.ts
Labels: T: feature, C: VCalendar

#19587 fix(date): startOfWeek/endOfWeek does not respect locale
  packages/vuetify/src/composables/date/adapters/__tests__/vuetify.spec.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, C: VCalendar

#19555 feat(VCalendar): add event slot
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarMonthDay.tsx
Labels: T: feature, C: VCalendar

#19593 fix(VSelect): auto scroll to selected item when using hotkeys
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect

#19053 feat(Tooltip): add new directive
  packages/api-generator/src/locale/en/v-click-outside.json
  packages/api-generator/src/locale/en/v-intersect.json
  packages/api-generator/src/locale/en/v-mutate.json
  packages/api-generator/src/locale/en/v-resize.json
  packages/api-generator/src/locale/en/v-ripple.json
  packages/api-generator/src/locale/en/v-scroll.json
  packages/api-generator/src/locale/en/v-tooltip.json
  packages/api-generator/src/locale/en/v-touch.json
  packages/api-generator/src/shims.d.ts
  packages/api-generator/src/types.ts
  packages/api-generator/src/utils.ts
  packages/api-generator/src/web-types.ts
  packages/api-generator/templates/directives.d.ts
  packages/docs/build/api-plugin.ts
  packages/docs/components.d.ts
  packages/docs/src/components/api/DirectiveTable.vue
  packages/docs/src/components/api/Section.vue
  packages/docs/src/components/api/utils.ts
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/v-tooltip-directive/args.vue
  packages/docs/src/examples/v-tooltip-directive/modifiers.vue
  packages/docs/src/examples/v-tooltip-directive/object-literals.vue
  packages/docs/src/examples/v-tooltip-directive/usage.vue
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/pages/en/directives/tooltip.md
  packages/docs/tsconfig.json
  packages/vuetify/src/composables/directiveComponent.ts
  packages/vuetify/src/directives/index.ts
  packages/vuetify/src/directives/tooltip/index.ts
  packages/vuetify/src/globals.d.ts
  packages/vuetify/src/util/defineComponent.tsx
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VTooltip, D: New Directive

#18811 feat(VDataIterator): loading prop fix and add new slot "loader"
  packages/docs/src/examples/v-data-iterator/slot-loader.vue
  packages/docs/src/pages/en/components/data-iterators.md
  packages/vuetify/src/components/VDataIterator/VDataIterator.tsx
Labels: T: bug, C: VDataIterator

#19600 feat(VInput): add dimensions support to VInput
  packages/vuetify/src/components/VInput/VInput.tsx
Labels: T: feature, C: VInput

#17270 fix(VFileInput): add hideInput prop
  packages/vuetify/src/components/VFileInput/VFileInput.sass
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
Labels: T: bug, C: VFileInput

#19190 feat(VProgressLinear): add separate buffer color and opacity props
  packages/api-generator/src/locale/en/VProgressLinear.json
  packages/docs/src/examples/v-progress-linear/misc-buffer-color.vue
  packages/docs/src/pages/en/components/progress-linear.md
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.cy.tsx
Labels: T: enhancement, T: feature, C: VProgressLinear

#19614 fix(router): empty string to represent real empty "to"
  packages/vuetify/src/composables/router.tsx
Labels: T: bug, E: router

#19629 feat: create VSnackbarQueue component
  packages/docs/components.d.ts
  packages/docs/src/components/app/SnackbarQueue.vue
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-snackbar-queue/usage.vue
  packages/docs/src/layouts/default.vue
  packages/docs/src/layouts/home.vue
  packages/docs/src/layouts/user.vue
  packages/docs/src/pages/en/components/snackbar-queue.md
  packages/docs/src/stores/app.ts
  packages/vuetify/src/labs/VSnackbarQueue/VSnackbarQueue.tsx
  packages/vuetify/src/labs/VSnackbarQueue/index.ts
  packages/vuetify/src/labs/components.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/km.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
Labels: T: feature, C: New Component

#19552 feat(VNavigationDrawer): allow temporary drawers to be persistent
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
Labels: T: feature, C: VNavigationDrawer

#19664 fix(Dialog): add afterLeave event
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VDialog/__test__/VDialog.spec.cy.tsx
Labels: T: bug, C: VDialog

#19653 fix(VChip): prevent text selection for link chips
  packages/vuetify/src/components/VChip/VChip.sass
Labels: T: bug, C: VChip

#19649 fix(VCarouselItem): fix class props
  packages/vuetify/src/components/VCarousel/VCarouselItem.tsx
Labels: T: bug, C: VCarousel

#19663 fix(group): update the value when delete an item
  packages/vuetify/src/composables/__tests__/group.spec.ts
  packages/vuetify/src/composables/group.ts
Labels: T: bug, E: group

#19570 fix(VDatePicker): change calendar when date is changed
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
Labels: T: bug, C: VDatePicker

#19573 docs: better wording infinite-scroller.md
  packages/docs/src/pages/en/components/infinite-scroller.md
Labels: T: documentation, C: VInfiniteScroll

#19394 docs(Cards): Include examples of all card variants
  packages/docs/src/examples/v-card/prop-variant.vue
Labels: T: documentation, C: VCard

#19602 fix(VInput): add theme class
  packages/vuetify/src/components/VInput/VInput.tsx
Labels: T: bug, C: VInput

#19495 fix(VSwitch): fix transition in RTL
  packages/vuetify/src/components/VSwitch/VSwitch.sass
Labels: T: bug, C: VSwitch

#19674 fix(VTextarea): up/down/home/end keys inside VList
  packages/vuetify/src/components/VList/VList.tsx
Labels: T: bug, C: VTextarea

#17286 refactor(VSlideGroup): replace css transform with native scroll
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.sass
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
  packages/vuetify/src/components/VSlideGroup/__tests__/VSlideGroup.spec.cy.tsx
  packages/vuetify/src/components/VSlideGroup/helpers.ts
  packages/vuetify/src/composables/__tests__/goto.spec.cy.tsx
  packages/vuetify/src/composables/goto.ts
Labels: T: enhancement, C: VTabs, C: VSlideGroup

#19681 fix(VCalendar): remove background for week view mode
  packages/vuetify/src/labs/VCalendar/VCalendar.sass
Labels: T: bug, C: VCalendar

#19680 feat(VDateInput): create new component
  packages/api-generator/src/locale/en/VDatePickerMonth.json
  packages/api-generator/src/locale/en/VPicker.json
  packages/api-generator/src/locale/en/calendar.json
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/v-date-input/misc-passenger.vue
  packages/docs/src/examples/v-date-input/prop-model.vue
  packages/docs/src/examples/v-date-input/prop-multiple-range.vue
  packages/docs/src/examples/v-date-input/prop-multiple.vue
  packages/docs/src/examples/v-date-input/prop-prepend-icon.vue
  packages/docs/src/examples/v-date-input/usage.vue
  packages/docs/src/pages/en/components/date-inputs.md
  packages/docs/src/pages/en/labs/introduction.md
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VDateInput/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, C: VDateInput

#19431 feat(VDataTable): add mobile view
  packages/api-generator/src/locale/en/VDataTable.json
  packages/api-generator/src/locale/en/display.json
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VDataTableFooter.sass
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
  packages/vuetify/src/components/VDataTable/VDataTableRow.tsx
  packages/vuetify/src/components/VDataTable/VDataTableRows.tsx
  packages/vuetify/src/components/VDataTable/_variables.scss
  packages/vuetify/src/components/VDataTable/types.ts
Labels: T: feature, C: VDataTable

#19666 feat(VPullToRefresh): add new component
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-pull-to-refresh/usage.vue
  packages/docs/src/pages/en/components/pull-to-refresh.md
  packages/vuetify/src/labs/VPullToRefresh/VPullToRefresh.sass
  packages/vuetify/src/labs/VPullToRefresh/VPullToRefresh.tsx
  packages/vuetify/src/labs/VPullToRefresh/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, C: New Component

#19693 fix(useDirectiveComponent): Cannot read properties of undefined (reading 'text')
  packages/vuetify/src/composables/directiveComponent.ts
Labels: T: bug, D: directive component

#19721 fix(VDatePicker): wrong month can be displayed in header.
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, C: VDatePicker, C: VCalendar, E: date
