Repository vuetifyjs/vuetify, pull requests merged in 2024-11, with the labels that each got.

#20279 fix(VBtnToggle): plain variant button opacity when selected
  packages/vuetify/src/components/VBtnToggle/VBtnToggle.sass
Labels: T: bug, C: VBtnToggle

#20668 docs(VDataIterator): fix example content mismatch
  packages/docs/src/examples/v-data-iterator/slot-header-and-footer.vue
Labels: T: documentation, C: VDataIterator

#20667 docs(team): add J-Sek
  packages/docs/src/data/team.json
Labels: T: documentation

#20669 docs: fix styles leaking from TeamMember
  packages/docs/src/components/about/TeamMember.vue
  packages/docs/src/components/about/TeamMembers.vue
Labels: T: documentation

#20588 fix(VList): apply avatar spacing to badge:has(avatar)
  packages/vuetify/src/components/VList/VListItem.sass
Labels: T: bug, C: VListItem

#20554 fix(VDialog): ignore size props when fullscreen
  packages/vuetify/src/components/VDialog/VDialog.tsx
Labels: T: bug, C: VDialog

#20555 fix(VDialog): make form fill parent
  packages/vuetify/src/components/VDialog/VDialog.sass
Labels: T: bug, C: VDialog

#20679 docs: add Epicmax support section to home page
  packages/docs/components.d.ts
  packages/docs/src/components/home/EpicmaxSupport.vue
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/pages/en/index.md
Labels: T: documentation

#20709 fix(VBadge): restore unused SASS variables
  packages/vuetify/src/components/VBadge/VBadge.sass
Labels: T: bug, C: VBadge

#20650 Fix(VCalendar): fix @prev, @next, @today event data, add @click:event, add @contextmenu:date
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarDay.sass
  packages/vuetify/src/labs/VCalendar/VCalendarDay.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarEvent.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarInterval.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarMonthDay.tsx
Labels: T: bug, C: VCalendar, labs
