Repository vuetifyjs/vuetify, pull requests merged in 2024-02, with the labels that each got.

#19105 docs(radio-buttons.md): String instead of sting
  packages/docs/src/pages/en/components/radio-buttons.md
Labels: T: documentation, C: VRadio

#19170 docs: remove unnecesary commented markup
  packages/docs/src/examples/v-card/misc-grids.vue
Labels: T: documentation

#19204 docs(data-tables): fix broken link
  packages/docs/src/pages/en/components/data-tables/basics.md
Labels: T: documentation, C: VDataTable

#19112 docs(VTabs): correct centered to align-tabs center
  packages/docs/src/examples/v-tabs/misc-content.vue
  packages/docs/src/examples/v-tabs/misc-dynamic-height.vue
  packages/docs/src/examples/v-tabs/prop-stacked.vue
Labels: T: documentation, C: VTabs

#16951 fix: update types
  packages/api-generator/src/maps/v-bottom-sheet.js
  packages/api-generator/src/maps/v-breadcrumbs.js
  packages/api-generator/src/maps/v-tooltip.js
Labels: typescript

#15229 fix(layout): use suspense to delay render of layout items
  packages/vuetify/src/components/VApp/VApp.tsx
  packages/vuetify/src/components/VAppBar/VAppBar.tsx
  packages/vuetify/src/components/VBottomNavigation/VBottomNavigation.tsx
  packages/vuetify/src/components/VBottomNavigation/__tests__/VBottomNavigation.spec.cy.tsx
  packages/vuetify/src/components/VFooter/VFooter.tsx
  packages/vuetify/src/components/VLayout/VLayout.tsx
  packages/vuetify/src/components/VLayout/VLayoutItem.tsx
  packages/vuetify/src/components/VMain/VMain.tsx
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.tsx
  packages/vuetify/src/composables/layout.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, E: layout

#19128 fix(goto): retry unreachable target
  packages/docs/src/components/app/drawer/Drawer.vue
  packages/vuetify/src/composables/goto.ts
Labels: T: bug, E: goTo

#19242 fix(VSelect): closing chip removes selection
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect, C: VAutocomplete

#19221 fix(locale): dutch local for badge should be capitalized
  packages/vuetify/src/locale/nl.ts
Labels: T: bug, E: locale

#19234 fix(VList): set explicit overflow-wrap to break-word
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/_variables.scss
Labels: T: bug, C: VList

#19229 fix(VDatePicker): mark current date when it's disabled
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
Labels: T: bug, C: VDatePicker

#19205 fix(VCalendar): remove default sorting of weekdays
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
Labels: T: bug, C: VCalendar, labs

#19153 fix(VDatePicker): fix select current month or year
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerMonths.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.tsx
Labels: T: bug, C: VDatePicker

#19136 fix(Tooltip): set width attr,text too length,but text not wrap
  packages/vuetify/src/components/VTooltip/VTooltip.sass
  packages/vuetify/src/components/VTooltip/_variables.scss
Labels: T: bug, C: VTooltip

#18703 fix(VDataTable): improve headers value function typing
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/types.ts
Labels: C: VDataTable, typescript

#19199 fix(VAutocomplete): fix screenreader navigation
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: bug, C: VAutocomplete

#19268 fix(VSelect/VAutocomplete): prevent select function from toggling v-model in single selection mode
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.cy.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.cy.tsx
Labels: T: bug, C: VSelect, C: VAutocomplete

#19247 feat(VEmptyState): add new component
  packages/api-generator/src/locale/en/VEmptyState.json
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/v-empty-state/misc-astro-cat.vue
  packages/docs/src/examples/v-empty-state/misc-astro-dog.vue
  packages/docs/src/examples/v-empty-state/prop-actions.vue
  packages/docs/src/examples/v-empty-state/prop-content.vue
  packages/docs/src/examples/v-empty-state/prop-media.vue
  packages/docs/src/examples/v-empty-state/slot-actions.vue
  packages/docs/src/examples/v-empty-state/slot-default.vue
  packages/docs/src/examples/v-empty-state/slot-title.vue
  packages/docs/src/examples/v-empty-state/usage.vue
  packages/docs/src/pages/en/components/all.md
  packages/docs/src/pages/en/components/empty-states.md
  packages/vuetify/src/labs/VEmptyState/VEmptyState.sass
  packages/vuetify/src/labs/VEmptyState/VEmptyState.tsx
  packages/vuetify/src/labs/VEmptyState/_variables.scss
  packages/vuetify/src/labs/VEmptyState/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, labs, C: VEmptyState

#19286 fix(VCheckbox): fix show correct color in error state
  packages/vuetify/src/components/VCheckbox/VCheckbox.tsx
Labels: T: bug, C: VCheckbox

#19255 docs(VSelect): fix append, prepend item example
  packages/docs/src/examples/v-select/slot-append-and-prepend-item.vue
Labels: T: documentation, C: VSelect

#19256 docs: fix accessibility page VMenu with VList example
  packages/docs/src/examples/accessibility/menu.vue
Labels: T: documentation, a11y
