Repository vuetifyjs/vuetify, pull requests merged in 2024-12, with the labels that each got.

#20702 feat(VChip): add base-color prop
  packages/api-generator/src/locale/en/VChipGroup.json
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/components/VChipGroup/VChipGroup.tsx
Labels: T: enhancement, C: VChip

#20746 docs(border): fix typo in colors example
  packages/docs/src/examples/border/colors.vue
Labels: T: documentation

#20750 docs(VProgressLinear): change dark-blue color selection
  packages/docs/src/examples/v-progress-linear/usage.vue
Labels: T: documentation

#20716 fix(VChip): utilize `active-class`
  packages/vuetify/src/components/VChip/VChip.tsx
Labels: T: bug, C: VChip

#20707 docs(VCombobox): restore advanced example
  packages/docs/src/examples/v-combobox/misc-advanced.vue
  packages/docs/src/pages/en/components/combobox.md
Labels: T: documentation, C: VCombobox

#19667 feat(VFileUpload): add new component
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-file-upload/prop-content.vue
  packages/docs/src/examples/v-file-upload/prop-density.vue
  packages/docs/src/examples/v-file-upload/prop-disabled.vue
  packages/docs/src/examples/v-file-upload/prop-scrim.vue
  packages/docs/src/examples/v-file-upload/slot-item.vue
  packages/docs/src/examples/v-file-upload/usage.vue
  packages/docs/src/pages/en/components/file-upload.md
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/labs/VFileUpload/VFileUpload.sass
  packages/vuetify/src/labs/VFileUpload/VFileUpload.tsx
  packages/vuetify/src/labs/VFileUpload/VFileUploadItem.tsx
  packages/vuetify/src/labs/VFileUpload/_variables.scss
  packages/vuetify/src/labs/VFileUpload/index.ts
  packages/vuetify/src/labs/components.ts
  packages/vuetify/src/locale/af.ts
  packages/vuetify/src/locale/ar.ts
  packages/vuetify/src/locale/az.ts
  packages/vuetify/src/locale/bg.ts
  packages/vuetify/src/locale/ca.ts
  packages/vuetify/src/locale/ckb.ts
  packages/vuetify/src/locale/cs.ts
  packages/vuetify/src/locale/da.ts
  packages/vuetify/src/locale/de.ts
  packages/vuetify/src/locale/el.ts
  packages/vuetify/src/locale/en.ts
  packages/vuetify/src/locale/es.ts
  packages/vuetify/src/locale/et.ts
  packages/vuetify/src/locale/fa.ts
  packages/vuetify/src/locale/fi.ts
  packages/vuetify/src/locale/fr.ts
  packages/vuetify/src/locale/he.ts
  packages/vuetify/src/locale/hr.ts
  packages/vuetify/src/locale/hu.ts
  packages/vuetify/src/locale/id.ts
  packages/vuetify/src/locale/it.ts
  packages/vuetify/src/locale/ja.ts
  packages/vuetify/src/locale/km.ts
  packages/vuetify/src/locale/ko.ts
  packages/vuetify/src/locale/lt.ts
  packages/vuetify/src/locale/lv.ts
  packages/vuetify/src/locale/nl.ts
  packages/vuetify/src/locale/no.ts
  packages/vuetify/src/locale/pl.ts
  packages/vuetify/src/locale/pt.ts
  packages/vuetify/src/locale/ro.ts
  packages/vuetify/src/locale/ru.ts
  packages/vuetify/src/locale/sk.ts
  packages/vuetify/src/locale/sl.ts
  packages/vuetify/src/locale/sr-Cyrl.ts
  packages/vuetify/src/locale/sr-Latn.ts
  packages/vuetify/src/locale/sv.ts
  packages/vuetify/src/locale/th.ts
  packages/vuetify/src/locale/tr.ts
  packages/vuetify/src/locale/uk.ts
  packages/vuetify/src/locale/vi.ts
  packages/vuetify/src/locale/zh-Hans.ts
  packages/vuetify/src/locale/zh-Hant.ts
Labels: T: feature, C: VFileUpload

#20729 fix(VNumberInput): clearing v-number-input with backspace resets to 0
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: bug, labs, C: VNumberInput
