Repository vuetifyjs/vuetify, pull requests merged in 2025-01, with the labels that each got.

#20484 fix(types): optimise build
  packages/api-generator/src/index.ts
  packages/api-generator/templates/composables.d.ts
  packages/api-generator/tsconfig.json
  packages/docs/src/examples/v-date-picker/guide-locale.vue
  packages/vuetify/.eslintrc.cjs
  packages/vuetify/babel.config.js
  packages/vuetify/build/babel-plugin-replace-import-extension.js
  packages/vuetify/build/remove-dts-styles.cts
  packages/vuetify/build/rollup.config.js
  packages/vuetify/build/rollup.types.config.js
  packages/vuetify/build/rollup.types.config.mjs
  packages/vuetify/build/run-tests.js
  packages/vuetify/build/transform-types.js
  packages/vuetify/package.json
  packages/vuetify/postcss.config.js
  packages/vuetify/tsconfig.dev.json
  packages/vuetify/tsconfig.dist.json
  packages/vuetify/tsconfig.json
  packages/vuetify/vite.config.ts
  packages/vuetify/vitest.config.ts
  packages/vuetify/vitest.workspace.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: T: bug, typescript

#20795 fix(VSparkline): accept numeric value for smooth
  packages/vuetify/src/components/VSparkline/VBarline.tsx
  packages/vuetify/src/components/VSparkline/VTrendline.tsx
  packages/vuetify/src/components/VSparkline/util/line.ts
Labels: T: bug, C: VSparkline

#20858 feat(VDateInput): actions slot
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: feature, C: VDateInput

#20854 feat(VDateInput): pass `location` to VMenu
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: feature, labs, C: VDateInput

#20855 feat(VTimeline): side prop for individual items
  packages/api-generator/src/locale/en/VTimeline.json
  packages/api-generator/src/locale/en/VTimelineItem.json
  packages/vuetify/src/components/VTimeline/VTimeline.sass
  packages/vuetify/src/components/VTimeline/VTimelineItem.tsx
Labels: T: feature, C: VTimeline

#20705 docs(VChip): more precise description for `size` prop
  packages/api-generator/src/locale/en/VChip.json
Labels: T: documentation, C: VChip

#20856 docs(VDataTableServer): fixes pagination examples
  packages/docs/src/examples/v-data-table/misc-server-side-paginate-and-sort.vue
  packages/docs/src/examples/v-data-table/server-search.vue
Labels: T: documentation

#20838 docs(VBadge): set badge specific description for the modelValue
  packages/api-generator/src/locale/en/VBadge.json
Labels: T: documentation

#20706 docs: cleanup removed prop `small-chips`
  packages/api-generator/src/locale/en/VFileInput.json
  packages/api-generator/src/locale/en/VSelect.json
  packages/docs/src/examples/v-combobox/slot-no-data.vue
  packages/docs/src/examples/v-date-picker/prop-multiple.vue
  packages/docs/src/examples/v-file-input/prop-chips.vue
  packages/vuetify/playgrounds/Playground.items.vue
Labels: T: documentation

#20698 docs(VTimePicker): fix example with selection restrictions
  packages/docs/src/examples/v-time-picker/prop-allowed-times.vue
Labels: T: documentation, C: VTimePicker

#19610 docs(useDisplay): update overrides example
  packages/docs/src/components/examples/UsageExample.vue
  packages/docs/src/pages/en/features/display-and-platform.md
Labels: T: documentation

#20661 docs(installation): add ES Module setup
  packages/docs/src/pages/en/getting-started/installation.md
Labels: T: documentation

#20890 docs(VEmptyState): Improve description for "size" prop
  packages/api-generator/src/locale/en/VEmptyState.json
Labels: T: documentation, C: VEmptyState

#20878 fix(VField, VInput): emit `click:*` events using keyboard
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VInput/InputIcon.tsx
  packages/vuetify/src/util/helpers.ts
Labels: a11y, C: VInput, C: VField

#20179 fix(VTimePicker): emit when changing hour
  packages/vuetify/src/labs/VTimePicker/VTimePicker.tsx
Labels: T: bug, C: VTimePicker

#20901 docs(VRating): remove onClick from v-rating item slot props
  packages/docs/src/examples/v-rating/slot-item.vue
Labels: T: documentation

#20881 fix(VList): ignore input element interactions
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
Labels: T: bug, C: VTreeview, C: VListGroup, C: VListItem

#20374 docs(VList): restore example for advanced action use
  packages/docs/src/examples/v-list/misc-action-stack.vue
  packages/docs/src/pages/en/components/lists.md
Labels: T: documentation, C: VList

#20537 fix(VStepperVertical): correct slots types
  packages/vuetify/src/components/VStepper/VStepperItem.tsx
  packages/vuetify/src/labs/VStepperVertical/VStepperVertical.tsx
  packages/vuetify/src/labs/VStepperVertical/VStepperVerticalItem.tsx
Labels: T: bug, C: VStepperVertical

#20773 fix(VField): hide label with single-line
  packages/vuetify/src/components/VField/VField.tsx
Labels: T: bug, C: VField

#20596 fix(VMenu): replace aria-owns with aria-controls
  packages/vuetify/src/components/VMenu/VMenu.tsx
Labels: T: bug, C: VMenu

#20553 fix(VDataTable): rtl mobile alignment
  packages/vuetify/src/components/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable

#20549 fix(router): check $router.beforeEach exists before using
  packages/vuetify/src/composables/router.tsx
Labels: T: bug, E: router

#20475 fix(VSelect): remove multiple check for keyboard lookup
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, C: VSelect

#20449 fix(VDataTable): emit current items immediately
  packages/vuetify/src/components/VDataTable/composables/paginate.ts
Labels: T: bug, C: VDataTable

#20420 fix(VInput/VMessages): move aria attributes to details
  packages/vuetify/src/components/VInput/VInput.tsx
  packages/vuetify/src/components/VMessages/VMessages.tsx
Labels: T: bug, a11y

#20378 fix(VCalendar): always assign default first day of week
  packages/vuetify/src/composables/calendar.ts
Labels: T: bug, C: VCalendar

#20349 fix(VField): rounded with long label border-radius
  packages/vuetify/src/components/VField/VField.sass
Labels: T: bug, C: VField

#20347 fix(VDataTable): show correct items count after expanding group
  packages/vuetify/src/components/VDataTable/__tests__/VDataTable.spec.cy.tsx
  packages/vuetify/src/components/VDataTable/composables/group.ts
Labels: T: bug, C: VDataTable

#20318 fix(VFab): improve positioning & examples
  packages/docs/src/examples/v-fab/misc-speed-dial.vue
  packages/docs/src/pages/en/components/floating-action-buttons.md
  packages/vuetify/src/components/VFab/VFab.sass
  packages/vuetify/src/components/VFab/VFab.tsx
Labels: T: bug, C: VFab

#20311 fix(useDisplay): more intuitive use of `mobile-breakpoint`
  packages/vuetify/src/composables/display.ts
Labels: T: bug, E: display

#19072 fix(VDataTableVirtual): add missing thead, tbody, tfoot slots
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
Labels: T: bug, C: VDataTable, C: VDataTableVirtual

#20626 docs(VDataTable): remove unused mobile prop from headers type
  packages/vuetify/src/components/VDataTable/types.ts
Labels: T: bug, C: VDataTable

#20935 fix(useDisplay): keep default behavior when used without args
  packages/vuetify/src/composables/display.ts
Labels: T: bug, E: display
