Repository vuetifyjs/vuetify, pull requests merged in 2025-07, with the labels that each got.

#21648 fix(VDatePicker): correct week labels
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/__tests__/calendar.spec.ts
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
Labels: T: bug, T: regression, C: VDatePicker

#21668 fix(date): align `fullDate` format with documentation and other adapters
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, E: date

#21689 fix(VCalendar): use adapter for day.date.getTime
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
Labels: T: bug, T: regression, C: VCalendar, labs

#21644 fix(VTreeview): active state from router
  packages/vuetify/src/components/VTreeview/VTreeviewItem.tsx
Labels: T: bug, C: VTreeview

#20962 fix(nested): don't toggle disabled children
  packages/vuetify/src/components/VList/VListGroup.tsx
  packages/vuetify/src/components/VList/VListItem.tsx
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.browser.tsx
  packages/vuetify/src/composables/nested/__tests__/selectStrategies.spec.ts
  packages/vuetify/src/composables/nested/nested.ts
  packages/vuetify/src/composables/nested/selectStrategies.ts
Labels: T: bug, E: nested

#21675 feat(VTreeview): indent lines
  packages/api-generator/src/locale/en/VTreeview.json
  packages/api-generator/src/locale/en/VTreeviewItem.json
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-treeview/misc-indent-lines.vue
  packages/docs/src/pages/en/components/treeview.md
  packages/vuetify/src/components/VTreeview/VTreeview.tsx
  packages/vuetify/src/components/VTreeview/VTreeviewChildren.tsx
  packages/vuetify/src/components/VTreeview/VTreeviewItem.sass
  packages/vuetify/src/components/VTreeview/VTreeviewItem.tsx
  packages/vuetify/src/components/VTreeview/_variables.scss
  packages/vuetify/src/util/indentLines.ts
  packages/vuetify/src/util/index.ts
Labels: T: feature, C: VTreeview

#21709 feat(VTreeview): support `item-type`
  packages/vuetify/src/components/VTreeview/VTreeview.tsx
  packages/vuetify/src/components/VTreeview/VTreeviewChildren.tsx
  packages/vuetify/src/composables/__tests__/filter.spec.ts
  packages/vuetify/src/composables/__tests__/list-items.spec.ts
  packages/vuetify/src/composables/list-items.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VTreeview

#21360 fix(VStepperVertical): fix next/prev-text props
  packages/vuetify/src/labs/VStepperVertical/VStepperVertical.tsx
Labels: T: bug, C: VStepperVertical

#21706 fix(VField): Fix label accessibility
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VField/VFieldLabel.tsx
Labels: a11y, C: VTextField, C: VField

#20621 fix(VDatePicker): allow infinite range
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.spec.browser.tsx
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.browser.tsx
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, C: VDatePicker

#21684 fix(VDateInput): assign type to displayFormat function
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: bug, C: VDateInput

#21664 fix(VColorInput): ensure cancel action closes menu
  packages/vuetify/src/labs/VColorInput/VColorInput.tsx
Labels: T: bug, C: VColorInput

#21750 docs(hotkey): fix links and usage demo
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/hotkey/usage.vue
  packages/docs/src/pages/en/features/hotkey.md
Labels: T: documentation, e: hotkey

#21576 feat(VFileUpload, VFileInput): `filter-by-type` prop
  packages/api-generator/src/locale/en/VFileInput.json
  packages/api-generator/src/locale/en/generic.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/composables/__tests__/fileFilter.spec.ts
  packages/vuetify/src/composables/fileFilter.ts
  packages/vuetify/src/labs/VFileUpload/VFileUpload.tsx
Labels: T: feature, C: VFileInput, C: VFileUpload

#21744 feat(VProgressLinear): ability to separate chunks
  packages/api-generator/src/locale/en/VProgressLinear.json
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-progress-linear/prop-chunks.vue
  packages/docs/src/pages/en/components/progress-linear.md
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
  packages/vuetify/src/components/VProgressLinear/chunks.ts
Labels: T: feature, C: VProgressLinear

#21701 fix(VListItem): keyboard navigation when list contains checkboxes
  packages/vuetify/src/components/VList/VList.tsx
Labels: T: bug, C: VList

#21247 fix(VSelect): dont open menu on its own when items change
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.browser.tsx
Labels: T: bug, C: VSelect

#21757 chore(VRating): replace cypress with vitest
  packages/vuetify/src/components/VRating/__tests__/VRating.spec.browser.tsx
  packages/vuetify/src/components/VRating/__tests__/VRating.spec.cy.tsx
Labels: testing, C: VRating

#21763 docs(VMaskInput): update examples after changes to validation
  packages/docs/src/examples/v-mask-input/credit-card-form.vue
  packages/docs/src/examples/v-mask-input/ip-address.vue
Labels: T: documentation, C: VMaskInput

#21679 docs(VDataTableVirtual): fix method call
  packages/docs/src/examples/v-data-table/virtual.vue
Labels: T: documentation

#21723 docs: Improve documentation of activeStrategy prop
  packages/api-generator/src/locale/en/nested.json
Labels: T: documentation

#21659 docs(VToolbar): example with tooltips and VSpeedDial
  packages/docs/src/examples/v-toolbar/misc-tooltips-and-speed-dial.vue
  packages/docs/src/pages/en/components/toolbars.md
Labels: T: documentation, C: VSpeedDial, C: VToolbar

#21661 docs(VDataTable): example of group-by with multiple attributes
  packages/api-generator/src/locale/en/VDataIterator.json
  packages/api-generator/src/locale/en/VDataTable.json
  packages/docs/src/examples/v-data-table/prop-grouping.vue
  packages/docs/src/examples/v-data-table/slot-group-header.vue
  packages/docs/src/pages/en/components/data-tables/basics.md
Labels: T: documentation, C: VDataTable

#21758 docs(VForm): improved example for `disabled`
  packages/docs/src/examples/v-form/prop-disabled.vue
Labels: T: documentation, C: VForm

#21779 chore(VSlider): replace cypress with vitest
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.browser.tsx
  packages/vuetify/src/components/VSlider/__tests__/VSlider.spec.cy.tsx
Labels: testing, C: VSlider

#21785 chore(VProgressLinear): replace cypress with vitest
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.browser.tsx
  packages/vuetify/src/components/VProgressLinear/__tests__/VProgressLinear.spec.cy.tsx
Labels: testing, C: VProgressLinear

#21786 chore(VWindow): replace cypress with vitest
  packages/vuetify/src/components/VWindow/__tests__/VWindow.spec.browser.tsx
  packages/vuetify/src/components/VWindow/__tests__/VWindow.spec.cy.tsx
Labels: testing, C: VWindow

#21769 fix(VFileUploadItem): accept `title` slot
  packages/vuetify/src/labs/VFileUpload/VFileUploadItem.tsx
Labels: T: bug, C: VFileUpload

#21625 docs(VCombobox): pick and preserve color from options
  packages/docs/src/examples/v-combobox/misc-advanced.vue
Labels: T: documentation, C: VCombobox

#21583 docs(VCarousel): remove unused slot
  packages/vuetify/src/components/VCarousel/VCarousel.tsx
Labels: T: bug, T: documentation, C: VCarousel

#21748 fix(VFileInput): avoid text overflow with long file names
  packages/vuetify/src/components/VFileInput/VFileInput.sass
Labels: T: bug, C: VFileInput

#21797 fix(VStepperVertical): correct avatar alignment
  packages/vuetify/src/labs/VStepperVertical/VStepperVerticalItem.sass
Labels: T: bug, C: VStepperVertical

#21691 fix(VProgressLinear): accept pointer events unless `clickable` is used
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.sass
  packages/vuetify/src/components/VProgressLinear/VProgressLinear.tsx
Labels: T: bug, C: VProgressLinear

#21176 feat(VPie): create new component
  packages/api-generator/src/locale/en/VPie.json
  packages/api-generator/src/locale/en/VPieSegment.json
  packages/api-generator/src/locale/en/VPieTooltip.json
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/v-pie/misc-custom-legend.vue
  packages/docs/src/examples/v-pie/misc-patterns.vue
  packages/docs/src/examples/v-pie/prop-formats.vue
  packages/docs/src/examples/v-pie/prop-legend.vue
  packages/docs/src/examples/v-pie/prop-palette.vue
  packages/docs/src/examples/v-pie/prop-size.vue
  packages/docs/src/examples/v-pie/usage.vue
  packages/docs/src/pages/en/components/pie-charts.md
  packages/docs/src/pages/en/labs/introduction.md
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
  packages/vuetify/src/components/index.ts
  packages/vuetify/src/composables/goto.ts
  packages/vuetify/src/composables/reveal.ts
  packages/vuetify/src/labs/VPie/VPie.sass
  packages/vuetify/src/labs/VPie/VPie.tsx
  packages/vuetify/src/labs/VPie/VPieSegment.tsx
  packages/vuetify/src/labs/VPie/VPieTooltip.tsx
  packages/vuetify/src/labs/VPie/__tests__/pie-arc.spec.ts
  packages/vuetify/src/labs/VPie/_variables.scss
  packages/vuetify/src/labs/VPie/index.ts
  packages/vuetify/src/labs/VPie/types.ts
  packages/vuetify/src/labs/VPie/utils.ts
  packages/vuetify/src/labs/components.ts
  packages/vuetify/src/util/easing.ts
  packages/vuetify/src/util/svg-arc-corners.ts
Labels: T: feature, C: New Component, labs

#21833 fix(VSlider): correctly apply `thumb-color`
  packages/vuetify/src/components/VSlider/VSliderThumb.sass
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
  packages/vuetify/src/components/VSlider/slider.ts
Labels: T: bug, a11y, C: VSlider

#21840 fix(VCombobox): select all values from pasted text
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.browser.tsx
Labels: T: enhancement, C: VCombobox

#21821 fix(theme): ability to restore "system"
  packages/vuetify/src/composables/theme.ts
Labels: T: bug, E: theme

#21657 feat(VPicker): hide the title slot
  packages/api-generator/src/locale/en/VPicker.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/labs/VPicker/VPicker.tsx
Labels: T: feature, C: VDatePicker, C: VTimePicker, C: VColorPicker

#21823 feat(VTimePicker): accept external changes to the period
  packages/api-generator/src/locale/en/VTimePicker.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VTimePicker/VTimePicker.tsx
Labels: T: feature, C: VTimePicker

#21849 docs(VCarousel): example for custom transitions
  packages/docs/src/examples/v-carousel/prop-custom-transition.vue
  packages/docs/src/pages/en/components/carousels.md
Labels: T: documentation, C: VCarousel

#21850 feat(VWindow, VCarousel): add crossfade transition
  packages/api-generator/src/locale/en/VWindow.json
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-carousel/prop-custom-transition.vue
  packages/docs/src/pages/en/components/carousels.md
  packages/vuetify/src/components/VWindow/VWindow.sass
  packages/vuetify/src/components/VWindow/VWindow.tsx
  packages/vuetify/src/components/VWindow/_variables.scss
Labels: T: feature, C: VCarousel, C: VWindow

#21359 feat(VTextField, VTextarea): suppress browser's autocomplete
  packages/api-generator/src/locale/en/VSelect.json
  packages/api-generator/src/locale/en/autocomplete.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.browser.tsx
  packages/vuetify/src/composables/__tests__/autocomplete.spec.ts
  packages/vuetify/src/composables/autocomplete.ts
Labels: T: feature, C: VTextField, C: VTextarea

#21663 feat(VBtn): `spaced` prop to move icons to the edges
  packages/api-generator/src/locale/en/VBtn.json
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-btn/prop-spaced.vue
  packages/docs/src/examples/v-tabs/prop-spaced.vue
  packages/docs/src/pages/en/components/buttons.md
  packages/docs/src/pages/en/components/tabs.md
  packages/vuetify/src/components/VAppBar/VAppBarNavIcon.tsx
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VBtn/__tests__/VBtn.spec.browser.tsx
  packages/vuetify/src/components/VFab/VFab.tsx
  packages/vuetify/src/components/VTabs/VTabs.tsx
Labels: T: feature, C: VTabs, C: VBtn

#21824 fix(VNumberInput): keep focus when incrementing in the list
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
Labels: T: bug, C: VNumberInput

#21813 fix(VTreeview): support prepend icon and avatar
  packages/vuetify/src/components/VTreeview/VTreeviewChildren.tsx
  packages/vuetify/src/components/VTreeview/VTreeviewItem.sass
  packages/vuetify/src/components/VTreeview/VTreeviewItem.tsx
Labels: T: bug, C: VTreeview

#21715 fix(VDataTable): missing stripes on fixed columns
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VTable/VTable.sass
Labels: T: bug, C: VDataTable, C: VTable

#21802 feat(VDataTable): re-introduce `group-summary` slot
  packages/api-generator/src/locale/en/VDataIterator.json
  packages/api-generator/src/locale/en/VDataTable.json
  packages/api-generator/src/locale/en/VDataTableRows.json
  packages/api-generator/src/locale/en/VDataTableServer.json
  packages/api-generator/src/locale/en/VDataTableVirtual.json
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-data-table/slot-group-summary.vue
  packages/docs/src/pages/en/components/data-tables/basics.md
  packages/vuetify/src/components/VDataIterator/VDataIterator.tsx
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableRows.tsx
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/components/VDataTable/composables/group.ts
  packages/vuetify/src/components/VDataTable/composables/paginate.ts
  packages/vuetify/src/components/VDataTable/types.ts
Labels: T: feature, C: VDataTable, C: VDataTableServer, C: VDataTableVirtual

#21309 fix(VMenu, VTooltip): scroll strategy reposition for horizontal overflow
  packages/vuetify/src/util/getScrollParent.ts
Labels: T: bug, C: VMenu, C: VTooltip

#21018 feat(VTreeview): add slot to replace expand toggle btn
  packages/api-generator/src/locale/en/VTreeviewItem.json
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-treeview/slot-toggle.vue
  packages/docs/src/pages/en/components/treeview.md
  packages/vuetify/src/components/VTreeview/VTreeview.tsx
  packages/vuetify/src/components/VTreeview/VTreeviewChildren.tsx
  packages/vuetify/src/components/VTreeview/VTreeviewItem.tsx
  packages/vuetify/src/components/VTreeview/__tests__/VTreeview.spec.browser.tsx
  packages/vuetify/src/components/VTreeview/shared.ts
Labels: T: feature, C: VTreeview

#21530 feat: respect prefers-reduced-motion
  packages/docs/src/examples/v-list/usage.vue
  packages/vuetify/src/components/VBottomSheet/VBottomSheet.sass
  packages/vuetify/src/components/VExpansionPanel/VExpansionPanel.sass
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VMain/VMain.sass
  packages/vuetify/src/components/VNavigationDrawer/VNavigationDrawer.sass
  packages/vuetify/src/components/VParallax/VParallax.tsx
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.browser.tsx
  packages/vuetify/src/components/VSnackbar/VSnackbar.sass
  packages/vuetify/src/components/VSparkline/VBarline.tsx
  packages/vuetify/src/components/VSparkline/VTrendline.tsx
  packages/vuetify/src/components/VToolbar/VToolbar.sass
  packages/vuetify/src/components/VWindow/VWindow.sass
  packages/vuetify/src/components/transitions/createTransition.ts
  packages/vuetify/src/components/transitions/dialog-transition.tsx
  packages/vuetify/src/composables/goto.ts
  packages/vuetify/src/directives/ripple/VRipple.sass
  packages/vuetify/src/labs/VDateInput/__tests__/VDateInput.spec.browser.tsx
  packages/vuetify/src/styles/generic/_transitions.scss
  packages/vuetify/src/util/easing.ts
  packages/vuetify/src/util/globals.ts
  packages/vuetify/test/index.ts
  packages/vuetify/test/setup/browser-commands.ts
  packages/vuetify/test/setup/browser-setup.ts
Labels: T: enhancement, a11y

#17972 feat(VFileInput): Add truncateLength prop
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
Labels: T: feature, C: VFileInput
