Repository vuetifyjs/vuetify, pull requests merged in 2025-02, with the labels that each got.

#20923 docs(VStepperVertical): fix "click:prev" event name
  packages/api-generator/src/locale/en/VStepperVerticalItem.json
Labels: T: documentation

#20876 fix(VTimeline): alignment consistency
  packages/vuetify/src/components/VTimeline/VTimeline.sass
Labels: T: bug, C: VTimeline

#20369 fix(VRipple): no animation on mobile
  packages/vuetify/src/directives/ripple/index.ts
Labels: T: bug, D: ripple

#20879 docs(VDatePicker): remove display-value from props list
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/calendar.ts
Labels: T: documentation, C: VDatePicker

#20972 fix(VDateInput): do not pass `rounded` to the picker
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: bug, C: VDateInput

#20875 docs: Add "text-none" CSS class (text-transform:none)
  packages/docs/src/pages/en/styles/text-and-typography.md
Labels: T: documentation

#19283 docs(VParallax): add welcome section example to docs
  packages/docs/src/examples/v-parallax/misc-welcome.vue
  packages/docs/src/pages/en/components/parallax.md
Labels: T: documentation, C: VParallax

#20224 docs(contributing): suggest to clear vite's cache when using pnpm link
  packages/docs/src/pages/en/getting-started/contributing.md
Labels: T: documentation

#19908 feat(VNumberInput): ability to hide controls + spacing tweaks
  packages/docs/src/examples/v-number-input/prop-control-variant.vue
  packages/docs/src/pages/en/components/number-inputs.md
  packages/vuetify/src/labs/VNumberInput/VNumberInput.sass
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: feature, labs, C: VNumberInput

#20252 feat(VNumberInput): strict precision
  packages/api-generator/src/locale/en/VNumberInput.json
  packages/docs/src/examples/v-number-input/prop-precision.vue
  packages/docs/src/pages/en/components/number-inputs.md
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/labs/VNumberInput/__tests__/VNumberInput.spec.browser.tsx
Labels: T: feature, labs, C: VNumberInput

#21004 fix(VTreeview): root item indentation issue
  packages/vuetify/src/labs/VTreeview/VTreeviewChildren.tsx
Labels: T: bug, C: VTreeview

#20622 docs(building-a-basic-nuxt-application-with-vuetify): add new blog post
  packages/docs/src/pages/en/blog/building-a-basic-nuxt-application-with-vuetify.md
  packages/docs/src/pages/en/blog/index.md
Labels: T: documentation

#21020 docs: typos
  packages/api-generator/src/locale/en/Stepper.json
  packages/api-generator/src/locale/en/VStepperActions.json
  packages/api-generator/src/locale/en/VTimelineItem.json
  packages/docs/src/examples/v-data-iterator/misc-filter.vue
  packages/docs/src/examples/v-sheet/misc-privacy-policy.vue
  packages/docs/src/examples/v-sheet/misc-referral-program.vue
  packages/docs/src/i18n/messages/en.json
  packages/docs/src/pages/en/blog/building-a-basic-nuxt-application-with-vuetify.md
  packages/docs/src/pages/en/components/slide-groups.md
  packages/docs/src/pages/en/styles/overflow.md
  packages/docs/src/service-worker.js
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.ts
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/composables/density.ts
  packages/vuetify/src/labs/VTimePicker/VTimePickerControls.sass
  packages/vuetify/src/labs/VTimePicker/_variables.scss
  packages/vuetify/src/styles/tools/_functions.sass
Labels: T: documentation

#21010 fix(VNumberInput): apply precision even when disabled/readonly
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
Labels: T: bug, C: VNumberInput

#20229 fix(DateAdapter): update date formats to match interface
  packages/vuetify/src/composables/date/adapters/__tests__/vuetify.spec.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: bug, E: date

#21027 fix(locale): add missing traditional chinese translations
  packages/vuetify/src/locale/zh-Hant.ts
Labels: E: locale

#21006 feat(VDataTableVirtual): expose scrollToIndex
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
Labels: T: feature, C: VDataTableVirtual

#21011 docs(VMenu): update examples to show pointer
  packages/docs/src/examples/v-menu/misc-transition.vue
  packages/docs/src/examples/v-menu/misc-use-in-components.vue
  packages/docs/src/examples/v-menu/prop-absolute.vue
  packages/docs/src/examples/v-menu/prop-close-on-content-click.vue
  packages/docs/src/examples/v-menu/prop-disabled.vue
  packages/docs/src/examples/v-menu/prop-location.vue
  packages/docs/src/examples/v-menu/prop-open-on-hover.vue
  packages/docs/src/examples/v-menu/slot-activator-and-tooltip.vue
Labels: T: documentation

#20987 feat(VNumberInput): support control holding down
  packages/vuetify/src/labs/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/labs/VNumberInput/hold.ts
Labels: T: enhancement

#21032 fix(VListItem): allow space key in input tag
  packages/vuetify/src/components/VList/VListItem.tsx
Labels: T: bug, C: VListItem

#20265 fix(VSlider): allow mousedown with left button only
  packages/vuetify/src/components/VSlider/slider.ts
Labels: T: bug, C: VSlider
