Repository vuetifyjs/vuetify, pull requests merged in 2025-06, with the labels that each got.

#21264 feat(VToolbar): allow for explicit false for extension
  packages/api-generator/src/locale/en/VToolbar.json
  packages/vuetify/src/components/VToolbar/VToolbar.tsx
Labels: T: feature, C: VToolbar

#19735 feat(VTable): add striped prop
  packages/api-generator/src/locale/en/VTable.json
  packages/docs/src/examples/v-table/prop-striped.vue
  packages/docs/src/pages/en/components/tables.md
  packages/vuetify/src/components/VTable/VTable.sass
  packages/vuetify/src/components/VTable/VTable.tsx
  packages/vuetify/src/components/VTable/_variables.scss
Labels: T: feature, C: VTable

#21174 feat: add StringDateAdapter
  packages/docs/src/pages/en/features/dates.md
  packages/vuetify/dev/vuetify/date.js
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/__tests__/date.spec.ts
  packages/vuetify/src/composables/date/adapters/string.ts
Labels: T: feature, E: date

#21517 fix(VSelect): reuse compact chip label style
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.sass
  packages/vuetify/src/components/VCombobox/VCombobox.sass
  packages/vuetify/src/components/VSelect/VSelect.sass
  packages/vuetify/src/components/VSelect/_mixins.scss
Labels: T: enhancement, C: VSelect, C: VChip

#21434 fix(VSlider): correct step rounding for max value
  packages/vuetify/src/components/VSlider/VSliderThumb.tsx
  packages/vuetify/src/components/VSlider/slider.ts
Labels: T: bug, C: VSlider

#21514 docs: correct duplicate 'font-size' declaration
  packages/docs/src/pages/en/styles/text-and-typography.md
Labels: T: documentation

#21342 fix(VOtpInput): trim clipboard text and update focus on finish
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
  packages/vuetify/src/components/VOtpInput/__tests__/VOtpInput.spec.browser.tsx
Labels: T: bug, C: VOtpInput

#21136 fix(VTextField): change order of events for checking input focus state
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.browser.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.browser.tsx
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/components/VNumberInput/__tests__/VNumberInput.spec.browser.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.browser.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/labs/VColorInput/VColorInput.tsx
  packages/vuetify/src/labs/VColorInput/__tests__/VColorInput.spec.browser.tsx
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VDateInput/__tests__/VDateInput.spec.browser.tsx
Labels: T: bug, C: VTextField, C: VSelect, C: VCombobox, C: VAutocomplete, C: VNumberInput, C: VDateInput

#21505 docs(VDataTable): select all via short key example
  packages/docs/src/examples/v-data-table/misc-select-all.vue
  packages/docs/src/pages/en/components/data-tables/basics.md
Labels: T: documentation, C: VDataTable

#21495 fix(VFileInput,VFileUpload): handle folders drop
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/composables/fileDrop.ts
  packages/vuetify/src/labs/VFileUpload/VFileUpload.tsx
Labels: T: bug, C: VFileInput, C: VFileUpload

#20939 fix(VDataTableColumn): columns are not keyboard-accessible fixes #20899
  packages/vuetify/src/components/VDataTable/VDataTableColumn.tsx
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
Labels: T: bug, C: VDataTable

#21509 feat(VBadge): add size width and height props to VBadge (#28037)
  packages/vuetify/src/components/VBadge/VBadge.tsx
Labels: T: feature, C: VBadge

#20637 feat(VInfiniteScroll): add reset method
  packages/api-generator/src/locale/en/VInfiniteScroll.json
  packages/docs/src/examples/v-infinite-scroll/status-reset.vue
  packages/docs/src/pages/en/components/infinite-scroller.md
  packages/vuetify/src/components/VInfiniteScroll/VInfiniteScroll.tsx
Labels: T: feature, C: VInfiniteScroll

#21378 fix(date): week number for DST
  packages/vuetify/src/components/VDatePicker/__tests__/VDatePicker.date.spec.ts
  packages/vuetify/src/composables/date/__tests__/date.spec.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
  packages/vuetify/src/composables/date/date.ts
Labels: T: bug, C: VDatePicker, E: date

#21519 feat(VMaskInput): Create new component
  packages/api-generator/src/locale/en/mask.json
  packages/docs/src/data/nav.json
  packages/docs/src/examples/v-mask-input/credit-card-form.vue
  packages/docs/src/examples/v-mask-input/custom-mask.vue
  packages/docs/src/examples/v-mask-input/custom-token.vue
  packages/docs/src/examples/v-mask-input/ip-address.vue
  packages/docs/src/examples/v-mask-input/phone.vue
  packages/docs/src/examples/v-mask-input/usage.vue
  packages/docs/src/pages/en/components/mask-inputs.md
  packages/vuetify/src/composables/__tests__/mask.spec.ts
  packages/vuetify/src/composables/mask.ts
  packages/vuetify/src/labs/VMaskInput/VMaskInput.tsx
  packages/vuetify/src/labs/VMaskInput/__tests__/VMaskInput.spec.browser.tsx
  packages/vuetify/src/labs/VMaskInput/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, C: VMaskInput

#21451 fix(VSpeedDial): avoid position glitch when reopening menu
  packages/vuetify/src/components/VSpeedDial/VSpeedDial.sass
Labels: T: bug, C: VSpeedDial

#21443 fix(VTreeview): avoid inaccessible items when overflow
  packages/vuetify/src/components/VList/VListItem.sass
  packages/vuetify/src/components/VList/_variables.scss
Labels: T: bug, C: VTreeview

#21556 fix(VDatePicker): Fix autoscroll
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.tsx
Labels: C: VDatePicker

#21563 fix(VDatePicker): reactive month and year
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
Labels: T: bug, C: VDatePicker

#21541 fix(VFileUpload): file name not passed correctly
  packages/vuetify/src/labs/VFileUpload/VFileUploadItem.tsx
Labels: T: bug, C: VFileUpload

#21540 fix(VDataTableColumn): on tab focus also show sortable icon
  packages/vuetify/src/components/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable

#21573 docs(Search Engines): instructions for Firefox
  packages/docs/src/pages/en/resources/search-engine.md
Labels: T: documentation

#21560 docs(VCombobox): persistent placeholder example
  packages/docs/src/examples/v-combobox/prop-placeholder.vue
  packages/docs/src/pages/en/components/combobox.md
Labels: T: documentation, C: VCombobox

#21587 feat(VWindow): vertical arrows
  packages/docs/src/examples/v-carousel/misc-vertical.vue
  packages/docs/src/pages/en/components/carousels.md
  packages/vuetify/src/components/VWindow/VWindow.sass
  packages/vuetify/src/components/VWindow/VWindow.tsx
  packages/vuetify/src/components/VWindow/_variables.scss
  packages/vuetify/src/styles/utilities/_index.sass
  packages/vuetify/src/styles/utilities/_pointer-events.sass
Labels: T: feature, C: VCarousel, C: VWindow

#21602 fix(VBtn): allow text values for letter-spacing Sass variable
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: T: bug, T: regression, C: VBtn

#21595 feat(VTimePicker): remove ampmInTitle prop
  packages/vuetify/src/labs/VTimePicker/VTimePicker.tsx
  packages/vuetify/src/labs/VTimePicker/VTimePickerControls.tsx
Labels: C: VTimePicker, labs

#21575 feat(VSlider): expose focus method
  packages/api-generator/src/locale/en/VRangeSlider.json
  packages/api-generator/src/locale/en/VSlider.json
  packages/vuetify/src/components/VRangeSlider/VRangeSlider.tsx
  packages/vuetify/src/components/VSlider/VSlider.tsx
Labels: T: enhancement, C: VSlider

#21226 feat(VTextarea): add update:rows event
  packages/api-generator/src/locale/en/VTextarea.json
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
  packages/vuetify/src/components/VTextarea/__tests__/VTextarea.spec.browser.tsx
Labels: T: feature, C: VTextarea

#21617 fix(VSelect, VAutocomplete, VCombobox): open menu on icon click
  packages/vuetify/src/components/VField/VField.tsx
  packages/vuetify/src/components/VSelect/__tests__/VSelect.spec.browser.tsx
Labels: T: bug, T: regression, C: VSelect, C: VCombobox, C: VAutocomplete

#21624 fix(VDatePicker): completely hide days not in weekdays array
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.sass
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/calendar.ts
Labels: T: bug, C: VDatePicker, C: VCalendar

#21613 fix(VTimePicker): auto width
  packages/vuetify/src/components/VDatePicker/VDatePickerControls.sass
  packages/vuetify/src/components/VTimePicker/VTimePicker.sass
  packages/vuetify/src/components/VTimePicker/VTimePickerClock.sass
  packages/vuetify/src/components/VTimePicker/VTimePickerControls.sass
  packages/vuetify/src/labs/VPicker/VPicker.sass
Labels: T: bug, C: VTimePicker

#21628 fix(VTextField): avoid infinite focus loop
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextField/__tests__/VTextField.spec.browser.tsx
  packages/vuetify/test/setup/browser-commands.ts
Labels: T: bug, C: VTextField

#21638 fix(VIconBtn): Add Button Type
  packages/vuetify/src/labs/VIconBtn/VIconBtn.tsx
Labels: T: bug, C: VIconBtn

#21442 fix(useVirtual): calculateVisibleItems: return if itemHeight is 0
  packages/vuetify/src/composables/virtual.ts
Labels: T: bug, E: Virtual

#21558 fix(VCalendar): Slot day-event not available
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarDay.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarInterval.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarIntervalEvent.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarMonthDay.tsx
Labels: T: bug, C: VCalendar
