Repository vuetifyjs/vuetify, pull requests merged in 2025-10, with the labels that each got.

#22137 fix(VListItem): correct role when item is a link
  packages/vuetify/src/components/VList/VListItem.tsx
Labels: T: bug, C: VListItem

#22156 feat(VDataTable): add `initial-sort-order` prop
  packages/api-generator/src/locale/en/DataTable-sort.json
  packages/api-generator/src/locale/en/VDataIterator.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VDataIterator/VDataIterator.tsx
  packages/vuetify/src/components/VDataTable/VDataTable.tsx
  packages/vuetify/src/components/VDataTable/VDataTableServer.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/components/VDataTable/composables/sort.ts
Labels: T: enhancement, C: VDataTable

#21825 feat(VNumberInput): show error state when out of range
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/components/VNumberInput/__tests__/VNumberInput.spec.browser.tsx
Labels: T: feature, C: VNumberInput

#21670 fix(build): avoid circular dependency in icons setup
  packages/vuetify/src/composables/icons.tsx
  packages/vuetify/src/framework.ts
  packages/vuetify/src/icons.ts
Labels: T: bug

#21826 feat(VNumberInput): do not clamp value on mounted
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/components/VNumberInput/__tests__/VNumberInput.spec.browser.tsx
Labels: T: feature, C: VNumberInput

#22031 feat(VTreeview): add `no-data` slot
  packages/docs/src/data/new-in.json
  packages/docs/src/examples/v-treeview/slot-no-data.vue
  packages/docs/src/pages/en/components/treeview.md
  packages/vuetify/src/components/VTreeview/VTreeview.tsx
Labels: T: feature, C: VTreeview

#22144 fix(VAutocomplete/VCombobox): consistent open/close transition
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.browser.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.browser.tsx
Labels: C: VCombobox, C: VAutocomplete
