Repository vuetifyjs/vuetify, pull requests merged in 2025-08, with the labels that each got.

#21862 fix(VDataTable): more flexible alignment with grouping
  packages/vuetify/src/components/VDataTable/VDataTable.sass
  packages/vuetify/src/components/VDataTable/VDataTableColumn.tsx
  packages/vuetify/src/components/VDataTable/VDataTableGroupHeaderRow.tsx
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
  packages/vuetify/src/components/VDataTable/VDataTableRow.tsx
  packages/vuetify/src/components/VDataTable/types.ts
Labels: T: enhancement, C: VDataTable

#18641 feat(VDataIterator): add filtered items count to slot data
  packages/vuetify/src/components/VDataIterator/VDataIterator.tsx
Labels: T: feature, C: VDataIterator

#21809 chore(VTabs): replace cypress with vitest
  packages/vuetify/src/components/VTabs/__tests__/VTabs.spec.browser.tsx
  packages/vuetify/src/components/VTabs/__tests__/VTabs.spec.cy.tsx
Labels: testing, C: VTabs

#21760 feat(VDatePicker): re-introduce `first-day-of-year` prop
  packages/api-generator/src/locale/en/VCalendar.json
  packages/api-generator/src/locale/en/generic.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/__tests__/date.spec.ts
  packages/vuetify/src/composables/date/adapters/string.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: feature, C: VDatePicker

#21736 feat(mask): create useMask composable
  packages/api-generator/src/locale/en/useMask.json
  packages/docs/src/pages/en/components/mask-inputs.md
  packages/vuetify/src/composables/__tests__/mask.spec.ts
  packages/vuetify/src/composables/index.ts
  packages/vuetify/src/composables/mask/__tests__/mask.spec.ts
  packages/vuetify/src/composables/mask/index.ts
  packages/vuetify/src/composables/mask/mask.ts
  packages/vuetify/src/labs/VMaskInput/VMaskInput.tsx
Labels: T: feature, E: mask

#21857 docs(VAutocomplete): add filter-keys prop section and example
  packages/docs/src/examples/v-autocomplete/prop-filter-keys.vue
  packages/docs/src/pages/en/components/autocompletes.md
Labels: T: documentation, C: VAutocomplete

#21903 fix(VTextField): assign role to input element
  packages/vuetify/src/components/VAutocomplete/__tests__/VAutocomplete.spec.browser.tsx
  packages/vuetify/src/components/VCombobox/__tests__/VCombobox.spec.browser.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
Labels: a11y, C: VSelect, C: VCombobox, C: VAutocomplete

#21902 fix(VSelect): use selected text instead of value
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: bug, a11y, C: VSelect

#21916 fix(VDatePicker): Prioritize allowed-months and allowed-years
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
Labels: T: bug, C: VDatePicker, C: VDateInput

#21923 fix(VSelect): Select placeholder overlap
  packages/vuetify/src/components/VSelect/VSelect.sass
Labels: T: bug, C: VSelect

#21836 fix(VCard): hide progress border in forced-colors mode
  packages/vuetify/src/components/VCard/VCard.sass
Labels: T: bug, C: VCard

#21848 feat(VBtn): High Contrast Support (Forced-colors mode)
  packages/vuetify/src/components/VBtn/VBtn.sass
Labels: T: feature, C: VBtn

#21925 fix(VMaskInput): fix caret position while editing
  packages/vuetify/src/labs/VMaskInput/VMaskInput.tsx
  packages/vuetify/src/labs/VMaskInput/__tests__/VMaskInput.spec.browser.tsx
Labels: T: bug, C: VMaskInput

#21947 docs: include example as snippets in the exported markdown
  packages/docs/src/composables/markdown.ts
Labels: T: documentation

#21822 feat(filter): keep dividers and subheaders
  packages/vuetify/src/composables/filter.tsx
Labels: T: feature, E: filter

#21865 fix(VField): avoid duplicated emits on clear
  packages/vuetify/src/components/VFileInput/VFileInput.tsx
  packages/vuetify/src/components/VTextField/VTextField.tsx
  packages/vuetify/src/components/VTextarea/VTextarea.tsx
Labels: T: bug, C: VField

#21951 fix(VDatePickerYears): fix scroll/focus of selected year
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.tsx
Labels: T: bug, C: VDatePicker, C: VDateInput

#21946 feat(VAlert): High Contrast Support (Forced-colors mode)
  packages/vuetify/src/components/VAlert/VAlert.sass
Labels: T: feature, C: VAlert

#21941 docs: add bitterbrains ads
  packages/docs/components.d.ts
  packages/docs/src/components/promoted/BitterBrains.vue
  packages/docs/src/components/promoted/Entry.vue
  packages/docs/src/components/promoted/Script.vue
Labels: T: documentation

#21959 fix(rounded): reorder conditional checks for rounded classes
  packages/vuetify/src/composables/rounded.ts
Labels: T: bug, E: rounded

#21970 fix(VChip): render border in forced-colors mode
  packages/vuetify/src/components/VChip/VChip.sass
Labels: a11y, C: VChip

#21975 feat(VDateInput): pass-through picker slots
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: feature, labs, C: VDateInput

#21876 fix(VDataTable): allow filters on all columns
  packages/vuetify/src/composables/__tests__/filter.spec.ts
  packages/vuetify/src/composables/filter.tsx
Labels: T: bug, E: filter
