Repository vuetifyjs/vuetify, pull requests merged in 2025-09, with the labels that each got.

#21781 fix(VOtpInput): focus jumps to the end when correcting filled input
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: bug, C: VOtpInput

#21989 docs: add example for avoiding duplicate text using item slot
  packages/docs/src/examples/v-menu/prop-positioningmenu.vue
  packages/docs/src/examples/v-select/prop-avoid-duplicate-text.vue
  packages/docs/src/pages/en/components/selects.md
Labels: T: documentation

#21985 docs: update testing documentation
  packages/docs/src/pages/en/getting-started/unit-testing.md
Labels: T: documentation

#21973 fix(VChipGroup): render selected in forced-colors mode
  packages/vuetify/src/components/VChipGroup/VChipGroup.sass
Labels: a11y, C: VChipGroup

#21998 docs(VChip): fix examples for a11y
  packages/docs/src/examples/v-chip-group/misc-product-card.vue
  packages/docs/src/examples/v-chip-group/misc-toothbrush-card.vue
  packages/docs/src/examples/v-item-group/misc-chips.vue
  packages/docs/src/pages/en/components/item-groups.md
Labels: T: documentation, a11y, C: VChipGroup

#21997 fix(v-touch): Fixed to work with root components
  packages/vuetify/src/directives/touch/index.ts
Labels: T: bug, D: touch

#21996 docs: add renderless mode example for v-virtual-scroll with v-table
  packages/docs/src/examples/v-virtual-scroll/prop-renderless.vue
  packages/docs/src/pages/en/components/virtual-scroller.md
Labels: T: documentation

#22051 feat(VProgressCircular): add rounded prop for rounded stroke caps
  packages/api-generator/src/locale/en/VProgressCircular.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VProgressCircular/VProgressCircular.tsx
Labels: T: feature, C: VProgressCircular

#21128 fix(VDataTable): enable expand when return-object is true
  packages/vuetify/src/components/VDataTable/composables/expand.ts
Labels: T: bug, C: VDataTable

#21651 fix(VBtn): handle navigation failures in click behavior
  packages/vuetify/src/components/VBtn/VBtn.tsx
  packages/vuetify/src/components/VChip/VChip.tsx
  packages/vuetify/src/composables/router.tsx
Labels: T: bug, C: VBtn, C: VChip

#22042 fix(VCalendar): avoid head expanding on mousedown
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
  packages/vuetify/src/labs/VCalendar/composables/calendarBase.ts
  packages/vuetify/src/labs/VCalendar/composables/calendarWithEvents.tsx
Labels: T: bug, C: VCalendar, labs

#22092 fix(VTreeview): match type of update:opened with VList
  packages/vuetify/src/components/VList/VList.tsx
Labels: T: bug, C: VTreeview, typescript

#22114 fix(VAutocomplete): restore placeholder on blur
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#22120 docs(VDataTableVirtual): add example with itemRef slot prop
  packages/docs/src/examples/v-data-table/virtual-custom.vue
  packages/docs/src/pages/en/components/data-tables/virtual-tables.md
Labels: T: documentation

#22121 docs(transitions): add guidance on using padding with expand transitions
  packages/docs/src/examples/transitions/misc-expand-x-padding.vue
  packages/docs/src/pages/en/styles/transitions.md
Labels: T: documentation

#22101 fix(VDialog): fix focus trap when tabbing forward
  packages/vuetify/src/components/VDialog/VDialog.tsx
  packages/vuetify/src/components/VDialog/__test__/VDialog.spec.browser.tsx
Labels: T: bug, C: VDialog

#21878 feat(locationStrategies): support CSS zoom
  packages/vuetify/src/util/animation.ts
  packages/vuetify/src/util/box.ts
Labels: T: enhancement, C: VMenu, C: VTooltip

#21990 docs: epicmax consulting services update
  packages/docs/src/components/introduction/ConsultingServices.vue
  packages/docs/src/pages/en/introduction/enterprise-support.md
Labels: T: documentation
