Repository vuetifyjs/vuetify, pull requests merged in 2025-05, with the labels that each got.

#21346 docs(sass-variables): mention how to use variable values containing commas
  packages/docs/src/pages/en/features/sass-variables.md
Labels: T: documentation

#21313 docs: missing links to GitHub
  packages/docs/src/pages/en/components/data-tables/data-and-display.md
  packages/docs/src/pages/en/components/data-tables/server-side-tables.md
  packages/docs/src/pages/en/components/data-tables/virtual-tables.md
Labels: T: documentation

#21317 docs: more precise description of the offset for location strategy
  packages/api-generator/src/locale/en/VOverlay-location-strategies.json
Labels: T: documentation

#21278 docs: type inference issue on exposed API documentation
  packages/api-generator/package.json
  packages/api-generator/src/index.ts
  packages/api-generator/src/locale/en/VDataTableVirtual.json
  packages/api-generator/src/locale/en/VField.json
  packages/api-generator/src/locale/en/VIconBtn.json
  packages/api-generator/src/utils.ts
  packages/api-generator/templates/component.d.ts
Labels: T: documentation, T: api-generator

#21334 fix(VDataTable): only toggle select with selectable row by shift click
  packages/vuetify/src/components/VDataTable/composables/select.ts
Labels: T: bug, C: VDataTable

#21299 refactor(VDateInput): If multiple, reset model to []
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: T: enhancement, C: VDateInput

#21335 docs(VFileInput): updated validation example for multiple file upload
  packages/docs/src/examples/v-file-input/prop-validation.vue
  packages/docs/src/pages/en/components/file-inputs.md
Labels: T: documentation, C: VFileInput

#21343 fix(VDialog): only take focus on open if scrim or retainFocus
  packages/vuetify/src/components/VDialog/VDialog.tsx
Labels: T: bug, C: VDialog

#21355 fix(VTimePicker): fix ssr hydration mismatch error
  packages/vuetify/src/labs/VTimePicker/VTimePickerClock.tsx
Labels: T: bug, C: VTimePicker, SSR

#21344 fix(VAutocomplete): re-evaluate dirty on external change
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
Labels: T: bug, C: VAutocomplete

#21386 docs: center avatar on navigation drawer
  packages/api-generator/src/locale/en/VNavigationDrawer.json
  packages/docs/src/examples/v-navigation-drawer/misc-combined.vue
  packages/docs/src/examples/v-navigation-drawer/prop-mini-variant.vue
  packages/docs/src/examples/v-navigation-drawer/prop-rail-variant.vue
  packages/docs/src/pages/en/components/navigation-drawers.md
Labels: T: documentation

#21352 feat(transition): expose create transition classes
  packages/docs/src/examples/transitions/create-css-transition-component.vue
  packages/docs/src/examples/transitions/create-css-transition-prop.vue
  packages/docs/src/pages/en/styles/transitions.md
  packages/vuetify/src/components/transitions/index.ts
Labels: T: feature, C: Transitions

#21221 feat(VDateInput): Add input-format prop
  packages/api-generator/src/locale/en/VDateInput.json
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VDateInput/__tests__/VDateInput.spec.browser.tsx
Labels: T: feature, C: VDateInput

#21273 fix(VDateInput): accept value when picker is hidden
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VDateInput/__tests__/VDateInput.spec.browser.tsx
Labels: T: bug, C: VDateInput

#20700 feat(VAlert): better aligment with prepend icon
  packages/api-generator/src/locale/en/VIconBtn.json
  packages/api-generator/src/locale/en/generic.json
  packages/vuetify/src/components/VAlert/VAlert.sass
  packages/vuetify/src/components/VAlert/VAlert.tsx
  packages/vuetify/src/composables/iconSizes.ts
  packages/vuetify/src/labs/VIconBtn/VIconBtn.tsx
Labels: T: enhancement, C: VAlert

#21354 docs: save or favorite search results
  packages/docs/components.d.ts
  packages/docs/src/components/app/search/SearchDialog.vue
  packages/docs/src/components/app/search/SearchGroup.vue
  packages/docs/src/components/app/search/SearchRecent.vue
  packages/docs/src/i18n/messages/en.json
Labels: T: documentation

#21139 fix(VPagination): adapt button width for large values
  packages/vuetify/src/components/VBtn/VBtn.sass
  packages/vuetify/src/components/VBtn/_variables.scss
Labels: T: bug, C: VPagination

#21409 feat(VDateInput): sync with placeholder, infer from locale
  packages/api-generator/src/locale/en/VDateInput.json
  packages/vuetify/src/composables/dateFormat.ts
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VDateInput/__tests__/VDateInput.spec.browser.tsx
Labels: T: enhancement, C: VDateInput

#21408 fix(VDateInput): Set validationValue to modelValue
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
Labels: E: validation, labs, C: VDateInput

#21357 fix(VBottomNavigation): set inline margin to auto
  packages/vuetify/src/components/VBottomSheet/VBottomSheet.sass
Labels: T: bug, C: VBottomSheet

#21411 docs(VDataTable): description copy correction
  packages/api-generator/src/locale/en/VDataTable.json
  packages/api-generator/src/locale/en/VDataTableServer.json
  packages/api-generator/src/locale/en/VDataTableVirtual.json
Labels: T: documentation, C: VDataTable

#20623 feat(VColorInput): add new component
  packages/docs/components.d.ts
  packages/docs/src/data/nav.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/examples/v-color-input/prop-color-pip.vue
  packages/docs/src/examples/v-color-input/prop-model.vue
  packages/docs/src/examples/v-color-input/prop-prepend-icon.vue
  packages/docs/src/examples/v-color-input/usage.vue
  packages/docs/src/pages/en/components/color-inputs.md
  packages/docs/src/pages/en/labs/introduction.md
  packages/vuetify/src/iconsets/mdi.ts
  packages/vuetify/src/labs/VColorInput/VColorInput.sass
  packages/vuetify/src/labs/VColorInput/VColorInput.tsx
  packages/vuetify/src/labs/VColorInput/_variables.scss
  packages/vuetify/src/labs/VColorInput/index.ts
  packages/vuetify/src/labs/components.ts
Labels: T: feature, C: New Component

#21267 feat(validation): resolve global rules
  packages/vuetify/src/composables/validation.ts
  packages/vuetify/src/labs/rules/rules.ts
Labels: T: bug, E: validation, labs, E: rules

#21230 docs(api): add global sass variables
  packages/api-generator/src/helpers/sass.ts
  packages/api-generator/src/index.ts
  packages/api-generator/src/utils.ts
  packages/docs/src/components/api/View.vue
  packages/docs/src/components/doc/Explorer.vue
  packages/docs/src/components/features/SassApi.vue
  packages/docs/src/pages/en/features/sass-variables.md
Labels: T: documentation, T: api-generator

#21252 feat(date): export VuetifyDateAdapter
  packages/docs/src/pages/en/features/dates.md
  packages/vuetify/package.json
  packages/vuetify/src/composables/date/index.ts
Labels: T: feature, E: date

#21255 feat(VCombobox): scroll to first item on search result (#20572)
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
Labels: T: feature, C: VCombobox

#21290 feat(VDatePicker): restore `weekday-format`
  packages/api-generator/src/locale/en/VCalendarMonthly.json
  packages/api-generator/src/locale/en/VCalendarWeekly.json
  packages/api-generator/src/locale/en/VDatePicker.json
  packages/api-generator/src/locale/en/generic.json
  packages/vuetify/src/components/VDatePicker/VDatePickerMonth.tsx
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
Labels: T: feature, C: VDatePicker, E: date, i18n

#21389 fix(VNumberInput): inner spacing adjustments
  packages/vuetify/src/components/VNumberInput/VNumberInput.sass
Labels: T: bug, C: VNumberInput

#21348 feat(VSelects): support divider and subheader
  packages/docs/src/examples/v-autocomplete/prop-items.vue
  packages/docs/src/pages/en/components/autocompletes.md
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VList/VListChildren.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/composables/filter.tsx
Labels: T: feature, C: VSelect, C: VCombobox, C: VAutocomplete

#21315 feat(VNumberInput): more flexible precision display
  packages/api-generator/src/locale/en/VNumberInput.json
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
Labels: T: feature, C: VNumberInput

#21437 docs: replace hyphens in search term for algolia
  packages/docs/src/components/app/search/SearchDialog.vue
Labels: T: documentation

#21419 fix(VSelect): keyboard match multiple items with the same prefix
  packages/vuetify/src/components/VSelect/VSelect.tsx
Labels: T: enhancement, C: VSelect

#21457 docs: fix duplicate key warning
  packages/docs/src/components/app/search/SearchResults.vue
Labels: T: documentation

#21467 docs: textareas.md - background color
  packages/docs/src/pages/en/components/textareas.md
Labels: T: documentation

#21263 feat(VNumberInput): extract number from pasted text
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/components/VNumberInput/__tests__/VNumberInput.spec.browser.tsx
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VNumberInput

#21447 docs: meta title on api pages
  packages/docs/src/App.vue
Labels: T: documentation

#21168 feat(VDataTable): add new lastFixed property (#21153)
  packages/api-generator/src/locale/en/VDataTableHeaders.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VDataTable/VDataTableHeaders.tsx
Labels: T: bug, C: VDataTable

#21356 feat(VOtpInput): allow to keep focus on paste (#21275)
  packages/vuetify/src/components/VOtpInput/VOtpInput.tsx
Labels: T: enhancement, C: VOtpInput

#21431 feat(VSlideGroup): add content class to VSlideGroup props
  packages/api-generator/src/locale/en/VSlideGroup.json
  packages/docs/src/data/new-in.json
  packages/vuetify/src/components/VSlideGroup/VSlideGroup.tsx
Labels: T: feature, C: VSlideGroup

#21391 feat(VNumberInput): custom decimal separator
  packages/api-generator/src/locale/en/VNumberInput.json
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/components/VNumberInput/__tests__/VNumberInput.spec.browser.tsx
  packages/vuetify/src/util/__tests__/helpers.spec.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: feature, C: VNumberInput

#21466 feat(VDatePicker): disable months and years if not allowed
  packages/api-generator/src/locale/en/VDatePickerMonths.json
  packages/api-generator/src/locale/en/VDatePickerYears.json
  packages/vuetify/src/components/VDatePicker/VDatePicker.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerMonths.tsx
  packages/vuetify/src/components/VDatePicker/VDatePickerYears.tsx
Labels: C: VDatePicker
