Repository vuetifyjs/vuetify, pull requests merged in 2025-04, with the labels that each got.

#20407 feat(VVirtualScroll): support fractional scroll index
  packages/vuetify/src/composables/virtual.ts
Labels: T: enhancement, C: VVirtualScroll

#21194 fix(VTextField): padding adjustment for `reverse` mode
  packages/vuetify/src/components/VTextField/VTextField.sass
Labels: T: bug, C: VTextField

#21160 docs: updated missing descriptions on API
  packages/api-generator/src/locale/en/DataTable.json
  packages/api-generator/src/locale/en/VBottomNavigation.json
  packages/api-generator/src/locale/en/VCalendar.json
  packages/api-generator/src/locale/en/VCalendarMonthDay.json
  packages/api-generator/src/locale/en/VCombobox.json
  packages/api-generator/src/locale/en/VConfirmEdit.json
  packages/api-generator/src/locale/en/VDataTable.json
  packages/api-generator/src/locale/en/VDataTableHeaders.json
  packages/api-generator/src/locale/en/VDataTableVirtual.json
  packages/api-generator/src/locale/en/VDateInput.json
  packages/api-generator/src/locale/en/VDatePickerMonth.json
  packages/api-generator/src/locale/en/VDatePickerMonths.json
  packages/api-generator/src/locale/en/VDatePickerYears.json
  packages/api-generator/src/locale/en/VExpansionPanel.json
  packages/api-generator/src/locale/en/VExpansionPanels.json
  packages/api-generator/src/locale/en/VFileUpload.json
  packages/api-generator/src/locale/en/VFileUploadItem.json
  packages/api-generator/src/locale/en/VForm.json
  packages/api-generator/src/locale/en/VList.json
  packages/api-generator/src/locale/en/VListItem.json
  packages/api-generator/src/locale/en/VOverlay.json
  packages/api-generator/src/locale/en/VPullToRefresh.json
  packages/api-generator/src/locale/en/VStepper.json
  packages/api-generator/src/locale/en/VStepperVertical.json
  packages/api-generator/src/locale/en/VStepperVerticalItem.json
  packages/api-generator/src/locale/en/VTabs.json
  packages/api-generator/src/locale/en/VTimePicker.json
  packages/api-generator/src/locale/en/VTimePickerClock.json
  packages/api-generator/src/locale/en/VTimePickerControls.json
  packages/api-generator/src/locale/en/VTreeview.json
  packages/api-generator/src/locale/en/VTreeviewGroup.json
  packages/api-generator/src/locale/en/VTreeviewItem.json
  packages/api-generator/src/locale/en/VVirtualScroll.json
  packages/api-generator/src/locale/en/generic.json
  packages/api-generator/src/locale/en/useDate.json
  packages/vuetify/src/components/VAutocomplete/VAutocomplete.tsx
  packages/vuetify/src/components/VCombobox/VCombobox.tsx
  packages/vuetify/src/components/VDataTable/VDataTableVirtual.tsx
  packages/vuetify/src/components/VNumberInput/VNumberInput.tsx
  packages/vuetify/src/components/VSelect/VSelect.tsx
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VTimePicker/VTimePickerControls.tsx
Labels: T: documentation

#21218 fix(VDataTable): data table expand button content overflows
  packages/vuetify/src/components/VDataTable/VDataTable.sass
Labels: T: bug, C: VDataTable

#21199 fix(VDatePicker): use start of week to calculate week numbers
  packages/vuetify/package.json
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/composables/date/DateAdapter.ts
  packages/vuetify/src/composables/date/__tests__/date.spec.ts
  packages/vuetify/src/composables/date/adapters/vuetify.ts
  packages/vuetify/src/composables/date/date.ts
  pnpm-lock.yaml
Labels: T: bug, C: VDatePicker, E: date, i18n

#21224 feat(theme): add toggle function
  packages/api-generator/src/locale/en/useTheme.json
  packages/docs/src/data/new-in.json
  packages/docs/src/data/page-to-api.json
  packages/docs/src/pages/en/features/theme.md
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/theme.ts
Labels: T: feature, E: theme

#21244 feat(theme): add new theme 'system' (#20407)
  packages/docs/src/pages/en/features/theme.md
  packages/vuetify/src/composables/__tests__/theme.spec.ts
  packages/vuetify/src/composables/theme.ts
  packages/vuetify/src/util/globals.ts
Labels: T: feature, E: theme

#21219 feat(VOverlay): align scrim color with MD3
  packages/vuetify/src/components/VOverlay/_variables.scss
Labels: C: VOverlay

#21207 feat: deprecate `firstDayOfWeek` prop
  packages/api-generator/src/locale/en/VDatePicker.json
  packages/api-generator/src/locale/en/VDatePickerMonth.json
  packages/api-generator/src/locale/en/generic.json
  packages/vuetify/src/composables/calendar.ts
Labels: E: date, i18n

#21260 fix(VDatePicker): resolve firstDayOfWeek from locale
  packages/vuetify/src/composables/calendar.ts
Labels: T: bug, T: regression, C: VDatePicker, i18n

#21277 docs: update overflow.md
  packages/docs/src/pages/en/styles/overflow.md
Labels: T: documentation

#21035 refactor(VField): convert display from grid to flex
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
  packages/vuetify/src/components/VField/VField.sass
  packages/vuetify/src/components/VField/_variables.scss
Labels: T: feature, C: VField

#21079 feat(VBtn): remove default text transform
  packages/docs/src/pages/en/getting-started/upgrade-guide.md
  packages/vuetify/src/styles/settings/_variables.scss
Labels: T: enhancement, C: VBtn

#19568 feat(VCalendar): add emits and slots
  packages/vuetify/src/composables/calendar.ts
  packages/vuetify/src/labs/VCalendar/VCalendar.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarDay.sass
  packages/vuetify/src/labs/VCalendar/VCalendarDay.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarEvent.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarHeader.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarInterval.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarIntervalEvent.tsx
  packages/vuetify/src/labs/VCalendar/VCalendarMonthDay.tsx
Labels: C: VCalendar, labs

#21145 fix(VMenu): use last known position if target is hidden
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
  packages/vuetify/src/components/transitions/dialog-transition.tsx
  packages/vuetify/src/util/box.ts
Labels: T: bug, C: VMenu

#21292 docs(VDataTable): correct docs for header slots and header props
  packages/api-generator/src/locale/en/VDataTable.json
Labels: T: documentation, C: VDataTable

#21297 docs: remove edit this page button on API pages
  packages/docs/src/components/PageFeatures.vue
Labels: T: documentation

#21305 docs: add text-pre-wrap class
  packages/docs/src/pages/en/styles/text-and-typography.md
Labels: T: documentation

#21308 docs(VDialog): example for activator prop one dialog instance
  packages/docs/src/examples/v-dialog/misc-data-table.vue
  packages/docs/src/pages/en/components/dialogs.md
Labels: T: documentation, C: VDialog

#17878 feat(VBtnGroup): add direction prop
  packages/vuetify/src/components/VBtnGroup/VBtnGroup.sass
  packages/vuetify/src/components/VBtnGroup/VBtnGroup.tsx
Labels: T: feature, C: VBtnGroup

#21300 fix(VOverlay): prevent flip logic resizeObserver loop
  packages/vuetify/src/components/VOverlay/locationStrategies.ts
  packages/vuetify/src/util/helpers.ts
Labels: T: bug, C: VOverlay

#21295 docs: app bar fully visible in mobile
  packages/docs/package.json
  packages/docs/src/components/app/Btn.vue
  packages/docs/vite.config.mts
  pnpm-lock.yaml
Labels: T: documentation

#21333 docs(api): add dynamic toc support for api pages
  packages/docs/src/components/api/Section.vue
  packages/docs/src/components/api/View.vue
  packages/docs/src/composables/frontmatter.ts
Labels: T: documentation

#21329 docs(defaults): warning camelCase props only
  packages/docs/src/pages/en/features/global-configuration.md
Labels: T: documentation

#21249 fix(VDateInput): Add updateOn prop
  packages/api-generator/src/locale/en/VDateInput.json
  packages/vuetify/src/labs/VDateInput/VDateInput.tsx
  packages/vuetify/src/labs/VDateInput/__tests__/VDateInput.spec.browser.tsx
Labels: T: bug, T: feature, C: VDateInput
